/* 기본 설정 */
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: content-box;
}
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 760px;
  border: 3px solid #e6e6e6;
}
header {
  margin-top: 30px;
  font-size: 120px;
  font-family: "Lobster", cursive;
}
article {
  margin: 0px 0px 100px 0px;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputBox {
  width: 520px;
  height: 70px;
  margin: 6px;
  padding-left: 15px;
  background-color: #fafafa;
  border: 3px solid #e6e6e6;
  border-radius: 5px;
  font-size: 23px;
}
.inputBox::placeholder {
  color: #9c9c9c;
}
.loginBtn {
  width: 535px;
  height: 60px;
  margin: 22px;
  color: #ffffff;
  background-color: #c4e1fb;
  border: none;
  border-radius: 7px;
  font-size: 23px;
}
footer {
  margin-bottom: 40px;
  font-size: 23px;
}
footer a {
  color: #073a6d;
  text-decoration: none;
}
