* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  margin: 0px 60px;
}

p {
  margin: 0px 5px;
}

.minBefore {
  margin-bottom: 10px;
}

.main {
  display: flex;
}

.article {
  border-bottom: 2px solid rgb(216, 216, 216);
}

i {
  font-size: 25px;
  font-weight: lighter;
  width: 30px;
}

.search {
  background-color: rgb(243, 243, 243);
  border: 2px solid rgb(216, 216, 216);
  height: 30px;
  text-align: center;
  margin-left: 190px;
  outline: none;
}

.fa-magnifying-glass {
  font-size: 20px;
  color: black;
}

.fa-compass,
.fa-heart,
.fa-user {
  margin-left: 5px;
  margin-right: 10px;
}

.westagramtext {
  font-size: 30px;
}

nav {
  display: flex;
  align-items: center;
  border: 2px solid rgb(216, 216, 216);
  background-color: white;
  width: 1000px;
  height: 70px;
}

.nav-leftTap,
.nav-centerTap {
  flex: none;
}

.nav-rightTap {
  margin-left: auto;
}

.westagramtext {
  font-family: "Lobster", cursive;
}

.feeds {
  background-color: white;
  margin-top: 50px;
  border: 2px solid rgb(216, 216, 216);
}

.profile {
  display: flex;
  align-items: center;
}

.profilePhoto,
.daramId {
  flex: none;
  margin-right: 10px;
}

.profilePhoto {
  margin: 8px 0px 8px 12px;
}

.fa-ellipsis {
  margin-left: auto;
  margin-right: 10px;
}
.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.daramId {
  font-weight: bold;
}

.pictureUnderTap {
  display: flex;
}

.pictureUnderTapLeftSide {
  flex: none;
}

.likeThisFeed {
  background-color: white;
  border: none;
  padding: 0;
}

.feedsave {
  margin-left: auto;
}

.howManyLike {
  margin-top: 10px;
}

.comment {
  position: relative;
  width: 450px;
  height: 35px;
  border: 0;
  padding-left: 15px;
  outline: none;
}

.commentbutton {
  position: absolute;
  width: 50px;
  height: 35px;
  border: 0;
  outline: 0;
  background-color: white;
  color: rgb(24, 24, 248, 0.6);
  font-size: 15px;
}

.main-rightMyProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 12px;
}

.howManyLikePictuer {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.main-rightMyProfile {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}

.main-rightfriendNameTime {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.main-rightfriendNameTimeP {
  display: flex;
  flex-direction: column;
}

.recomandFriendProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main-rightfriendPic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main-rightRecomandFriendName_p {
  display: flex;
  flex-direction: column;
}

.main-rightRecomandFriendName {
  display: flex;
  margin: 10px 5px 10px 20px;
}

.friendStorytext,
.recomandFriend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.friendStory,
.recomandFriendAll {
  border: 2px solid rgb(216, 216, 216);
  background-color: white;
  width: 330px;
  height: 250px;
  margin: 8px 0px 15px 25px;
  overflow: hidden;
}

.recomandFriendAll {
  height: 220px;
}

.followButton {
  background-color: white;
  border: 0;
  outline: 0;
  color: rgb(36, 169, 221);
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.last_information {
  margin-left: 20px;
}
