* {
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 97vh;
    background-color: #FAFAFA;
    font-size:14px;
    box-sizing: border-box;
}
.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
}

/* nav */
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom:1px solid #CDCDCD;
    height: 50px;
}
.navElement{
    display: flex;
    align-items: center;
}
.inputbox{
    width: 170px;
    height: 25px;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
}
.inputbox::placeholder{
    color: #CDCDCD;
}
.search{
    display: block;
    position:relative; 
    left:75px;
    color: #CDCDCD;
}
.images{
    width: 20px;
    height: auto;
    padding: 10px;
}
#instaImage{
    border-right : 1px solid black;
}
.mainTitle{
    font-family: 'Lobster', cursive;
    font-size : 22px;
    margin-left: 10px;
}
/* nav */

/* article */
.feeds{
    display: flex;
    justify-content: center;
    padding-top:40px;
}
.feedImage{
    width: 500px;
}
article{
    width: 500px;
    margin-right: 10px;
    border:1px solid #CDCDCD;
    background-color: white;
}
.profile{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    padding:5px;
}
.likeProfile{
    width:20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    padding:5px;
}
.text{
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.text:nth-child(1){
    font-weight: bold;
    font-size : 14px ;
}
.text:nth-child(2){
    color:#B0B0B0;
    font-size:12px;
}
.type1{
    color:gray;
}
.type2{
    font-weight: bold;
    color: #5696F6;
}
.type3{
    text-decoration: none;
    font-size: 14px;
    color: #CBCBCB;
}
.link{
    text-decoration: none;
    font-size:12px;
}
.buttons{
    margin: 2px;
    padding:3px;
}
.buttonz{
    color: black;
    box-sizing: border-box;
    height: 10px;
    display: inline;
    margin: 2px;
    padding:3px;
    float:right;
}
.buttonLine{
    box-sizing: border-box;
    padding: 5px;
    
}
.heartLine{
    display: flex;
    flex-direction: row;
}
.id{
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.contentLine{
    box-sizing: border-box;
    font-size:13px;
    float:left;
    padding: 9px;
    font-weight: medium ;
}
.time{
    display: block;
    color: gray;
}
.commentLine{
    height:40px;
}
.comment{
    height:100%;
    box-sizing: border-box;
    width: 80%;
    padding:10px;
    padding-left: 15px;
    border:none;
}
.comment:focus{
    outline: none;
}
.commentSection{
    margin : 5px 1px 5px 1px;
}
.submit{
    background-color: transparent;
    margin: 0;
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border:none;
    color: #BFE0FD;
}
#heart{
    color: black;
}
/* main */

/* main-right */
.myProfile{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-right : 10px;
}
.myText{
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.myText:nth-child(2){
    color:#B0B0B0;
    font-size:14px;
}
.feedBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    padding-left: 8px;
    padding-top: 8px;
    background-color: white;
    border : 1px solid #CDCDCD;
}
.boxLine{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textLine{
    display: flex;
    flex-direction: column;
}
div .seeAll span.text{
    font-size:12px;
    text-decoration: none;
    font-weight: bold;
}
.followBox{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width:100vw;
    padding-right:10px;
    align-items: center;
}
.addLine{
    box-sizing: border-box;
    padding:3px 10px 3px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addBox{
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
    margin-top:10px;
    letter-spacing: 1px;
}
