*{
    margin: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: white;
}
.main {
    text-align: center;
    padding: 50px;
    border: #EFEFEF solid 2px;
    width: 450px;
    margin: 100px auto;
    height: 490px;
    display: flex;
    flex-direction: column;
}
.logo {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}
input {
    margin-bottom: 10px;
    background-color:#FAFAFA;
    border: #EFEFEF 1px solid;
    border-radius: 6px;
    height: 45px;
    width: 300px;
    padding-left: 10px;
}

.login_bnt{
    width: 300px;
    margin-bottom: 100px;
    background-color: #C4E1FB;
    color: white;
    height: 35px;
    font-size: 17px;
    padding-left: 0;
    border-radius: 6px;
    border: white;
}
.login_bnt:hover{
    cursor: pointer;
}
.foot {
    color: #345E87;
}
