.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    width: 400px;
    background-color: #fff;
    border: 2px solid #dfdfdf;
}

.container h1{
    color:#222222;
    padding: 50px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

input{
    display: block;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

input::placeholder{
    padding-left: 10px;
}

.btn_login{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background-color: rgba(0,149,246,.3);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.pw_forgot {
    display: block;
    margin-top: 70px;
    padding-bottom: 60px;
    color: #00376b;
    font-weight: 500;
    font-size: 18px;
}