body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    background-color: #fafafa;
}
/* nav */
.nav_head {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.nav_container{
    width: 1000px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color:#222222;
    
}

.search_box {
    width: 250px;
    height: 30px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #fafafa;
}

.search_box::placeholder{
    color: #ccc;
    font-weight: 500;
}

.navicon{
    width:150px ;
    display: flex;
    justify-content: space-between;
}

.nav_icon {
    width: 30px;
    height: 30px;
}



.fa-search{
    color:#ccc;
    position: absolute;
    margin: 10px 0 0 90px;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
   
    
}
.main-right{
    width: 350px;
    display: inline-block;
    position: fixed;
    margin-left: 50px;
}
/* 피드 */
.feed {
    width: 600px;
    display: inline-block;

    
}
.feed  article{
    background-color: #fff;
    border: 1px solid #dfdfdf;
    
}

.feed article header {
    height: 60px;
}

.profile_article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}
.main_id{
    display: flex;
    align-items: center;

}
.profile_box{
    width: 34px;
    height: 34px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
}
.profile{
    width: 100%;
    height: 100%;
}

.profile_name{
    margin-left: 15px;
}

.profile_name a{
    color:#2c2c2c;
    font-weight: 600;
}
.profile_icon{
    display: flex;
    justify-self: end;
    margin-right: 15px;
}
.main_img_box{
    width: 598px;
    height: 600px;
}
.main_img{
    width: 100%;
    height: 100%;
}

.feed_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0px;
 
}
.left_icon{
   margin-left: 15px;
}

.feed_icon_right{
    display: flex;
    justify-content: end;
    margin-right: 15px;
}

.feed_like{
    display: flex;
    align-items: center;
}

.like_img_box{
    width: 24px;
    height: 24px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
}
.like_img{
    width: 100%;
    height: 100%
}
.like_info{
    margin-left: 10px;
}

.like_info a{
    color: #2c2c2c;
}

.like_info a span{
    font-weight: 800;
}

.time_log{
    margin: 10px 0 20px 20px;
}

.time_log span{
    font-size: 14px;
    color: #808080;
}
/* 댓글 */
.comment_row{
    margin: 10px 20px 0 20px;
}


ul.newcomment{
    margin-top: 5px;
}

ul.newcomment li{
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #2c2c2c;
}
ul li span.userid{
    margin-right: 10px;
}
img.comment_heart{
    width: 15px;
    height: 15px;
}

.comment{
    width: 600px;
    display: flex;
    border-top: 1px solid #dfdfdf;
}
.comment_box::placeholder{
   color: #8e8e8e;
}
.comment_box{
    width: 100%;
    height: 50px;
    border-style: none;
    margin-left: 20px;
}

.comment_submit{
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: #fff;
    margin-right: 10px;;
    color: #0095f6;   
    opacity: .4;
}

/* main right */
.myprofile{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.myprofile_right{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
}

.myprofile_img{
    width: 100%;
    height: 100%;

}
.myprofile_left{
    display: inline-block;
    margin-left: 20px;
}

.myprofile span{
    display: block;
}

.userid {
    font-weight: 800;
    font-size: 18px;
}
.subtitle{
    font-size:18px;
    margin-top:5px;
    color:#8e8e8e;
}

/*story*/

.story{
    width: 350px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    overflow: scroll;
    
}
.story_head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.story_left{
    color: #808080;
    font-weight: 700;
}
.story_right{
    font-size: 18px;
    font-weight: 700;
}
.story_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
}

.story_content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.storyid span{
    display: block;
    margin-left: 10px;
}

/*recommend*/

.recommend{
    width: 350px;
    height: 230px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
    
}
.recommend_head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.recommend_left{
    color: #808080;
    font-weight: 700;
}
.recommend_right{
    font-size: 18px;
    font-weight: 700;
}
.recommend_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
}

.recommend_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.recommendid span{
    display: block;
    margin-left: 10px;
}

.recommend_content_left{
    display: flex;
    align-items: center;
}
.recommend_follow{
    display: flex;
    justify-self: end;
    margin-right: 20px;
}
.recommend_follow a{
    color: #0095f6;
    font-size: 14px;
}
/*information*/

.information{
    margin-top:20px;
}

.information span {
    color: #aaa;
    font-size: 18px;
    line-height: 25px;
}

.infomark {
    margin-top: 20px;
}