section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
   }
   .header {
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
   }
   nav {
       display: flex;
       justify-content:center;
       align-items: center;
       border-bottom:1px solid rgba(239,239,239,1);
       height: 59px;
       width: 100%;  
       position: fixed;
   } 
   .logo {
       font-size: 30px;
       font-family: 'Lobster', cursive;
       height: 36px;
       padding-right: 200px;
   }
   .title {
       border-left: 1px solid gray;
       padding-left: 10px;
       margin-left: 10px;
   }
   
   .search {
       display: flex;
       justify-content: center;
       width: 236px;
       height: 30px;
       border-radius: 10px;
       background-color: rgb(239,239,239);
       border:solid 2px rgba(239,239,239,0.5);
   }
   img {
       width: 30px;
       height: 30px;
       object-fit: cover;
   }
   .icon { 
       display: flex;
       justify-content: space-between;
       width: 139px;
       height: 26px;
       padding-left: 200px;
   }
   main {
       display: flex;
       background-color: rgb(239,239,239);
   }
   
   .main-right {
       display: flex;
       
   
   
   }