@import '../../../styles/variables.scss';

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: $middleSize;
  background-color: white;
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid #DBDBDB;
  
  .instagram-text{
    font-family: 'Lobster', cursive;
    font-weight: 600;
    border-left: 2px solid gray;
    padding-left: 10px;
  .fa-instagram {
    padding-right: 10px;
    } 
  }
}