body {
    background-color: dodgerblue;
}

.wrapper {
    max-width: 400px;
    margin: 80px auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px rgba(10, 10, 10, 0.1);
}

.logo-text {
    padding: 40px 0 20px;
    color: dodgerblue;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.input-box {
    padding: 20px 0;
}

.input-box input {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid dodgerblue;
}

.input-box input:last-child {
    margin-top: 10px;
}

.input-box input {
    display: block;
    width:70%;
    margin: 0 auto;
}

.input-box input::placeholder {
    color: #aaa;
    font-weight: bold;
}

.btn-box button {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 5px;
}

.blue {
    opacity: 0.5;
}

.info {
    text-align: center;
    padding: 50px 0 30px;
    font-size: 14px;
    color: #999;
}