body {
    background-color: dodgerblue;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 500px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px rgba(10, 10, 10, 0.1);
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 10px;
    color: dodgerblue;
    font-size: 3.5rem;
    font-family: 'Lobster', cursive;
}

.input-box {
    display: flex;
    flex-direction: column;
    padding: 20px 0 30px;
    
}

.input-box input {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid dodgerblue;
    font-size: 16px;
    text-align: center;
}

.input-box input:last-child {
    margin-top: 10px;
}

.input-box input::placeholder {
    color: #aaa;
    font-weight: bold;
    font-size: 14px;
}

.btn-box button {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(29, 144, 255);
}

.btn-box button:disabled, .btn-box button[disabled] {
    background-color: rgba(29, 144, 255, 0.5);
    cursor: default;
}

.info {
    text-align: center;
    padding: 50px 0 30px;
    font-size: 14px;
    color: #999;
}