body {
  background-color: #fafafa;
}
i {
  cursor: pointer;
}
header {
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 0px;
  min-width: 100%;
  min-height: 60px;
  background-color: white;
}
.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo_container {
  display: flex;
}

.logo_container i {
  font-size: 25px;
}
.logo_font {
  display: inline-block;
  font-family: "Lobster", cursive;
  font-size: 25px;
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}
.search_input_container {
  width: 300px;
}
.searchInput {
  z-index: 5;
  position: relative;
  width: 100%;
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #fafafa;
}
.search_input_container {
  position: relative;
}
.fa-magnifying-glass {
  position: absolute;
  left: 85px;
  top: 6px;
  color: rgba(0, 0, 0, 0.3);
}
.icon_container {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.icon_container img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.user_menu {
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  right: 0;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-top: none;
  background-color: white;
  visibility: hidden;
}
.user_menu li {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 12px;
  text-align: center;
}

.user_menu li:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.user_menu li i {
  margin-right: 10px;
}
.visible {
  visibility: visible;
}

.search_modal {
  z-index: 4;
  position: absolute;
  top: 50px;
  width: 300px;
  visibility: hidden;
  background-color: white;
}
.search_modal_bg {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.search_modal li {
  display: flex;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search_data_id {
  font-weight: bolder;
}

.show {
  visibility: visible;
}
/* ////////////////////////////////////////////////////////////////// */

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
  background-color: #fafafa;
}

.feeds {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  min-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.article {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.3);
  background-color: white;
}

.article_header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  padding: 0 10px;
}
.fa-ellipsis {
  position: absolute;
  font-size: 18px;
  right: 0;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.article_profile {
  margin-right: 10px;
  background-image: url("../img/IMG_6500.JPG");
}

.profile_img_circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.article_profile_id {
  font-weight: bolder;
  display: inline;
}
.article_img {
  min-width: 500px;
  height: 600px;
  background-image: url("../img/IMG_6500.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article_icons {
  position: relative;
  font-size: 25px;
}
.article_icons :last-child {
  position: absolute;
  right: 0;
}

.article_like {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.article_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  width: 100%;
}
.article_content_p {
  display: inline;
  margin-left: 5px;
  overflow-wrap: anywhere;
}
.article_icon_container {
  width: 100px;
}
.article_content i:nth-child(4) {
  position: absolute;
  right: 0;
}
.like_count {
  font-weight: bolder;
}
.reple_heart {
  border: none;
  background: none;
}
.article_time p {
  font-size: 15px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.reple_profile {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../img/face.png");
}
.article_reple_container {
  padding: 10px;
}

.article_reple {
  position: relative;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.article_reple input {
  width: 100%;
  height: 50px;
}
.article_reple input:focus {
  outline: none;
}
.article_reple button {
  position: absolute;
  font-size: 15px;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  background: none;
  color: lightblue;
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////////////// */

.main-right {
  width: 30%;
  min-width: 300px;
}

.right_item1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.right_item2 {
  height: 300px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
}

.user_story_container {
  height: 90%;
  overflow: auto;
}
.user_story_container::-webkit-scrollbar {
  display: none;
}
.right_item3 {
  height: 200px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.right_item_header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin-bottom: 15px;
}
.right_item_title {
  color: rgba(0, 0, 0, 0.5);
}
.right_item_all {
  font-weight: bold;
}
.article_profile_content {
  color: rgba(0, 0, 0, 0.5);
}
.user_container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.user_img {
  width: 50px;
  height: 50px;
  background-image: url(https://velog.velcdn.com/images/inyong_pang/post/f0ea605d-c2d9-460c-aedc-a0ec77e6759f/wecode.png);
}

.follow_btn {
  position: absolute;
  right: 0;
  color: #52a3f2;
}
.onStory {
  padding: 5px;
  border: 2px solid red;
}
.article_profile_follow {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.reple_profile span {
  font-weight: bolder;
}
.gray {
  font-size: 15px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.3);
}
/* ///////////////////////////////////////////////////////////////// */

footer {
  width: 100%;
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1368px) {
  .article_profile_follow {
    width: 200px;
  }
}

@media screen and (max-width: 1151px) {
  .article_profile_follow {
    width: 150px;
  }
}

@media screen and (max-width: 930px) {
  .article_profile_follow {
    width: 150px;
  }
}

@media screen and (max-width: 815px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    width: 100%;
    margin: 0;
  }
  .feeds {
    order: 3;
  }
  .right_item1 {
    display: none;
  }
  .right_item2 {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .user_story_container {
    display: flex;
    overflow: auto;
    height: 100%;
    white-space: nowrap;
  }
  .user_container {
    margin: 0 20px;
  }
  .user_story_container::-webkit-scrollbar {
    display: none;
  }

  .user_story_container .user_container {
    display: flex;
    flex-direction: column;
  }
  .user_container > .article_profile {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-bottom: 5px;
  }
  .user_story_container .article_profile_content {
    display: none;
  }
  .right_item3 {
    width: 100%;
    display: none;
  }
}
