body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175px,-175px);
}

.login_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
}

input {
    height: 30px;
    width: 250px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color:#fafafa;
}

.login_pw {
    margin-bottom: 15px;
}

button {
    height: 30px;
    width:258px;
    border:1px none rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgb(76,181,249);
    color:#fafafa;
}

.forgot_pw {
    margin-top: 50px;
    color: rgb(0, 0, 143);
    font-size: 12px;
}

a {
    text-decoration: none;
}