
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
    .nav_logo {
        width: 30px;
        height: 30px;
    }
        .westagram {
            border-left: 2px solid rgba(0, 0, 0, 1);
            padding-left: 10px;
        }
        .fa-magnifying-glass {
            opacity:0.3;
        }
        .icons .explore {
            width: 30px;
            height: 30px;
        }
        .icons .heart {
            width: 30px;
            height: 30px;
        }
        .icons .profile {
            width: 30px;
            height: 30px;
        }
    .nav_searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
    }

    .nav_container {
        height: 75px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "westagram";
        font-size: 30px;
    }
        .icons {
            margin-left: 20px;
        }

.main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
    .feeds {
        display: flex;
        margin-left: 100px;
    }
        article {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .article-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }   
            .fa-solid {
                margin-right: 10px;
            }
            .insta_id {
                display: flex;
                align-items: center;
                margin-left: 10px;
            }
            .wecode_image {
                height: 50px;
                width: 50px;
                border-radius: 100%;
            }
            .wecode_text {
                margin-left: 20px;
            }
        .wecode_article {
            width: 500px;
            height: 400px;
        }
        .btn_bar {
            display: flex;
            justify-content: space-between;
            margin: 10px 0px 10px 0px;
        }
        .article_bottom {
            margin-left: 10px;
        }
            .btn_bar {
                margin-left: 5px;
            }
                .fa-sharp {
                    margin-right: 10px;
                }
                .good {
                    display: flex;
                    align-items: center;
                }
        .comment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            color:rgba(0, 0, 0, 0.3);
            height:40px;
        }

.main_right {
    max-width: 300px;
    justify-content: column;
    width: 300px;
    margin-left: 20px;
}
    .main_right_top {
        height: 100px;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 10px;
    }
        .wecode_text {
            align-items: center;
            justify-content: column;
            justify-content: center;
        }
    
    .story {
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        overflow: auto;
    }
        .story_top {
            display: flex;
            justify-content: space-between;
        }
    .recommend {
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        overflow: auto;
    }
        .recommend_top {
            display: flex;
            justify-content: space-between;

        }
        .company {
            color: rgba(0, 0, 0, 0.3);
        }
        .story_h4 {
            margin-left: 10px;
        }
        .story_h5 {
            margin-right: 10px;
        }

.person {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

    .str {
        display: flex;
        margin: 0px 0px 5px 10px;
    }
    .person_time {
        font-size: 12px;
        opacity: 0.6;
    }

    .follow {
        color: rgb(0,149,246);
    }
.sss {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
