.flex {
    display: flex;
    align-items: center;
}

/* nav */
.navwrap {
    z-index: 50;
    width: 100%;
    height: 60px;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--inner-background-color);
}

.navbar {
    width: 975px;
    margin: 15px;
    justify-content: space-between;
}

/* nav > left (logo) */
.logo {
    /* width: 200px; */
    justify-content: flex-start;
    align-items: center;
}

.logo-icon img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.bar {
    background-color: black;
    height: 28px;
    width: 2px;
}

.logo-text {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

/* nav > middle (search) */
.search img {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    margin-left: 13px;
}

.search input {
    width: 268px;
    height: 36px;
    position: relative;
    background-color: #efefef;
    border : none;
    border-radius: 10px;
    font-weight: 100;
    font-size: 16px;
    padding-left: 40px;
}

.search input:focus {
    outline: none;
}

/* mav > right (icons) */
.icons {
    width: 270px;
    justify-content: space-evenly;
}

.icons a img {
    width: 24px;
    height: 24px;
}

.profile img{
    width: 24px;
    height: 24px;
    border: .3px solid black;
    border-radius: 50%;
}

/* main */
main {
    padding-top: 100px;
    justify-content: center;
    display: flex;
    position: relative;
}

.feeds {
    flex-direction: column;
}

.article {
    flex-direction: column;
    margin-bottom: 20px;
    width: 470px;
    border: 1px solid var(--border-color);
    background-color: var(--inner-background-color);
    border-radius: 8px;

}

/* top */
.user-img {
    width: 58px;
    height: 58px;
    justify-content: center;
}

.user-img img{
    width: 32px;
    height: 32px;
    border: 2px solid #ff442f;
    border-radius: 50%;
    cursor: pointer;
}

.top {
    width: 100%;
    height: 58px;
    position: relative;
} 

.user-id {
    font-weight: 600;
    padding-bottom: 5px;
}

.more {
    position: absolute;
    right: 20;
    bottom: 20;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

/* middle */
.middle img {
    width: 100%;
    height: 470px;
}

/* bottom */
.bottom {
    width: 100%;
    padding: 11px 11px 0 11px;
    font-size: 15px;
}

/* .img-bottom-icons */
.img-bottom-icons {
    justify-content: space-between;
}

.img-bottom-icons img:nth-child(n):hover {
    opacity: .5;
    cursor: pointer;
}

.left-icons {
    width: 91px;
    justify-content: space-between;
}

.left-icons img,
.right-icons img {
    width: 24px;
    height: 24px;
}

/* likes */
.likes {
    height: 45px;
}

.who-likes {
    margin-left: 5px;
}

/* contents, comments */

.contents,
.comments {
    margin-bottom: 10px;
    font-size: 14px;
}

.details {
    margin-left: 7px;
}

/* time-ago */
.time-ago {
    font-size: 11px;
    color: gray;
    margin: 15px 0;
}

/* input-comments */
.input-comments{
    border-top: 1px solid var(--border-color);
    width: 100%;
    height: 49px;
    justify-content: space-between;
}

.input-comments img {
    width: 24px;
}

.input-comments input {
    width: 381px;
    margin: 0;
    border: none;
    margin: 0 5px;
}

.input-comments input:focus {
    outline: none;
}

/* .input-comments textarea {
    width: 381px;
    margin: 0;
    border: none;
    resize: none;
    margin: 0 5px;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-comments textarea:focus {
    outline: none;
} */

.input-comments button {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: 600;
    opacity: .5;
}

.active {
    opacity: 1;
    cursor: pointer;
}

/* main-right */

.main-right {
    width: 319px;
    height: 700px;
    flex-direction: column;
    margin-left: 20px;
    position: sticky;
    top: 100px;
}

/* user */
.user {
    width: 100%;
    margin-bottom: 20px;
}

.user :nth-child(n) {
    margin-left: 5px;
}

.user-img-big img{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.user-info {
    flex-direction: column;
    align-items: flex-start;
}

.location {
    color: gray;
    font-size: 14px;
}

/* right-container */
.right-container {
    width: 319px;
    flex-direction: column;
    margin-top: 10px;
}

/* header  */
.header {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.header :nth-child(1){
    color: gray;
    font-weight: 600;
    font-size: 14px;
}

.header :nth-child(2){
    font-weight: 600;
    font-size: 10px;
}

/* followlist */
.followlist {
    width: 100%;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
}

.followlist::-webkit-scrollbar {
    display: none;
}

.users {
    width: 100%;
    justify-content: flex-start;
    position: relative;
}

.user-details {
    font-size: 12px;
    color: gray;
}

.follow {
    position: absolute;
    right: 10px;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
    font-size: 12px;
}

/* gray-text */

.footer {
    padding: 0 10px;
}

.gray-text li {
    color: lightgray;
    font-size: 12px;
    display: inline-block;
    width: fit-content;
    margin-bottom: 3px;
}

.gray-text {
    margin-bottom: 10px;
}

.footer span {
    color: lightgray;
    font-size: 12px;
}