@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.boxWrap{
  max-width: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  margin: 150px auto;
}
.loginWrap{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.loginWrap input{
  height: 36px;
  margin: 0 41px 6px;
  padding: 14px 0 2px 8px;
}
.btnDefalut{
  color: #fff;
  border-radius: 4px;
  margin: 8px 40px;
  padding: 5px 9px;
}
.btnLightBlue{
  background: rgba(var(--d69,0,149,246),.3);
  opacity: 1;
}
.btnChageBlue{
  background-color: #0095f6;
}
.searchPassword{
  margin: 100px 0 20px;
}
.searchPassword a{
  color: rgba(0,55,107,1);
}
