/* css property align convention */
/* layout(position, float, clear, display) */
/* box model(width, height, margin, padding) */
/* visual(color, background, border, box-shadow) */
/* typography(font-size, font-family, text-align, text-transform) */
/* etc(cursor, overflow, z-index) */
* {
  box-sizing: border-box;
  margin: 0.5px;
}

*:focus {
  outline: none;
}

html {
  background-color: rgb(250, 250, 250);
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.contents-cnt {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: white;
}

/* common component */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name-content-cnt {
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.size-for-overflow-hidden {
  width: 300px;
  height: 15px;
  margin: auto 0px;
}

.name {
  font-size: 10px;
  font-weight: 700;
  margin-right: 5px;
}

.content {
  font-size: 10px;
}

.profile-cnt {
  display: flex;
  align-items: center;
  height: 28px;
  overflow: hidden;
}

.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-text li:nth-child(1) {
  font-size: 12px;
  margin: 0;
}
.profile-text li:nth-child(2) {
  font-size: 6px;
  margin: 0;
}

/* 네비게이션 */
nav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
  width: 100%;
  border-bottom: 2px solid rgb(245, 245, 245);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 15px;
  margin: 0;
}

.nav-right img {
  margin: auto 5px;
}

.nav-left {
  display: flex;
  align-items: center;
  /* border: 1px solid darkcyan; */
}

.nav-left li {
  display: flex;
  align-items: center;
}

.nav-center {
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(250, 250, 250);
}

nav input {
  border: none;
}

nav input::placeholder {
  opacity: 0.5;
  text-align: center;
  vertical-align: center;
  background: url(../img/search.png) no-repeat;
  background-position: 44px;
  /* background-color: black; */
  background-size: 12px;
  content: "검색";
}

.nav-right {
  display: flex;
  /* border: 1px solid brown; */
}

.nav-right li {
  display: flex;
  align-items: center;
}

.line-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 13px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  /* border: 1px solid blueviolet; */
  background-color: rgb(250, 250, 250);
  padding-top: 50px;
  overflow: hidden;
}

/* feeds */
.feeds {
  /* border: 1px solid skyblue; */
  padding-bottom: 20px;
}

/* article */
article {
  /* border: 1px solid red; */
  border: 2px solid rgb(245, 245, 245);
  padding-right: 1px;
  background-color: white;
}

.img-focus-cnt {
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* border: 1px solid blue; */
  border: 0;
  margin: 0;
  padding: 0;
}

.img-focus {
  width: 100%;
  object-fit: cover;
  margin: 0;
}

article button {
  padding: 0;
  border: none;
  background-color: inherit;
}
article .button-cnt {
  display: flex;
  justify-content: space-between;
}

article .icon-cnt {
  display: flex;
}

.article-icon {
  width: 15px;
  height: 15px;
}

.like-cnt {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.like-profile-cnt {
  display: flex;
  align-items: center;
  height: 28px;
  overflow: hidden;
}

.like-profile-img {
  width: 18px;
  height: 18px;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 50%;
  margin-right: 2px;
}

.like-profile-text {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.like-amount-zero {
  display: none;
}

.like-amount-not-zero {
  display: relative;
}

hr {
  margin-top: 5px;
  opacity: 0.5;
}

.input-cnt {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
}

.input-cnt input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.input-cnt button {
  width: 40px;
  margin: 0;
  padding: 0;
  color: skyblue;
  border: none;
}

.input-cnt button:hover {
  color: blue;
}

/* main-right */
.main-right {
  margin-left: 2px;
  /* border: 1px solid darkorange; */
  width: 200px;
  height: 300px;
  background-color: rgb(250, 250, 250);
}

.story-wrap {
  position: relative;
  /* border: 1px solid brown; */
  border: 2px solid rgb(245, 245, 245);
  height: 105px;
  padding: 8px;
  background-color: white;
  font-size: 10px;
  overflow: scroll;
}

.recommend-wrap {
  position: relative;
  /* border: 1px solid green; */
  border: 2px solid rgb(245, 245, 245);
  height: 90px;
  padding: 8px;
  background-color: white;
  font-size: 10px;
  overflow: scroll;
}

.story-wrap::-webkit-scrollbar,
.recommend-wrap::-webkit-scrollbar {
  display: none;
}

.show-all {
  top: 5px;
  right: 5px;
  position: absolute;
  font-size: 10px;
  font-weight: 700;
}

.story-li,
.recommend-li {
  margin-top: 100px;
}

.side-profile-cnt {
  display: flex;
  align-items: center;
  height: 28px;
  overflow: hidden;
}

.side-profile-img {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  border-radius: 50%;
}

.side-profile-text {
  display: block;
  overflow: hidden;
}

.side-profile-text li:nth-child(1) {
  font-size: 12px;
  margin: 0;
}

.side-profile-text li:nth-child(2) {
  font-size: 6px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media all and (max-width: 567px) {
  .main-right {
    display: none;
  }

  .nav-left {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  opacity: 0.5;
}

footer li {
  /* display: inline; */
  float: left;
  margin: 0;
  font-size: 5px;
  /* text-align:; */
}

footer li::after {
  content: "•";
}

footer li:last-child::after {
  content: "";
}

footer span {
  margin-top: 5px;
  font-size: 7px;
}
