nav {
    padding: 23px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

  }
  
  .nav-contents {
    width: 1010px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 24px;
    height: 24px;
  }
  
  .logo-text {
    height: 29px;
    margin-top: 5px;
  }
  
  .vertical-line {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
  }
  
  .nav-search {
    width: 215px;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-weight: lighter;
    outline: 0;
    padding: 8px 10px 8px 26px;
  }
  
  .nav-link {
    float: right;
    display: flex;
    align-items: center;
  }
  
  .nav-link img {
    height: 24px;
  }
  
  .nav-link img:not(:first-child) {
    margin-left: 30px;
  }
  