
.first{
    width: 450px;
    margin: 80px auto;
    text-align: center;
}
.survey-container {
    width: 450px;
    margin: 80px auto;
  }
  
  #title {
    color:  #000;
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 80px;
    margin : 40px auto;
  }


  input, textarea {
    width: 100%;
    font-size: 20px;
    padding: 7px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: border-color 300ms ease-in-out;
  }
  
  input {
    border: 1px solid #000;
  }
  
  input::placeholder {
    color: #bbb;
  }
  
  input[type="text"]::placeholder {
    color:  #bbb;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    width: 106%;
    color: white;
    font-size: 15px;
    background-color: #0067a3;
    padding: 7px 12px;
    border-radius: 5px;
    transition: opacity 300ms ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .anything{
    width: 450px;
    margin: 250px auto;
    text-align: center; 
    color: #0067a3;
  }