/* * {
    box-sizing: border-box;
} */
ul {
  padding: 0;
}

body {
  background-color: white;
  margin: 0px;
}
/* {
    background-color: #FAFAFA;
} */
header {
  background-color: white;
  position: sticky;
  top: 0;
}
.lnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 944px;
  height: 48px;
  margin: auto;
  padding: 10px 0 10px 0;
  background-color: white;
}
.logo_01 {
  font-family: "Lobster";
  font-size: 17px;
  margin-left: 15px;
}

.lnbleft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}
.search {
  display: flex;
  justify-content: center;
  width: 33%;
}

.search input {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  border: none;
  border-radius: 3px;
  text-align: center;
  width: 268px;
  height: 20px;
}
.search img {
  position: relative;
  right: -45px;
  margin-top: 2px;
}

.lnbright {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  /* width: 85px;
  height: 24px; */
}
.lnbright img {
  margin-left: 15px;
}

.articlebox {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 880px;
  border: 1px solid;
  background-color: white;
  border: solid 1px #e6e6e6;
}

.right {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 880px;
  border: none;
  /* border: solid 1px #e6e6e6; */
  /* background-color: white; */
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #fafafa;
}
.header {
  display: flex;
  /* padding: 5px 0; */
  font-weight: 700;
  border: solid 0.3px;
  height: 45px;
  background-color: white;
  border: solid 0.3px #e6e6e6;
}

.profileimage {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(./photo.jpg);
  background-size: cover;
  background-position: center center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.box01 {
  display: flex;
  align-items: center;
}
.box01 span {
  margin-left: 10px;
  font-size: 14px;
}
.header img {
  margin-right: 10px;
}
.icon {
  display: flex;
  justify-content: space-between;
}
.icon img {
  margin-right: 25px;
}
.bottom img {
  margin: 10px -10px 10px 20px;
}
.likes {
  margin-left: 10px;
}
.textboxes {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.profile02 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(./photo02.jpeg);
  background-size: cover;
  background-position: center center;
}
.commnet01 {
  padding: 0 20px;
  margin: 0;
}
.commnet01 p {
  font-size: 14px;
  margin: 5px;
}
.time01 {
  font-size: 10px;
  margin: 5px;
  color: rgb(182, 182, 182);
}
.textarea {
  display: flex;
  justify-content: space-between;
}

#submit {
  border: none;
  background-color: #fff;
  color: #3897f0;
  margin-right: 23px;
}
input {
  width: 500px;
  height: 40px;
  border: none;

  margin-left: 20px;
}
/* .line{
    border-top: solid 0.5px black;
    width: 640px;
  
    
} */
.box02 {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: #fafafa;
  padding-left: 20px;
}
.box02 p {
  font-size: 12px;
  margin: 0;
}
.storyprofile {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
  background-image: url(./Group.svg);
  background-size: cover;
  background-position: center;
}
.followlist {
  display: flex;
  justify-content: space-between;
}
.rightprofile {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  background-image: url(./Group.svg);
  background-size: cover;
  background-position: center;
}
.story {
  width: 300px;
  height: 200px;
  border: solid 0.5px #e6e6e6;
  border-radius: 5px;
  background-color: white;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.storybox {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 10px;
}
.storysection {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.instory {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story p {
  font-size: 12px;

  margin: 0;
}
.blue {
  color: #3897f0;
  font-weight: bold;
  padding-right: 20px;
}
footer {
}
.footerarea {
  font-size: 10px;
  color: gray;
  margin-left: 30px;
  margin-top: 10px;
}
