.login-box {
    border: 1px solid #e6e6e6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

p {
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #000000;    
}

.login-data {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input {
    width: 100%;
    padding: 13px 16px;
    margin-bottom: 10px;    
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: none;
}

input::placeholder {
    color: #a0a0a0;
}

button {
    width: 100%;
    padding: 13px 16px;
    margin-top: 10px;
    background-color: #c5e1fa;
    color: #ffffff;
    border: 1px solid  #c5e1fa;
    border-radius: 3px;
    box-shadow: none;
}

a {
    margin-top: 30px;
    font-size: 12px;
    color: #043667;
}