
body {
  justify-content: center;
  text-align: center;}

.mainlogo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.mainBox {
  height: 450px;
  width: 450px;
  border: 1px solid #CFD7DE;
  box-shadow: 5px 3px 5px 3px #F5F8FA;
  background-color: #FFFFFF;;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input::placeholder{
  font-size: 15px;
}

form{
  flex-direction: column;
  height: 40%;
}

input{
 background-color: #FAFAFA;
  height: 25%;
  margin-bottom:10px;
  border: 1.5px solid #d3cfcf;
  color:#a29d9d;

}

button{
  height:25%;
  margin-top:15px;
  background-color:#C4E1FB;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

input, button{
  width: 80%;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 15px
}

.atag{
  text-decoration: none;
  font-size: 15px;
}

