
.icon-search:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-filled:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-bookmark:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
