* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  height: 100%;
  margin: auto;
  border: solid 1px #efefef;
  text-align: center;
  padding: 80px auto;
}

.contents {
  width: 480px;
  display: inline-block;
}

.logo_text {
  font-family: "Lobster", cursive;
  font-size: 90px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.input_set input {
  width: 480px;
  padding: 20px 16px;
  margin-bottom: 12px;
  background-color: #fafafa;
  border: solid 1px #efefef;
  border-radius: 4px;
  font-size: 22px;
  color: #333;
}

button {
  display: block;
  all: unset;
}

.btn_login {
  width: 480px;
  height: 60px;
  margin-top: 12px;
  background-color: #3a82ff;
  border-radius: 8px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
}

.btn_login_off {
  background-color: #c3d9ff;
}

.btn_text {
  width: 480px;
  margin-top: 160px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #333;
}
