* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fafafa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;

  /* background-color: red; */
}

.title {
  font-family: "Poor Story", cursive;
  font-size: 30px;
  font-weight: bolder;
}

.menuNav {
  display: flex;
  align-items: center;
}

a {
  padding-right: 20px;
}

.menuNav a img {
  width: 30px;
}

.searchBox input {
  height: 25px;
}

main {
  /* color: red; */
  height: 100%;
  width: 100%;
  background-color: red;
}

.feeds {
  height: 100%;
  width: 60%;
  background-color: orange;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  background-color: yellow;
  width: 90%;
  height: 800px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedsHeader {
  background-color: green;
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  display: flex;
  margin-left: 15px;
}

.addmore {
  margin-right: 15px;
}

.feedsHeader img {
  height: 50px;
  width: 50px;
}

.feedPhoto {
  width: 90%;
  height: 500px;
}

.comment {
  background-color: blue;
  width: 90%;
  height: 30%;
}

.menuNav {
  background-color: bisque;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.conversation {
  margin-left: 10px;
}

.save {
  margin-right: 10px;
}
