h1 {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 50px;
}

#bgBoder {
  width: 450px;
  border: 1px;
  border-style: solid;
  background-color: white;
  border-color: rgb(201, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inputButtonContents {
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgb(247, 246, 246);
  border: 1px;
  border-style: solid;
  border-color: rgb(201, 199, 199);
  width: 300px;
  border-radius: 3px;
  font-weight: 500;
  padding: 10px 0px 10px 7px;
}

input::placeholder {
  color: rgb(134, 133, 133);
}

.id {
  margin-top: 20px;
  margin-bottom: 5px;
}

.button {
  border-color: white;
  border-radius: 5px;
  background-color: #acd7f8;
  background-color: #1f9dfd;
  /* background-color: #47afff; */
  color: white;
  font-size: 17px;
  font-weight: bold;
  outline: 0;
  border: 0;
  margin-top: 20px;
  padding: 7px 0px 7px 7px;
  width: 300px;
}

a {
  text-decoration-line: none;
  color: #002952;
  margin-top: 100px;
  margin-bottom: 25px;
  font-weight: bold;
}
