.contain {max-width:975px; width:100%; margin:0 auto; padding:0 20px;}

#login {height:100vh; display:flex; align-items:center; justify-content:center; background:#fafafa;}
#login .loginWrap {width:400px; padding:45px; text-align:center; border:1px solid #ddd; background:#fff;}
#login .loginWrap .sitelogo {font-family: 'Lobster', cursive; font-size:46px; line-height:1.3em; font-weight:400; margin-bottom:30px;}
#login .loginWrap form {margin-bottom:50px;}
#login .loginWrap form .input {width:100%; height:40px; margin-bottom:10px; background:rgb(247, 247, 247); border-radius:5px;}
#login .loginWrap form .input:last-child {margin-bottom:20px;}
#login .loginWrap form button {display:block; width:100%; padding:8px 0; border:0; border-radius:5px; color:#fff; font-size:17px; line-height:1.3em; font-weight:500; opacity:0.5; background:#0095F7;}
#login .loginWrap .forgetLink {display:inline-block; color:#00376b; font-size:16px; line-height:1.3em; font-weight:500;}