@import url("https://fonts.googleapis.com/css?family=Lobster:regular");
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgrey;
  width: 500px;
  height: 600px;
}
.logo {
  position: relative;
  text-align: center;
  font-size: 70px;
  margin-top: 80px;
  margin-bottom: 90px;
  font-family: Lobster;
}
.inputTag {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.inputId {
  margin-top: 40px;
  display: block;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.inputPassword {
  margin-top: 10px;
  display: block;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.buttonClick {
  margin-top: 20px;
  display: block;
  width: 408px;
  height: 40px;
  color: white;
  background-color: rgb(180, 200, 220);
  /* border : 1px solid rgb(60, 149, 239); */
  border-radius: 5px;
}
.buttonClick:disabled {
  background-color: rgb(180, 200, 220);
}
.footer {
  color: rgb(66, 86, 133);
  font-size: 22px;
  margin-top: 25%;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
