* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  background-color: #fafafa;
}

.listLogo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

nav {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 54px;
  align-items: center;
}

li {
  list-style: none;
}

.listImg {
  display: flex;
  flex-direction: row;
}

.feed {
  width: 600px;
  height: 600px;
}

.header {
  border: 1px solid #eaeaea;
  padding: 16px;
  background-color: white;
  margin-top: 24px;
  width: 600px;
  height: 60px;
  display: flex;
  align-items: center;
}

.header span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.picture {
  width: 100%;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}

.side {
  width: 293px;
  height: 664px;
  background-color: #fafafa;
  margin: 20px;
  position: fixed;
}

.center {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.listImg img {
  height: 22px;
  width: 22px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 574px;
  margin-top: 5px;
}

.like2 {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 40px;
}

.like2 li {
  margin-left: 10px;
  margin-top: 5px;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  font-size: 14px;
  background-color: #ffffff;

  width: 602px;
  border: 1px solid #eaeaea;
}

textarea {
  width: 514px;
  height: 18px;
}

.listImg li {
  padding: 10px;
}

.circle {
  border-radius: 28px;
  width: 32px;
  height: 32px;
}

.side {
  display: flex;

  flex-direction: column;
}

.circle1 {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin: 5p x;
}

.change {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommend {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

aside {
  display: fixed;
}

.change span {
  padding: 15px;
}

.commentWrap span {
  padding: 10px;
}

a {
  text-decoration-line: none;
  color: black;
  font-size: 12px;
}
.recommend span {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: bold;
}

.authorization p {
  color: #8f8f8f;
  font-size: 11px;
  padding-left: 10px;
  margin-top: 20px;
}

.follow {
  color: #1da0f6;
  font-size: 12px;
  font-weight: bold;
}

.id {
  font-size: 14px;
}

.id2 {
  font-size: 12px;
}

.idWrap {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 34px;
}

.input {
  width: 600px;
  height: 50px;
  border-top: 1px solid #eaeaea;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment img {
  margin-right: 10px;
}

button {
  color: #1da0f6;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  margin-right: 15px;
  opacity: 0.5;
}

.input input {
  border: none;
  padding: 15px;
  width: 517px;
}

.listInput input {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  padding-left: 90px;
  border: 1px solid #eaeaea;
}

.profile {
  display: flex;
}
