nav {
    width: 100%;
    height: 54px;
    border-bottom:1px solid rgb(219, 219, 219) ;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.navContainer {
    width: 935px;
    display: flex;
    justify-content: space-between;
}
.navContainer .logoWrap {
    width: 150px;
    display: flex;
    align-items: center;
}
.navContainer .logoWrap img{
    cursor: pointer;
    width: 25px;
}
.navContainer .logoWrap .columnLine {
    width: 1px;
    height: 25px;
    margin-left: 22px;
    border-right: 1px solid rgb(14, 14, 14);
}
.navContainer .logoWrap .logo {
    font-size: 22px;
    font-family: 'Lobster', cursive;
    margin-left: 25px;
}
.search {
    display: flex;
    align-items: center;
}
.search input {
    width: 215px;
    height: 28px;
    padding: 7px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color: #fafafa;
    text-align: center;
}
.pictogramWrap {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pictogramWrap img{
    cursor: pointer;
    width: 23px;
}
.mainContainer {
    margin: 0 auto;
    width: 935px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.feeds {
    width: 614px;
    /* height: 880px; */
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.profileWrap {
    width: 570px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileWrap .logoWrap{
    display: flex;
    align-items: center;
}
.profileWrap .logoWrap img {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 16px;
}
.profileWrap .logoWrap h2 {
    font-size: 14px;
    margin-left: 5px;
}
.profileWrap i {
    cursor: pointer;
}
.photoWrap {
    width: 612px;
}
.photoWrap img{
    width: 100%;
}
.feedsPictogram {
    margin: 0 auto;
    width: 570px;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedsPictogram .feedsPictogramLeft {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.feedsPictogram .feedsPictogramLeft img {
    width: 24px;
    cursor: pointer;
}
.saveIcon {
    width: 24px;
    cursor: pointer;
}
.goodWrap {
    width: 570px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.goodWrap p {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    margin-left: 5px;
}
.goodImg {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.textWrap {
    font-size: 14px;
    width: 570px;
    /* height: 80px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.textWrap .text {
    color: #00376b;
}
.textWrap p {
    line-height: 20px;
    margin-top:3px
}
.textWrap .commentView {
    color: #8e8e8e;
}
.textWrap .time {
    color: #8e8e8e;
    font-size: 10px;
}
.textWrap span{
    font-size: 14px;
    font-weight: bold;
}
.commentTopline {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(219, 219, 219);
    display: flex;
}
.commentWrap {
    width: 570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentWrap input {
    width: 500px;
    border: none;
    outline: none;
    background: none;
}
.commentWrap button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0095f6;
}




.mainRight {
    width: 293px;
    height: 460px;
    /* border: 1px solid rgb(219, 219, 219); */
}
.myInfoWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myInfoPhotoWrap {
    display: flex;
    justify-content: space-between;
}
.myInfo h2 {
    font-size: 14px;
}
.myInfo p{
    font-size: 14px;
    margin-top: 2px;
    color: #8e8e8e;
}
.myInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18px;
}
.myInfoPhotoWrap img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: black;
}
.infoBlue {
    font-size: 12px;
    color: #0095f6;
    font-weight: bold;
}
.recommendTitle {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.recommendTitle .garyColor {
    font-size: 14px;
    font-weight: bold;
    color: #8e8e8e;
}
.recommendTitle .blackColor {
    font-size: 12px;
    color: #262626;
    font-weight: 600;
}
.recommendWrap {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recommendPhoto {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid rgb(219, 219, 219); ;
}
.recommend {
    display: flex;
}
.recommendText {
    margin-left: 13px;
}
.recommend h4 {
    color: #262626;
    font-size: 14px;
}
.recommend p {
    color: #8e8e8e;
    margin-top: 3px;
    font-size: 12px;
}
.follow {
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
}
.infomatioinList {
    margin-top: 37px;
    color: #c7c7c7;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    align-items: center;
    justify-content: start;
}
.infomatioinList li {
    line-height: 17px;
    list-style: none;
    padding-right: 8px;
}
.infomation p {
    margin-top: 25px;
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
}