@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

.loginInput{
        font-size: 11px;    
        border-radius: 3px;
        border: lightgray solid 1px;
        padding: 7px 3px;
        background-color:#fafafa;
}