@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.mainBox {
    width: 300px;
    height: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -150px;
    border: lightgray 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 205px;
    height: 100px;    
    margin-top: -30px;
}


.loginBtn {
    background-color: rgba(var(--d69,0,149,246),.3);;
    color: white; 
    border: 0;
    font-size: 11px;
    font-weight: bolder;
    padding: 5px 0;    
    border-radius: 3px;
    margin-top: 5px;
}

a{
    font-size: 12px;
    text-decoration: none;
    color: darkblue;
    font-weight: bolder;
    margin-bottom: -20px;
}