.login-wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 350px;
  height: 396px;
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 43px 40px 0px 40px;
}
.login-box__logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Lobster", cursive;
  font-size: 33px;
}

.login-form {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.loginID,
.loginPW {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  height: 36px;
  border-radius: 3px;
  color: #808080;
  outline: none;
}
.loginID {
  margin-bottom: 6px;
}
.loginPW {
  margin-bottom: 10px;
}
.loginButton {
  background-color: #0095f6;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: white;

  font-weight: 600;
}
.devideLine {
  margin-top: 25px;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
}
.devideLine__line {
  flex: 4;
  border-bottom: 1px solid #dbdbdb;
}
.devideLine__text {
  flex: 3;
  text-align: center;
  font-size: 14px;
  color: #808080;
}
.facebookLogin {
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
  color: #385185;
  font-weight: 600;
  font-size: 14px;
}

.fa-facebook-square,
.facebookLoginMove {
  color: #385185;
}
.forgot_password {
  cursor: pointer;
  font-size: 12px;
  color: #385185;
  text-align: center;
  padding-top: 20px;
}
