.main-body {
  display: flex;
  flex-direction: column;
  height: 150vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: white;
  border-bottom: var(--border);
  padding: 0px 150px;
}

.main-body main {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.main-feed {
  background-color: white;
  height: 100vh;
  width: 50vw;
  border: var(--border);
}

.main-sidebar {
  margin-left: 25px;
  background-color: white;
  height: 80vh;
  width: 20vw;
  border: var(--border);
}
