@import "./reset.css";
@import "./login.css";
@import "./main.css";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.profile_sm {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_s {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_m {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
