.container {
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 100px auto;
  padding: 30px 0;
}

#logo {
  font-size: 50px;
  margin: 40px 0;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-weight: bold;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  margin-top: 50px;
}

.login {
  background-color: #fafafa;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  margin: 4px 0;
}

#btn_login {
  background-color: #0095f6;
  padding: 8px;
  border-radius: 4px;
  margin-top: 18px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.4;
}

.find_pw {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #013669;
  margin-top: 130px;
}
