:root {
  --secondary-color: #8E8E8E;
  --accent-color: #2a93fc;
  --border-color: #EDEDED;
  --background-color: #FAFAFA;
  --content-background-color: #FFFFFF;
}

/* layout */
html,
body {
  font-family: 'Hahmlet', serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

header {
  position: fixed;
  top:0;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 30px 50px;
  background-color: var(--background-color);
  scroll-snap-type: y mandatory;
}

article {
  scroll-snap-align: center;
}

aside {
  position: sticky;
  top: 90px;
  width: 250px;
  height: 420px;
}

/* common property */
.writer-id,
.user-id,
.likers,
.view-all,
.follow-btn {
  font-weight: 600;
}

aside .my-profile,
aside .follower-stories,
aside .following-rec,
westagram-link {
  margin-bottom: 10px;
}

.feed-writer-header,
.feed-btns,
.feed-likers,
.comments-container,
.new-comment {
  padding: 10px;
}

.icon {
  width: 23px;
  height: 23px;
  opacity: 0.8;
}

.profile-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: var(--content-background-color);
  border-bottom: 1px solid var(--border-color);
}

.logos {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

article {
  margin: 0 20px 20px 0;
  background-color: var(--content-background-color);
  border: 1px solid var(--border-color);
}

nav input {
  width: 230px;
  height: 30px;
  padding-left: 10px;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  outline: none;
}

.nav-icons .icon {
  margin-right: 15px;
}

/* article */
.feed-writer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-writer {
  display: flex;
  align-items: center;
}

.profile {
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.feed-img {
  width: 450px;
  height: 500px;
  opacity: 1;
}

.feed-writer-header img:last-child {
  width: 13px;
  height: 13px;
}

.feed-btns {
  display: flex;
  justify-content: space-between;
}

.feed-handle-btns .icon {
  margin-right: 10px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  border-bottom: 1px solid var(--border-color);
}

.feed-likers {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.first-liker {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
} 

.comments-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.comment {
  position: relative;
  display: flex;
}

.comment .user-id {
  margin-right: 3px;
}

.comment .delete-btn {
  position:absolute;
  right: 0;
}

.comment .delete-icon {
  width: 10px;
  height: 10px;
  color: var(--secondary-color);
}

.upload-time {
  color: var(--secondary-color);
}

.new-comment input {
  width: 370px;
  margin-right: 20px;
  border: none;
  outline: none;
}

.menu-btn,
.feed-btn,
.delete-btn,
.upload-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.upload-btn {
  color: var(--accent-color);
  opacity: 0.5;
}

.upload-btn:hover {
  opacity: 1;
}

/* aside */
.my-profile {
  display: flex;
  align-items: center;
}

.my-profile img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.follower-stories,
.following-rec {
  background-color: var(--content-background-color);
  border: 1px solid var(--border-color);
}

.user-nickname {
  color: var(--secondary-color);
}

.story-header,
.following-rec-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.story-list,
.following-list {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.story,
.following {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.follower-info,
.following-info {
  display: flex;
  flex-direction: column;
}

.following-info .rec-users {
  display: inline-block;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.follow-btn {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  color: var(--accent-color);
  background-color: #FFFFFF;
  border: none;
}

.westagram-link ul {
  margin-bottom: 10px;
}

.westagram-link li {
  display: inline-block;
}

.westagram-link li a {
  margin-right: 2px;
  color: var(--secondary-color);
}

.westagram-info .copyright {
  color: var(--secondary-color);
}