body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  width: 450px;
  height: 500px;
  min-width: auto;
}

.logo {
  padding: 30px;
  margin-bottom: 20px;
  width: ;
  height: ;
}

.logotext {
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.idpw {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.id {
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 15px;
  height: 45px;
  padding-left: 10px;
}

.pw {
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 15px;
  height: 45px;
  padding-left: 10px;
}

.loginbtn {
  margin-top: 25px;
  background-color: #c4e0fb;
  color: white;
  border: none;
  width: 350px;
  height: 40px;
  border-radius: 10px;
}

.lostpw {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 15px;
}
