:root {
    /* Color */
    --white-color: #FFFFFF;
    --black-color: #030303;
    --blue-color: #0095F6;
    --blue-dark-color: #3B6088;
    --grey-light-color: #FAFAFA;
    --grey-color: #EAEAEA;
    --grey-dark-color: #909090;
    --red-color: #EE4955;

    /* Size */
    --padding: 12px;
    --avatar-size: 40px;
    --avatar-small-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* 공통 */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul,
.list_style {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

button {
    background-color: var(--white-color);
    border-style: none;
}

input {
    outline: none;
}

.title {
    font-family: 'Lobster', cursive;
}

.user_img {
    width: var(--avatar-small-size);
    height: var(--avatar-small-size);
    margin-right: var(--padding);
    border: 1px solid var(--grey-color);
    border-radius: 50%;
}

.user_name {
    font-weight: bold;
}

.user_data {
    margin-left: var(--padding);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.comment_style {
    margin-left: var(--padding);
    font-size: var(--font-medium);
}

/* 로그인 */

.login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--grey-light-color);
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 450px;
    background-color: #FFFFFF;
    border: 2px solid var(--grey-color);
}

.login_form .title {
    font-size: calc(var(--font-medium)*3);
}

.login_form .login_input {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.input_style {
    margin-bottom: calc(var(--padding)/2);
    padding: var(--padding);
    background-color: var(--grey-light-color);
    border: 1px solid var(--grey-color);
    border-radius: 5px;
}

.login_form .login_input .login_btn {
    margin-top: var(--padding);
    padding: calc(var(--padding) / 2);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.4;
}

.login_form .login_input .login_btn.active {
    opacity: 1;
    cursor: pointer;
}

.login_form .find_password {
    margin-top: calc(var(--padding) * 8);
    font-size: var(--font-medium);
}

.login_form .find_password a {
    color: var(--blue-dark-color);
}

/* 메인페이지 */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding) calc(var(--padding)*10);
    background-color: var(--white-color);
    border-bottom: 2px solid var(--grey-color);
}

.nav .title {
    margin-left: var(--padding);
    padding: 0 var(--padding);
    border-left: 1px solid var(--black-color);
    font-size: var(--font-large);
    font-weight: bold;
}

.nav .nav_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: var(--font-medium);
}

.nav .nav_search input {
    width: 100%;
}

.nav .nav_search i {
    position: absolute;
    color: var(--grey-dark-color);
}

.nav .nav_icons {
    display: flex;
}

.nav .nav_icons i {
    margin-left: var(--padding);
    color: var(--grey-dark-color);
    font-size: var(--font-large);
}

/* 피드 */

main {
    display: flex;
    justify-content: space-around;
    padding: calc(var(--padding)*3) calc(var(--padding)*23);
    background-color: var(--grey-light-color);
    font-size: var(--font-medium);
}

main .feeds {
    width: 470px;
    background-color: var(--white-color);
    border: 2px solid var(--grey-color);
    border-radius: 5px;
}

main .feeds .feeds_header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

main .feeds .feeds_header .user_data {
    display: flex;
    align-items: center;
}

main .feeds .main_img {
    width: 470px;
}

main .feeds .main_img img {
    max-width: 100%;
}

.feed_contents {
    padding: 0 var(--padding);
    font-size: var(--font-medium);
}

main .feeds .feed_icons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}

main .feeds .feed_icons i {
    font-size: calc(var(--font-medium)*1.5);
}

main .feeds .feed_contents .feed_likes {
    display: flex;
    align-items: center;
    margin: var(--padding) 0;
}

main .feeds .feed_contents .feed_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

main .feeds .feed_contents .feed_text button,
main .feeds .feed_contents p:last-child {
    color: var(--grey-dark-color);
    font-weight: bold;
}

.main .feeds .feed_contents #new_comment_location ul {
    margin: 0;
    padding-left: 0;
}

#comment_write {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    border-top: 2px solid var(--grey-color);
}

#comment_write input:first-child {
    width: 100%;
    border: none;
}

#comment_write input:last-child {
    color: var(--blue-color);
    background-color: var(--white-color);
    border: none;
    font-weight: bold;
    opacity: 0.5;
}

.main_right .main_right_title {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--padding)*2);
}

.main_right p {
    color: var(--grey-dark-color);
    font-size: var(--font-small);
    font-weight: bold;
}

.main_right button {
    color: var(--grey-dark-color);
    font-weight: bold;
}

.main_right .main_right_title div:first-child {
    width: var(--avatar-size);
    height: var(--avatar-size);
    line-height: var(--avatar-size);
    margin-right: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: var(--font-micro);
    text-align: center;
}

.main_right .main_right_title ul {
    padding-left: 0;
}

.main_right_story {
    height: 245px;
    margin-bottom: calc(var(--padding)*3);
    background-color: var(--white-color);
    border: 2px solid var(--grey-color);
    border-radius: 5px;
}

.main_right_story .story_title {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.main_right_story .story_user {
    display: flex;
    align-items: center;
    padding: calc(var(--padding)/2) var(--padding);
}

.main_right_recommend {
    height: 200px;
    background-color: var(--white-color);
    border: 2px solid var(--grey-color);
    border-radius: 5px;
}

.main_right_recommend .recommend_title {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.main_right .recommend_user {
    display: flex;
    align-items: center;
    padding: calc(var(--padding)/2) var(--padding);
    margin: 0;
}