* {
  font-size: 14px;
}

body {
  background-color: #fafafa;
  min-height: 450px;
  height: 100vh;
  position: relative;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 10px 0;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  background-color: #fff;
}

.logo {
  font-size: 60px;
  margin: 22px auto 12px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.login-form input {
  margin: 0 40px 6px;
  height: 38px;
  border-radius: 3px;
  padding: 8px;
  font-size: 12px;
}

.login-form input:focus {
  border: 1px solid #c7c7c7;
  outline: none;
}

.login-form button {
  margin: 8px 40px;
  height: 30px;
  background-color: #0095f6;
  font-weight: 600;
  color: #fff;
  padding: 5px 9px;
  border-radius: 4px;
}

.login-form button:disabled {
  background-color: rgba(0, 149, 246, 0.3);
  cursor: default;
}

a {
  margin: 52px auto 10px;
  font-size: 12px;
  font-weight: 600;
  color: #01376a;
  text-decoration: none;
}
