* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-style: none;
    text-decoration: none;  
    outline: none;
}

input {
    width: 260px;
    height: 36px;
    left: 45px;
    position: absolute;
    padding: 9px;
    border: solid 1px #DBDBDB;
    border-radius: 2px;
}

.login-1 {
    top: 5px;
}

.login-2 {
    top: 46px;
}

form {
    position: relative;
}

.main {
    width: 350px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    margin-top: 42px;
    margin-bottom: 10px;
    display: flex;
}

.logo {
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 51px;
    text-align: center;
    font-size: 23px;
    position: absolute;
    top: 50px;
    color: #292929;
}

.loginbar {
    width: 348px;
    height: 212px;
    position: absolute;
    top: 145px;
    right: 1px;
}

.login-bt {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    top: 92px;
    left: 45px;
    padding: 5px 9px;
    background-color: #0095F6;
    color: white;
    position: absolute;
}

.line {
    width: 268px;
    height: 36px;
    position: absolute;
    top: 138px;
    left: 41px;
    display: flex;
}

.line div {
    width: 103px;
    height: 1px;
    border: solid 0.1px;
    color: #DBDBDB;
    position: absolute;
}

.line-2 {
    right: 2px;
 }

.line h5 {
    margin: 0px 18px;
    height: 23px;
    font-size: 13px;
    position: absolute;
    color: gray;
    top: -8px;
    left: 101px;
}

.login-to-fb a {
    color: #385185;
}

.login-to-fb a span {
    margin-right: 5px;
}

.login-to-fb {
    top: 165px;
    position: absolute;
    left: 90px;
}

.pass {
    position: absolute;
    top: 200px;
    left: 105px;
}

.pass a {
    font-size: 13px;
    color: black;
}

.join {
    width: 350px;
    height: 63px;
    margin: auto;
    padding: 10px;
    border: solid 1px #DBDBDB;
    text-align: center;
}

.join p {
    margin: 12px;
}

.join a,p {
    font-size: 15px;
}

.join a {
    color: #385185;
    
}

.doun {
    width: 350px;
    height: 101px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.doun p {
    margin-bottom: 20px;
}

.doun img {
    width: 135px;
    height: 41px;
}

.btstyle {
    opacity: 30%;
}
