footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}

.footer_box {
  display: flex;
  margin: 5px 0px;
}

.footer_box_two {
  display: flex;
}
