@import url(./common.css);

#section {
  width: 600px;
  height: 700px;
  margin: 40px auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

#logo-text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 75px;
  font-family: "Lobster", cursive;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.input-box_login {
  height: 80px;
  border: 2px solid rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background-color: #fafafa;
}

.input-box_password {
  height: 80px;
  border: 2px solid rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background-color: #fafafa;
}

.input-box ::placeholder {
  padding: 10px 0px;
  font-size: 23px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
}

.btnon {
  height: 65px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  background-color: #2f95f6;
  color: white;
}

.off-button {
  cursor: not-allowed;
  background-color: #c4e1fb;
}

.input-box :last-child {
  margin: 0 auto;
  margin-top: 150px;
  font-size: 25px;
}
