section {
  display: flex;
  padding: 10px 20px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.009);
}

.feeds {
  display: flex;
  flex-direction: column;
  flex: 6;
  margin-top: 50px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.user-id-box {
  display: flex;
  margin-left: 20px;
  align-items: center;
  padding-left: 20px;
  margin: 10px 0px;
}

.user-id-box :first-child {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.user-id-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-id-box-text :last-child {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.feed-img-section :first-child {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}

.fa-external-link-alt {
  font-size: 25px;
}

.main-icon-like-text {
  padding-left: 20px;
}

.main-like-text-box-image {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.main-like-text-box-image-main {
  width: 20px;
  margin-right: 5px;
  border-radius: 10px;
}

.iconbox {
  display: flex;
  margin-top: 5px;
}

.iconbox img {
  width: 25px;
}

.iconbox .iconbox_heart {
  background-color: white;
}

.iconbox .iconbox_red {
  background-color: red;
}

.iconbox :nth-child(2) {
  margin: 0 10px;
}

.iconbox :last-child {
  margin-left: auto;
  padding-right: 20px;
}

.main-icon-like-text-write-name {
  margin-right: 5px;
  font-weight: bold;
  color: black;
}

.userName {
  font-weight: bold;
  margin-right: 10px;
}

.main-icon-like-text-write-subtext {
  margin-right: auto;
  font-size: 14px;
  text-align: center;
}

.main-icon-like-text-write-name {
  display: flex;
  flex-direction: column;
}
.main-icon-like-text-write_commentbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main-icon-like-text-write_commentbox .smallHeart_img {
  width: 10px;
  margin-right: 20px;
}

.main-icon-like-text-write-footer {
  font-size: 5px;
  color: rgba(0, 0, 0, 0.4);
}

.main_comment {
  display: flex;
  margin-top: 20px;
}

.main_comment_text {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 5px;
}

.main_comment_submit {
  width: 60px;
  height: 100%;
  background: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: blue;
}
