.container {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
 }
 .container .main{
   background-color: #fff;
   width: 35%;
   height: 80%;
   border: 1px solid black;
   position: relative;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   border-radius: 30px;
  }
  .container .main .westagram-title{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    position: absolute;
    width: 100%;
  }

  .container .main .login{
    width: 100%;
    text-align: center;
    line-height: 4;
    position: absolute;
    top: 32%;
  }

  .container .main .login input{
    background-color: #FAFAFA;
    width: 75%;
    height: 40px;
    border-radius: 6px;
    padding: 9px 0 7px 8px;
  }
  .container .main .login button {
    width: 78%;
    height: 50px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #C4E1FB;
    cursor: pointer;
  }
  .container .main .login button:enabled{
    background-color: rgb(26, 111, 207);
  }
  .container .main .bottom{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }