.right-profile-pic{
    width: 55px;
    height:55px;
    border-radius:50%;
}
.child-id{
    display:flex;
    flex:1;
    align-items: center;
}
.right-profile-pic{
    margin-right:5px;
}
.right-profile{
    display:flex;
    margin:20px;;
}
.right-profile-id{
    display:flex;
    align-items: flex-start;
}
.story-box{
    display:flex;
    flex: 1;;
}
.story-box-header{
    display: flex;
    flex:1;
    flex-direction: column;
}
.story-add-box{
    display: flex;
    justify-content: space-between;
    
}
.add-more-button{
    border:0;
    background-color: white;
}
.story-title{
    color: grey;
    margin-left: 10px;;
}
.story-profile-pic{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.story-profile{
    display: flex;
    flex:1;
    align-items: center;
    margin:0px 10px -15px 10px;
}
.story-profile-pic{
    margin:5px 10px 0px 0px;
}

span{
    display:block;
}
.recommand-user{
    font-weight:bolder;
    color: grey;
}

.recommand-profile-pic{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.recommand-box-header{
    display: flex;
    flex:1;
    flex-direction: column;
}

.recommand-add-box{
    display: flex;
    justify-content: space-between;
    
}
.recommand-profile{
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0px 10px -15px 10px;
}
.recommand-title{
    color: grey;
    margin-left:10px;
}
.recommand-profile-pic{
    margin-right:10px;
}
.title-comment{
}
.title-comment-1{
    font-weight: bolder;
    margin: 0px 5px 0px 10px;
}
.title-comment-3{
    font-weight: bolder;
    margin: 0px 5px 0px 10px;

}
.user-nickname{
    font-weight: bolder;
}

.comment{
    display:flex;
}
form{
display: flex;
justify-content: space-between;
}
