.container{
width:350px;
height:380px;
margin: 0 0 10px;
padding: 10px 0;
border:1px solid rgba(var(--b6a,219,219,219),1);
background-color:rgba(var(--d87,255,255,255),1);
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.logo{
  position:relative;
  top:5%;
}

h1{
  font-family: 'Lobster';
  font-size:40px;
  font-weight:lighter;
  margin-bottom:60px;
}

.buttonContainer{
  height:200px;
  
}
.btn{
  width:250px;
  height:35px;
  margin-bottom:5px;
  background-color:#fafafa;
  border:1px solid rgba(var(--ca6,219,219,219),1);
  border-radius:3px;
  font-size:12px;
  text-indent:10px;
}

input::placeholder{
  color:#959595dc;
}

.logInButton{
  width:250px;
  height:30px;
  margin-top:10px;
  background-color:#c0dffd;
  border: none;
  border-radius:3px;
  color:white;
  font-weight:bolder;
}

.forGotPassword{
  position:absolute;
  bottom:20px;
  left:50px;
  width:250px;
}

a{
  color:rgba(var(--fe0,0,55,107),1);
  font-size:12px;
}