@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #fafafa;
}

container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 430px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: #fff;
    box-shadow: 0;
    margin: 5% auto;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}

footer {
    font-size: 12px;
    color: #1a73e8;
    margin-top: 125px;
}

.loginInput {
    position: block;
    margin: 10px;
   
}

#id {
    width: 260px;
    height: 15px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
}

#password {
    width: 260px;
    height: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
}

#loginButton {
    width: 282px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #B9E2FA;
    color: white;
}