.container {
    height: 100vh;
}
.nav-bar {
    height: 60px;
    padding: 0;
}
.nav-container {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    border-bottom:1px solid #000;
    border-bottom-color: #dbdbdb;
    justify-content: center;
}
.nav-content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    max-width: 975px;
    height: 60px;
}
.logo-img {
    height: 24px;
    align-items: center;
}
.v-line {
    border-left : thin solid black;
    height : 24px;
    margin-left : 13px;
}
.logo-name {
    width: 333.5px;
    height: 36px;
    font-size: 30px;
    margin-left : 13px;
}
.find {
    position: relative;
    display: flex;
    min-width: 125px;
    width: 268px;
    height: 36px;
}
.find > input {
    width: 100%;
    height: 100%;
    background: #EFEFEF;
    font-size: 16px;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
}
.find #text {
    padding-left: 12%;
}
.find-icon > .fa-magnifying-glass {
    position: absolute;
    left: 3%;
    top: 32%;
}
.category {
    align-items: center;
    display: flex;
    padding: 0 0 0 168px;
}
/* .category .research {
    
} */
.category .heart {
    margin: 0 0 0 22px;
}
.category .my-page {
    margin: 0 0 0 22px;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    padding: 0;
}
.main-container {
    display: flex;
    /* position: relative; */
    /* width: 100%; */
    width: 60%
    /* margin: 0 auto; */
}
.feeds {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* max-width: 614px;
    width: 100%; */
    /* margin-right: 20px; */
    /* background-color: blue; */
    border: 1px solid #dbdbdb;
}

.feeds-header {
    /* width: 100%; */
    height: 60px;
    border-bottom: 1px solid white;
    /* background-color: #fff; */
    background-color: #FFFFFF;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
.profile {
    /* position: relative; */
    width: 10%;
    padding: 14px 4px 14px 16px;
}

.profile img {
    /* object-fit: cover; */
    border-radius: 50%;
}
.user-id {
    width: 20%;
    padding: 0 0 0 14px;
}
.blank {
    width: 60%;
}
.feeds-btn {
    /* padding: 0 2px 0 350px; */
    width: 10%;
}
.user-picture {
    width: 100%;
}
.user-picture img {
    width: 100%;
}
.feeds-footer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.sub-btn {
    display: flex;
    padding: 0 16px;
}
.sub-heart {
    padding: 8px 8px 8px 0;
}
.sub-comment {
    padding: 8px;
}
.sub-share {
    padding: 8px;
}
.good-count {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.profile-1 {
    padding: 0 2px 0 16px;
}
.profile-1 img {
    /* object-fit: cover; */
    border-radius: 50%;
}
.user-board {
    display: inline-block;
    padding: 0 16px;
    width: 90%;
}
.comment-list {
    word-break: break-all;
    margin-bottom: 8px;
}
.comment-list button {
    width: 5%;
}
.days {
    padding: 0 16px;
    margin-bottom: 16px;
    font-size: 4px;
}
.comment {
    padding: 6px 16px;
    border: 1px solid #efefef;
}
.upload-wrap {
    padding: 0;
    margin: 0;
}
.upload-form {
    display: flex;
    align-items: center;
}
.emotion {
    width: 10%;
    height: 40px;
    padding: 8px 16px 8px 0;
}
.upload-form > input {
    width: 80%;
    height: 100%;
    border: none;
}
.upload-form > input:focus {
    outline:none;
}
.comment-upload {
    padding-left: 10px;
    width: 10%;
}
.comment-upload > .upload {
    color: #99d2f8;
}
.main-right {
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    right: 10%;
    /* background-color: green; */
    /* padding: 0; */
    /* height: 100vh; */
    font-size: 10px;
}
.my-profile {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    margin: 18px 0 10px 0;
}
.my-profile .my-picture {
    width: 20%;
}
.my-picture img {
    border-radius: 50%;
}
.my-profile .my-info {
    width: 70%;
    padding-left :10px;
}
.my-profile .my-change {
    width: 10%;
    color: #0095f6;
}

.another-profile {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: 0 0 12px 0;
}
.recommend-wrap {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}
.another-recommend {
    /* width: 80%; */
}
.all-view {
    /* width: 20%; */
    color: #0095f6;
}

.follow-wrap {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.follow-wrap .follow-picture {
    width: 10%;
}
.follow-wrap img {
    border-radius: 50%;
}
.follow-wrap .follow-info {
    width: 80%;
    padding-left :10px;
}
.follow-wrap .follow-change {
    width: 10%;
    color: #0095f6;
}

.license {
    padding: 0 0 38px 0;
    /* background-color: yellow; */
}
.license p {
    margin-bottom: 20px;
    color: #c7c7c7;
}
.license span {
    color: #c7c7c7;
}
