.wrapper{
    display: flex; 
    justify-content: center;
}
section{
    border: 1px solid #dbdbdb ;
    border-radius: 5px;
}
article{
    border: 1px solid #dbdbdb ;
    border-radius: 5px;
}
main{
    
    
}
.icons i{
    font-size: 25px;
    margin: 20px;
}
.fa-instagram{
    margin-bottom: 40px;
}

nav{
    border-right: 1px solid #dbdbdb;
   position: fixed;
   height: 100%;
}

.storyimg{
    border:2px solid #ea0394;
    border-radius: 50%;
    width:60px;
    height: 60px;
    padding: 1px;
}
section{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.story{
    margin: 10px;
}
.feedimg{
    width: 450px;

}

.profile {
    border:1px solid #dbdbdb;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin:10px;
    transform: translate(0, -25%);
} 
.preview{
    border:1px solid #dbdbdb;
    border-radius: 50%;
    width:30px;
    height: 30px;
    margin:10px;
}
.feedname{
    position: relative;
}

.feedname span{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;

}
.follow{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    color: #0095f6;
    font-size: 12px;
    
}
aside{
    width: 330px;
    margin-left: 30px;
    margin-top: 40px;
}
article i{
    font-size: 25px;
    margin-right: 20px;
}
.comment{
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    height: 30px;
}

.fa-ellipsis{
    position: absolute;
    right: 10px;
    top: 10px;
}

.friends{
    margin-top: 20px;
    color: #8e8e8e ;
    font-size: 12px;
}
.all{
    margin-left: 10px;
    margin-right: 150px;
    color: #8e8e8e;
}
.date{
    font-size: 12px;
    color: #8e8e8e;
    margin-top: 5px;
}
.commentbox{
    border: none;
    width: 300px;
    transform: translate(-2%, -20%);
}

.commentbox:focus {
    outline:none;
}

@media only screen and (max-width: 700px) {
	nav {
		display: none;
	}
}
@media only screen and (max-width: 950px) {
	aside {
		display: none;
	}
}
.inputcomment{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    color: #c0dffd;
    transform: translate(-2%, -25%);
 }

 .press:hover {
    color: grey;
    cursor: pointer;
 }
.viewall{
    font-size: 12px;
    color: black;
}
li{
    list-style: none;
    
}
ul{
    margin: 0;
    padding: 0;
}
.feedtalk{
    margin: 10px;

}