@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing:border-box;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
}

.invisible{
    visibility :hidden;
}

.hidden{
    display:none;
}

ul{
    list-style-type: none;
    padding:0;
}


