@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing:border-box;
}
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.invisible{
    visibility :hidden;
}

.hidden{
    display:none;
}

.aside-box-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.thumbnail-id-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.double-line-container{
    display:flex;
    flex-direction: column;
}
.small-bold-font{
    font-weight:bold;
    color:black;
    text-decoration: none;
}
.small-gray-font{
    font-size:smaller;
    color:gray;
}
ul{
    list-style-type: none;
    padding:0;
}