
body{
    background-color: rgb(246, 252, 230);
    
}
main{
    display:flex;
    justify-content: center;
    align-items:center;
    height : 100%;
}
.login{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:300px;
    width:300px;
    background-color: white;
    border : 1px solid yellow;
}
.login-container{
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

h1.login-title{
    font-family: 'Lobster', cursive;
    margin:15px 0;
}

.username, .pwd{
    width:200px;
    height : 30px;
    padding:10px;
    background-color: lightyellow;
    border : 1px solid yellow;

}
.login-btn{
    width:200px;
    height:30px;
    background-color: lightblue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.btn-activate{
    width:200px;
    background-color: blue;
    color:white;
    border:none;
    border-radius:5px;
}
.forgetPwd{
    text-decoration: none;
    font-size:x-small;
    margin : 50px 0 0 5px;
}

footer{
    height:40px;
    display : flex;
    justify-content: center;
    
}
.footer-text {
    text-decoration:none;
    margin:10px;
}