@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: px solid silver; 
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}
.login_wrapper{
    padding: 200px 100px;
    border-radius: 5px;
    border:1px solid #DBDBDB;
    position: relative;
}
.logoWrapper{
    position:absolute;
    top:30px;
    left: 130px;
}
#logo{
    color:black;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    margin: 15px 30px;
    font-weight: lighter;
}

.inputWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}
.inputWrap input{
    padding: 15px 10px;
    width: 400px;
    background-color: #FAFAFA;
    border: 1px solid silver;
    border-radius: 5px;
}
#id{
    margin-bottom: 10px;
}

button {
    position: absolute;
    border-radius: 5px;
    width:400px;
    background-color: #BADEF9;
    color:white;
    top: 350px;
    left: 100px;
    padding-top:6px;
    padding-bottom: 6px;
    font-size: medium;
    border:none;
}

.passwordWrong{
    position: absolute;
    left:210px;
    bottom: 20px;
}
a{
    text-decoration: none;
    color:#8CA0B6;
    bottom: 10px;
}



/* 
.login_wrapper{
    width: 700px;
    border: 1px solid lightgray;
    padding: 100px 50px;
    border-radius: 5px;
    border:1px solid black;
    position: absolute; 
}

div #logo{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 80px;
    padding-bottom: 5px;
}

.login_method{
    width: 400px;
    margin: 40px auto;
}

.login-method input{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.login-method button{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 14px;
    background-color: #659672;
    color: white;
} */
