body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.borderOutline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 396px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 30px 0px;
  font-size: 51px;
  font-family: "Lobster", cursive;
  text-align: center;
}

.loginInput {
  width: 268px;
  height: 38px;
  margin-bottom: 8px;
  padding: 0px 8px;
  color: black;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 12px;
}

button {
  width: 268px;
  height: 30px;
  margin-top: 10px;
  color: white;
  background-color: #b2dffc;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  margin-top: 50px;
  padding-bottom: 20px;
}

footer a {
  color: #395180;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
