.navigationBox {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
  height: 60px;
}

.westaLogo a {
  padding-left: 10px;
  color: black;
  font-size: 29px;
  font-family: "Lobster", cursive;
}

.westaLogo i {
  padding-right: 15px;
  border-right: 1px solid black;
  font-size: 29px;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 268px;
  height: 36px;
  padding: 0px 16px;
  background-color: #efefef;
  border-radius: 8px;
}

.searchBar i {
  flex: 1;
  color: #9d9d9d;
  font-size: 15px;
}

.searchBar input {
  flex: 9;
  height: 25px;
  padding: 0px;
  color: #9d9d9d;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.emoji i {
  padding-left: 24px;
  font-size: 24px;
}

main {
  position: relative;
  width: 821px;
  margin: 0 auto;
}

.feeds {
  position: absolute;
  top: 120px;
  width: 470px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.feeds img:nth-child(2) {
  width: 100%;
  height: 485px;
}

.mainRight {
  position: fixed;
  top: 120px;
  right: 50%;
  width: 319px;
  height: 500px;
  margin-right: -410.5px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.profile i {
  margin-right: 12px;
  font-size: 24px;
}

header {
  display: flex;
  align-items: center;
  margin: 8px 12px;
}
header img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
header span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.feedButton {
  position: relative;
  display: flex;
  align-items: center;
  height: 46px;
}
.feedButton button:last-child {
  position: absolute;
  right: 12px;
}
.feedButton button {
  padding: 0 0 0 12px;
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.replyBox {
  display: flex;
  align-items: center;
  margin: 0 12px 8px 12px;
}
.replyBox img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border-radius: 9px;
}
.replyBox p {
  font-size: 12px;
}
.replyBox span {
  font-weight: bold;
}
.myPost {
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-size: 12px;
}
.myPost span,
.usercomment span {
  margin-right: 5px;
  font-weight: bold;
}
.myPost a {
  margin-left: 5px;
  color: #a5a6a8;
  font-weight: bold;
}
.usercomment {
  margin: 0;
  padding: 0;
}
.eachUserComment {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 4px 12px;
  font-size: 12px;
}
.eachUserComment button {
  position: absolute;
  right: 12px;
  padding: 0;
  background-color: transparent;
  border: 0;
}
.eachUserComment i {
  color: #a5a6a8;
  font-size: 12px;
}
.writingTime {
  margin-left: 12px;
  margin-bottom: 5px;
  color: #a5a6a8;
  font-size: 12px;
  font-weight: bold;
}
.myComment form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 49px;
  padding: 0px 12px;
  border-top: 1px solid #dbdbdb;
}
.myComment input {
  flex: 9;
  height: 20px;
  border: 0;
  font-size: 12px;
}

.myComment button {
  flex: 1;
  height: 20px;
  padding: 0;
  color: #c1e2f8;
  background-color: #ffffff;
  border: 0;
  font-size: 12px;
  text-align: right;
  font-weight: bolder;
}
.myWestaInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.myWestaInfo img {
  width: 56px;
  margin: 0 10px;
  border-radius: 50%;
}
.myWestaInfoUser {
  display: flex;
  flex-direction: column;
}
.myWestaInfoUser a {
  color: black;
  font-weight: bold;
}
.myWestaInfoUser span {
  color: #a5a6a8;
  font-size: 15px;
  font-weight: bold;
}
.story {
  width: 100%;
  height: 230px;
  padding: 12px 12px 0px 12px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}
.storyInText,
.recommendInText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.storyInText span,
.recommendInText span {
  color: #a5a6a8;
}
.storyInText a,
.recommendInText a {
  color: black;
}
.storyInUsers {
  height: 192px;
  margin: 8px 0;
  padding: 0;
  /* 넘치는 부분 스크롤바 생성하기 */
  overflow: auto;
}
.storyInUsers::-webkit-scrollbar {
  /* 스크롤 기능은 살리되 스크롤 없애기 */
  display: none;
}
.storyInUsers img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 3px solid transparent;
  border-radius: 50%;
}
.mainRight li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}
.allListInDiv {
  display: flex;
  flex-direction: column;
}
.mainRightUserId {
  color: black;
  font-weight: bold;
}
.mainRightGrayText {
  color: #a5a6a8;
}
.recommendForMe {
  width: 100%;
  height: 200px;
  margin: 16px 0;
  padding: 12px 12px 0px 12px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}
.recommendInUsers {
  padding: 0;
}
.recommendInUsers li {
  position: relative;
}
.recommendInUsers a {
  position: absolute;
  right: 0;
  color: #0195f7;
  font-weight: bold;
}
.recommendInUsers img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #d7d7d7;
  font-size: 14px;
  font-weight: bold;
}
.footerInfoLink {
  margin-bottom: 16px;
  font-size: 14px;
}
.footerInfoLink a {
  color: #d7d7d7;
  font-weight: bold;
}
.footerInfoLink span {
  margin: 0 1.5px;
  font-weight: bold;
}
