.box,  .main-feed-area, nav, .comment-area, #comment-button{
    background-color: white;
}

#id-input, #pw-input,  main, .search{
    background-color: rgb(250, 250, 250)
}

#id-input, #pw-input,
.search, summary, .comment-time, #comment-button, #comment-button,
.userName-sub, .story-time, .recommend-relate, footer{
    color: rgb(156, 156, 156);
}

.box, #id-input, #pw-input, #login-button,
.search, .main-feed-area, .story-area, .recommend-area{
    border: 1px solid rgb(236, 236, 236);
}


