*{
    box-sizing: border-box;
}

.container {
    margin: 15px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 750px;
}

/* header 태그에 적용 안되는 속성이 있다. footer도 마찬가지 */
.header {
    font-size: 90px;
    font-family: 'Lobster', cursive;
    margin-bottom: 130px;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-bottom: 200px;
    width: 70%;
}

input {
    margin-bottom: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: 100%;
    height: 70px;
    border-radius: 4px;
}
input:focus {
    outline: 1px solid blue;

}
input::placeholder {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bold;
    color: #9F9F9F;
}

button {
    color: white;
    margin: 10px 0;
    background-color: #C4E1FB;
    border-radius: 8px;
    border: none;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}

.active {
    background-color: blue;
    
}

.footer {
    font-size: 20px;
    color: #0D3F71;
    font-weight: bold;
}