* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
}

#Full-Area {
  width: 350px;
  height: 420px;
  text-align: center;
  border: 1px solid #dbdbdb;
  margin: 150px auto 10px;
}

h1 {
  font-family: Lobster;
  font-size: 40px;
  margin: 40px 0;
}

input,
button {
  width: 270px;
  display: block;
  margin: 0 auto;
}

input {
  height: 40px;
  font-size: 12px;
  background-color: #f6f6f6;
  border: 1px solid #dbdbdb;
  padding-left: 10px;
  margin-bottom: 7px;
}

input::placeholder {
  color: #8e8e8e;
}

button {
  height: 30px;
  color: #ffffff;
  background-color: #c5e1fc;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}

button.enable {
  background-color: #67b5fa;
}

#facebook-login {
  margin-top: 60px;
}

#facebook-login a {
  color: #385185;
  font-weight: 700;
}

#find-password {
  margin-top: 30px;
}

#find-password a {
  color: #01376b;
  font-size: 13px;
}

img {
  width: 15px;
}

a {
  text-decoration: none;
}

footer {
  width: 350px;
  height: 60px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  padding-top: 20px;
  margin: 10px auto;
}

footer a {
  color: #0095f6;
  font-weight: 700;
}
