* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 100px;
}

.container {
  height: 520px;
  width: 500px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}

header {
  font-size: 50px;
  font-family: "Lobster", cursive;
  margin-bottom: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 400px;
  height: 50px;
  border: 2px solid rgb(242, 242, 242);
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

.loginId {
  margin-bottom: 10px;
}

.loginButton {
  margin-bottom: 150px;
}

button {
  width: 400px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background-color: rgb(0, 149, 246);
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: rgb(67, 103, 142);
}
