* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding-top: 80px;
}

nav {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: white;
}

.navLogo {
  display: flex;
  align-items: center;
}

.fab {
  font-size: 30px;
  margin-right: 10px;
}
.contour {
  height: 30px;
  width: 1px;
  margin-right: 10px;
  background-color: black;
}

.logoTitle {
  font-family: "Lobster", cursive;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.navInput {
  width: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  font-size: 15px;
  background-color: rgb(250, 250, 250);
  font-family: Helvetica, "FontAwesome", sans-serif;
}

.navInput::-webkit-input-placeholder {
  text-align: center;
  /* background-image: url("inputsearch.png"); */
  /* background-size: contain; */
  /* background-position: 1px center; */
  /* background-repeat: no-repeat; */
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.main {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.feeds {
  width: 550px;
  height: 720px;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
}

.profile {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.articleImage {
  width: 100%;
  height: 300px;
}

.IconBox {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.far,
.fa-heart {
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
}
.fa-heart {
  color: red;
}

.likeNumber {
  padding: 10px 20px 10px 20px;
}

#likeNumbers {
  font-size: 15px;
  font-weight: bold;
}

ul {
  height: 200px;
  padding: 10px 17px 10px 17px;
  list-style-type: none;
}

.comment {
  margin-bottom: 7px;
  font-size: 12px;
}

.commentBox {
  padding: 10px 20px 10px 20px;
  border-top: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
}

.fa-smile {
  font-size: 25px;
  flex: 1;
}

.commentInputBox {
  border: none;
  font-size: 16px;
  flex: 15;
}

.upload {
  text-align: center;
  color: blue;
  opacity: 0.3;
  flex: 1;
  cursor: default;
}

.mainRight {
  width: 300px;
  padding-top: 20px;
  padding-left: 30px;
}

.rightProfile {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.RightMyProfile {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.KoreanName {
  color: rgb(219, 219, 219);
}

.story,
.recommend {
  padding: 15px 10px 0 10px;
  margin-bottom: 20px;
  background-color: white;
}

.storyBar,
.recommendBar {
  display: flex;
  justify-content: space-between;
}

.KoreanStory,
.KoreanRecommend {
  color: rgb(142, 142, 142);
}

.storyLists {
  overflow: auto;
  list-style-type: none;
}

.storyList,
.recommendList {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

li > img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

.listName,
.recommendName {
  font-size: 16px;
  font-weight: bold;
}

.listTime {
  color: rgb(219, 219, 219);
  font-size: 10px;
}

.recommendPharse {
  color: rgb(219, 219, 219);
  font-size: 12px;
}

.follow {
  text-decoration: none;
  font-size: 12px;
  color: rgb(0, 149, 246);
  margin-left: 9px;
}
