@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "common.css";

/* body {
  background-color: #fafafa;
} */

/* nav */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

.nav div {
  width: 33%;
}

/* nav__logo */
.nav__logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
}

.nav__icon {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.nav__text {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  font-family: "Lobster", cursive;
  font-size: 20px;
}

/* nav__search */
.nav__search {
  display: flex;
  justify-content: center;
}

.nav__search__input {
  width: 15vw;
  height: 2.3vh;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

.nav__search__input:focus {
  outline: none;
}

.nav__search__input::placeholder {
  color: #dbdbdb;
  text-align: center;
}

/* nav__side-icons */
.nav__side-icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}

.nav__side-icons i {
  margin: 5px;
}

/* main */
.main {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

/* main__feeds */
.main__feeds {
  display: flex;
  flex-direction: column;
  width: 43vw;
  height: 80vh;
}

.main__stories {
  width: 40vw;
  height: 110px;
  margin-top: 40px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

.main__article {
  width: 40vw;
  height: 750px;
  margin-top: 40px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

/* main__right */
.main {
  background-color: #fafafa;
}

.main__right {
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 40vh;
  margin-right: 5vw;
}

.main__profile {
  width: 25vw;
  height: 60px;
  margin-top: 40px;
  border: 1px solid #dbdbdb;
}

.main__suggestions {
  width: 25vw;
  height: 30vh;
  margin-top: 20px;
  border: 1px solid #dbdbdb;
}
