nav{
    height:54px;
    border-bottom: 1px solid gainsboro;
}

aside{
   
    width:35%;
    margin: 15px;
    padding: 15px;
}

.title{
    border-left: 1px solid darkgrey;
    padding-left: 12px;
    margin: 12px;
    font-family: 'Lobster';
}

article{
    border: 1px gainsboro solid;
}








nav{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

main{
   
    width:100%;
    height:700px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.feeds{
    
    width:45%;
    height:700px
}

.main-right{
   
    width:30%;
    height:500px;
}


.elements_3 img{
    width:25px;
}

.elements_1 {
    
    display: flex;
    align-items: center;

}

.elements_2 {
    
    position: relative;
    display: flex;
    align-items: center;
}

.elements_3 {
   
    display: flex;
    align-items: center;
}

.icon_heart{
    margin-left: 20px;
    margin-right: 20px;
}

.elements_2 i{
    position:absolute;
    margin-left: 47px;;
}

.elements_2 input{
    text-align: center;
    height: 25px;
    
}

article img{
    width: 100%;
    height: 400px
    
}

.profile_box{
    
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
   
}

.profile_box img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-left: 12px;
    margin-right: 12px;
}

.profile_box i{
    margin-left: 250px;
}

.icon_box{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
   
    font-size: 25px;
}

.like_status{
   
    height:25px;
}

.fa-comment-o{
    margin-left: 7px;
    margin-right: 7px;
}

.insta_id{
    font-weight: 700;
}

.bottom_image{
    margin: 17px;
    
}


   

.count_comment{
    color: rgb(194, 192, 192);
}

.time_info{
    color: rgb(194, 192, 192);
    font-size: small;
    margin-top: 9px;
}

.my_profile{
   
    display: flex;
    align-items: center;
    
}

.my_profile img
{
    width:50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

.recommend_people
{
    display: flex;
    justify-content: space-between;
}

.people_profile img{
    width:35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 15px;
}
.recommendation_user{
    display: flex;
    margin-top:10px;
    align-items: center;
}

.recommendation_user .name_box{
    margin-right: 70px;
}

.recommendation_user span{
    color:rgb(61, 84, 254)
}

.info_link{
    color: rgb(194, 192, 192);
    margin-top: 15px;
}

.comment_box{
    width:300px;
    height:50px;
    margin:17px;
    border: 0px white;
    outline: none;
}

.comment_btn{
    width:50px;
    height:50px;
    background-color: white;
    color:blue;
   
}
.comment_wrap{
    border:1px solid gainsboro;
    
}
.name{
    font-weight: bolder;
}

ul{
    list-style:none;
    }