
@font-face {
font-family: 'Lobster';
src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
}

h1{
font-family: 'Lobster', cursive;
text-align: center;
font-size: 3em;
}

main{
border: 1px solid #dbdbdb;
height: 450px;
width: 350px;
margin: 30px auto;
}

input{
width: 250px;
height: 30px;
border-radius: 3px;
border: 1px solid #dbdbdb;
background-color: #fafafa;
}

.typeid{
text-align: center;
}

.typepw{
text-align: center;
margin: 10px 0;
}

.login{
text-align: center;
}

button{
width: 256px;
height: 30px;
background-color: #c0dffd;
border-color: #c0dffd; 
border-radius: 3px;
margin: 10px 0px;
color: white;
font-weight: 700;
}

.forget{
text-align: center;
font-size: 12px;
margin-top: 80px;
color: #01376b;
}
