* {
	box-sizing:border-box
}

body {
	font-family: "맑은 고딕", "굴림체", sans-serif;
	font-size: 11pt;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: whitesmoke;
}

button {
	cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.westagramLogoContainer { 
	font-family: 'Lobster', cursive;
}