:root {
  --header-height: 4rem;
  --button-moreComments: 3rem;
  /* color */
  --active-blue-color: #0095f6;
  --deactive-blue-color: lightblue;
  --gray-text: #8e8e8e;
  --gray-border: lightgray;
  /* text weight */
}
