* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center; /*nav를 header 기준 세로 축 중앙 */
  position: fixed;
  top: 0;
  left: 0; /*header 화면 위로 붙이기 */
  right: 0;
  height: 5vw;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
}
/*nav의 직계자식들 width를 동일하게 맞추어 space-between 했을 때 검색창이 중앙에 오도록 만듦 */
header nav > * {
  width: 300px;
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 40px;
  /* vertical-align: top; */
  /* height: 100px; */
}

#logoContainer img {
  height: 40px;
}

#logoContainer i::after {
  display: inline-block;
  padding: 0 40px;
  font-size: 40px;
  color: black;
  content: "|";
}

#searchBox {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #fbfbfb;
  border: 1px solid #d8d8d8;
  color: #afafaf;
}

header #searchBox input {
  width: 20%;
  height: 100%;
  padding: 0 10px;
  border: 0;
}
/* 검색 활성화 시 테두리 제거 */
#searchBox input:focus {
  outline: 0;
  width: 80%;
}

header #searchBox input::placeholder {
  color: #afafaf;
  font-size: 15px;
}

#searchHeartPerson {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#searchHeartPerson > img {
  width: 10%;
}
/*여기까지가 header 세팅 내용 */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 5vw;
}
/* 각 section 별로 width 지정 필요
width의 기준 element 무엇인지 확인 요망 */
main section:nth-child(1) {
  width: 75%;
  background-color: burlywood;
}

main section:nth-child(2) {
  width: 25%;
  background-color: cadetblue;
}

#feedContainer {
  width: ;
}
