.nav {
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.logo {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 28px;
  font-weight: lighter;
}

.inputBox {
  margin-top: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: gray;
  align-items: center;
  background-color: rgb(231, 231, 231);
}

.navOutline {
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.navImg,
.navUserImg {
  width: 21px;
  height: 21px;
  margin-left: 8px;
}

.navUserImg {
  border-radius: 30px 30px 30px 30px;
}
