*{
  box-sizing: border-box;
  margin: 0;
  padding:0;

}

body{display: flex;
  justify-content: center;
  align-items: center;
 
}

.outBox{
  width: 350px;
  height: 380px;
  border: 1px solid #dbdbdb;
  
}

h1{
 
  color: #262626;
  font-size: 45px;
  font-family: 'Lobster', cursive;
  position: relative;
  top: 15px;
  left: 73px;
}



input{
  width: 260px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid;
  color:grey;
  font-weight:bold;
  font-size: 10px;
  display: block;
  position: relative;
  top: 50px;
  left :35px;
  margin:7px;
}



#btnLogin{
width: 260px;
height: 40px;
display: block;
background-color: rgb(178,223,252);
color: white;
font-size: 15px;
font-weight: 800;
border-radius: 5px;
overflow: hidden;
border:none;


position: relative;
  top: 60px;
  left :43px;
}





.btnForgot{
color: rgb(43,86,130);
font-weight: bold;
font-size: 15px;
position: relative;
  top: 130px;
  left :90px;
}



