:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #2b85fb;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #cecece;
  --background-color: #fafafa;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
}
