body {
  text-align: center;
}

.loginPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.logo {
  font-family: 'Lobster', cursive;
  padding: 40px 0;
  font-size: 50px;
  margin-bottom: 20px;
}

input {
  width: 350px;
  height: auto;
  padding: 15px 0 15px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
input::placeholder {
  color: #9a9a9a;
}

input:focus {
  border: 1px solid #9a9a9a;
  outline: none;
}

.loginId {
  margin-bottom: 7px;
}

.loginPw {
  margin-bottom: 13px;
}

.loginBtn {
  width: 350px;
  height: auto;
  padding: 10px 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #c4e1fb;
  color: #ffffff;
  margin-bottom: 120px;
  font-size: 16px;
  cursor: pointer;
}

.loginBtn:enabled {
  background-color: #0095f6;
}

a {
  margin-bottom: 20px;
  color: #2b5783;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
