.profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  width: 70%;
}

.profile-img {
  width: 30%;
}

.profile-header_name {
  font-size: 13px;
}

.profile-header_description {
  font-size: 10px;
}

/* 크기에 맞게 각각의 css파일에서 크기를 바꿔준다 */
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
