#subject {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

body {
  display: flex;
  height: 100vh;
}

#loginBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  margin: auto;
  width: 350px;
  height: 380px;

  border: 1px solid rgb(224, 215, 215);
}

.id,
.password {
  width: 266px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgb(224, 215, 215);
  background-color: #fafafa;
  padding: 0 10px;
}

.buttonBox {
  background-color: skyblue;
  width: 268px;
  height: 32px;
  margin: 8px 40px;

  border: none;
  border-radius: 5px;
  color: white;
}
a {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
