nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  right: 0;
  background-color: white;
  top: 0;
  padding: 20px 0;
}

img {
  padding-right: 20px;
}

#subject {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

img {
  width: 30px;
}

main {
  margin-top: 130px;
  height: 900px;
}

#searchBox {
  position: relative;
}

input {
  width: 200px;
  height: 25px;
  right: 0;
  text-align: center;
}

.fa-magnifying-glass {
  position: absolute;
  width: 20px;
  right: 120px;
  top: 7px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

article {
  border: 1px solid lightgray;
}

.feeds {
  width: 600px;
  height: 860px;
  margin-right: 20px;
}

.main-right {
  border: 1px solid lightgray;
  border: none;
  width: 400px;
  height: 600px;
}

#stories {
  border: 1px solid lightgray;
  height: 280px;
  margin-bottom: 10px;
}

footer {
  color: gray;
}

.user {
  display: flex;
  padding-bottom: 20px;
  border: none;
}

.userTwo {
  display: flex;
  padding-bottom: 20px;
  border: none;
  justify-content: space-around;
}

#stories .user {
  margin-left: 20px;
}

.profileImage {
  width: 35px;
  height: 35px;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 100%;
}

p {
  margin: 0;
}

.subject {
  margin-top: 7px;
  font-weight: bold;
}

.additional {
  color: gray;
  font-size: 14px;
}

#articleTop {
  display: flex;
  justify-content: space-between;
}

#articleTopLeft {
  display: flex;
}

#articleImg {
  width: 100%;
}

.fa-ellipsis {
  margin: auto 20px;
}

.icon {
  width: 30px;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 10px;
}

#feedIcon {
  display: flex;
  justify-content: space-between;
}

#iconRight {
  margin-right: 10px;
}

#feedLikeBox {
  display: flex;
}

#likeBoxText {
  margin: auto 0;
}

#likeBoxImg {
  padding-right: 5px;
  margin: 10px 0;
}

.id {
  font-weight: bolder;
}

#more {
  margin-left: 10px;
  color: gray;
}

ul {
  padding-left: 0px;
  list-style: none;
}

#time {
  color: gray;
}

#articleBottom {
  padding-left: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

#commentBox {
  position: relative;
}

#comment {
  width: 90%;
  text-align: left;
  padding: 0;
  padding-left: 10px;
  margin: 10px 5px;
  border: none;
}

.commentBt {
  position: absolute;
  right: 10px;
  top: 14px;
  background-color: white;
  border: none;
  color: rgb(34, 153, 244);
}

.commentListRight {
  margin-right: 15px;
}

.deleteBtn {
  background-color: white;
  border: none;
  color: gray;
}

.fa-heart {
  font-size: 11px;
}

.commentList {
  display: flex;
  justify-content: space-between;
}

.storiesTop {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.recommend {
  display: flex;
  position: relative;
}

.userTwoBox > button {
  height: 23px;
  background-color: white;
  border: none;
  font-weight: bolder;
  color: rgb(34, 153, 244);
}

.recommend > div {
  left: 20px;
  top: 10px;
}

#footerTop {
  margin-top: 50px;
  margin-bottom: 20px;
}

a:visited {
  color: gray;
}

a {
  text-decoration: none;
}

.userTwoBox {
  display: flex;
  justify-content: space-around;
}

.userTwoBox > button {
  margin: 10px;
}

input:focus {
  outline: none;
}
