p {
  font-family: "Lobster", cursive;
  font-size: 45px;
  margin: 0;
}

.wrap {
  height: 100vh;
}
.wrap .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f1f3f5;
}
.wrap .container .inner {
  width: 350px;
  height: 380px;
  padding: 10px 40px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dbdbdb;
}
.wrap .container .inner .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.header h1 {
  display: flex;
  margin-bottom: 0;
}
.wrap .container .inner .form {
  margin-bottom: 30px;
}
.form .input_box input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 12px;
}
.form .button_box {
  margin: auto;
  width: 268px;
  height: 28px;
}
.form .button_box .btn {
  width: 100%;
  height: 100%;
  background-color: #bfdffd;
  border: 1px solid #bfdffd;
  border-radius: 4px;
}
.form .button_box .btn span {
  font-size: 15px;
  line-height: 1.4;

  color: #fff;
}
.wrap .container .inner .password_forget {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.password_forget {
  display: block;
  font-size: 12px;
  color: #003768;
}
