*{
    margin: 0;
}

body{
    background-color:#FAFAFA ;
}

.loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 380px;
    margin: 10% auto ;
    background-color: white;
    border: 1px solid #DBDBDB;
}

.loginLogo{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.input{
    width: 258px;
    height: 36px;
    margin-bottom: 5px;
    background-color: rgb(248, 248, 248);
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
/* 로그인 버튼 */
.loginBtn{
    width: 264px;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color: #0095F6;
    border: none;
    border-radius: 3px;
    font-weight: 500;   
}

.loginBtn:disabled {
    background-color:#C4E1FB ;
}