@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 100vh;
}

.loginSignIn-container {
  padding-top: 10px;
  margin-top: 50px;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 45px;
  height: 51px;
  margin: 36px 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(219, 219, 219);
  background-color: #ffffff;
  width: 350px;
}

.loginInput-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questionPartition {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 40px 18px;
}

.grayLine {
  background-color: #dbdbdb;
  height: 1px;
  width: 100%;
}

.grayLine:nth-child(1) {
  margin-left: 40px;
}

.grayLine:nth-child(3) {
  margin-right: 40px;
}

.or {
  line-height: 15px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(142, 142, 142);
  margin: 0 18px;
  white-space: nowrap;
}

input {
  width: 268px;
  height: 38px;
  margin-bottom: 6px;
  border: none;
  background-color: #fafafa;
}

input:focus {
  outline: none;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
}

.loginSubmit {
  background-color: rgba(0, 149, 246, 0.3);
  width: 268px;
  height: 30px;
  margin: 8px 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.loginAble {
  background-color: #0095f6;
  /* cursor: pointer; */
}

.question {
  color: #00376b;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.signIn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  width: 350px;
  color: #262626;
  font-size: 14px;
  margin: 15px 0px;
  text-align: center;
}

.signInText {
  margin: 15px 0px;
}

.signIn {
  margin-left: 5px;
  color: #0095f6;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 180px;
  height: 674px;
}

.hashContainer {
  margin-top: 80px;
}

.hashTag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hashItem {
  margin: 0px 8px 12px 8px;
  color: #8e8e8e;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 16px;
  bottom: 0;
}
