:root {
  --color-dark-wt: #fafafa;
  --color-dark-bl: #00376b;
  --color-dark-gr: #262626;
  --color-dark-li: #828282;
  --color-light-wt: #ffffff;
  --color-blue-bt: #0095f6;
  --color-blue-dbt: 0, 149, 246, 0.3;
  --color-dark-gr: 142, 142, 142;
  --color-dark-wg: #a8a8a8;
  --color-gray-gr: 219, 219, 219;
  --color-gray-dk: #8e8e8e;
  --color-gray-li: #efefef;
  --color-gray-wg: #d4d4d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-wt);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--color-light-wt);
  border-bottom: 1px solid rgb(var(--color-gray-gr));
}

.navLogo {
  width: 268px;
  height: 40px;
  margin-right: 65px;
  background-color: var(--color-light-wt);
}

.logo {
  width: 120px;
  height: 46px;
  background-image: url("https://fontmeme.com/images/instagram-new-logo.png");
  background-size: 120px 45px;
  background-repeat: no-repeat;
}

.navSearch {
  width: 268px;
  height: 36px;
}

.navSearch-input {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  background-color: var(--color-gray-li);
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
  background-size: 30px;
  background-position: 5px 3px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 8px;
  outline: none;
}

.navSearch-input::placeholder {
  color: var(--color-dark-li);
  font-size: 16px;
}

.navSearch-input:focus {
  background-image: none;
}

.placeHolderStyle::placeholder {
  padding-left: 10px;
}

.navMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 36px;
  margin-left: 60px;
  background-color: var(--color-light-wt);
}

.navMenu-items:nth-child(5) {
  width: 28px;
  height: 28px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.navMenu-items:nth-child(6) {
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
  border: 2px solid black;
  border-radius: 20px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: -2px 0px;
}

.feedRec-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.newPost {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 470px;
  height: 120px;
  margin-top: 26px;
  background-color: var(--color-light-wt);
  border: 1px solid rgb(var(--color-gray-gr));
  border-radius: 8px;
}

.newPostProfileId-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100px;
  margin-left: 20px;
  background-color: var(--color-light-wt);
}

.newPostProfile {
  width: 70px;
  height: 70px;
  background-color: var(--color-light-wt);
  background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: -55px -15px;
  border-radius: 37.5px;
}

.newPostId {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  background-color: var(--color-light-wt);
  font-size: 16px;
  font-weight: 500;
}

.feed {
  width: 470px;
  border-radius: 8px;
  margin-top: 15px;
  border: 1px solid rgb(var(--color-gray-gr));
  background-color: var(--color-light-wt);
}

.feedHeader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--color-light-wt);
  border-radius: 8px 8px 0 0;
}

.feedHeaderProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 100%;
  background-color: var(--color-light-wt);
  border-radius: 8px 0 0 0;
}

.feedHeaderIcon {
  width: 32px;
  height: 32px;
  background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
  background-size: 80px;
  background-position: -24px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.feedHeaderId {
  width: 370px;
  padding-top: 5px;
  padding-left: 10px;
  background-color: var(--color-light-wt);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

.feedHeaderFunction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 56px;
  background-color: var(--color-light-wt);
  border-radius: 0 8px 0 0;
}

.feedImage {
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: 470px;
  background-repeat: no-repeat;
}

.feedFunction {
  display: flex;
  justify-content: space-between;
}

.feedFunction:nth-child(1) {
  height: 40px;
  background-color: var(--color-light-wt);
}

.ff-container {
  display: flex;
  width: 168px;
  height: 40px;
  background-color: var(--color-light-wt);
}

.Heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 8px;
}

.Focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 8px;
}

.Post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 8px;
}

.BookMark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 8px;
}

.feedLike {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 8px;
  background-color: var(--color-light-wt);
  font-size: 14px;
  font-weight: bold;
}

.feedContents {
  margin: 10px 0 0 8px;
  background-color: var(--color-light-wt);
}

.feedContents span {
  background-color: var(--color-light-wt);
}

.feedContents span:nth-child(1) {
  font-weight: bold;
}

.feedContents span:nth-child(2) {
  margin-left: 10px;
}

.feedTimeStamp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 8px;
  color: var(--color-dark-li);
  background-color: var(--color-light-wt);
  border-bottom: 1px solid rgb(var(--color-gray-gr));
  font-size: 12px;
}

.feedComments {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  background-color: var(--color-light-wt);
}

.comment {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: var(--color-light-wt);
  font-size: 16px;
}

.comment-container {
  display: flex;
  justify-content: start;
  background-color: var(--color-light-wt);
}

.comment span {
  font-weight: bold;
  margin-right: 10px;
  background-color: var(--color-light-wt);
}

.commentLike {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--color-light-wt);
}

.feedAddComment {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--color-light-wt);
  border-radius: 0 0 8px 8px;
}

.feedAddComment input {
  width: 90%;
  height: 100%;
  border: 0;
  background-color: var(--color-light-wt);
  border-radius: 0 0 0 8px;
  outline: none;
}

.feedAddComment button {
  width: 10%;
  color: rgb(var(--color-blue-dbt));
  background-color: var(--color-light-wt);
  border: 0;
  border-radius: 0 0 8px 0;
  font-size: 15px;
  outline: none;
}

.feedAddComment input::placeholder {
  padding-left: 10px;
  color: var(--color-gray-dk);
  background-color: var(--color-light-wt);
  font-size: 15px;
  font-weight: bold;
}

.recommend {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  top: 0;
  margin: 36px 0 0 25px;
  width: 320px;
}

.myProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}

.myIcon {
  width: 56px;
  height: 56px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
  background-size: 50px;
  background-position: 0 2px;
  border: 3px solid black;
  border-radius: 28px;
}

.myId {
  width: 220px;
}

.myProfileSwich {
  color: var(--color-blue-bt);
  font-size: 12px;
  font-weight: bolder;
}

.myId p:nth-child(1) {
  margin-bottom: 5px;
  font-weight: bolder;
}

.myId p:nth-child(2) {
  color: var(--color-dark-wg);
  font-weight: bold;
}
.recommendForMe {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 15px 0;
}

.recommendForMe span:nth-child(1) {
  color: var(--color-dark-li);
  font-weight: bolder;
}

.recommendForMe span:nth-child(2) {
  font-weight: bold;
}

.recommendsForMeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendedProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.recommendedIcon {
  width: 36px;
  height: 36px;
  margin-left: 5px;
  background-image: url("https://images.unsplash.com/photo-1531891437562-4301cf35b7e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: -13px -25px;
  border-radius: 18px;
}

.recommendedId {
  width: 210px;
}

.recommendedId p:nth-child(1) {
  font-size: 16px;
  font-weight: bolder;
}

.recommendedId p:nth-child(2) {
  margin-top: 5px;
  color: var(--color-dark-wg);
  font-size: 12px;
  font-weight: bold;
}

.recommendFollow {
  font-size: 14px;
  color: var(--color-blue-bt);
  font-weight: bolder;
}

.recommend-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 20px;
}

.recommend-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.recommend-footer ul li {
  height: 15px;
  margin: 0 3px;
  color: var(--color-gray-wg);
  font-size: 14px;
  font-weight: bold;
}

.footer-corp {
  height: 15px;
  margin: 20px 3px;
  color: var(--color-gray-wg);
  font-size: 14px;
  font-weight: bold;
}
