:root {
    --bg-color: #ffffff;
    --feed-color: #FAFAFA;
    --user-name: gray;
    --footer-color: rgb(178, 178, 178);
    --border-color: #EEEEEE; 
}

*{
    margin: 0;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 0;
    border: 1px solid var(--border-color);;
    background-color: var(--bg-color);
    
}

/* 메인로고 */

#mainLogo{
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.fa-instagram{
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.logoLine{
    height: 40px;
    margin: 0 20px;
    border-left: 2px solid black;
}


/* 검색창 */

.search{
    width: 228px;
    height: 36px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
    background-color: #EFEFEF;
    outline: none;
}

/* 메뉴 */
#mainMenu{
    display: flex;
}

.menuImg{
    width: 30px;
    margin: 0 10px;
}

/* 메인 */
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 150px;
    background-color: var(--feed-color);
}

/* 피드 */

.feeds{
    width: 470px;
    height: auto;
    margin-right: 80px;
}

/* 게시물 */

article{
    width: 470px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--border-color);;
}

/* 게시물 프로필 */

.proBar{
    display: flex;
    justify-content:space-between;
    width: auto;
    height: 56px;
    border-bottom: 1px solid var(--border-color);;
}

.proInfo{
    display: flex;
    align-items: center;
    margin: auto 10px;
}

.proImg{
    width: 40px;
    height: 40px;
    margin-right:20px ;
    border-radius: 50%;
}

.proName{
    font-weight: bold;
}

.fa-ellipsis{
    margin: auto 10px;
}

/* 게시물 사진 */

.feedImg{
    width: 470px;
    height: 470px;
}

/* 게시물 글 */

.mainInfo{
    display: flex;
    flex-direction: column;
    width: 436px;
    margin: 0 auto;
}

/* 피드-본문-설명-좋아요 */

.like{
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
}

.likeMenu3{
    margin: 0 5px;
    font-size: 25px;
}

.redHeart{
    color: red;
}

.fa-bookmark{
    font-size: 25px;
}

/* 피드-본문-설명-좋아요수 */

.likeNum{
    display: flex;
    align-items: center;
    height: 25px;
}

.likeImg{
    width: 25px;
    height: 25px;
    margin-right:10px;
    border-radius: 50%;
}

.likeNumText{
    font-size: 14px;
}

/* 피드-본문-설명-글 */

.feedText{
    display: flex;
    align-items: center;
    height: 25px;
}

.userId{
    font-weight: bold;
    margin-right: 5px;
    font-size: 15px;
}

.userText{
    font-size: 14px;
}

/* 피드-본문-설명-시간 */

.feedTime{
    height: 20px;
    color: rgb(63, 63, 63);
    font-size: 12px;
}

.feedTime p{
    margin-top:3px;
    margin-left: 5px;
}

/* 피드-본문-설명-댓글입력 */

.addComment{
    display: flex;
    justify-self:end;
    height: 45px;
    border-top:1px  solid var(--border-color); ;
}

.commentInput{
    width: 90%;
    margin:0 10px ;
    border: none;
    border-radius: 8px;
    outline: none;
}

.commentBtn{
    width: 10%;
    color:#0095F6 ;
    background-color: white;
    border: none;
    border-radius: 8px;    
}

/* 피드-본문-설명-댓글추가 */

.comments{
    height: auto;
}

.commentText{
    height: auto;
    padding: 0;
}

.comments li{
    display: flex;
    align-items: center;
    list-style: none;
}

.commentUserId{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

.commentUserText{
    font-size: 14px;
}

/* 피드-우측 */

.mainRight{
    width: 250px;
    height: auto;
}

/* 피드-우측-내정보 */

.myProfile{
    display: flex;
    align-items: center;
    height: 60px;
}

.myImg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.myId{
    font-size: 14px;
    font-weight: bold;
}

.myName{
    color: var(--user-name);
    font-size: 14.5px;
}

/* 피드-우측-박스상단 */

.side{
    height: auto;
    margin: 15px 0;
    border: 1px solid var(--border-color);;
    border-radius: 3px;
    background-color:white;
}

.sideBox{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.sideBoxName{
    color: var(--user-name);
    font-size: 13px;
    margin: auto 10px;
}

.sideBoxMore{
    font-size: 14px;
    font-weight: 500;
    margin: auto 10px;
}

/* 피드-우측-박스 */

.userList{
    margin:0 10px;
}

.user{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.userImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.userId{
    font-size: 12px;
    font-weight: 900;
}

.userInfo{
    color: var(--user-name); 
    font-size: 12px;
}

/* 피드-우측-하단정보 */
footer{
    color: rgb(178, 178, 178);
    font-size: 13px;
}
