* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  border: 1px solid black;
  width: 360px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 20px;
}

h1 {
  font-family: "Oleo Script", cursive;
  padding-bottom: 20px;
}

input:focus {
  outline-color: gray;
}
.login-form__input {
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
  opacity: 0.7;
}

.input_wrap {
  width: 100%;
}

.login-form__input id password {
  background-color: lightgrey;
}

.btn {
  height: 29px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #acd5e8;
  color: white;
  opacity: 0.7;
  border-style: none;
}

.login-form__button {
  width: 100%;
}

.password-forget {
  margin-top: 80px;
}

a {
  color: #000000;
  text-decoration: none;
}
