body {
  background-color: #fafafa;
}

.main_nav {
  z-index: 1;
  top: 0;
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 1000px;
}

nav img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.main_nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img_box {
  margin-right: 10px;
}

.img_box span {
  border-left: solid 1px black;
  margin-right: 10px;
}

.main_nav {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.search_bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar input {
  text-align: center;
  height: 25px;
  width: 300px;
}

.fa-search {
  position: absolute;
  left: 110px;
  color: #d6d2d2;
}

.logos_img {
  margin-right: 10px;
}

.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user_component {
  border: 1px solid #d6d2d2;
  padding: 10px;
  display: flex;
  align-items: center;
}

.feeds {
  width: 500px;
}

aside {
  width: 400px;
  margin-left: 30px;
}

.aside_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.aside_name {
  flex-direction: column;
}

.dots_icon {
  margin-left: auto;
  right: 10px;
}

.run {
  height: 500px;
  width: 100%;
}

.feed_icons i {
  font-size: 25px;
  margin-right: 5px;
}

.feed_icons i:first-child {
  color: red;
  margin-left: 10px;
}

.feed_icons {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.feed_icons i:last-child {
  position: absolute;
  right: 10px;
}

.user_like {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.total_like {
  display: flex;
  align-items: center;
}

.user_avatar2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.aside_story {
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.user_box1 {
  border: 1px solid #d6d2d2;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.img_users {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  align-items: center;
  position: relative;
}

.img_users img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user_names {
  font-size: 12px;
  font-weight: bold;
}

.article_bottom {
  border: 1px solid #d6d2d2;
}

.comment {
  margin-left: 10px;
  margin-top: 10px;
}

.comment :nth-child(1) {
  font-weight: bold;
}

.comment :nth-child(3) {
  color: darkgrey;
}

.time_comment {
  margin-left: 10px;
  margin-bottom: 10px;
  color: darkgrey;
}

.img_users div:last-child div:last-child {
  color: darkgrey;
}

.user_follow {
  position: absolute;
  right: 10px;
  color: blue;
  font-size: 15px;
}

.insta_agreement {
  font-size: 15px;
  color: darkgrey;
}

.westa_user_comment {
  border: 1px solid #d6d2d2;
}

.westa_user_comment input {
  padding: 10px;
  border: none;
  height: 30px;
  width: 88%;
}

.comment_btn {
  height: 30px;
  width: 11%;
  border: none;
  background-color: #c0dffd;
}

.comment_btn:hover {
  cursor: pointer;
}
