* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin-top: 15px;
  
}

.inputWrapId ,.inputWrapPassword {
  padding-left: 10px;
  font-weight: 700;
  color: #C5C5C5
  letter-spacing: 3px;
  display: block;
  width: 346px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
  border: 1px solid #e6e6e6;
  

}

.inputWrapButton {
  margin-bottom: 15px;
  background-color: #0095F6;
  color: white;
  font-size: 20px;
  font-weight: 900;
  width: 346px;
  height: 50px;
  border: 0px;
  opacity: 0.2;
  transition: all 0.2s;
}
.loginDisplay {
  border: 2px solid #e6e6e6;
  height: 80%;
  width: 34%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
   margin-bottom: 30px;
   color: #366088;
   font-weight: 900;
   padding:0px;
   font-size: 15px;
   text-decoration-line : none;
   
}

a {
  text-decoration-line : none;
  color : #366088

}

a:hover {
  color : #366088

.active {
  opacity: 1;
}

