body{
    display: flex;
    justify-content: center;
    
  
    
         
}

.outsideBox {
    
    background-color:#e4e4e4;
    width: 250px;
    height: 300px;     
    display: flex; 
    margin: auto;
    margin-top: 120px;
} 

.insideBox {
    background-color: white;
    border-color: rgb(201, 205, 209) 2px; 
    width: 240px;
    height: 290px;  
    margin: auto;   
    text-align: center;
    margin: 5px;
  }

h1{
    font-family: 'Beau Rivage', cursive;
}

input {    
    background-color: rgb(235, 238, 241);
    border: none;
    border-radius: 2px;
    height: 15px;
        
}

input::placeholder{
    font-size:x-small;
}



h1 .phone .password {
     
    display: flex;
    justify-content: center;
    align-items:center ;

    width: 200px;
    height: 300px;  
    margin-left: 50px;
}

.phone {
    margin-top: 3px;
     
}

.password {
    margin-top: 8px;
    

}


.button{
    color: rgba(var(--eca,255,255,255),1);
    background-color: rgba(var(--d69,0,149,246),.3);
    opacity: 1;
    border: none;
    border-radius: 3px;
    width: 170px;
    font-size: small;
}

.forgetPW{

    margin-top: 80px;
    /* display:Flex ;
    justify-content: center; 
    align-items: flex-end;  */
    font-size: 1px;
    color: #385185;

}
