* {
    padding: 0px;
    margin: 0px;
}

.navigator{
    /* background-color: rgb(238, 238, 233); */
    border: green 2px solid;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.logo{   
    color: #FFF;
    width: 150px;
    height: 100%;
    margin-top: 10px;
    margin-left: 200px;    
    flex: 1;  
}


.searchBox{
    background-color:rgb(237, 236, 229);
    border-radius: 10px;
    width: 200px;
    height: 50%;
    margin: 12px 50px 12px 50px;
    flex: 3;


}
.navIcon  {
    font-size: 20px;
    width: 400px;
    height: 100%;
    margin: 0px 200px 0px 50px;
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.fa-solid {
    /* background-color: yellow; */
    width: 100px;
    height: 50px;
    align-items: center;    
}    



.main {
    border: red 2px solid; 
    padding: 10px 100px 10px 100px;
    margin-top: 20px;
    

    display: flex;
    justify-content: center;
    
}


.feeds {
    border: orange 2px solid;
    padding: 50px 10px 30px 10px;
    margin-right: 10px;
    
}

.article {
    border: blue 2px solid;
    /* background-color: blue; */
    width: 500px;
    height: 100vh;

}

.main-right{
    border: aqua 2px solid;
    width: 250px;
    height: 600px;

    align-items:flex-end;    
 
}
