* {
    box-sizing: border-box;
    margin: 0px;
}

body {



}

.container {
   
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(180, 180, 180);
}

.top{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    margin: 0px auto;
}

.top h2{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.inputbox {
    display: flex;
    flex-direction: column;

}

.buttonbox{
    display: flex;
    justify-content: center;
}

.bottom{
    width: 400px;
    height: 100px;
    background-color: blue;
    margin: 0 auto;
    
}

.bottom p {
    text-align: center;
    padding-top: 50px;
}