* {
  box-sizing: border-box;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(182, 182, 182);
}

.header_insta {
  font-family: "Lobster", cursive;
  font-size: 90px;
  font-weight: lighter;
  margin-bottom: 70px;
}

main {
  display: flex;
  flex-direction: column;
  width: 550px;
  align-items: center;
}

main input {
  padding: 20px 15px;
  width: 100%;
  font-size: 23px;
  border-radius: 4px;
}

.main_id {
  margin: 5px 0px;
  background-color: rgb(243, 242, 242);
  color: gray;
  font-size: 20px;
  border: 1px solid rgb(182, 182, 182);
}

.main_pw {
  margin: 5px 0px;
  background-color: rgb(243, 242, 242);
  color: gray;
  font-size: 20px;
  border: 1px solid rgb(182, 182, 182);
}

.main_button:disabled {
  background-color: rgb(166, 186, 224);
  border: 1px solid rgb(166, 186, 224);
}

.main_button {
  margin-top: 25px;
  color: whitesmoke;
  background-color: hsl(209, 68%, 42%);
  border: 1px solid rgb(71, 126, 189);
  font-size: 30px;
  font-weight: bold;
}

footer {
  margin-top: 180px;
  margin-bottom: 40px;
}

a:link {
  text-decoration: none;
  font-size: 25px;
}
