* {
  box-sizing: border-box
}

main {
  width: 550px;
  height: 650px;
  border: 2px solid #f1ecee;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  margin-top:100px;
}

.logo {
  margin-top: 50px;
}

h1 {
  
  font-family: 'Lobster', cursive;
  font-size: 80px;
}
    
a {
  text-decoration: none;
  color: rgb(53, 105, 150)
}

form {
  margin-top: 90px;
  margin-bottom: 30px;

  
}

input {
  text-align: left;
  display: flex;
  margin: auto;
  width: 450px;
  height: 50px;
  background: #FDFAFB;
  border: 1px solid #f1ecee;
  border-radius: 2px;
  margin-bottom: 10px;
}

.links {
  padding-top: 160px;
  font-weight: bold;
}

.loginBtn {
  width: 450px;
  height: 50px;
  background: rgb(187, 211, 228); 
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: .3;
}

.active {
  opacity: 1;
}

input::placeholder {
  padding: 7px;
}
