* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.container {
    width: 340px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_box {
    width: 320px;
    height: 370px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.contents_box {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name {
    font-family: 'Lobster', cursive;
    font-size: 37px;
}

.login_box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.id {
    width: 250px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}

.id:focus {
    outline: 1px solid gray;
}

.pw {
    width: 250px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}

.pw:focus {
    outline: 1px solid gray;
}

.btn_box {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn {
    width: 250px;
    height: 35px;
    color: white;
    font-weight: bold;
    border: 0.5px solid #fafafa;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0095F6;
}

.login_btn:disabled {
    background-color: rgb(168, 202, 244); /* 흐린 색상의 배경 적용 */
}

.find_box {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.find_pw {
    color: #00376b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}