* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.insta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
}

/* nav */

nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    z-index: 1;
}

.right_nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-instagram {
    font-size: 20px;
}

.bar {
    height: 21px;
    border-left: 1px solid black;
}

.name_logo {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_logo span {
    font-family: 'Lobster', cursive;
    font-size: 17px;
}

.mid_nav {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search {
    width: 200px;
    height: 27px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left_nav {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-compass {
    font-size: 22px;
}

.fa-heart {
    font-size: 22px;
}

.fa-user {
    font-size: 22px;
}

/* main */
/* feed */

main {
    width: 100%;
    background-color: #fafafa;
    /* position: absolute;
    right: 70px; */
    padding-top: 130px;
    padding-left: 130px;
    padding-bottom: 100px;
}

/* 컨테이너 왜 이 모양이냐 이러지마 제발 */

.feeds {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-right: 40px; */
}

.feed_box {
    width: 500px;
    height: 100%;
    background-color: white;
    border: 1px solid #dbdbdb;
}

.top_feed {
    width: 500px;
    height: 50px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.id_box {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}

.profile_pic {
    width: 30px;
    height: 30px;
    background-image: url(../img/IMG_9480.jpg);
    background-size: cover;
    border-radius: 50%;
}

.insta_id {
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
}

.more {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid_feed {
    width: 100%;
    height: 500px;
    background-image: url(../img/IMG_8851.jpg);
    background-size: cover;
    /* border-right: 1px solid #dbdbdb; */
}

.icon_bottom {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_icon_bottom {
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.right_icon_bottom .fa-heart {
    font-size: 22px;
    color: red;
}

.fa-comment {
    font-size: 22px;
}

.fa-share-from-square {
    font-size: 22px;
}

.left_icon_bottom {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bookmark {
    font-size: 22px;
}

.like_bottom {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like_box {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
}

.like_pic {
    width: 22px;
    height: 22px;
    background-image: url(../img/IMG_9480.jpg);
    background-size: cover;
    border-radius: 50%;
}

.like10 {
    font-size: 13px;
    padding-left: 7px;
}

.my_comment {
    width: 100%;
    /* height: 100%; */
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

/* .feedback {
    display: none;
    color: red;
}

.show {
    display: block;
} */

li {
    list-style: none;
}

.msg {
    width: 100%;
    height: 30px;
    border: 1px solid #dbdbdb;
}

.msg:focus {
    outline: none;
}

#todo-list {
    font-size: 14px;
}

button {
    border: none;
    background-color: white;
}

/* main-right */

.main_right {
    width: 40%;
    height: 100%;
    position: fixed;
    right: 0;
}

.right_box {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myid {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mypic {
    width: 50px;
    height: 50px;
    background-image: url(../img/IMG_9480.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.myid_name {
    font-size: 15px;
}

.myid_box {
    display: flex;
    flex-direction: column;
}

.myid_info {
    font-size: 12px;
    color: gray;
}

.story {
    width: 100%;
    height: 220px;
    background-color: white;
    border: 1px solid #dbdbdb;
    overflow: scroll;
}

.top_story {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
}

.story_text {
    color: gray;
}

.story_box {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.story_pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: orange;
}

.story_info {
    padding-left: 10px;
}

.story_id {
    font-size: 15px;
}

.story_time {
    font-size: 13px;
    color: gray;
}

.recommand {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #dbdbdb;
    overflow: scroll;
}

.re_box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.re_id_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.re_pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: orange;
}

.re_info {
    padding-left: 10px;
}

.re_id {
    font-size: 15px;
}

.re_friends {
    font-size: 13px;
    color: gray;
}


.insta_info {
    font-size: 13px;
    color: gray;
    padding-top: 5px;
}

.follow {
    font-size: 15px;
    color: #3797F0;
    font-weight: bold;
    padding-right: 10px;
}