* {
    box-sizing: border-box;
}

.container {
    width: 1500px;
    max-width: 100vw;
}

.loginContainer {
    width: 350px;
    height: 400px;
    margin: 25vh auto;
    text-align: center;
    border: 2px solid lightgrey;
    
}



input {
    width: 250px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}

.loginButton {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 70px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}