/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #fafafa;
  --color-dark-white: #dbdbdb;
  --color-light-blue: #b2dffc;
  --color-dark-blue: #4f7599;
}

.login {
  position: relative;
  width: 400px;
  top: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid var(--color-dark-white);
  background-color: var(--color-white);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 50px;
  font-family: "Lobster";
}

.login-container {
  margin-top: 50px;
}

.login-container input {
  margin-bottom: 20px;
  display: block;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  background-color: var(--color-light-white);
  border: 1px solid var(--color-dark-white);
  border-radius: 3px;
}

.login-container input:focus {
  outline: none;
}

.login-container .username {
  margin-bottom: 8px;
}

.login-container .password {
  margin-bottom: 12px;
}

.login-container button {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-blue);
  cursor: pointer;
}

.login-container button span {
  color: var(--color-white);
  font-size: 14px;
}

.login p {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: var(--color-dark-blue);
  font-size: 14px;
  cursor: pointer;
}
