* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.allof {
  height: 440px;
  width: 360px;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.realtitle {
  font-size: 50px;
  font-family: "Lobster", cursive;
}

input {
  width: 290px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  border: 1px solid lightgray;
  background-color: #fafafa;
  padding: 10px;
}

.firbtn input {
  margin-top: 40px;
  margin-bottom: 7px;
}

.secbtn input {
  margin-bottom: 30px;
}

button {
  width: 290px;
  height: 35px;
  border-radius: 3px;
  outline: none;
  background-color: #c0dffd;
  border: 0;
  color: white;
  font-weight: bold;
}

a {
  margin-top: 100px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(32, 32, 121);
}

.special {
  background-color: #2693ff;
}

.special2 {
  background-color: #c0dffd;
}
