body {
  box-sizing: border-box;
  background-color: #fafafa;
}

a {
  text-decoration-line: none;
  color: #385185;
}

.font {
  margin: 35px 0;
  font-size: 45px;
  font-family: "Gentium Book Basic", serif;
}

.loginCenter {
  width: 100%;
}

.loginBox {
  border: 1px solid rgb(219, 219, 219);
}

.middleBoxTopMargin {
  margin-top: 20px;
}

.boxPadding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.userInformation {
  color: rgb(38, 38, 38);
  background-color: #f8f8f8;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 250px;
  height: 20px;
  padding: 9px 0 7px 8px;
  margin: 2px 0;
}

.loginBtn {
  color: #ffffff;
  border-radius: 3px;
  border: 0;
  font-weight: bold;
  background-color: #b3dbff;
  width: 262px;
  height: 30px;
  padding: 0;
  margin: 8px 40px;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footerLine {
  color: #8e8e8e;
  position: relative;
  text-align: center;
  bottom: 0;
  margin-top: 100px;
}

.img-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
}

img {
  width: 140px;
}

div.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 8px 0;
}

div.line::before,
div.line::after {
  content: "";
  flex-grow: 1;
  margin: 0 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize12 {
  font-size: 12px;
}

#marginBoxTop {
  margin-top: 40px;
}

#marginMiddleBoxTop {
  margin-top: 10px;
}

.backColor {
  background-color: #ffffff;
}

.linkpadding {
  padding: 0px;
  margin: 10px;
}

.loginbtncolorchange {
  background-color: rgb(167, 169, 240);
}
