
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInContainer{
    border: 2px solid lightgrey;
    height: 600px;
    width: 570px;
    padding: 30px 65px;
    position: relative;
  
}


.title {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}


.loginArea {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputDecoration { 
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

.buttonLogin{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #B2DFFC; 
    color: white;
    font-size: 20px;
}

.btnActive {
    background-color: #0095F6;
    cursor: pointer;
}


.lostPwd {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
}

