
main {
    margin: 0 auto;
    height: 100vh;
    display: flex;
}
.feeds {
    margin-left: 80px;
    width: 470px;
    height: 100%;
}
.main-right {
    
}
.right-top {
    margin-left: 10px;
    width: 319px;
    height: 15%;
}
.right-middle1 {
    margin-left: 10px;
    width: 319px;
    height: 256px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    overflow-y: scroll;
}
.right-middle::-webkit-scrollbar {
    display: none;
}
.right-bottom {
    margin-left: 10px;
    width: 319px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}
.article {
    margin: 30px 5px 0 10px;
    height: auto;
    background-color: white;
    border:1px solid #dfdfdf;
    border-radius: 10px;
}
.main_profile_img {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.main_profile {
    display: flex;
    justify-content: space-between;
}
.fa-ellipsis {
    margin-right: 15px;
    margin-top: 5px;
}
.main_profile_img {
    margin-top: 5px;
}
.main_profile_name {
    display: flex;
    margin-bottom: 10px;
}
.main_profile_id {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 10px;
}
.main_profile_id span {
    font-size: 13px;
}
.first_id {
    padding-bottom: 3px;
}
.big_me {
    width: 452px;
    height: 500px;
}

.main_feeds {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 5px 10px;
}
.fa-bookmark {
    margin-top: 15px;
}
._8-yf5 {
    margin: 0 3px;
}
svg {

}
.like_up {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
}
.like_man {
    border-radius: 10px;
    margin-right: 5px;
}
.like_up span {
    font-size: 15px;
}
.feeds_post {
    margin-left:10px;
}
.feeds_post span:nth-child(3) {
    font-size: 14px;
    opacity: 0.5;
}
.hour_ago span {
    font-size: 12px;
    opacity: 0.5;
    margin: 5px 0 0 0;
}
.feeds_comment {
    /* height:30px; */
    padding: 0 10px;
    border-top: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
}
textarea {
    font-size: inherit;
    margin-top: 15px;
    width: 430px;
    height: 18px;
    border-style: none;
    resize: none;
    flex-grow:1;
}
textarea:focus {
    outline: none;
}
.comment_post {
    font-weight: 600;
    font-size: 14px;;
    width: 40px;
    height: auto;
    background-color: white;
    color:skyblue;
}
