.nav_title {
    font-family: 'Lobster', cursive;
    font-size: 28px;
}


nav {
    margin: 10px 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
img {
    width: 24px;
    height: 24px;
}
.nav_input {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;  
    width: 220px;
    height: 25px;
}
.input_box {
    position: relative;
}
.fa-search {
    position:absolute;
    left: 80px;
    top: 25px;
    opacity: 0.5;
}
.user {
    margin-right: 40px;
}
.heart {
    margin-right: 20px;
}
.nachimban {
    margin-right: 20px;
}

.insta_icons{
    display: flex;
    align-items: center;
}
.fa-brands {
    font-size: 28px;
    margin-top : 10px;
    padding-right: 20px;
}
.icons_span {
    border-right: 1px solid black;
}
.nav_title {
    margin-left: 20px;
}