body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
  background: #eeeeee;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 667px;
  background: white;
  border: 1px solid lightgray;
}

.logo {
  margin-bottom: 50px;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 270px;
  height: 38px;
  margin-bottom: 5px;
  background: #eeeeee;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

input::placeholder {
  font-weight: bold;
}

button {
  width: 282px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 2px;
  background-color: #c4e1fb;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}
