body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding: 20px 200px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

#logo-span {
  font-family: "Lobster", cursive;
  font-size: 24px;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

input.search-bar {
  width: 360px;
  height: 30px;
  padding: 2px;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  text-align: center;
}

/* input.search-bar::-webkit-input-placeholder {
  background-image: url("https://www.iconsdb.com/icons/preview/gray/search-13-xxl.png");
} */

.search-wrapper img {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 7px;
  left: 130px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}

img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* main-feeds */
main {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 40px 0px;
  background: #eeeeee;
}

article {
  width: 454px;
  margin-right: 100px;
  border: 1px solid lightgray;
  background: white;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.profile-wrapper div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

img.menu-btn {
  width: 16px;
  height: 16px;
}

img.article-img {
  width: 454px;
  height: 454px;
}

.function-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.function-right {
  display: flex;
  gap: 10px;
}

.like-wrapper {
  display: flex;
  justify-content: left;
  text-align: center;
}

.like-wrapper img {
  margin: 0px 10px;
}

.desc-wrapper {
  display: flex;
  gap: 10px;
  margin: 10px;
}

b.time {
  color: gray;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin: 10px; */
}

input:focus {
  outline: none;
}

input#comment {
  width: 379px;
  height: 30px;
  padding: 10px;
  border: none;
}

#comment-form {
  border-top: 1px solid lightgray;
  margin-top: 10px;
}

#comment-form button {
  margin-right: 10px;
  border: none;
  background-color: white;
  color: #458eff;
  font-weight: bold;
  cursor: pointer;
}

ul {
  padding-left: 0px;
  margin: 10px;
  list-style: none;
}

b#user-id {
  margin-right: 10px;
}

/* main-div-main-rigth */
.myprofile {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 20px;
}

img.myprofile {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.myprofile b {
  font-size: 18px;
}

.right-wrapper {
  width: 230px;
  height: 210px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: white;
}

div.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

b.title {
  color: gray;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

li {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}

li.recommend-li {
  display: flex;
  justify-content: space-between;
}

li img {
  padding-top: 10px;
}

li div {
  display: flex;
  gap: 10px;
  text-align: center;
}

div.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

div.time b {
  display: flex;
  justify-content: left;
}

b.follow {
  margin-top: 10px;
  color: #458eff;
  cursor: pointer;
}
