
.navigation {
   display: flex;
   justify-content: space-between;
   padding: 10px 200px;
   height: 50px;
}

.title {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.pic {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

main {
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    padding-top: 60px;
    height: 100vh;
    width: 100vw;
}

article {
    width: 560px;
    border: 1px solid #dedede;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nicknameImage {
    display: flex;
    height: 25px;
    padding: 10px 0;
    text-align: center;
}

.feedRight {
    display: flex;
    flex-direction: column;
    margin-right: 190px;
    margin-left: 50px;
    width: 20%;
}

.likeCommentShare {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    text-align: center;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    border: 1px solid #dedede;
    background-color: white;
    margin-top: 10px;
    padding-left: 10px;
    overflow: scroll;
}

.recommend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border: 1px solid #dedede;
    background-color: white;
    margin-top: 30px;
    padding-left: 10px;
    overflow: scroll;
}

.split {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.profile {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.withoutFollow {
    display: flex;
    justify-content: flex-start;
}

.positionOfComment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#seeall {
    font-weight: bold;
    display: flex-end;
}

#form {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30px;
    height: 30px;
}

.inside {
    height: 25px;
    width: 250px;
    opacity: 0.7;
    margin: auto 0;
    text-align: center;
}

.picture {
    width: 30px;
    height: 30px;
}


.feeds {
    margin-right: 40px;
}

.profileName {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
}

.userid {
    padding: auto;
    font-weight: bold;
}

.feedImage {
    width: 100%;
    height: 75%;
}

.fa-heart, .fa-comment, .fa-arrow-up-from-bracket, .fa-bookmark{
    margin-top: 10px;
    margin-left: 3px;
    width: 30px;
    height: 100%;
}

.fa-heart {
    margin-left: 5px;
}

.fa-bookmark {
    margin-left: 420px;
}

.comment {
    margin: 0;
    margin-left: 10px;
}

.addComment {
    border: none;
    border-top: 1px solid #dedede;
    width: 550px;
    padding: 0;
    padding-left: 10px;
    height: 50px;
}

.showProfile {
    width: 100%;
    height: 45px;
}

.wecode {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.myProfile {
    width: 100%;
    height: 45px;
}

.follow {
    margin: auto 0;
    color: skyblue;
}

#btn {
    border: none;
    background-color: white;
    border-top: 1px solid #dedede;
    color : blue;
}

@font-face {
    font-family: "인스타글씨";
    src: url(Lobster-Regular.ttf);
}

.westa {
    font-size: 30px;
    font-family: "인스타글씨";
}

.changeColor{
    color: gray;
    font-weight: normal;
}

.comments{
    overflow: scroll;

}

#btn:hover {
    cursor: pointer;
}