@import "reset.css";

/* 
.wrapper {
    width: 100vm;
} */
.header {
    width: 100%;
    height: 40px;
    padding: 0, 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center; 
} 
.header-left {
    font-family: 'Lobster', cursive;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;

}
h2 {
    display: flex;
}
.header-center {
    justify-content: center;
    flex: none;
}

h2::before {
    content:" ";
    margin: 0 0.4em;
    display: block; /* 가상요소는 inline요소이기 때문에 특정 영역을 가지기 위해서는 block */
    background-color: currentColor;
    width: 2px; 
    height: 1em;
    margin-top: 1px;
}

.header-right {
    margin: 0, 2px;
    
}
nav > ul > li {
    display : inline-block;
    margin: 0.8em;
}
img, i {
    width: 20px; 
} 
*/
