* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eee;
}

.instaLogo {
  width: 50px;
  border-right: 2px solid black;
  padding-right: 15px;
}

.logoBox {
  width: 60px;
}

.nav {
  display: flex;
  height: 60px;
  position: relative;
  top: 0;
  align-items: center;
  background-color: white;
}

.instaTitle {
  margin-left: 3px;
  font-family: "Lobster", cursive;
  font-size: 30px;
  font-weight: bold;
}

.inputBox::placeholder {
  text-align: center;
}

.searchBox {
  position: relative;
}

.rightIcon {
  margin-right: 20px;
  font-size: 30px;
}

.inputBox {
  width: 250px;
  height: 30px;
  border: 1px gray solid;
  background-color: rgb(241, 241, 241);
}

.feedBox {
  border: 1px solid rgb(182, 182, 182);
}

.image {
  width: 25px;
  height: 30px;
  border-radius: 50%;
}

.feedWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.feedTopBox {
  display: flex;
  width: 500px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box-margin {
  margin-left: 15px;
  margin-top: 5px;
}

.dot-margin {
  margin-right: 15px;
}

.mj {
  font-size: 10px;
}

.feedImage {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.commentWrapper {
  width: 500px;
  background-color: white;
}

.imageWrapper {
  height: 500px;
}

.fontWrapper {
  position: relative;
}

.leftIcon {
  margin-left: 15px;
  margin-top: 10px;
  color: rgb(85, 85, 85);
  font-size: 20px;
}

.bookmark {
  position: absolute;
  margin-right: 15px;
  margin-top: 10px;
  right: 0;
  font-size: 20px;
  color: rgb(85, 85, 85);
}

.smallImage {
  width: 17px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(182, 182, 182);
  margin-left: 0px;
}

.bold {
  font-weight: bold;
}

.likeWrapper {
  display: flex;
  height: 35px;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-items: center;
}

.likeComment {
  margin-left: 4px;
  font-size: 13px;
}

.input-Box {
  width: 500px;
  height: 50px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
  border-left: none;
  border-right: none;
  padding-left: 15px;
  outline: none;
}

.post {
  position: absolute;
  color: rgba(66, 66, 243, 0.548);
  right: 15px;
  top: 18px;
  font-size: 13px;
  background-color: white;
  border: none;
}

.inputWrapper {
  position: relative;
}

.add {
  color: rgb(182, 182, 182);
}

.dot {
  font-size: 13px;
}

.commentAdd {
  margin-left: 19px;
  margin-top: 5px;
}

.bottom-margin {
  margin-bottom: 0px;
}

.comment {
  height: 17px;
  position: relative;
}

.wecode {
  width: 50px;
  border-radius: 50%;
}

.wecodeWrapper {
  display: flex;
  align-items: center;
}

.rightWrapper {
  width: 300px;
}

.bootcampWrapper > h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.bootcampWrapper {
  margin-left: 10px;
  font-size: 13px;
}

.bootcampWrapper > span {
  color: rgb(165, 165, 165);
}

.story {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  padding: 10px;
}

.smallStory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: rgb(165, 165, 165);
}

.allSee {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.friendProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.imageRound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 0.5px solid transparent;
  background-image: linear-gradient(180deg, pink, purple);
  border-radius: 50%;
}

.recommand {
  margin: 5px;
}

.follow {
  color: rgba(61, 61, 255, 0.76);
  font-size: 13px;
}

.time {
  margin-left: 19px;
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  color: rgb(165, 165, 165);
  font-size: 13px;
}

.heart {
  position: absolute;
  right: 10px;
}

.heart:hover {
  color: red;
}

.fullHeart {
  position: absolute;
  right: 10px;
  color: red;
}

.deleteBut {
  display: none;
  position: absolute;
  right: 35px;
  border: none;
  outline: none;
  background: white;
  color: rgb(165, 165, 165);
  font-size: 12px;
}

.comment:hover .deleteBut {
  display: inline-block;
  cursor: pointer;
}

.recommendBox {
  position: absolute;
  width: 100%;
  max-height: 180px;
  overflow: scroll;
  background-color: white;
}

.recommendImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.recommendWrapper {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.profileUser {
  position: absolute;
  width: 200px;
  right: 10px;
  background-color: white;
}

.profileWrapper {
  position: relative;
}
