*{margin:0; padding:0; box-sizing:border-box; background:transparent; font-family:sans-serif; font-style: normal; font-weight:400; }
li{list-style:none;}
button,a{text-decoration: none; cursor:pointer; outline:0; border:0;}
.blind{position:absolute; width:1px; height:1px; overflow:hidden; clip:rect(0, 0, 0, 0);}
input::placeholder{color:#666;}

/* font */
@font-face {
    font-family: 'Lobster-Regular';
    font-weight:400;
    src: url(../font/Lobster-Regular.ttf) format('truetype');
}