.logo{
    font-size: 40px;
    margin-bottom: 40px;
}
.login-wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 30px;
    background: #fff;
    border: 1px solid #dbdbdb;
}
.login-wrap form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}
.input-area{
    width: 90%;
}
.input-area > input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
}
.input-area > input::placeholder{
    color: #999;
}
.input-area .notice{
    display: none;
    margin-bottom: 15px;
    font-size: 12px;
    color: red;
}
.input-area.error .notice{
    display: block;
}
.input-area.error input{
    border: 1px solid red;
}
.btn-login{
    width: 90%;
    padding: 8px 0;
    background: #0095f6;
    border: 1px solid #0095f6;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}
.btn-login:disabled{
    opacity: 0.5;
}
.link-text{
    font-size: 14px;
    color: #00376b;
    text-decoration: none;
}

