* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.fullScreen {
    height: 90%;
}

nav {
    width: 100%;
    border: 1px solid white;
}

main {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    display: flex;   
}

article {
    border: 1px solid rgb(163, 160, 160);
    width: 90%;
    margin: 20px auto;
}

.feeds {
    border: 1px solid white;
    width: 60%;
    max-height: 100%; 
    margin: 5px auto 0px auto;
}

.mainRight {
    border: 1px solid white;
    width: 35%;
    height: 95%;
    margin: 5px 15px 5px 15px;
}

.baking {
    width: 100%;
    height: 60%;  
}

.iconBox {
    display: flex;
    justify-content: space-between; 
}

.iconBox1, .iconBox2 {
    font-size: 30px;
}

.likePerson {
    width: 20px;
    height: 20px; 
    border-radius: 70%;
}

.like{
    font-size: 20px;
}

.more, .fourtyTwo {
    color: rgb(163, 160, 160);
}

.mj {
    margin-top: 10px;
}

.comment {
    font-size: 20px;
}

.commentBox {
    margin-top: 5px;  
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(163, 160, 160);
}

.inputComment {
    font-size: 20px;
    border: none;
    margin-left: 15px;
    margin-top: 5px;
}

.btn {
    font-size: 20px;
    border: none;
    color: lightblue;
    background-color: white;
    margin-right: 15px;
    margin-top: 5px;
}

.article {
    margin: auto 15px auto 15px;
}

.iconBox1 i:first-child {
    color: red;
}

.profile {
    width: 20px;
    height: 20px; 
    border-radius: 70%;
}

.master {
    display: flex;
    justify-content: space-between;
    margin: 3px 15px;
}


.name {
    margin-right: 600px;
}

.rightProfile {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
}

.rightInfo {
    display: flex;
    margin: 15px 25px;
    border: 1px solid white;
}

u {
    color: rgb(163, 160, 160);
    text-decoration: none;
}

.myName {
    margin: 8px 15px ;
    font-size: 13px;
}

.storyInfo {
    display: flex;
    margin: 15px 25px;
    border: 1px solid black;
    font-size: 13px;
    
}

.storyProfile {
    width: 30px;
    height: 30px; 
    border-radius: 70%;
    
}

.storyName {
    margin: 3px 7px ;
    font-size: 10px;
}

.story {
    max-height: 30%;
    overflow: scroll;
    margin: 15px 25px;
    border: 1px solid rgb(163, 160, 160);
}

.storyInfo2 {
    display: flex;
    margin: 12px 14px;
}

.storyInfo2 img{
    flex-basis: auto;
}

.storyInfo2 .storyName {
    flex: 1;
}

.storyInfo2 .follow {
    flex-basis: auto;
}

.follow {
    color: skyblue;
    font-size: 10px;
    /* margin-left: 225px; */
    margin-top: 7px;
    float: right;
}

.textFlex {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 5px 15px;
}

.recommend {
    max-height: 30%;
    margin: 15px 25px;
    border: 1px solid rgb(163, 160, 160);
    overflow: hidden;
}

.textRecommend {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 5px 15px;
    margin-right: 35px;
}

.etc, .copy{
    font-size: 13px;
    color:rgb(163, 160, 160);
    margin: 30px 35px;
}

nav {
    height: 7%;
}

.nav1 {
    font-size: 20px;
}

.navText {
    text-align: center;
}

.navFlex {
    display: flex;
    justify-content: space-between;
    margin: 8px 70px; 
}

.navIcon {
   margin-right: 60px;
}

.title {
    font-family: 'Lobster', cursive;
    border-left: 1px solid black;
    padding-left: 10px;
}

.instaMark {
    padding-right: 10px;
}

.navImg {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}