body {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fafafa;
}

/* cotainer_section */

.cotainer {
    width:80%;
    margin:0 auto;
    border:1px solid #e7e7e7;
    background:white;
    overflow: hidden;
}

.cotainer > section {
    margin-bottom: 10rem;
}

.logo {
    font-family: 'Lobster';
    font-size: 4rem;
    text-align: center;
    margin:2rem auto 4rem auto;

}

.login_box {
    width:100%;
    overflow: hidden;
}

.login_box > form {
    display:flex;
    flex-direction: column;
    width:80%;
    margin:0 auto;
}

.login_box input, .login_btn {
    padding: 9px 0 7px 8px;
    border-radius: 3px;
}

.login_box input{
    margin:0.2rem 0;
    border:1px solid #efefef;
    font-size: 16px;
    color:rgba(38, 38, 38, 1);
    background:#fafafa;
}

.login_box .password{
    margin-bottom:2rem;
}

.login_btn {
    border:none;
    color:white;
    font-weight: 500;
    background:#b8dffc;
}

/* footer */

footer {
    text-align: center;
    margin:1.5rem 0;
}

.forget_password{
    color:#00376b;
    font-size:1rem;
}
