* {
  box-sizing: border-box;
}

.westagram {
  font-family: "Lobster", cursive;
}

.container {
  margin: 100px auto;
  width: 500px;
  border: 2px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.westagram {
  font-size: 70px;
  margin-top: 50px;
}

.userinfo {
  margin-top: 50px;
}
.id,
.password {
  border: 2px solid #e6e6e6;
  margin-bottom: 15px;
  border-radius: 4px;
}

.inputid,
.inputpassword {
  width: 400px;
  border: none;
  height: 50px;
  background-color: #fafafa;
  padding: 0 10px;
  font-size: 16px;
}

.loginButton {
  width: 400px;
  margin-top: 10px;
  background-color: #c5e0fc;
  font-size: 22px;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 7px;
  margin-bottom: 170px;
}

.forget {
  margin-bottom: 40px;
}
a:visited {
  color: #003469;
}
