* {
  box-sizing: border-box;
}
.navbox {
  text-align: center;
}
.navigation {
  margin: 20px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftbox {
  display: flex;
  justify-content: space-between;
}

.rightbox {
  display: flex;
}

.instaicon {
  width: 35px;
  margin: auto;
}

.westagram {
  font-family: "Lobster", cursive;
  align-items: center;
  justify-content: center;
}

.centerbox {
}

.explore {
  width: 35px;
}

.heart {
  width: 35px;
}

.profile {
  width: 35px;
}
