nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.nav_midline {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    padding: 0px 5px;
}

.insta_logo {
    height: 25px;
    width: 25px;
}

.insta_name {
    border-left: 2px solid black;
    padding-left: 5px;
    margin-left: 7px;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

.nav_mid {
    position: relative;
}

.nav_mid input {
    border: 1px solid #EAEAEA;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    background-color: #FAFAFA;
}

.nav_mid input:focus {
    outline: none;
}

.input_search {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 65px;
    opacity: 0.5;
}

.nav_right {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.explore {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.alarm {
    display: flex;
    position: relative;
}

.heart_alarm {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.alarm_red {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 34px;
    left: 12.5px;
}

.my_account {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 1px;
}
