body {
  background-color: #fafafa;
}
input {
  display: block;
  width: 270px;
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}
input:focus {
  outline: 1px solid rgb(38,38,38);
}
.login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 32px;
}
.loginBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  align-items: center;
}
.loginBox .logoLink {
  position: absolute;
  height: 79px;
  top: 0px;
}
.loginBox .logoLink .logo {
  font-family: 'Lobster', cursive;
  color: rgb(38,38,38);
  cursor: pointer;
  font-size: 51px;
  line-height: 18px;
  margin: 70px auto;
}
.loginBox .loginInput {
  margin-top: 170px;
}
.loginBox .loginInput .idInput {

}
.loginBox .loginInput .pwInput {
 
}
.loginBox .loginBtn {
  width: 284px;
  height: 40px;
  background-color: #b2dffc;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  border: none;
  /* cursor: pointer; */

}
.loginBox a {
  position: absolute;
  bottom: 30px;
  text-decoration: none;
  color: #00376b;
}
.loginBox a:focus {
  color: #00376b;
}