@import "login.css";

body {
  background-color: #fafafa;
}

.login_wrapper {
  width: 450px;
  height: 500px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
}

.login {
  width: 450px;
  height: 500px;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_logo {
  padding: 20px 60px;
  font-size: 50px;
  font-family: "Lobster", cursive;
  text-align: center;
}

.login_input {
  display: flex;
  margin: 0px 40px;
  flex-direction: column;
}

.login_input input {
  margin-bottom: 15px;
  padding: 15px 10px;
  background-color: #fafafa;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
}

.login_input button {
  margin: 15px 0px;
  padding: 10px 0px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.login_input button:disabled {
  background-color: #c4e1fc;
}

.login_btn a {
  color: white;
  text-decoration-line: none;
}

.forget_pwd {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.forget_pwd a {
  text-decoration-line: none;
}
