/* 작성할 때, 배경색을 임의로 지정해놓고 하면 시각적으로 편함 */
.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  padding: 60px 175px;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 80px;
}

/* 로그인 레이아웃 */
.login {
  display: flex;
  flex-direction: column;
  margin: 0px 80px;
}

.login input {
  width: 530px;
  height: 60px;
  padding: 0px 20px;
  background-color: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 20px;
}

.login input:first-child {
  margin-bottom: 15px;
}

.login input::placeholder {
  color: #a1a1a1;
  font-size: 23px;
}

.login input:focus::placeholder {
  color: transparent;
}

.login input:focus {
  outline: none;
  padding: 0px 20px;
  font-size: 20px;
  border: 4px solid #0595f6;
}

.login__btn {
  height: 50px;
  margin-top: 25px;
  background-color: #c4e1fb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 600;
}

/* footer */
.footer {
  margin-top: 200px;
  text-align: center;
}

.footer a:visited {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
