
.wrap {
  height: 100vh;
}
.wrap .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f1f1f1;
}


.wrap .container .inner {
  width: 380px;
  height: 430px;
  padding: 10px 40px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e9e9e9;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;

}


h1.logo {
  font-family: Lobster;
}



.form {
  margin-bottom: 30px;
}


.form .inputbox {
  width: 100%;
  height: 45px;
  margin-bottom: 13px;
}
.form .inputbox input {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  font-size: 14px;
}



.form .buttonBox {
  display: flex;
  width: 100%;
  height: 40px;
}



.form .buttonBox .btn {
  width: 100%;
  height: 100%;
  background-color: #bfdffd;
  border: 1px solid #bfdffd;
  border-radius: 3px;
}
.form .buttonBox .btn  span {
  font-size: 16px;
  color: #fff;

}.wrap .container .inner .passWordForget {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.forgotpassword {
  font-size: 14px;
  color: #1275cc;
  text-decoration-line: none;
}


