/*navigator*/

.wrap {
  padding-top: 10px;
}


.nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #dbdbdb;

}


.westagram_lg {
  height: 30px;
  width: 30px;
  margin-top: 18px;
  margin-right: 14px;
}


.header_logo {
    font-family: lobster;
    font-weight: 200;
    font-size: 24px;
    margin-left: -180px;
    margin-top: 18px;
}

.input_search {
    height: 28px;
    width: 200px;
    margin-top: 23px;
    margin-right: 80px;
}



.explore_icon {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-right: 18px;
    
}


.heart_icon {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-right: 18px;
    
}

.profile_icon {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-right: 18px;
}

.icon_box {
    display: flex;
    justify-content: space-between;
}


/* main */
.main {
    display:flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
    

}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.feed {
    width: 598px;
    height: fit-content;
    border-top: 0.5px solid #dbdbdb;
    border: 0.5px solid #dbdbdb;
    border-radius: 2px;
    background-color: white;
    margin-right: 40px;
    

}
  
  .feed_id {
    position: relative;
    display: flex;
    justify-content: center;
    height: 68px;
  }

  .id_imgbox {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
  }
  

  .id_box {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0px;
    top:0px;
    width: 536px;
    height: 40px;
  }


  .id_place{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: 10px;
  }
  


  .id_img{
    width:32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .id_name {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
  }
  .place {
    font-size: 14px;
  }
  
  .more_details {
    position: relative;
    right: -550px;
    margin-top: 10px;
  }
  
  .more_details img {
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height: 35px;
  }
  .feed_picture {
    width: 598px;
    height: 598px; 
  }
  
  .feed_picture img {
    width: 598px;
    height: 598px;
    object-fit:cover;
  }



.emoticon_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0px;
  }
  
.emoticon_box2 {
    display: flex;
  }
.emoticon_box2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin: 0px;
  }
  
.emoticon_box2 img {
    width: 24px;
    height: 24px;
  }
.bookmark_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  
  }
  
.bookmark {
    width: 24px;
    height: 24px;
  }

.like_section {
    display: flex;
    border-top: 0.8px solid #dbdbdb;
    
    
  }

.like_people {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    margin-top: 0;
    
  }

.like_comment {
    left: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }

.like_comment2 {
    font-size: 14px;
    font-weight: bold;

  }
  
.like_profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  
.comment_info {
    display: flex;
    justify-content: flex-start;
    padding: 0 16px 0 16px;
    margin-top: -15px;
    margin-left: -8px;
  }


.comments_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

  }
  
.comment_id {
    font-size: 14px;
    line-height: 18px;
    padding: 2px;
    font-weight: bold;
  }

.comment_content {
    font-size: 14px;
    line-height: 18px;
    padding: 2px;
    margin-left: 10px;
  }
  
.feed_time {
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
    margin-left: 16px;
 
  }

.time {
    font-size: 12px;
    color: #adb5bd;
  }


ul.comments {
  margin-top: 4px;
}

ul.comments li {
  margin-left: -25px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 14px;

}

.span_user {
  font-weight: bold;
  margin-right: 10px;
}



img.comment_heart {
  width: 12px;
  height: 12px;
  margin-right: 14px;
}





/*input comment box*/

.input_box {
  border-top: 1px solid #DBDBDB;
  width: 598px;
 
}
/* comment input */
.input-comment {
  position: relative;
  font-size: 14px;
  width: 598px;
  height: 18px;
  padding: 28px 16px;
  border-style: none;
  box-sizing: border-box;
  color: #262626;
}


button.submit-comment {
  color: #0095f6;
  background-color: #fff;
  border-style: none;
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 4px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 11px;
  margin-left: -60px;


}



.submit-comment:disabled {
  color: #B9DFFC;
}



/*main right*/


  .main_right {
    top: 50px;
    right: 220px;
    width: 380px;
    height: 450px;
   
  }


.useprofilebox {
  display: flex;
  position: relative;


}
.userProfile {
  display: flex;
  position: relative;
  left: 20px;
  top: 16px;
  width: 30px;
}



.userImage {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: 10px;
  top: 15px;
}


.usercontent {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: 50px;
    top: -18px;
    width: 100px;
  }


.span-right {
  font-size: 16px;
  font-weight: 600;
}

.span-right2 {
  position: relative;
  font-size: 16px;
  font-weight: 200;
  color: #adb5bd;
}

.user_profile {
  width: 300px;
  height: 200px;
  background-color: white;
  border: 0.5px solid #dbdbdb;
  border-radius: 2px;
  overflow: hidden;
}


.user_profile2 {
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 21px;
}

.user_profile3 {
  margin-top: -20px;
  margin-left: 10px;

}

.user_profile4 {
  margin-top: -20px;
  margin-left: 10px;
}

.user_profile5 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 40px;


}

.user_profile6 {
  margin-left: 10px;
  margin-top: -20px;

}

.user_profile7 {
  margin-left: 10px;
  margin-top: -20px;

}

.story-box {
  display: flex;
  position: absolute;
  margin-top: 8px;
}


.story2 {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #adb5bd;
}


.story3 {
  margin-left: 180px;
  font-size: 14px;
  font-weight: 400;
}

.story4 {
  margin-left: 110px;
  font-size: 14px;
  font-weight: 400;
}




.userImage2 {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  
}


.usercontent2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: 50px;
    width: 300px;
    top:-32px;
  }


.span-right {
  font-size: 16px;
  font-weight: 600;
}

.span-right2 {
  
  font-size: 14px;
  font-weight: 600;
}


/* 오른쪽 두번째 박스 */

.user_profile1 {
    width: 300px;
    height: 180px;
    margin-top: 10px;
    background-color: white;
    border: 0.5px solid #dbdbdb;
    border-radius: 2px;
    overflow: hidden;


}

.span-right3 {
    margin-top: -30px;
    margin-left: 190px;
    font-size: 14px;
    font-weight: 400;
    color: #0095f6;
}



.footer {
  width: 300px;
  height: auto;

}

.script {
  font-size: 16px;
  color: #adb5bd
}