@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
  color: black;
}
