.wrapper {
  width: 80%;
  margin: 0 auto;
}

nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a img {
  width: 24px;
  height: 24px;
}

p {
  margin: 0;
}

.logo_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo_section * {
  margin-right: 10px;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 20px;
}

.instagram {
  width: 24px;
  height: 24px;
}

.search_section {
  position: relative;
}

.search_input {
  text-align: center;
}

.search_icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 5px;
}

.my_info_section a {
  margin-left: 5px;
}

.my_info_section img {
  margin-right: 5px;
}

main {
  padding: 60px 60px;
  display: flex;
}

.feeds_container {
  width: 60%;
  margin-right: 10px;
  padding: 20px 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

article {
  border: 1px solid gray;
}

.feeds_user_info,
.feeds_count_like_user {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.user_name {
  font-weight: bold;
}

.profile_img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 100%;
}

.feeds_content_img {
  width: 100%;
}

.feeds_icon_section {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.feeds_icon_section_left * {
  margin-right: 5px;
}

.like_img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
}

.feeds_user_content,
.comment,
.created_at {
  margin-left: 10px;
}

.created_at {
  color: gray;
  font-size: 14px;
}

.comment_input {
  width: 85%;
  margin: 10px 10px;
  padding: 0 5px;
  border: none;
}

.feeds_comment_register_section {
  margin-top: 15px;
  position: relative;
  border-top: 1px solid gray;
}

.comment_btn_register {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(7, 24, 255);
  background-color: white;
  border: none;
}

.comment_btn_register:disabled {
  opacity: 0.6;
}

.feeds_container_right {
  width: 40%;
  margin-left: 0;
  padding: 20px 0 10px 0;
  background-color: rgb(250, 250, 250);
  border: 1px solid gray;
}

.feeds_right_user_info {
  display: flex;
  align-items: center;
}

.right_profile_img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 100%;
}

.user_under_name {
  font-size: 12px;
  color: lightgray;
}

.feeds_right_story_section {
  margin: 20px 0;
  background-color: white;
  border: 1px solid lightgray;
}

.feeds_right_nav {
  margin: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.feeds_right_category {
  color: gray;
}

.feeds_right_view {
  font-size: 14px;
  font-weight: bold;
}

.user_profile_rectangle {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  background: linear-gradient(to top right, yellow, pink);
  border-radius: 100%;
}

.story_profile_img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 100%;
}

.feeds_right_user_info {
  margin-left: 10px;
}

.user_last_visit {
  font-size: 12px;
  color: lightgray;
}

.feeds_right_follow_section {
  margin-top: 20px;
  background-color: white;
  border: 1px solid lightgray;
}
