.wrapper {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/*  */

a img {
  width: 24px;
  height: 24px;
}

p {
  margin: 0;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoBox * {
  margin-right: 10px;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 20px;
}

.instagram {
  width: 24px;
  height: 24px;
}

.inputBox {
  position: relative;
}

.searchInput {
  text-align: center;
}

.searchIcon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 5px;
}

.myInfoBox a {
  margin-left: 5px;
}

.myInfoBox img {
  margin-right: 5px;
}

main {
  display: flex;
  padding: 60px 60px;
  background-color: rgb(250, 250, 250);
}

.feeds {
  width: 60%;
  margin-right: 10px;
  padding: 20px 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

article {
  border: 1px solid gray;
}

.userInfo,
.countLike {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.userName {
  font-weight: bold;
}

.profileImg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 100%;
}

.contentImg {
  width: 100%;
}

.sectionBtn {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.Btn_left * {
  margin-right: 5px;
}

.likeImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
}

.userContent,
.comment,
.createdAt {
  margin-left: 10px;
}

.createdAt {
  color: gray;
  font-size: 14px;
}

.commentInput {
  width: 85%;
  margin: 10px 10px;
  padding: 0 5px;
  border: none;
}

.commentRegist {
  position: relative;
  margin-top: 15px;
  border-top: 1px solid gray;
}

.registerBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(7, 24, 255);
  background-color: white;
  border: none;
}

.registerBtn:disabled {
  opacity: 0.6;
}

.main-right {
  width: 40%;
  margin-left: 0;
  padding: 20px 0 10px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
}
