.login {
  text-decoration: none;
}
/* #loginContainer > */
#loginContainer {
  width: 440px;
  height: 449px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

/* #loginContainer > #loginWrapper > */
#loginWrapper {
  width: 400px;
  height: 409px;
  background-color: white;
  border-radius: 15px;
}

#windowJob {
  width: 100%;
  height: 34px;
  padding: 5px;
  margin-top: 12px;
  padding: 0px 12px;
  position: relative;
}

#windowJob > #closeImage {
  width: 18px;
  font-weight: bold;
  float: right;
  margin: 8px;
}

/* #loginContainer > #loginWrapper > #loginInner > */
#loginInner {
  height: 363px;
}

#title {
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 40px;
}

/* #loginContainer > #loginWrapper > #loginInner > loginFormWrapper > */
#loginFormWrapper {
  width: 350px;
  margin: 0 auto;
}

#loginForm {
  margin-top: 28px;
}

#loginForm > .loginElement {
  width: 270px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

#loginForm > .loginElement > * {
  width: 100%;
  padding: 9px 0px 7px 8px;
  margin-bottom: 6px;
}

#loginForm > .loginElement > input {
  border: 1px solid #dfdfdf;
  height: 36px;
  background-color: #fafafa;
}

#loginForm > .loginElement > #loginSpan {
  font-size: 12px;
}

#loginForm > .loginElement > #loginSpan2 {
  font-size: 12px;
  text-align: center;
}

#loginForm > .loginElement > button {
  height: 32px;
  margin: 8px 0px;
  padding: 0;
  border: 1px solid #c4e1fb;
  border-radius: 10px;
  background-color: #c4e1fb;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
