/* main common */
body {
  padding: 0px 10%;
}

.header-icon {
  width: 24px;
}

.font-bold {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

.feed-icon {
  width: 24px;
  height: 24px;
  border-radius: 500px;
  overflow: visible;
}

/* header > */
header {
  position: fixed;
  width: 80%;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 1;
}

header > ul {
  list-style: none;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  font-size: 24px;
}

/* header > .home > */
.home__img {
  margin: 0px 10px;
}

.home__span-font {
  border-left: 1px solid gray;
  padding-left: 10px;
  margin-left: 5px;
}

/* header > .search > */
.search__box {
  position: relative;
}

.search__input {
  background-image: url("../images/search.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 50px center;
  background-color: #efefef;
  text-align: center;
  border: 1px solid black;
  height: 24px;
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.search__result-area {
  display: none;
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 100%;
  background-color: white;
  box-shadow: 10px 10px 40px 1px #d3d3d3;
  font-size: 14px;
  text-align: center;
  border-radius: 12px;
}

/* header > .nav > */
.nav__account:hover {
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav > div {
  padding-left: 20px;
  position: relative;
}
.nav__account-menu {
  position: absolute;
  width: 200px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 10px 10px 40px 1px #d3d3d3;
  right: 1%;
  display: none;
  background-color: white;
  font-size: 14px;
  text-align: center;
}

.nav__account-menu p {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}

.nav__account-menu:last-child {
  border-bottom: none;
}

/* main > */
main {
  padding-top: 82px;
}

/* main > article > */
main > article {
  float: left;
  width: 670px;
  padding: 40px 60px;
  border-bottom: 1px solid gray;
}

/* main > article > feeds > */
.feeds__nickname {
  position: relative;
}

.feeds__nickname-inner {
  height: 40px;
  margin: 8px;
  display: flex;
  align-items: center;
}

.feeds__nickname-inner > img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 5px;
}

.feeds__add-option {
  position: absolute;
  right: 10px;
  top: 10px;
}

.feeds__add-option > img {
  border: none;
}

.feeds__main-image > img {
  width: 100%;
}

.feeds__icon {
  height: 50px;
  padding: 10px;
}

.feeds__interaction {
  width: 50%;
  float: left;
}

.feeds__bookmark {
  width: 5%;
  float: right;
}

.feeds__good {
  display: flex;
  align-items: center;
}

.feeds__good > img {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin: 0px 10px;
}

.feeds__contents {
  padding: 10px;
  font-size: 14px;
}

.feeds__reply-count {
  display: none;
}

.feeds__reply-area {
  display: none;
  margin: 20px 0;
}

.feeds__reply__input {
  position: relative;
}

.feeds__reply__value {
  width: 100%;
  resize: none;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}

.feeds__reply__post {
  position: absolute;
  right: 3%;
  color: #979797;
  font-size: 14px;
  display: none;
}

.feeds__reply__post:hover {
  cursor: pointer;
}

/* aside */
aside {
  right: 10%;
  width: 300px;
  position: fixed;
}

.aside__me {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.aside__me-icon {
  width: 56px;
  height: 56px;
  border-radius: 500px;
  overflow: hidden;
}

.aside__me-font {
  padding: 10px;
  font-weight: 600;
}

.aside__box {
  border: 1px solid #a9a9a9;
  padding: 5px;
  height: 206px;
  overflow: scroll;
  margin-bottom: 40px;
}

.aside__title-left {
  font-size: 14px;
  color: #8f8f8f;
  font-weight: 600;
  float: left;
}
.aside__title-right {
  font-size: 12px;
  color: #262626;
  font-weight: 600;
  float: right;
}

@media screen and (max-width: 1200px) {
  main > article {
    float: none;
    margin: 0 auto;
  }

  aside {
    display: none;
  }

  .search__input {
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .home__img {
    display: none;
  }

  .home__span-font {
    border-left: none;
  }
}
