body {
    background-color: #fafafa;
}

.loginContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 348px;
    height: 358px;
    margin-left: -174px;
    margin-top: -179px;
    border: 1.5px solid #E6E6E6;
    background-color: #fff;
    text-align: center;
}

.title {
    margin-top: 45px;
    font-size: 45px;
    margin-bottom: 50px;
}

.userInfo {
    margin-bottom: 45px;
}

.userID, .userPW {
    width: 266px;
    height: 36px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
}

.userPW {
    margin-bottom: 10px;
}

.userInfo input:focus{
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    outline : none;
}

.loginBtn {
    width: 268px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #c0dffd;
    border-radius: 4px;
}

.loginBtn.active {
    background-color: #0095f6;
    cursor: pointer;
    font-weight: bold;
}

.loginBtn a {
    display: block;
    padding: 0;
}

.findPW {
    font-size: 12px;
    margin-bottom: 40px;
    color: #01376a;
    cursor: pointer;
}
