.container {
    width: 500px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: -1px 1px 13px 15px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: -1px 1px 13px 15px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: -1px 1px 13px 15px rgba(0, 0, 0, 0.13);
    margin: 50px auto;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Carter One", cursive;
    font-weight: bold;
    border: 700;
    outline: none;
}
input,
button {
    border-radius: 5px;
}
input {
    width: 350px;
    padding: 15px 5px;
    margin: 3px auto;
    outline: none;
    border: 1px solid #efefef;
    background-color: #fafafa;
    color: #999999;
}
button {
    width: 365px;
    padding: 10px;
    border: none;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #c5e1fa;
    color: #fff;
    cursor: pointer;
}
button a {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
}
p {
    text-align: center;
    color: #043667;
    margin-top: 200px;
}
p a {
    color: inherit;
    text-decoration: none;
}
