
.container {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
}

.westagram-logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 40px 0;
    width: 400px;
    text-align: center;
}

.login {
    width: 270px;
    padding: 10px 7px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(251, 251, 251);
    
}

.login::placeholder {
    color: rgb(138, 138, 138);
    font-size: 12px;
}

#login-button{
    margin-top: 10px;
    width: 270px;
    background-color: #0095F6;
    border : none;
    border-radius: 3px;
    color: white;
    padding: 10px 0;
}

#login-button:hover:enabled {
    cursor: pointer;
}

#login-button:disabled {
    opacity: 0.5;
} 

.forgot-pw {
    margin-top: 70px;
    font-size: 13px;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: #FAFAFA;
}

footer {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;

}