nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 0.5px solid #DBDBDB;
    position: fixed;
    top: 0;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 975px;
    height: 55px;
    padding: 0 20px; 
    background-color: white;
}


.westagram-logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    flex: 4;
}

.serch-bar-container{
    display: flex;
    flex: 3;
    justify-content: center;
    position: relative;

}


.search-bar {
    background-color: #EFEFEF;
    width: 260px;
    height: 37px;
    padding: 0px 16px;
    border : none;
    border-radius: 10px;
    font-size: 15px;
}

.search-bar::placeholder {
    font-size: 15px;
    font-weight: 100;
    padding-left: 25px;
    
}

#mgnifying-glass {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.4;
}

.icon-container {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.icon {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.profile {
    border-radius: 70%;
}

main {
    width: 100vw;
    height: 130vh;
    background-color: #FAFAFA;
}

.total-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}



.story-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 470px;
    height: 120px;
    background-color: white;
    border: 0.5px solid #DBDBDB;
    border-radius: 10px;
    
}

.user-container-story {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.profile-story {
    width: 66px;
    height: 66px;
    border-radius: 60%;
    background: 
    linear-gradient(white 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to left, #DA3ECC, #FFC501) border-box;
    padding: 2px;
    color: #313149;
    border: 3px solid transparent;

}

.user-name-story {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}




.feed-main-container{
    margin-top: 20px;
    border: 0.5px solid #DBDBDB;
    border-radius: 10px;
    background-color: white;

}

.feed-header{
    display: flex;
    height: 58px;
}

.profile-feed-section{
    flex: 1;
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

#profile-icon-feed {
    width: 42px;
    height: 42px;
    border-radius: 60%;
    background: 
    linear-gradient(white 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to left, #DA3ECC, #FFC501) border-box;
    padding: 1px;
    border: 0.18em solid transparent;

}

.id-location-section{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: flex-start;
    height: 100%
}

.id-in-feed{
    font-size: 14px;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: end;
}

.location-in-feed{
    font-size: 12px;
    font-weight: 400;
    flex: 1;
    color: #8E8E8E;
    padding-top: 2px;
}


.more-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#more-icon {
    width: 16px;
    height: 16px;
}

.feed-container {
    width: 470px;
    height: 587.5px;

}

#feed-image {
    width: 470px;
    height: 587.5px;
}

.feed-icon{
    display: flex;
}

.first-icon-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;
    flex: 2;
}

.first-icon-section > span {
    width: 30px;
    height: 30px;
    padding: 8px;
}

#like {
    background-image: url(../image/insta.png);
    background-position: -26px 101px;
}

#reply {
    background-image: url(../image/insta.png);
    background-position: -58px 100px;
}

#dm {
    background-image: url(../image/insta.png);
    background-position: -89px 101px;
}

.second-icon-section {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 6;
}

#save {
    width: 30px;
    height: 30px;
    padding: 8px;
    margin-right: 10px;
    background-image: url(../image/insta.png);
    background-position: -120px 101px;
}

.feed-like {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;}

.feed-like-profile>img{
    width: 24px;
    height: 24px;
    margin: 5px 5px 5px 15px;
}

.feed-like-text{
    font-size: 14px;
}

.userOfFeed {
    font-weight: 650;
    padding-right: 5px;
}

#inlike{
    padding-right: 0;
}

.feed-contents-section{
    font-size: 14px;
    padding-left: 15px;
}

.feed-contents-container{
}

#more {
    color: #8E8E8E;
}



.feed-comment {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    padding-left: 15px;

}

.userOfComment-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 650;
}

.userOfComment{
    padding: 5px 5px 0 0; 
}

.commentOfUser-container {
    display: flex;
    flex-direction: column;

}

.commentOfUser{
    padding-top: 5px;

}


.feed-time {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 10px;
    color: #8E8E8E;

}

.feed-comment-box-section{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 0.5px solid #DBDBDB;
}

.emoji-icon-container{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-icon {
    width: 20px;
    height: 20px;
}

.comment-box {
    width: 100%;
    height: 100%;
    border: none;
}

.comment-enter-button {
    width: 50px;
    height: 35px;
    border: none;
    background-color: white;
    border-radius: 60%;
    color: #0095F6;
}

.comment-box:focus{
    outline: none;
}

.comment-enter-button:hover:enabled {
    cursor: pointer;
}

.comment-enter-button:disabled {
    opacity: 0.5;
}

.aside-container {
    position: sticky;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    top: 90px;
    margin: 30px 0 0 20px;
    height: 500px;
}

.aside-header {
    width: 320px;
    height: 80px;
    display: flex;
    align-items: center;
}

.aside-profile-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-profile-container > img{
    width:56px;
    height:56px;
    border-radius: 60%;
}

.aside-id-container {
    flex: 2;
    padding-left: 10px;
}

.aside-id {
    font-size: 15px;
    font-weight: 600;

}

.aside-change-button-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.aside-change-button-container > button {
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
    background-color: #FAFAFA;
    border: none;
}

.aside-main{
    display: flex;
    flex-direction: column;
}

.aside-recommend{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.aside-reco-forme{
    flex:4;
    font-size: 14px;
    font-weight: 600;
    color: #8F8F8F;
    padding-left: 10px;

}

.aside-reco-viewall{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.aside-reco-viewall > button {
    font-size: 12px;
    font-weight: 600;
    background-color: #FAFAFA;
    border: none;
}

.aside-reco-user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reco-user-profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.reco-user-profile {
    width: 32px;
    height: 32px;
    border-radius: 60%;
}

.reco-user-container{
    display: flex;
    flex-direction: column;
    flex: 4;
}

.reco-user {
    width: 100%;
    
}

.reco-user#id{
    font-size: 14px;
    font-weight: 600;
    padding: 2px;
}

.reco-user#follower{
    font-size: 12px;
    color: #8E8E8E;
    padding: 1px;

}

.reco-user-follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.reco-user-follow-button > button {
    background-color: #FAFAFA;
    border: none;
    color: #0095F6;
    font-size: 12px;
    font-weight: 600;
}

.aside-button:hover {
    cursor: pointer;
}

.aside-footer{
    margin-top: 15px;
    font-size: 12px;
    margin-left: 10px;
    color:#CECECE;
}

.blank-container {
    width: 320px;
    height: 425px;
    margin: 30px 0 0 20px;
}