* {
  box-sizing: border-box;
  padding: 10px;
}
body {
  background-color: #fafafa;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 800px;
  border: 2px solid #eaeaea;
  border-radius: 3px;
  background-color: white;
}
.logo {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: 100;
}
.id {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 2px solid #eaeaea;
  color: #8e8e8e;
  padding: 10px 10px;
}
.password {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 2px solid #eaeaea;
  color: #eaeaea;
}
.account {
  display: block;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #c0dcfb;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.bottom {
  margin-top: 296px;
  color: #01376a;
  cursor: pointer;
}
.active {
  background-color: blue;
}