*{
  box-sizing:border-box;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}


body, button, input {
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

