* {
  box-sizing:border-box;
}

main {
  
  width: 350px;
  height: 380px;

}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBox {
  margin-top: auto;
  padding-top: 15%;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 22px 86px 12px;
}

input {
  width: 258px;
  height: 36px;
  background-color: #fafafa;
  border: 1px solid #DBDBDB;
  padding: 9px 0px 7px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

#loginBtn {
  width: 258px;
  height: 36px;
  color: white;
  background-color: #0095F6;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pwFindBtn a {
  text-decoration: none;
  font-size: 15px;
} 