body {
  background-color: #DBDBDB;
  height: 100%;
}

main .container {
  background-color:  white;
}
 
nav img {
  width: 20px;
  height: 20px; 
  display: inline-block;
  margin-left: 10px;
}

header .navContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  border: 1px solid #DBDBDB;
}

.navLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav h1 {
font-family: 'Lobster', cursive;
font-size: 20px;
font-weight: lighter;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 10px;
margin-left: 10px;
border-left: 1px solid #DBDBDB;
}

.searchingBarContainer {
  position: relative;  
}

.searchingIcon {
  position: absolute;
  left: 10px;
  top: 1px;
}

.searchingBar {
  border: 1px solid #DBDBDB;
  padding-left: 10px;
}

input::placeholder {
  padding-left: 20px;
}

.fa-search {
  color: #DBDBDB;
  font-size: 15px;
}

.feedHeader {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.feedProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
}

.fa-ellipsis-h {
  padding-right: 10px;
}

.contentImg {
  width: 100%;
  height: 760px;
}

a {
  text-decoration: none;
  color: black;
}

.feedNav i {
  padding: 5px 5px 5px 5px;
  font-size: 20px;
}

.feedNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentBox {
  border: 1px solid #DBDBDB;
  width: 600px;
}