body {
  background-color: black;
}


nav img {
  width: 20px;
  height: 20px; 
  display: inline-block;
}

header .navContainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  border: 1px solid #DBDBDB;
  padding: 20px;
}

.navLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav h1 {
font-family: 'Lobster', cursive;
font-size: 20px;
font-weight: lighter;
margin-top: 50px;
margin-bottom: 30px;
padding-left: 10px;
margin-left: 10px;
border-left: 1px solid #DBDBDB;
}

div .searchingBarContainer {
  position: relative;
}

.searchingBar {
  border: 1px solid #DBDBDB;
}

.fa-search {

  left: 50px;
  color: #DBDBDB;

}

.profilePicture {
  width: 30px;
  height: 30px;
}