/** @format */

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
}

nav {
  width: 100%;
  /* height: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgrey;
  background-color: white;
}

#logo-container {
  width: 120px;
  margin: 10px 0;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-a {
  margin-top: 5px;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.fa-instagram {
  font-size: 20px;
  color: black;
}

#line {
  height: 25px;
  position: relative;
  border: 0;
  border-right: 1px solid black;
}

.instagram-a {
  width: 70px;
  height: 30px;
}

#instagram {
  width: 100%;
  height: 100%;
}

#input-container {
  width: 170px;
  height: 25px;
  border: 1px solid #fafafa;
  border-radius: 3px;
}

#input {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  color: darkgrey;
}

#input::-webkit-input-placeholder {
  background-image: url(http://www.clker.com/cliparts/w/r/Q/0/x/D/search-icon-light-grey-hi.png);
  background-size: 6%;
  background-position: 55px center;
  background-repeat: no-repeat;
  text-align: center;
  text-indent: 0;
  color: lightgrey;
}

#icon-container {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  width: 18px;
  height: 18px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 45px 85px;
}

#feeds-container {
  width: 450px;
  height: 100%;
  border: 1px solid lightgrey;
}

#aside {
  margin: 0 15px;
  width: 180px;
  height: 350px;
}

#feeds {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

#owner {
  height: 35px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#profile-container {
  width: 100px;
  height: 20px;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.circle-icon {
  width: 25px;
  height: 25px;
  border: 0.1px solid lightgrey;
  border-radius: 50px;
  object-fit: cover;
}

.owner-name {
  color: black;
  font-size: 3px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

#more {
  margin-right: 5px;
  position: relative;
  bottom: 5px;
}

#picture-container {
  height: 446px;
  width: 100.25%;
}

#picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contents-container {
  /* height: 100%; */
  /* width: 100%; */
  background-color: white;
  padding: 0 5px;
}

#contents-icons {
  height: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  padding: 0 5px;
}

#left-icons {
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  /* height: 28px; */
  /* padding-bottom: 8px; */
}

#likes-icon {
  margin-left: 5px;
}

.contents-reply {
  font-size: 3px;
  margin-left: 5px;
}

.small-icon {
  height: 17px;
  width: 17px;
}

#reply {
  /* width: 100%; */
  /* height: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reply-owner {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#more-button {
  font-size: 3px;
  color: grey;
}

.reply-friends {
  position: relative;
  bottom: 3px;
  /* width: 100%; */
  /* height: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reply-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#white-heart {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.minutes-before {
  height: 20px;
  margin-left: 5px;
  color: grey;
  font-size: 3px;
}

#reply-container {
  height: 30px;
  border-top: 1px solid lightgrey;
  background-color: white;
}

.input-reply {
  margin-left: 7px;
  width: 91%;
  height: 95%;
  font-size: 10px;
  border: 0;
}

input:focus {
  outline: none;
}

.upload-a {
  font-size: 10px;
  font-weight: bold;
  color: rgb(144, 223, 247);
  text-decoration: none;
  border: none;
  background-color: white;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 10px;
}

.top-icon {
  height: 35px;
  width: 35px;
}

.top-names {
  font-size: 3px;
  margin: 5px 38px 0px 0px;
  font-weight: bold;
}

.top-names-light {
  color: grey;
}

.story {
  background-color: white;
  height: 153px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid grey;
  overflow: hidden;
}

.story-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}

.story-top-left {
  color: grey;
}

.story-bot {
  /* display: block; */
  padding: 0 5px;
  height: 100%;
}

.story-feed {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.story-feed-right {
  margin-left: 5px;
  margin-top: 3px;
}

.story-topname {
  font-size: 3px;
  font-weight: bold;
}

.story-botname {
  padding-left: 1px;
  color: grey;
  font-size: 3px;
}

.recommend {
  margin-top: 10px;
  height: 130px;
}

.follow {
  position: relative;
  left: 28px;
  color: rgb(94, 164, 255);
}

.rec-bot {
  padding-bottom: 5px;
}

.info {
  margin-top: 15px;
  color: grey;
  font-size: 3px;
}

.corp {
  margin-top: 15px;
}
