h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

form{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.loginContainer {
    position: relative;
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 400px;
}

.idInput, .passwordInput {
    color: #9595a0;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    width: 258px;
    height: 36px;
    margin-bottom: 8px;
    border-radius:5px;
}

.loginButton {
    background-color: #b2dffc;
    border: 0px;
    border-radius: 5px;
    width: 265px;
    height: 30px;
    color: white;
}

.forgotPassword{
    height: 100px;
    padding-top: 80px;

}

.forgotPassword a{
    color: #385185;
    text-decoration: none;
}

