@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.wrap .container .inner .header .logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.wrap {
    height: 100vh;
    background: #f1f3f5;      /* wrap이랑 container가 어떻게 다르게 되는지 모르겠음
                                   여기서 바꿔도 아무런 변화가 없음..      */
}

.container {
    display: flex;
    justify-content: center;        /*space-evenly, space-around도 가운데로 정렬해줌*/
    align-items: center;
    height: 100%;
    background: #dbdbdb;

}


.inner {
    width: 400px;
    height: 450px;
    padding: 10px 40px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dbdbdb;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.form {
    margin: 30px 0;
}
#userID, #userPW {          /*이렇게하면 동시에 효과 주는것 */
    margin-bottom: 10px;
    padding:10px;
}

.input-box {
    width: 100%;
    height: 45px;
    margin-bottom: 100px;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 15px;
}

.button_box {
    display: flex;
    width: 100%;
    height: 40px;
}


.btn {
    width: 100%;
    height: 100%;
    background-color: #bfdffd;
    border: 1px solid #bfdffd;
    border-radius: 4px;
}

.btn span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.forgotPW {
    display: flex;
    justify-content: center;   /* 얘는 왜 align-items: center; 안해줘도 센터로 오지? */
    margin-top: 40px;
}

.forgotPW span {
    font-size: 14px;
    color: #003768;
}