*{
    box-sizing:border-box;
}

body{
    font-family: 'Lobster', cursive;
    text-align:center;
    margin-top:100px;
}

.container {
    height:500px;
    width:400px;
    border:3px solid lightgray;
    margin: 0 auto;
    position:relative;
}

p {
    font-size:50px;
}

.userinformation{
    position:relative;
}

input{
    margin:5px auto;
    background-color:lightgray;
    border-radius:5px;
    width:300px;
    height:30px;
}

#login-btn {
    width:300px;
    height:30px;
    border:none;
    background-color:lightblue;
    opacity:0.5;
    margin-top:10px;
    border-radius:5px;
    color:white;
}

.forgot {
    display:flex;
    justify-content:center;
}

a{
    position:absolute;
    bottom:80px;
}

a:visited {
    color:blue;
}