@font-face {
    font-family: "Lobster";
    src: url(/westagram/Lobster-Regular.ttf) format("opentype");
}

body
{
  background-color:rgb(245, 245, 245);
  padding:0%;
  
}

nav{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid gainsboro;
    background-color: white;

    padding: 10px;

    font-family:"Lobster";
    font-size: 30pt;

}

.nav_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_heart{
    margin-left: 10px;
    margin-right: 10px;
}



.westagram_logo{

    border-left: 2px solid black;

    margin-left: 20px;
    padding-left: 10px;
    
}

input[id='search']{
    text-align: center;
}

main{

    display:flex;
    /* border: 1px solid black; */
    
    /* background-color: gainsboro; */


}

.main-feeds{
    
    /* border: 1px solid red; */
    background-color:rgb(245, 245, 245);
    width: 60%;

    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;

}

article{
    border: 1px solid gainsboro;
    background-color: white;

    width: 500px;

}

.article_head{
    display: flex; 
    justify-content: space-between; 

    padding: 10px;
}

.article_profile{
    display: flex;
    align-items: center;
}

.article_react_icon{
    display:flex;
    justify-content: space-between;

    padding:7px;
    
}
.article_react_icon i{
    font-size: 30px;
}

.article_react_icon_right{
    display:flex;
    justify-content: space-between;

    width: 120px;
}

.article_like{
    display: flex;
    align-items: center;
    
    padding:7px;
    padding-top: 0;
}

.article_content{
    display: flex;

    padding: 7px;
    padding-bottom: 0;
}

.article_content_more{
    display: flex;
    align-items:end;

    color:gray;
    font-size: 14px;

}

#article_reply
{
    padding:7px;
    padding-bottom: 0;
}

#article_reply_add{
    display: flex;
    justify-content: space-between;

}

.article_time{
    border-bottom: 1px solid gainsboro;

    padding-left:7px;
    padding-bottom: 7px;
    color:gray;
}

.article_reply{
    display: flex;
    justify-content: space-between;
    padding:7px;
}

#reply_txt{
    border:none;
    outline:none;
    width:90%;
}


#reply_button{
    border:none;
    background-color: blue;
}


.main-right{
    flex-grow: 1;

    /* border: 1px solid blue; */
    background-color:rgb(245, 245, 245);

    padding-left: 1%;
    padding-top:50px;
    

}

.side_profile{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.profile_id{
    padding-left: 10px;

}

.story{
    

    border: 1px solid gainsboro;
    background-color: white;
    
    margin-bottom: 10px;
    padding: 10px;

    width: 250px;
    
    
}

.story_domain{
    display:flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.story_profile{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.recommendation{

    border: 1px solid gainsboro;
    background-color: white;
    
    margin-bottom: 10px;
    padding: 10px;

    width: 250px;
  
}

.recommendation_domain{
    display:flex;
    justify-content: space-between;

    margin-bottom: 20px;

}

.recommendation_profile{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}


