* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.icon {
  position: relative;
}

.search {
  width: 250px;
  height: 30px;
  text-align: center;
}

.bi-search {
  position: absolute;
  color: #757575;
  font-size: 12px;
  top: 22%;
  right: 60%;
}

.search::placeholder {
  text-align: center;
}

.search:focus::placeholder {
  color: transparent;
}
.imgs {
  display: flex;
}

.imgs img {
  padding: 0 20px;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.menu_box {
  position: absolute;
  right: 200px;
  width: 180px;
  border: 1px solid;
  color: black;
  visibility: hidden;
  transition: 0.3s ease-out;
  opacity: 0;
}

.menu_box.clicked {
  background-color: white;
  visibility: visible;
  transition: 0.3s ease-out;
  z-index: 10;
  opacity: 1;
}

.menu_box ul {
  list-style: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding-left: 10px;
}

.menu_box li {
  padding: 0 0 10px 0;
}

.menu_box i {
  padding-right: 10px;
}

.menu_box p {
  padding-left: 10px;
}

main {
  display: flex;
  justify-content: center;
}

.feeds {
  width: 40%;
  margin: 10px 10px;
}

.article {
  width: 90%;
  margin: 10px auto;
}

.article img {
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.information {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.profile p {
  font-weight: bold;
}

.content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  font-size: 30px;
}

.emotion {
  cursor: pointer;
}

.commentSection {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.commentSection img {
  width: 30px;
  height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.commentSection p {
  padding: 0;
  margin: 0;
}

.contents {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.contents button {
  margin-right: 10px;
  border: none;
  font-size: 20px;
  background-color: none;
}

#comment_content {
  height: 150px;
  overflow: auto;
}

#comment_content::-webkit-scrollbar {
  width: 8px;
}

#comment_content::-webkit-scrollbar-thumb {
  height: 30%;
  background: green;
  border-radius: 10px;
}

#comment_content::-webkit-scrollbar-track {
  background: wheat;
}

.wrap {
  position: relative;
  padding: 5px 13px;
}

#comment {
  width: 100%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#comment:focus {
  outline: none;
}

#postingBtn {
  position: absolute;
  right: 20px;
  top: 9px;
  background-color: white;
  border: none;
}

.main-right {
  width: 30%;
  margin: 10px;
}

.story {
  width: 75%;
  height: 250px;
  border: 1px solid #c3c0c0;
  margin: 10px;
  overflow: auto;
  padding: 10px;
}

.story::-webkit-scrollbar {
  width: 8px;
}

.story::-webkit-scrollbar-thumb {
  height: 30%;
  background: green;
  border-radius: 10px;
}

.story::-webkit-scrollbar-track {
  background: wheat;
}

.story_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story_header p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #757575;
}

.story_header strong {
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.user .bi-person-square {
  font-size: 30px;
  padding-right: 5px;
}

.suggestion {
  display: flex;
  align-items: flex-start;
  margin: 16px 10px;
}

.suggestion .bi-person-square {
  font-size: 30px;
  padding-right: 10px;
}

.suggestion p {
  margin: auto 0;
}

.hearts {
  margin: 10px;
  font-size: 18px;
}

.recommendation {
  width: 75%;
  height: 250px;
  border: 1px solid #c3c0c0;
  margin: 10px;
  overflow: auto;
  padding: 10px;
}

.recommendation::-webkit-scrollbar {
  width: 8px;
}

.recommendation::-webkit-scrollbar-thumb {
  height: 30%;
  background: green;
  border-radius: 10px;
}

.recommendation::-webkit-scrollbar-track {
  background: wheat;
}

.upThumbs {
  color: rgb(233, 233, 68);
}

@media (max-width: 768px) {
  .main-right {
    display: none;
  }
  .search {
    width: 180px;
    height: 30px;
    text-align: center;
  }
  .feeds {
    width: 100%;
    margin: 10px 10px;
  }
  .menu_box.clicked {
    background-color: white;
    visibility: visible;
    transition: 0.3s ease-out;
    z-index: 10;
    opacity: 1;
    right: 0;
  }
  .instagram_img {
    width: 250px;
  }
}
