@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 40%;
  height: 800px;
  padding: auto;
  margin: 20px auto;
  background-color: #fafafa;
}

form {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 3px solid #e6e6e6;
  position: relative;
  margin: auto;
  background-color: white;
}

form span {
  font-size: 90px;
}

form h1 {
  font-family: "Lobster", sans-serif;
  font-size: 65px;
  margin: 55px 0;
}

form input {
  width: 75%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  color: black;
  border: 1px solid gainsboro;
  padding: 20px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #999999;
}

form button {
  width: 75%;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #c4e1fb;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

form a {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  color: #1f4d7b;
  text-decoration: none;
  font-weight: 600;
}
