@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
}

img {
  width: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #262626;
  letter-spacing: 0.1px;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}

h4,
h5 {
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

a:link {
  text-decoration: none;
}
