body {
  background: #fafafa;
}

main nav {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.basic-navi {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.basic-left {
  display: flex;
  cursor: pointer;
}

.basic-left > :first-child {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.basic-left > :first-child img {
  width: 100%;
  opacity: 80%;
}

.basic-left > :last-child h3 {
  padding: 0 1rem;
  border-left: 2px solid #262626;
  font-family: "Lobster", cursive;
}

.basic-middle {
  width: 250px;
  position: relative;
}

.basic-middle i {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0%, -50%);
  opacity: 30%;
}

.basic-middle input {
  width: 100%;
  padding: 0.5rem;
  background: #f6f6f6;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.basic-middle input::placeholder {
  text-align: center;
}

.basic-right {
  display: flex;
}

.basic-right div {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.basic-right > :nth-child(1),
.basic-right > :nth-child(2) {
  margin-right: 1.5rem;
}

.basic-right div img {
  width: 100%;
  opacity: 70%;
  transition: 0.3s;
}

.basic-right img:hover {
  opacity: 100;
}

main article {
  width: 1000px;
  margin: 5rem auto;
  padding: 5rem 0 0;
  display: flex;
  justify-content: space-between;
}

/*피드 시작*/

.feeds {
  width: 600px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.feeds-head {
  padding: 1rem;
  position: relative;
  background: white;
}

.feeds-head-left {
  display: flex;
}

.feeds-head-img {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  background: url(https://i.ibb.co/dWQYNGy/image-1614332117269-2500.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
}

.feeds-head-name {
  position: relative;
}

.feeds-head-name p {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.feeds-head-right {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.feeds-head-right img {
  width: 100%;
  opacity: 60%;
  transition: 0.3s;
}

.feeds-head-right:hover img {
  opacity: 100%;
}

.feeds-img {
  height: 600px;
  background: url(https://i.ibb.co/GpTWT5p/3442-F17-D-6-D68-4-B9-E-A028-CFB8-B3115794.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

/*피드 소개 시작*/

.feeds-img-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: white;
}

.img-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.img-nav-wrapper div {
  cursor: pointer;
}

.heart,
.bubble {
  margin-right: 1rem;
}

.img-nav-wrapper i {
  font-size: 1.5rem;
}

.feeds-img-re {
  padding: 0 1rem;
  border-bottom: 1px solid #e6e6e6;
  background: white;
}

.feeds-img-like {
  display: flex;
}

.like-img {
  width: 33px;
  height: 33px;
  margin-right: 0.5rem;
  border-radius: 100%;
  background: url(https://i.ibb.co/crfJVyL/033-ED58-C-459-A-4-A1-C-B7-F0-8037-CEF774-F1.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.like-img-ex p {
  margin-right: 0.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.like-img-ex p a:link,
.like-img-ex p a:visited {
  font-weight: bold;
  color: #262626;
}

.feeds-commit {
  padding: 1rem 0;
}

.feeds-commit > :nth-child(1) {
  margin-bottom: 0.3rem;
}

.feeds-commit p a:link,
.feeds-commit p a:visited {
  font-weight: bold;
  color: #262626;
}

.feeds-commit p span {
  color: #bababa;
}

.feeds-commit ul {
  list-style: none;
}

.feeds-commit ul li {
  margin-bottom: 0.3rem;
  position: relative;
}

.feeds-commit ul li .name {
  font-weight: bold;
}

.feeds-commit ul li .name:link,
.feeds-commit ul li .name:visited {
  color: #262626;
}

.feeds-commit ul li .delete {
  font-size: 1.3rem;
  position: absolute;
  right: 0;
}

.feeds-commit ul li .delete {
  color: #bababa;
  cursor: pointer;
}

.feeds-commit > :nth-child(3) {
  color: #bababa;
}

/*댓글 창 시작*/

#comment {
  position: relative;
  background: white;
}

#comment input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

#comment input::placeholder {
  color: #bababa;
  font-size: 1rem;
}

#comment button {
  padding: 1rem;
  background: white;
  color: #c4e1fb;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

#comment button:hover {
  color: #0096f6;
}

/*사이드 시작*/

#side {
  width: 368px;
}

.side-account {
  margin-bottom: 1rem;
  display: flex;
  cursor: pointer;
}

.account-img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 100%;
  background: url(https://pbs.twimg.com/profile_images/1109389733912666112/XX55fTPf.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.account-img-ex {
  position: relative;
}

.account-img-ex div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.account-img-ex div > :first-child {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.account-img-ex div > :last-child {
  color: #bababa;
}

.account-img-ex div > :last-child span:before {
  content: "︱";
}

.side-story {
  height: 230px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  overflow: scroll;
}

.side-navi {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.side-navi p {
  color: #bababa;
}

.side-navi div {
  font-weight: bold;
}

.story {
  display: flex;
  cursor: pointer;
}

.story-img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to left, #ce54a3, #f3733f, #fcd2af);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 100%;
  position: relative;
}

.story-img div {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-story > div {
  margin-bottom: 1rem;
}

.side-story > :last-child {
  margin: 0;
}

.side-story > :nth-child(2) .story-img div,
.side-story > :nth-child(5) .story-img div {
  background: url(https://images.unsplash.com/photo-1490138139357-fc819d02e344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.side-story > :nth-child(3) .story-img div,
.side-story > :nth-child(6) .story-img div {
  background: url(https://images.unsplash.com/photo-1503919545889-aef636e10ad4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.side-story > :nth-child(4) .story-img div,
.side-story > :nth-child(7) .story-img div {
  background: url(https://images.unsplash.com/photo-1499540785729-ac6adfa4efbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.story-img-ex > :first-child {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.story-img-ex > :last-child {
  color: #bababa;
}

/*추천 시작*/
.side-pick {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  position: relative;
}

.side-pick > :nth-child(2),
.side-pick > :nth-child(3) {
  margin-bottom: 1rem;
}

.suggestion {
  display: flex;
  position: relative;
}

.suggestion-left {
  display: flex;
}

.suggestion-left-img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  border-radius: 100%;
}

.side-pick > :nth-child(2) .suggestion-left-img {
  background: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.side-pick > :nth-child(3) .suggestion-left-img {
  background: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.side-pick > :nth-child(4) .suggestion-left-img {
  background: url(https://images.unsplash.com/photo-1503185912284-5271ff81b9a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.left-img-ex > :first-child {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.left-img-ex > :last-child {
  color: #bababa;
}

.suggestion button {
  padding: 1rem 0 1rem 1rem;
  color: #0096f6;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

footer {
  color: #bababa;
}

footer ul {
  list-style: none;
  display: flex;
  line-height: 1.3rem;
}

footer ul li::after {
  content: "‧";
  padding: 0.1rem;
}

footer > :nth-child(3) > :last-child::after {
  display: none;
}

footer p {
  margin-top: 1rem;
}

@media screen and (max-width: 1366px) {
  .basic-navi {
    width: 80%;
  }

  .basic-middle {
    width: 200px;
  }

  .basic-middle input::placeholder {
    text-align: center;
  }

  .basic-right > :nth-child(1),
  .basic-right > :nth-child(2) {
    margin-right: 1rem;
  }

  main article {
    width: 80%;
  }

  .feeds {
    width: 100%;
  }

  #side {
    display: none;
  }
}
