@charset "utf-8";



#login_box{
   width: 500px;
   height: 600px;
   margin: 20% auto;
   border: 1px solid #e6e6e6;
   position: relative;
}

.logo{
    font: 70px 'Lobster', cursive;
    text-align: center;
    margin-top: 30px;
}

.input_box{
    width: 400px;
    height: 200px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.idpw{
    height: 55px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #9f9f9f;
    outline: none;
}

.btn{
    height: 45px;
    border: none;
    background-color: #C4E0FC;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

p{
  position: absolute;
  bottom: 30px;
  left: 30%;
}

a{
  text-decoration: none;
  font-size: 20px;
  color : #2A5682;
}