body {
  background-color: #ededed;
}

#lay-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:50px;
  background-color:#fff;
  border-bottom: 1px solid #e6e6e6;
  padding:0 100px;

}

#lay-nav .left-area  {

}
.btn-nav {
  width:24px;
  height:24px;
  padding:4px;
  box-sizing: border-box;
  background-color: transparent;
}


.main-wrap {
  width:100%
}

.ico-header {
  display: inline-block;
  vertical-align: middle;
}
.logo-txt {
  display: inline-block;
  font-size: 18px;
}
.logo-txt::before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  width:1px;
  height:20px;
  background-color: #000;
  margin:0 10px;
}
.ico-header-logo {
  width:16px;
  height:16px;
}

.logo-txt {
  font-family: insta;
}

.inpt-srch {
  background-color: #fafafa;
  border:1px solid #dbdbdb;
  width:140px;
  height:20px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
}

#lay-main {
  display: flex;
  padding:90px 20px;
  box-sizing: border-box;
  justify-content: center;
}

.feeds {
  max-width:600px;
  margin-right:20px;
}
.feed-item {
  width:420px;
  background-color: #fff;
  border:1px solid #e6e6e6;
}
.feed-item .header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
}

.header-group .user-id {
  font-size: 13px;  
  font-weight: bold;
}
.feeds .anchor-profile-img {
  display: inline-block;
  vertical-align: middle;
  width:24px;
  height:24px;
  border-radius: 50%;
  box-sizing: border-box;
  border:1px solid #ddd;
  margin-left:12px;
  margin-right: 4px;
  overflow: hidden;
}
.feeds .header-group .right-area {
  padding-right: 10px;
}

.feeds .anchor-profile-img .img-profile {
  width:100%;
}
.feeds .header-group .btn-opt {
  width:16px;
  height:16px;
  vertical-align: middle;
}
.feed-item .img-feed {
  width:100%
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  padding:0 10px;
}
.like-info {
  padding:0 10px;
}
.like-info .data-info {
  display: inline-block;
  width:16px;
  height:16px;
  border-radius: 50%;
  overflow:hidden;
}
.content-wrap {
  padding:0 10px;
}
.cmt-wrap {
  display: flex;
  justify-content: space-between;
  padding:0 10px;
}
.btn-tool {
  width:24px;
  height:24px;
  margin-right:4px;
}

.like-info {
  padding:10px;
}
.like-info .data-profile {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.user-id {
  font-weight: bold;
}
.emph {
  font-weight: bold;
}

.main-right {
  max-width: 240px;
}

.more-txt {
  display: inline-block;
  color: #333;
  cursor: pointer;
}

.cmt-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
}
.cmt-wrap .inpt-cmt {
  flex: 1;
  border: 0;
  outline: none;
}
.content-wrap {
  padding:10px;
}

.btn-cmt-post {
  background-color: none;
  color: #3897f0;
}
.btn-cmt-post .btn-txt {
  opacity: .5;
}

.main-right .user-group .img-area {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 50%;
  border:1px solid #ededed;
  vertical-align: middle;
}

.main-right .user-group .txt-area {
  display: inline-block;
  vertical-align: middle;
}


.story-group {
  background-color:#fff;

}



