#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

#header_box {
  border: 3px solid #dbdbdb;
  height: 100px;

  position: relative;
}

#elements {
  position: absolute;
  top: 50%;
}

#icons {
  display: inline;
  position: absolute;
  right: 100px;
}

.icon {
  width: 50px;
  margin-left: 10px;
}

#search {
  text-align: center;
}

#insatLogo {
  width: 50px;
  margin-left: 18%;
}

.line {
  display: inline-block;
  margin-left: 20px;
  border-left: 5px solid black;
  height: 50px;
}

#logo {
  font-family: "lobster";
  font-size: 50px;
  margin-left: 20px;
}

#main {
  background-color: #fafafa;
  margin-top: 100px;
}

#feeds_profile {
  background-color: white;
}

#feeds {
  border: 5px solid black;
  width: 800px;
  height: 1500px;
  margin-top: 30px;
  margin-left: 20%;
}

#me {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
}

#early_bird {
  width: 800px;
}

#other {
  width: 50px;
}

.mention {
  font-size: 20px;
}
