:root {
    --background-grey: #FAFAFA;
    --white: #FEFEFE;
    --blue:rgb(55,135,237);
    --grey: rgb(250, 249, 249);
    --border-grey: rgb(224,224,224);
    --border-grey-darker: rgb(142,142,142);
    --light-blue: rgb(185,217,251);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-grey);
}

button {
    border: none;
    background-color: transparent;
}
