body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    height: 100%;
}

.logo {
    margin: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
}

.form__input {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin: 0.5rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

#id, #password {
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(248, 248, 248);
}

.login-button {
    margin: 0.5rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: var(--light-blue);
    color: var(--white);
    font-weight: 800;
}

.notice {
    font-size: 0.5px;
    color: rgb(167, 68, 68);
}

.active {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}