html{
    height: 100%;
}



body{
 /* display: flex; */
 height: 100%;
 padding: 0 180px;
 /* justify-content: space-around; */
}


header{
    position: sticky;
    top: 0;
}


header nav{
    
 display: flex;
 justify-content: space-between;
 padding-bottom: 5px;
 border-bottom: 1px solid #DBDBDB;
 background-color: white;
}

/* 해당 태그 아직 완벽하게 이해가지 않음 */

/* nav{
    display: flex;
} */


h1{
 font-family: 'Lobster', cursive;
 margin: 0%;
 padding-left: 12px;
 
}



.headerContainer img{
    width: 25px;
    padding-right: 10px;
    padding: 10px;
}

.logo{
    display: flex;
    padding: 10px;
}



/* .fas{
    display: flex;
}
   */


.search input{
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #DBDBDB;
}


/* 본문 및 사이드바 */


.containerWrapper{
    width: 637px;
    height: 700px;
    margin: 0px;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
}



.contentWrapper p{
    width: 637px;
    height: 670px;
    border: 1px solid #dbdbdb;
}



.contentWrapper img{

    width: 100px;
    height: 100px;

}



.feedsBoximage{
    border:1px solid #DBDBDB;
    width: 617px;
    height: 110px;
    padding: 10px;
    margin: 25px;
    margin-left: 0%;
    display: flex;
    justify-content: space-around;
}



.sidebar {
  width: 260px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #DBDBDB;
}








/* 피드 상단바 */

.feedoftop{
    display: flex;
    border: 1px solid #dbdbdb;
    width: 637px;
}

.feedoftop span{
    width: 500px;
    height: 50px;
    padding-top: 23px;
}

.feedoftop img{
    padding:7px;
    margin: 5px;
    padding: 15px;
}

.feedoftop i{
    width: 20px;
    height: 50px;
    padding-top: 29px;
}


.ecticon{
    display: flex;
}


/* 피드하단 */

.feedbox{
    height: 50px;
}

.like{
    padding-bottom: 20px;
}

.comment input{
    width: 600px;
    height: 20px;
    margin-top: 20px;
    border: none;
}