.login-pg {
    border: 2px;
    border-color: #F2F2F2;
    height: 370px;
    width: 330px;
    margin: 0px 0px 10px;
    padding: 10px 0px; 
    border-style: solid;
    align-items: center;
    box-shadow: 0px 0px 0px 5px  #FAFAFA;
    position: relative;
    top: 50px;
    left: 750px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    height: 130px;
    width: 330px;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: bold;
    width: 175px;
    height: 50px;
    margin-bottom: 35px;
    max-width: 100%;
    max-height: 100%; 
    margin: auto;
    width: 60%
}

#idInput, #passwordInput {
    position: absolute;
    width: 255px;
    height: 20px;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    background-color: #FAFAFA;
    border-width: 0.5px;
    border-radius: 5px;
    color: #262626;


}

#passwordInput {
    bottom: 47px;
}


#button {
    position: absolute;
    width: 268px;
    height: 30px;
    background-color: #C0DFFD;
    color: white;
    margin-top: 10px;
    bottom: 0px; 
    border-width: 2px;
    border-radius: 5px;
}

.wrapperBottom {
    position: relative;
    height: 80px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;

}

.facebook {
    position: absolute;
    bottom: 60px;
    font-size: 13px;
    font-weight: 600;
    color: #385085;

}

.facebookimg {
    width: 25px;
    vertical-align: middle;
}


.forgetPassword {
    position: absolute;
    bottom: 23px;
    font-size: 12px;
    color: #01376A;

}

.newAccount {
    width: 190px;
    height: 63px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 0px 5px  #FAFAFA;
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    top: 50px;
    left: 750px;
}

