html, body {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  
}

.bwLogo {
  width: 40px;
  height: 40px;
  background-image: url('./img/bwLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-right: 12px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.wrapper {
  padding: 24px;
  border: #405DE6;
  border-radius: 18px;
  
}

.text-logo {
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
  letter-spacing: -1px;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login {
  background-color: #405DE6;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  opacity: 0.7;
  transition: 0.3s;
}

.login:hover {
  opacity: 1;
}

.login.disabled {
  opacity: 0.25;
}


.link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.find-pw {
  font-size: 14px;
  text-align: center;
  color: #405DE6;
  font-family: 'Poppins', sans-serif;
}

.find-pw:hover {
  text-decoration: underline;
  cursor: pointer;
}