@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.main {
  display: flex;
}

.tit_logo {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
#nav .box-util {
}
.box-util a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.feeds {
  width: 600px;
  height: 600px;
  margin-left: 120px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
.box-profile {
  display: flex;
  justify-content: space-between;
}
.wrap-user {
  display: flex;
  align-items: center;
}
.thumb-img {
  overflow: hidden;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
}
.thumb-img img {
  height: 100%;
}
.thumb-img + .tit-user {
  margin-left: 10px;
}
.btn-more {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
}
.ico-more {
}

.box-img {
  max-height: 800px;
}

.main-right {
}
.box-info {
  width: 380px;
  height: 290px;
  padding: 15px 20px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  box-sizing: border-box;
}
.box-info + .box-info {
  margin-top: 10px;
}
