@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
img {
  border: none;
}
html {
  font-size: 0.625em;
  font-family: 'Nanum Gothic', sans-serif;
}
body {
  line-height: 1;
}
.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input:focus {
  outline: 1px solid #dbdbdb;
}
