main {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
}

#loginContainer {
  width: 350px;
  height: 420px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  padding-top: 40px;
  border: 1px solid #dbdbdb;
}

.inputContainer {
  width: 268px;
  margin: 0 auto;
}

.loginLogo {
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  line-height: 40px;
  text-align: center;
  margin-bottom: 36px;
}

.loginInput {
  width: 100%;
  margin-bottom: 15px;
}

.loginInput input {
  width: 100%;
  height: 38px;
  padding-left: 8px;
  margin-bottom: 6px;
  font-size: 1.2rem;
  line-height: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  color: #8e8e8e;
}

.loginInput input:focus {
  outline: 1px solid #dbdbdb;
}

.loginInput button {
  width: 100%;
  height: 30px;
  margin-top: 8px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 14px;
}

.searchPw {
  margin-top: 100px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}

.searchPw a {
  color: #00376b;
}
