nav{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    background-color: #fff;
}
.navInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navContent{
    width: 1000px;
    margin: 18px auto;
}
.navContent img{
    height: 27px;
}
.logoBox{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBox img{
    padding-right: 15px;
    border-right: 3px solid #000;
}
.mainLogo{
    font-size: 3.2rem;
    font-family: 'Lobster', cursive;
    line-height: 32px;
    padding-left: 10px;
    color: #000;
}
.navIcon{
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBox{
    width: 200px;
    height: 28px;
    position: relative;
}
.searchBox #searchImg{
    height: 15px;
    position: absolute;
    left: 30%;
    top: 25%;
}
.searchBox input{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    line-height: 13px;
    text-align: center;
    border-radius: 7px;
    border: #bdbdbd 1px solid;
    background-color: #fafafa;
}
.filterBox{
    width: 100%;
    display: none;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    background-color: #fff;
}
/* js - createElement 요소 */
.filterId{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.4rem;
    margin: 5px auto;
    background-color: #fff;
    cursor: pointer;
}
.filterImg{
    width: 27px;
    margin: 7px;
    border-radius: 50%;
}

.navProfile{
    position: relative;
}
/* hide */
.hidemenu{
    display: none;
    width: 120px;
    height: 175px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    margin-top: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #bdbdbd solid 1px;
    background: #fff;
}
.hidemenu:after{
    width: 0;
    display: block;
    top: -15px;
    left: 48px;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 12px 15px;
    border-color: #fff transparent;
    z-index: 1;
}
.hidemenu:before{
    width: 0;
    display: block;
    top: -16px;
    left: 48px;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 12px 15px;
    border-color: #bdbdbd transparent;
    z-index: 0;
}
.active{
    display: block;
}
.hidemenu ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hidemenu ul li{
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    line-height: 14px;
}
.hidemenu ul li img{
    height: 22px;
    margin-right: 10px;
}
.hidemenu ul .logout{
    border-top: 1px solid #dbdbdb;
    padding-top: 15px;
}

main{
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    background-color: #fafafa;
}
#wrap{
    width: 950px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.feeds{
    width: 62%;
}
.post{
    width: 100%;
    margin: 50px 0;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.profileInfo{
    width: 95%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.profileInfo > img{
    height: 25px;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background : linear-gradient(45deg,rgb(255,230,0),rgb(255,0,128)80%);
}
.profilePic img{
    width: 100%;
    height: 100%;
    border : 2px solid #fff;
    border-radius : 50%;
    object-fit:cover
}
.user .username{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 15px;
    margin-left: 10px;
}
.mainImg{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.postContent{
    width: 95%;
    margin: 0 auto;
    margin-top: 4px;
}
.postIcons{
    height: 40px;
    padding-top: 5px;
}
.postIcons ul{
    display: flex;
    align-items: center;
}
.postIcons li{
    margin-right: 16px;
}
.postIcons li:last-child{
    margin-right: 0;
}
.postIcons li img{
    height: 24px;
    padding: 1px;
}
.postSave{
    margin-left: auto;
}
.likes{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 14px;
}
.likes .user{
    width: 100px;
}
.likes .profilePic{
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
}
.likes .profilePic img{
    border: none;
}
.likes p{
    font-size: 1.4rem;
    line-height: 14px;
}
.postTextBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postTextBox .postText,
.postTextBox .comments{
    font-size: 1.4rem;
    line-height: 14px;
    margin-bottom: 8px;
    display: block;
}
.postTextBox span{
    font-weight: 700;
    margin-right: 7px;
}
.postTextBox img{
    width: 14px;
    vertical-align: middle;
    margin-left: 5px;
}
.postTextBox .commentLike{
    margin-left: 10px;
}
.postDate{
    font-size: 1rem;
    line-height: 10px;
    margin: 15px 0;
}
.newComments span{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 14px;
}
.commentBox{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: 1px solid #dbdbdb;
}
.commentInput{
    width: 90%;
    height: 100%;
    position: relative;
}
.commentInput input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.4rem;
    line-height: 14px;
    padding-left: 3px;
}
.commentBox img{
    width: 5%;
    margin: 0 auto;
}
.commentBox button{
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    line-height: 14px;
    position: absolute;
    color: #0095f7;
    background-color: #fff;
}
.mianRight{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 50px;
}
.mianRight .mainProfile .profileInfo{
    margin: 0;
    margin-bottom: 16px;
}
.mianRight .mainProfile .profilePic{
    width: 65px;
    height: 65px;
    background: #fff;
}
.mianRight .mainProfile .profilePic img{
    border: none;
}
.mianRight .userStatus{
    display: flex;
    flex-direction: column;
}
.mianRight .userStatus .userMessage{
    margin-left: 10px;
    font-size: 1.2rem;
    line-height: 16px;
    color: #8e8e8e;
}
.storyBox, .recommend{
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #fff;
}
.storyTitle, .recommentTitle{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.storyTitle h2, .recommentTitle h2{
    font-size: 1.4rem;
    line-height: 14px;
    color: #8e8e8e;
}
.storyTitle span, .recommentTitle span{
    font-size: 1.2rem;
    line-height: 12px;
}
.storyInner, .recommandInner{
    width: 90%;
    margin: 8px auto;
}
.storyInner{
    height: 185px;
    overflow-y: scroll;
}
.storyInner::-webkit-scrollbar {
    width: 8px;  
}
.storyInner::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #fff;
    border-radius: 10px;
}
.storyInner::-webkit-scrollbar-track {
    background: #fff;  
}
.storyInner .user, 
.recommandInner .user
{
    margin-bottom: 8px;
}
.recommandInner .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommandInner .user a{
    margin-left: auto;
    font-size: 1.2rem;
    line-height: 12px;
}

.storyInner .profilePic,
.recommandInner .profilePic
{
    width: 40px;
    height: 40px;
}
.recommandInner .profilePic{
    background: none;
}
.recommandInner .profilePic img{
    border: none;
}

@media screen and (max-width: 1024px){
.navContent{
    width: 700px;
}
#wrap{
    width: 750px;
}
.feeds{
    width: 64%;
}
.mainImg{
    height: 450px;
}   
}

@media screen and (max-width: 768px){
.navInner{
    justify-content: center;
}
.logoBox{
    width: 150px;
    justify-content: center;
}
.navContent{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.navIcon{
    display: none;
}
.searchBox{
    display: none;
}
.mainLogo{
    font-size: 2.6rem;
    line-height: 26px;
}
#wrap{
    width: 500px;
}
.feeds{
    width: 500px;
    display: block;
    margin: 0 auto;
}
.post{
    margin-top: 20px;
}
.profileInfo{
    height: 50px;
}
.profileInfo > img{
    height: 20px;
}
.mianRight{
    display: none;
}
.profilePic{
    width: 30px;
    height: 30px;
}
.profilePic img{
    border: 1px solid #fff;
}
}