.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: 450px;
    border: 1px solid #bdb3b3;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 50px ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    width: 70%;
    padding: 10px;
    margin: 3px;
    background-color: #fafafa
}

input::placeholder {
    color: #9b9b9b;
}

button {
    border-radius: 3px;
    margin-top: 12px;
    background-color: #c4e1fb;
    border: none;
    color: #ffffff;
}

.loginButton {
    width: 76%;
    padding: 8px;
    margin-bottom: 100px;
    font-size: 15px;
    cursor: pointer;
}

a {
    font-size: ;
    color: #5b7c9d;
    text-decoration: none;
}

