body {
  font-size: 14px;
}

/* Section */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 50px;
}

.main__img {
  width: 380px;
  margin-right: 23px;
  margin-left: 15px;
}

.login--form {
  margin-top: 20px;
}

.login {
  width: 348px;
  height: 360px;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--title {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 5px 0 35px 0;
  font-weight: 100;
}

.login input {
  border: 1px solid #d6d6d6;
  background-color: #fafafa;
  width: 248px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.login input::placeholder {
  color: #949494;
}

.login--button {
  width: 270px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #0096f7;
  opacity: 0.5;
  color: white;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

/* And */
.separate {
  margin: 10px 0 10px 0;
  display: flex;
  width: 268px;
  justify-content: center;
  align-items: center;
}

.separate--line {
  width: 100px;
  height: 1px;
  background-color: #d6d6d6;
}

.separate--text {
  margin: 0 20px;
  color: #888888;
}

/* Log-In with facebook */
.login--facebook {
  color: #354e83;
  background-color: transparent;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.login--facebook p {
  margin-bottom: 9px;
  cursor: pointer;
}

.login--facebook img {
  width: 15px;
  margin-right: 5px;
  cursor: pointer;
}

/* Forget password */
.forget--password {
  color: #0c3e70;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
}

/* Sign-In */
.signin {
  height: 41px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.signin a {
  text-decoration: none;
  color: #0091f6;
  font-weight: bold;
}

.signin a:link {
  color: #0091f6;
}

.signin a:visited {
  color: #0091f6;
}

/* Download */
.download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 100px;
}

.download--app-store {
  width: 136px;
  height: 40px;
  margin-right: 5px;
}

.download--google-play {
  width: 134.28px;
  height: 40px;
}

.download img {
  cursor: pointer;
}
