@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
    position: absolute;
    top: 80px;   
    bottom: 300px; 
    left: 700px;  
    right: 0px;  
}

.loginBorder {
    border: 1px solid lightgray;
    width: 340px;
    height: 500px;
}

.iphone {
    position:  absolute;
    top: 70px;
    bottom: 0px;
    left: 300px;
    right: 0px;
}

.loginLogo {
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
}

.loginField,
 .passwordField {
    border-style: none;
    background-color: rgba(232, 232, 232, 0.4 );
    border-color: lightgray;
    border-radius: 3px;
    font-size: 13px;
    width: 250px;
    height: 30px;
    margin-top: 8px;
}

.loginBox {
    text-align: center;
}

.loginBtn {
    border-style: none;
    background-color: rgba(5, 153, 252, 0.8);
    border-radius: 7px;
    font-size: 13px;
    color: white;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

.loginBtn:hover {
    background-color: rgba(6, 154, 253);
    cursor: pointer ;
  }
  
  .passwordFind {
    text-align: center;
    font-size: 12px;
    color: darkblue;
    margin-top: 40px;
  }

  .loginBtn.active {
    background-color:rgba(7, 157, 259);
    color: white;
  }
  
  