img {
  width: 20px;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #efefef;
}

.navRow {
  display: flex;
  align-items: center;
}

.navRow:nth-child(2) {
  position: relative;
}

.navRow input {
  background-color: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
  font-size: 11px;
}

.navRow input::placeholder {
  color: #b5b5b5;
}

.searchIcon {
  position: absolute;
  left: 33px;
  top: 8px;
  width: 8px;
}

.navRow img {
  margin: 0 10px;
}

.navRow span {
  padding-left: 10px;
  border-left: 2px solid black;
  font-family: "Lobster", cursive;
  font-size: 22px;
}

.feedMain {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 50px;
  background-color: #fafafa;
}

.feed {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: white;
  border: 2px solid #efefef;
}

.feedColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.feedColumnRow {
  display: flex;
  align-items: center;
}

.feedColumnRow span {
  font-size: 14px;
}

.feedColumnRow .fa-heart {
  color: #ed4955;
  font-size: larger;
}

.comments {
  flex-direction: column;
  align-items: flex-start;
}

.chatIcon {
  width: 24px;
  margin: 0 5px;
}

.uploadIcon {
  width: 17px;
}

.profileImg {
  width: 30px;
  margin-right: 12px;
  border-radius: 50%;
}

.feedImg {
  width: 500px;
}

.feedColumnSmall {
  padding: 0 12px;
}

.feedColumnSmall img {
  width: 20px;
  margin-right: 5px;
}

.feedColumnSmall p {
  margin: 0;
  font-size: 12px;
}

.feedContent {
  margin-bottom: 10px;
}

.grayText {
  color: #b5b5b5;
}

.feedColumnSmall .smallHeart {
  width: 10px;
}

.feedColumn:last-child {
  margin-top: 10px;
  border-top: 2px solid #efefef;
}

.feedColumn input {
  width: 93%;
  border: none;
}

.feedColumn input::placeholder {
  color: #b5b5b5;
}

.feedColumn input:focus {
  outline: none;
}

.feedColumn button {
  all: unset;
  font-size: 12px;
  color: #c5e1fb;
}

.rightBar {
  width: 250px;
}

.profileComponent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileComponent img {
  width: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.profileComponentRow p {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.boxComponent {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border: 2px solid #efefef;
}

.boxLabel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.boxLabel span {
  font-size: 14px;
  font-weight: 600;
}

.boxComponent .profileComponent img {
  width: 38px;
  border: 3px solid #d73486;
}

.followComponent {
  justify-content: space-between;
}

.followRow {
  display: flex;
}

.followComponent .blueSpan {
  color: #3c99f0;
  font-size: 14px;
  font-weight: 600;
}

.rightBar > p {
  font-size: 12px;
}
