.container {
  border : 1px solid rgb(201, 200, 200);
  text-align : center;
  margin-top : 100px;
  width : 500px;
  height : 500px;
}

.containerBox {
  margin-left : 50px;
  margin-right : 40px;
}

#login_id {
  background-color: rgba(247, 244, 244, 0.623);
  color : rgb(116, 113, 113);
  width: 400px;
  height: 40px;
  padding : 10px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 221, 221);
  margin-top : 50px;
  margin-bottom : 10px;
  border-radius : 10px;
}

#password {
  background-color: rgba(247, 244, 244, 0.623);
  color : rgb(116, 113, 113);
  width: 400px;
  height : 40px;
  padding : 10px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 221, 221);
  border-radius : 10px;
  margin-bottom : 20px;
}

#login_btn {
  background-color: #ccdffeb3;
  color : white;
  width : 400px;
  height : 40px;
  padding : 10px 40px;
  box-sizing: border-box;
  margin-bottom : 90px;
  border-radius : 10px;
  border: none;
}

#insta_img {
  margin-top : 30px;
  width : 300px;
  height : 120px;
}

.passwordForgot {
  color : rgba(16, 16, 74, 0.792);
}