/* reaction tool */
.reactionTool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 4px;
}

.giveReaction {
  display: flex;
  justify-content: space-between;
}

.giveReaction .icon {
  margin-right: 16px;
}

/* likes */
.likes {
  margin-bottom: 8px;
}

/* writter comment */
.writterComment {
  margin-bottom: 4px;
}

/* user comment */
.userComments .moreLink {
  display: block;
  margin-bottom: 4px;
}

.reply {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  cursor: pointer;
}

.reply:hover {
  background-color: #0094f6;
  opacity: 0.4;
}

.pastDay {
  margin-bottom: 4px;
}

/* comment container */
.commentForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 16px;
}

.commentForm .icon {
  padding-right: 16px;
  margin-right: 16px;
}

.commentInput {
  width: 100%;
  border: none;
  background-color: transparent;
}

.commentInput::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgb(142, 142, 142);
}
