*{
    box-sizing : border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




.lgpage{

    height:800px;
    width:700px;
    margin: 50px auto;
    border: 2px solid #ededed;
}
.login{

    width: 650px;
    margin : 50px auto;
    
    }


.instalogo {

    font-family: 'Lobster', cursive;
    text-align : center;
    font-size : 90px;
    margin-bottom : 70px;

}

.login-container{


width: 650px;
margin: 10px auto;
}
input{

    width: 100%;
    height: 90px;
    margin-bottom : 15px;
    text-indent : 10px;
    background-color :#fafafa;
   border :1px solid #ededed;
   border-radius: 5px;
   color:#c0c0c0;
}
input::placeholder{

    font-size: 30px;
}

.loginbt{

    width: 100%;
    height: 75px;
    font-size: 35px;
    background-color:#b2dffc;
    color: white;
    border : #b2dffc;
    border-radius : 10px;
    margin-top : 10px;
}
.forgetpw{


    text-align: center;
    color:#a0b5c8;
}