* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

/* nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #dbdbdb;
}

.nav-left {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav-left .fa-instagram {
  margin-right: 10px;
} */

.nav-vertical-line {
  height: 35px;
  border-right: 1px solid black;
  /* margin-right: 10px */
}

.main-title {
  font-family: "Lobster", cursive;
}

.nav-search {
  display: flex;
  align-items: center;
  padding-top: 5px;
  position: relative;
}

.nav-search_input {
  padding: 3px 20px;
  background-color: #f5f8fa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.nav-search .fa-search,
.nav-search_word {
  color: #dbdbdb;
  position: absolute;
}

.fa-search {
  display: flex;
  font-size: 12px;
  left: 70px;
}

.nav-search_word {
  font-size: 12px;
  left: 85px;
}

.nav-right {
  width: 150px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-right i {
  font-size: 25px;
  font-weight: lighter;
}

.nav-right i:last-child() {
  margin-right: 0;
}

.red-dot {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  left: 74px;
  top: 30px;
}

main {
  height: 100%vh;
  padding: 60px 0 60px 0;
  background-color: rgb(250, 250, 250);
}

.main-left-right {
  height: 100%;
  display: flex;
  justify-content: center;
}

.feeds {
  height: 100%;
  margin-right: 30px;
  width: 500px;
}

/* article */

.feeds-header {
  padding: 10px 10px;
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.main-right .feeds-header {
  background-color: transparent;
}

.feed-img img {
  width: 100%;
  height: 100%;
}

.feeds-function-comments {
  border: 1px solid #dbdbdb;
  margin-top: -5px;
}

.feeds-function {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.feeds-function_left,
.feeds-function_right i {
  color: #dbdbdb;
}

.feeds-function_left {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.feeds-function_left .fas:first-child {
  color: #ed4955;
}

.feeds-function_right i {
  font-weight: lighter;
}

/* likes & comments */

.likes-comments {
  padding: 10px;
}

.likes-comments_likes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likes-comments_likes .profile-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.likes-info,
.comments-comment {
  font-size: 13px;
}

.comments-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

/* .comment:first-child {
  width: 40%;
} */

.comment_content {
  margin-right: 5px;
}

.comment-comment i {
  color: #a7a7a7;
}

.likes_user-name,
.likes-user-number,
.comment_user-name {
  font-weight: bold;
}

.comment_user-name {
  margin-right: 5px;
  margin-top: 3px;
}

.comment-more {
  font-size: 12px;
  color: #a7a7a7;
}

.comments-time {
  font-size: 12px;
  color: #dbdbdb;
}
/* input-comments */

.uploading-comments {
  border-top: 1px solid #a7a7a7;
}

.uploading-comments {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-comments,
.comments-btn {
  border: none;
}

.input-comments {
  width: 80%;
  background-color: transparent;
  color: E2E2E2;
  opacity: 0.6;
}

.comments-btn {
  width: 10%;
  background-color: transparent;
  color: #c6e0fb;
}

.onBtn {
  color: #4da5fd;
}

.input-box {
  border-top: 1px solid #dbdbdb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* main-right */

.main-right {
  /* margin-top: -5px; */
  width: 300px;
  height: 100%;
}

.main-right .profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.main-right .feeds-header {
  padding: 0;
  margin-bottom: 12px;
}

.stories,
.offers {
  position: relative;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  overflow: auto;
}

.story-menu,
.offer-menu {
  position: sticky;
  width: 100%;
  height: 30px;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  background-color: #fff;
}

.story,
.offer {
  padding: 0 10px 10px;
  overflow: auto;
}

.story-menu span:first-child,
.offer-menu span:first-child {
  color: #dbdbdb;
}

.offer-user .profile {
  flex-direction: row;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 5px;
  margin-right: 0;
}

.stories .profile {
  justify-content: flex-end;
  margin-bottom: 5px;
}

.stories .profile-img,
.offer-user .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.stories .profile-img {
  border: 2px solid #ffde2e;
}

.follow-btn {
  border: none;
  background-color: inherit;
  color: #6db2f4;
}
