body{
    border:1px solid black;
    width : 550px;
    height: 300px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_top{
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.content_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center_id{
    height: 30px;
    width: 230px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid black;
}
.center_pw{
    height: 30px;
    width: 230px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid black;
}

.content_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.content_foot{
    text-align: center;
    color: blue;
}

