* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 30px 0;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}

#navUls {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

nav ul {
  width: 33.3%;
  height: 32px;
}

nav ul li {
  line-height: 32px;
}

/* 왼쪽 nav */
#leftNav {
  display: flex;
  padding-right: 20%;
}

.logo {
  width: 50px;
  padding-right: 20px;
  border-right: 2px solid black;
  margin-right: 20px;
}

.westagram {
  font-family: "Lobster", cursive;
  font-size: 28px;
}

/* 중간 nav */

#middleNav input {
  width: 70%;
  height: 31px;
  display: block;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 10px;

  background-color: #efefef;
}

#middleNav input::placeholder {
  text-align: center;
  color: gray;
}

#middleNav input:focus {
  outline: none;
}

/* 오른쪽 nav */
#rightNav {
  display: flex;
  padding-left: 20%;
}

#rightNav li {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightNav li img {
  width: 25px;
  margin: 0 13px;
}

/* 3. <프로필 클릭시, 메뉴박스> */
.profileBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#menuBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 200px;
  height: 250px;
  position: absolute;
  top: 40px;
  right: -40px;
  z-index: 2;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#menuBox button {
  display: block;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

#menuBox button:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 1px solid gray;
}

/* 2. <main> */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  background-color: beige;
}

#feedWrapper {
  display: flex;
  flex-direction: column;
}

.feeds {
  width: 500px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #ffffff;
}

.feedTop {
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
}

.feedTop li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedTop li:nth-child(1) img {
  border-radius: 50%;
  width: 40px;
  margin: 0 10px;
}

.feedTop li:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

.feedTop li:nth-child(3) {
  position: absolute;
  right: 10px;
  top: 22px;
}

.giraffe {
  width: 100%;
  height: 600px;
}

#feedBottomContents {
  padding: 0 10px;
}

.imgIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.imgIcons ul {
  display: flex;
}

.imgIcons ul li {
  margin-right: 10px;
}

.bookMark {
  position: relative;
  right: 10px;
}

.likeMessage {
  display: flex;
  align-items: center;
  margin: 5px 0 15px 0;
}

.likeMessage img {
  border-radius: 50%;
  width: 20px;
  margin-right: 10px;
}

.thick {
  font-weight: 900;
}

.user {
  font-weight: 800;
  display: inline-block;
  width: 45px;
}

.gray {
  color: rgb(163, 160, 160);
}
.feedText {
  margin-bottom: 5px;
}

/* 댓글 렌더되는 영역 */
#comments {
  margin-top: 10px;
  padding: 5px 10px;
  width: 100%;
  height: 95px;
  overflow-y: scroll;
}

#comments li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#comments li button {
  background-color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* 댓글 입력창 영역 */
form {
  border-top: 1px solid gray;
}

section form {
  display: flex;
}

section form input {
  width: 90%;
  height: 20px;
  margin: 10px 0 10px 10px;
  outline: none;
  border: none;
  resize: none;
}

section form input::placeholder {
  font-size: 14px;
  line-height: 20px;
}

section form button {
  width: 10%;
  border: none;
  background-color: white;
  color: blue;
  font-size: 14px;
  cursor: pointer;
}

/* 오른쪽 피드 */
#mainRightWrapper {
  display: none;
}
