.article-comment {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    position: relative;
    padding: 10px;
    .nickname-bold {
        font-weight: bold;
        margin-right: 5px;
    }

    .heart {
        color: red;
        opacity: 100%;
    }
}
.article-input {
    width: 100%;
    position: relative;

    input {
        width: 100%;
        border: none;
        border-top: 1px solid #9d9d9d;
        margin-top: 5px;
        padding: 10px 0;
        padding-left: 10px;
        box-sizing: border-box;
        outline: none;
    }

    .btn {
        position: absolute;
        right: 10px;
        top: 50%;
        line-height: 50%;
        border: none;
        color: rgb(157, 222, 244);
        background-color: inherit;
    }
}
