* {
  box-sizing: border-box;
}

.entire-area {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

section {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgb(220, 219, 219);
}

.feeds {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
}

.stories,
article {
  background-color: white;
  margin: 5px auto;
  width: 100%;
  border: 1px solid rgb(220, 219, 219);
}

.main-right {
  padding: 5px 10px 5px 10px;
}

nav {
  background-color: white;
  padding: 0 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left i {
  font-size: 43px;
  margin-left: 15px;
}

#brand-name {
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
}

.nav-right {
  display: inline;
  display: flex;
  justify-content: center;
}

.nav-right i {
  font-size: 35px;
  margin: 0 10px;
}

.nav-middle {
  border-radius: 10px;
  position: relative;
  background-color: rgb(250, 250, 250);
  width: 40%;
  height: 50%;
  border: 1px solid rgb(220, 219, 219);
}

.nav-middle i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  font-size: 90%;
  color: rgb(166, 167, 187);
}

#search-bar {
  background: none;
  border: none;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0%;
}

li {
  margin: 5px 5px;
  float: left;
}

.stories {
  padding: 5px 5px 5px 5px;
}

header {
  padding: 10px 10px 10px 10px;
}

.uploader-profile {
  width: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

.newspeed-h {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

article {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.up-to-date img {
  width: 100%;
}

.social-activity {
  font-family: 'Gothic A1', sans-serif;
  padding: 10px 20px 10px 20px;
  position: relative;
}

.activity-icons {
  display: flex;
  justify-content: space-between;
}

.act-icons-left {
  display: inline-block;
}

.activity-icons i, .act-icons-left i {
  font-size: 30px;
}

.activity-icons i {
  margin-right: 8px;
}

.liked-num p{
  font-size: 20px;
  margin: 15px 0 12px 0;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
}

.uploader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploader img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

#my-id {
  font-size: 20px;
  margin-right: 10px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
}

#my-write {
  font-size: 20px;
  font-weight: 300;
}

.upload-time {
  position: absolute;
  bottom: 0;
}

#sec {
  color: rgb(142, 142, 142);
}

.add-comments {

}