#commonDiv {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    border: 2px solid #FAF8F1;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

span.subGray {
    font-size: 14px;
    color: #8e8e8e;
}

span.miniSubGray {
    font-size: 11px;
    color: #8e8e8e;
}

.textBold {
    font-weight: bold;
}

.miniTextBold {
    font-weight: bold;
    font-size: 13px;
}