
.loginLogo {
    font-family: Lobster;
    font-size: 108px;
}

.inputBox {
    width: 40%;
    height: 35px;
    padding: 8px;
    margin:  10px;
    font-weight: bold;
}

.loginButton {
    width: 41%;
    height: 45px;
    border-radius: 4px;
    margin-top: 24px;
    padding: 8px;
    border: none;
    background-color: skyblue;
    color: white;

}

.forgetPassword {
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 125px;
    color: #333C83;
}