@import url(common.css);

.centerbox {
  border: 1px solid #e6e6e6;
  width: 700px;
  height: 750px;
  background-color: white;
}
.logo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 80px;
  margin-top: 60px;
  color: black;
  margin-bottom: 60px;
}
a {
  text-decoration: none;
}
.logo a {
  color: black;
}
.lostPw a {
  color: rgb(1, 53, 105);
}
.inputId,
.inputPw {
  background-color: #fafafa;
  border: 1px solid #efefef;
  height: 73px;
  width: 530px;
}
.lostPw {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(1, 53, 105);
  font-size: 23px;
  margin-top: 170px;
}
body {
  background-color: #fafafa;
}
.btn {
  background-color: #0095f6;
  color: white;
  border: none;
  height: 54px;
  width: 535px;
  margin-top: 10px;
}
.btn:disabled {
  background-color: rgb(196, 224, 252);
}
.box {
  border-radius: 8px;
  font-size: 20px;
  margin: 7px 85px;
}
.loginc {
  width: 530px;
  display: flex;
  flex-direction: column;
}
