
*{
    box-sizing:border-box;
}
img{
    height:100%;}

/*nav*/
nav{
    height:70px;
    position:relative;
    display:flex;
    justify-content:space-around;
}

/*왼쪽 로고 둘*/
.logoleft{
    height:30px;
    margin-top:15px;  
}
.logo{
    height: 100%;
}
.logotwo{
    height:100%;}

  /*오른쪽 로고 셋 */
.logoright{

    height:30px;  
}
.logothree, .logofour,.logofive{
    height:100%;
    margin-top:15px;
    margin-right:10px; 
}

/* 인풋 바*/
.inputbar{
    display:inline-block;
    position:absolute;
    left:700px;
    top:20px;
    width:200px;
    border:1px solid #dbdbdb;
    border-radius: 5px;
}
input{
    width:50%;
    margin:1px;
    margin-left : 80px;
    border:none;
}
.circle{
    position: absolute;
    left: 55px;
    top: 0.5px;
    height: 80%;
}

/* 오른쪽*/
.right{
    width:400px;
    margin:10px;
    height:100%;
}

.nameright{
    height: 80px;
}
.story{  
    height:300px;
}
.recommend{
    margin-top : 10px;
    height: 280px;
}
.etc{
    height:120px;
    margin-top : 30px;
}

/*메인*/
.main{
    display: flex;
    justify-content: center;  
    height:100%;
    background-color: #fafafa;
}
.feeds{
    width:780px;  
    margin:10px;
}
.artname{
    height:80px;
}
.artpic{  
    height:650px;
}
.artwrite{   
    height:120px;
}


/* 추가되는 ul */
.commentlist{
    list-style:none;
    padding-left:10px;
    background-color:white;
}
/*코멘트 상자*/
.commentcontainer{  
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.comment{
    margin : 10px;
    height : 30px;
}
.bts{
    height:20px;
}
