@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #262626;
	font-size: 14px;
}

html, body {
	background-color: #fafafa;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: unset;
	cursor: pointer;
}

button:focus {
	border: none;
}

.profile-image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}