@import "reset.css";

* {
  box-sizing: border-box;
}

/*---------nav-----------*/
/*---------nav-----------*/
/*---------nav-----------*/
body {
  background-color: rgba(116, 116, 116, 0.027);
}

nav {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav input {
  background-color: rgba(116, 116, 116, 0.027);
  border: 1px solid rgba(90, 89, 88, 0.137);
  height: 28px;
  width: 200px;
  text-align: center;
  color: rgba(90, 89, 88, 0.384);
  border-radius: 3px;
}

h2 {
  font-size: 25px;
  font-family: "Lobster", cursive;
  border-left: 1px solid black;
  margin-left: 10px;
  padding-left: 13px;
}

.fa-camera {
  margin-right: 13px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 25px;
  margin: 7px;
}

/*-----------------피드-헤드부분시작--------------------*/
/*-----------------피드시작--------------------*/
/*-----------------피드시작--------------------*/
main {
  display: flex;
  justify-content: space-around;
}

.feeds {
  width: 50%;
  height: 100vh;
  display: flex;
}

article {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  /* height: 700px; */
  border: 1px solid rgba(90, 89, 88, 0.137);
  background-color: white;
}

.WriterInfo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 15px;
}

.WriterInfo {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Writer {
  display: flex;
  align-items: center;
}

.Writernick {
  font-weight: bold;
  font-size: 15px;
}

/*----------피드사진부분---------*/
.article_viewer img {
  width: 100%;
}

/*----하트,코멘트,다운로드,북마크 아이콘*/
.ReplyBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.box_left {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

/*--코맨트&댓글--*/

.comment_info {
  margin-bottom: 10px;
  padding-top: 0px;
}

.CommentBox {
  width: 100%;
  border-top: 1px solid rgba(90, 89, 88, 0.137);
  border-bottom: 1px solid rgba(90, 89, 88, 0.137);
  padding: 13px 0;
  margin-top: 10px;
}
/*------댓글------*/
.commentpush {
  width: 90%;
  outline: none;
  border: none;
  padding-left: 15px;
}

.commentbtn {
  width: 10%;
  margin-left: -10px;
  background-color: transparent;
  border: none;
  color: rgba(78, 168, 252, 0.993);
}

/*-----------main-right----------*/
/*-----------main-right----------*/
/*-----------main-right----------*/
/*-----------main-right----------*/
