body {
    font-family: 'Lobster', cursive;
}

input, button {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 36px;
}

/* login */
.loginContainer {
    width: 500px;
    height: auto;
    border: 1px solid #EFEFEF;
    text-align: center;
}

.logo {
  padding: 50px;
  font-size: 65px; 
}

.inputGroup input{
    padding: 20px 16px;
    font-size: 16px;
    border: 1px solid #EFEFEF;
    background-color:#FAFAFA;
}

.inputGroup input:first-child {
    margin-bottom: 10px;
}

.inputGroup input:nth-child(2) {
    margin-bottom: 20px;
}

.inputButton {
    display: block;
    margin-bottom: 200px;
    text-align: center;
    font-size: 20px;
    color: #ffff;
    background-color: #0095f6;
    border: none;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 200ms ease-in;
    cursor: pointer;
}

.inputButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.notice {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
    color: navy;
}
