.loginBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    margin: 100px auto;
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
}

h1 {
    margin: 22px auto 0 auto;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
}

.input-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
}

.userID, .pw {
    width: 300px;
    height: 40px;
    padding: 8px 0 8px 8px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;    
    background-color: #fafafa;
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.userID {
    margin: 0 auto 3px auto;
}

.pw {
    margin: 3px auto 5px auto;
}

.btn {
    width: 300px;
    height: 40px;
    margin: 15px 0;
    border: none;
    border-radius: 3px;
    background-color: #0095F6;
    opacity: 0.3;
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.forgot {
    width: 300px;
    height: 15px;
    margin: 15px auto;
    color: #2D5581;
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}