.wrap {
  box-sizing: border-box;
  width: 100%;
}

div.nav-wrap {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

div.nav_left {
  display: flex;
  align-items: center;
}

span.westagram {
  flex-basis: 100%;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 20px;
}

span.westagram::before {
  content: "⎪";
}

input.search_bar {
  border: none;
  border-radius: 3px;
  padding: 6px;
  text-align: center;
  background-color: rgb(211, 211, 211, 0.2);
  width: 20%;
}

img.nav_1 {
  margin-right: 15px;
}

img.nav_2 {
  margin-right: 15px;
}

span.nav_icon {
  padding: 5px;
}

div.main-wrap {
  display: flex;
  width: 80%;
  margin: auto;
}

div.user {
  border: 1px solid rgb(175, 172, 172);
  border-bottom: none;
  background-color: white;
}

img.myprofile_photo {
  width: 45px;
  border-radius: 30px;
  vertical-align: middle;
}

span.user_id {
  font-weight: bold;
  margin-left: 8px;
}

div.user {
  padding: 5px;
}

img.feed_photo {
  width: 100%;
}

i#heart {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 1px;
  cursor: pointer;
}

img.chat {
  height: 30px;
  margin-left: 5px;
}

img.share {
  height: 28px;
  margin-left: 5px;
}

img.save {
  height: 25px;
  margin-left: auto;
  margin-right: 5px;
}

div.photo-icon {
  display: flex;
}

div.inbox {
  margin-left: 13px;
  margin-bottom: 10px;
}

div.like {
  margin-top: 6px;
}

input.comment {
  width: 80%;
  height: 35px;
  border-style: none;
  margin-left: 10px;
  margin-top: 3px;
}

button.btn {
  text-align: center;
  margin-right: 10px;
  font-size: 13px;
  color: rgba(68, 68, 89, 0.719);
  border: none;
  background-color: white;
}

button.btn_2 {
  text-align: center;
  margin-right: 10px;
  font-size: 13px;
  color: rgb(39, 62, 111);
  border: none;
  background-color: white;
}

div.comment_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: solid 1px rgb(175, 172, 172);
}

img.main_right_profile_photo {
  width: 65px;
  border-radius: 100px;
  vertical-align: middle;
}

span.user_id2 {
  margin-left: 13px;
  font-weight: bolder;
}

div.all_story {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bolder;
}

span.story {
  color: grey;
  font-size: 15px;
  margin: 0;
}

span.all_story {
  font-size: 13px;
}

img.img_jinxsik,
img.img_trooioi,
img.img_insiruu,
img.img_bominkim {
  width: 60px;
  border-radius: 50px;
  vertical-align: middle;
}

span.jinxsik,
span.trooioi,
span.insiruu,
span.bominkim {
  font-weight: bolder;
  font-size: 15px;
  margin-left: 13px;
}

div.id_1,
div.id_2,
div.id_3,
div.id_4 {
  margin-top: 15px;
}

div.user_2 {
  margin-bottom: 20px;
}

div.box_1 {
  background-color: white;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
}

div.box_2 {
  background-color: white;
  margin-top: 35px;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
}

span.recommend {
  color: grey;
  font-size: 15px;
  margin: 0;
}

span.all_recommend {
  font-size: 13px;
}

div.all_recommend {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

img.img_goo,
img.img_hoo,
img.img_poo {
  width: 60px;
  border-radius: 50px;
  vertical-align: middle;
}

span.goo,
span.hoo,
span.poo {
  font-weight: bolder;
  font-size: 15px;
  margin-left: 13px;
}

div.re_id_1,
div.re_id_2,
div.re_id_3 {
  margin-top: 15px;
}

button.follow {
  border: none;
  font-weight: bold;
  background-color: rgba(199, 199, 199, 0);
  color: rgb(64, 119, 238);
  margin-left: 60px;
}

p.etc {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.783);
  margin-top: 40px;
}

div.date {
  margin-top: 30px;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.783);
}

div.box_aside {
  padding: 5px;
}
