.feeds {
  margin-top: 4rem;
  margin-bottom: 1rem;
  flex: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.feed-wrapper {
  width: 30rem;
  margin-top: 2rem;
  border: 1px solid #e6e5e6;
  display: flex;
  flex-direction: column;
}

.feed-user-wrapper {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.user-ellipsis {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.feed-image {
  flex: auto;
}

.feed-action-menus {
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.feed-action-menus i {
  margin-right: 1rem;
}

.feed-action-menus i:last-child {
  margin-left: auto;
}

.feed-like-message-wrapper {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.like-message {
  font-size: 0.9rem;
  font-weight: 500;
}

.feed-comments {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

.feed-comments li {
  height: 1.5rem;
  line-height: 1.6rem;
}

.comment-another {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}
.feed-user-name {
  margin-right: 0.5rem;
}

.feed-comment-like {
  margin-left: auto;
  margin-right: 0.5rem;
}

.feed-time {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: #9e9e9e;
}

.feed-user-name {
  font-weight: bold;
}

.new-comment {
  height: 3rem;
  border-top: 1px solid #e6e5e6;
  display: flex;
}

.comment-input {
  flex: auto;
  border: none;
  background-color: #fafafa;
  padding: 0.5rem;
}
.feed-like:hover,
.feed-comment-like:hover,
.feed-comment-delete:hover {
  cursor: pointer;
}

.feed-like.check,
.feed-comment-like.check {
  color: red;
}

.comment-button {
  border: none;
  background-color: #fafafa;
  color: #0095f6;
  font-weight: bold;
}

.comment-button:disabled {
  color: #c0e0fd;
}
