.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 30rem;
  height: 40rem;
  border: 2px solid #e5e6e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.login-title {
  font-size: 4.5rem;
  font-family: 'Cookie', cursive;
  margin-bottom: 4rem;
}

.login-input {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  border: 1px solid #d4d4d4;
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.login-input::placeholder {
  font-size: 1rem;
  color: #9a999b;
}

.login-button {
  width: 100%;
  height: 3.5rem;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
  background-color: #0095f6;
}

.login-button:disabled {
  background-color: #bee2fd;
}

.login-help-text {
  font-size: 1rem;
  margin-top: auto;
  font-size: 1.1rem;
  font-weight: 600;
  color: #00396d;
}
