.nav-wrapper-story {
  height: 17rem;
  margin: 0.5rem;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.story-title-wrapper {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}

.storys {
  flex: auto;
  overflow-y: scroll;
}

.storys-story,
.recomand {
  height: 4rem;
  display: flex;
  align-items: center;
}

.recommand-follow {
  color: #0086ef;
  font-size: 0.9rem;
  font-weight: 600;
}

.recommand-follow:hover {
  font-weight: 800;
  cursor: pointer;
}

.recommand-title-wrapper {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}

.nav-wrapper-recommand {
  height: 13rem;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.recommands {
  flex: auto;
  overflow-y: scroll;
}

.nav-wrapper-description {
  height: 5rem;
  margin: 0.5rem 3.4rem 0.5rem 0.5rem;
  color: #c6c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-info {
  font-size: 0.8rem;
  font-weight: 500;
}

.description-cooperation {
  font-size: 0.8rem;
  font-weight: 600;
}

.story-title,
.recommand-title {
  color: #9a999b;
}

.story-title,
.recommand-title,
.story-all,
.recommand-all {
  font-weight: 500;
}
