.wrapper-user {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.user-icon-xsmall {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.user-icon-small {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.pink-round {
  border: 1px solid #d92594;
  padding: 0.15rem;
}

.wrapper-user-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
}

.user-name {
  font-weight: 700;
  font-size: 0.9rem;
}

.sub-user-name {
  color: #9b9a9c;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}
