@charset "utf-8";
@import "reset.css";

#app {
    width: 500px;
    margin: auto;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;

}
header{
    width: 500px;
    height: 50px;
}
.gnb{ 
    height: 100%;
}
.gnb li{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    padding-top: 8px;
}
.gnb img{
    height: 30px;
}
.gnb li:nth-child(1){
    width: 10%; 
}
.gnb li:nth-child(2){
    width: 77%;
}
.gnb li:nth-child(3){
    width: 10%;
}
    
/* main */

.story{
    display: inline-block;
    width: 500px;
    height: 150px;
    border: 1px solid #999;
    text-align: left;
    font-size: 13px;
    color: #6e6e6e;
    padding-left: 10px;

    /* background-color: coral; */
}
.imgbox{
    width: 102px;
    border-radius: 50%;
    background: linear-gradient(red, yellow);
    padding: 5px;
}
.story1{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.story2{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.story3{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.story img {
    width: 100px;
    border-radius: 50%;
    
}

.feed{
    width: 500px;
    height: 70px;
    border: 1px solid #999;
    display: inline-block;
}
.profile{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}


.feed img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
}
.profile{
    width: 20%;
}
.profile p{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;  
}
.profile span{
    font-size: 11px;
    font-weight: bold;
}
.feed i{
    vertical-align: top;
    width: 60%;
    display: inline-block;
    text-align: right;
    padding-top: 20px;
}
.imgContainer {
    width: 100%;
    text-align: center;
    border: 1px solid #999;
    
   
}
.iconContainer img{
    width: 100%;
}
.iconContainer{
    padding: 10px;
    text-align: left;
    width: 500px;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
}

footer{
    width: 500px;
    height: 50px;
    border: 1px solid #999;

}
footer ul li{
    display: inline-block;
    width: 24%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding-top: 5px;
}
footer ul li:hover{
    background-color: #ddd;
}
[출처] 테스트- 인스타그램클론 코딩|작성자 치즈라떼

