body {
  margin: 100px;
}

.container {
  margin: auto;
  width: 430px;
  height: 480px;
  background: #FAFAFA;
  border: 1px solid #DBDBDB;
}

.main{
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.content {
  text-align: center;
  margin-bottom: 80px;
}

.inputContainer {
  border-radius: 5px;
} 

input {
  padding-left: 10px;
  width: 75%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #DBDBDB;
  background: #f1f1f1;
}

#inputPw {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 55;
  width: 75%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

button {
  padding: 10px;
  color: white;
  background-color: #C0DFFD;
  border: none;
}

.findPassword {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration-line: none;
  color: blue;
}
