* {
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
