body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 350px;
  height: 380px;
  border: 1px solid #dbdbdb;
}

.logo {
  margin: 24px 0 36px;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form input {
  width: 268px;
  margin: 0 40px 6px;
  padding: 12px 8px 12px 8px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 12px;
}

.login-form__submit {
  width: 268px;
  margin: 8px 40px 100px;
  padding: 12px 8px 12px 8px;
  background-color: #b2dffc;
  border-radius: 4px;
  color: #fff;
}

.login-form__submit.active {
  background-color: #0095f6;
  cursor: pointer;
}

.login-form__link {
  color: #00376b;
  font-size: 12px;
}
