@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    width: 100%;
    height: 100%;
}
.loginBox {
    border: 1px solid #ededed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 358px;
}  

.loginBox header {
    font-family: 'Lobster', cursive;
    margin: 22px auto 36px;
    font-size: 40px;
}

.loginBox input {
    padding: 15px 10px;
    margin: 5px 0;
    width: 268px;
    height: 30px;
    border: 0.2px solid #ededed;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.access {
    background-color: #0095F6;
    cursor: pointer;
}

.loginBtn {
    margin-top: 13px;
    width: 268px;
    height: 30px;
    background-color: #C0DFFD;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.loginBox a {
    text-decoration: none;
    color: #325883;
    font-size: 13px;
    margin-top: 25%;
}

.access {
    background-color: #0095F6;
    cursor: pointer;
}