*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}

#logo{
    font-family: 'Lobster', cursive;
}
/* login page */
main#login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section.main-container {
    width: 500px;
    height: 620px;
    background-color: white;
    text-align: center;
    border: lightgrey solid 1px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo-box{
    font-size: 80px;
    margin-top: 40px;
}

.login-button{
    color: white;
    opacity: .2;
    background: blue;

    transition-duration: 400ms;
}

.login-activate{
    cursor: pointer;
    opacity: 1;
}

.login-activate:hover{
    background-color: darkblue;
}
.login-info-box{
    margin-top: -20px;
}
.login-info-box #username,
.login-info-box #password {
    width: 100%;
    height: 60px;
    font-size: 14px;
    padding-left: 10px;
    overflow: scroll;
    margin-top: 4px;
    margin-bottom: 4px;
}

.login-info-box #submit {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    font-size: 18px;
    border-radius: 2px;
    border-width: 0;
}

/* 메인페이지 */
/* navigation START */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
    border-bottom: 1px solid lightgray;
    font-size: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 800px;
    padding: 10px 0px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    flex: 1;
    padding: 0;
    margin: 0;
}

nav ul li.nav-logo{
    margin-top: -2px;
    text-align: left;
}

.nav-logo img{
    margin-bottom: -4px;
    width: 22px;
}

i+i::before{
    content: "";
    padding-left: 8px;
}

nav ul li.nav-search-bar{
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.nav-search-bar div{
    text-align: center;
    width: 200px;
    height: 36px;
    font-size: .6em;
    background-color: rgb(250, 250, 250);
    border: solid rgb(240, 240, 240) 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.nav-icons{
    text-align: right;
}

/* navigation END */

main#main-page{
    width: 800px;
    margin: 120px auto 40px auto;
}

article{
    width: 500px;
    display: block;
    padding-right: 18px;
    margin-top: 100px;
}

aside{
    height: 70vh;
    width: 300px;
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: 100px;
}

/* PROFILE!! Default!*/
.profile-username{
    display: flex;
    align-items: center;
}
.profile{
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
}
.username{
    font-weight: 700;
}
/* PROFILE!! END */

/* post css */
.post{
    line-height: 1.45em;
    background-color: white;
    border: 1px lightgray solid;
}
.post2{
    margin-top: 20px;
}
.post-top{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 20px;
}

.post-pic-frame{
    width: 480px;
    height: 480px;
    overflow: hidden;
}

.post-pic-frame img{
    width: 100%;
    margin-top: -100px;
}

.post-icons{
    padding: 16px 20px 16px 20px;
}

.post-icons i{
    font-size: 22px;
}
.post-icons .fa-bookmark{
    float: right;
    
}

.post-icons .profile-username{
    margin-top: 6px;
}
.post-icons .profile-username .profile{
    width: 22px;
}

.post-description{
    padding: 0px 20px 0px 20px;
}
/* writing comments START*/
.delete-comment,
.fa-heart{
    cursor: pointer;
}

.post-comments{
    padding: 0px 20px 0px 20px;
    height: 20px;
}
.post-comments .comment-icons{
    float: right;
}
.post-comments .heart-icon{
    float: right;
}

input.write-comment{
    border-width: 0;
    width: 400px;
}
.write-comment:focus {
    outline: none !important;
    border: none;
  }
.post-date{
    padding: 0px 20px 16px 20px;
    color: gray;
}
.post-writing-comments{
    padding: 20px 20px 20px 20px;
    border-top: 1px lightgray solid;
}
.submit-comment {
    float: right;
    color: gray;
    background-color: rgba(0,0,0,0);
    border-width: 0;
}

.activate-comment-submit{
    color: blue;
    cursor: pointer;
}

/* writing comments END*/
/* post END */

/* aside part start*/
aside section{
    overflow: hidden;
    width: 100%;
}
aside section.my-profile{
    display: flex;
    align-items: center;
}
aside section.my-profile .profile{
    width: 60px;
}
aside section.my-profile .sub-my-username{
    color: gray;
}
aside section.story,
aside section.recommend{
    margin-top: 10px;
    height: 194px;
    background-color: white;
    font-size: 1em;
    border: 1px lightgray solid;
    border-radius: 1px;
}

/* aside stories */
.recommend-bar,
.story-bar{
    padding: 12px 14px 6px 14px;
}
.more-post,
.section-name{
    color: gray;
}
.see-all{
    font-weight: 700;
    float: right;
}
.story-list,
.recommend-list{
    height: 150px;
    margin: 0;
    padding: 0 16px 0px 16px;
    list-style-type: none;
}
.story-list{
    overflow: scroll;
}
.story-list li{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.story-list li .profile{
    width: 32px;
    height: 32px;
    margin: 4px;
}
.story-img-activate{
    position: absolute;
    left: 0px;
    top: 0px;
    border: 2px red solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.story-list li .my-username{
    margin-left: 4px;
}
.my-username .userID{
    font-weight: 800;
}
.story-list li:nth-child(1),
.story-list li:nth-last-child(1){
    margin: 0;
}

/* recommend friends */
.recommend-list{
    overflow: hidden;
}
aside section.info{
    margin-top: 10px;
    height: 180px;
}
.recommend-list li .profile{
    width: 40px;
    height: 40px;
}
.recommend-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.recommend-list li:nth-child(1){
    margin: 0;
}
.recommend-list li:nth-last-child(1){
    margin: 0;
}
.follow-bttn{
    float: right;
    color: blue;
}
.profile-userID-username{
    display: flex;
    align-items: center;
}
/* recommend friends END */
/* aside part END */

.post-heart{
    cursor: pointer;   
}
.heartActivate{
    filter: invert(45%) sepia(100%) saturate(1776%) hue-rotate(-45deg) brightness(101%) contrast(96%);
}
.hideThis{
    display: none;
}

@media only screen and (max-width: 820px) {
    nav{
        width: 480px;
    }
    .nav-search-bar{
        display: none;
    }
    aside{
        display: none;
    }
    main#main-page{
        width: 100%;
    }
    article{
        width: 480px;
        margin: 100px auto 0 auto;
        padding-right: 0;
    }
  }
  @media only screen and (max-width: 480px) {
    nav{
        width: 100%;
    }
    .nav-logo{
        padding-left: 20px;
    }
    .nav-icons{
        padding-right: 20px;
    }
    .nav-search-bar{
        display: none;
    }
    aside{
        display: none;
    }
    main#main-page{
        width: 100%;
    }
    article{
        width: calc(100% - 40px);
        margin: 100px auto 0 auto;
        padding-right: 0;
    }
    .post-pic-frame{
        height: 80vw;
    }
    input.write-comment{
        width: 72vw;
    }
  }