*{
    box-sizing: border-box;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-bottom : 20px; 
    margin-top: 20px;
}

.viewp{
    position: relative;
    height: 100vh;
    text-align: center;

}
.centerwrapper {
    padding : 60px 10px 60px 10px;
    
    border: 2px solid gray;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-wrap input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    margin: 2px;
    background-color: #f0eeee;
}

.button-wrap button {
    width:300px;
    margin: 6px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding :8px;
    border : none;
    outline: none;
}

button:disabled {
    background-color : skyblue;
}
 

.forgetpw {
    padding-top: 110px;
}
