*{
    box-sizing: border-box;
}

    .bigwrapper {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }

    nav {
        border: 4px solid #E9E7E7;
        width: 100%;
        height: 70px;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    main {
        border: 4px solid #E9E7E7;
        width: 100%;
    }

    .Westagram {
        border-left: 2px solid #E9E7E7;
        padding-left: 20px;
        margin-left: 20px;
        font-family: 'Lobster', cursive;
    }

    .iconwrapper {
        display: flex;
        align-items: center;
    }

    .search {
        border: 2px solid #E9E7E7; 
    }
    
    .searchbar{
        padding-left: 50px;
    }
      
    .search input {
        border: none;
        outline: none;
        width: 90px;
        padding-left: 0px;  
    }

    .interaction {
        display: flex;
        margin: 30px;
        width: 150px;
        justify-content: space-between;
    }

    .feeds {
        border: 1px solid #E9E7E7;
        width: 650px;
        margin-right: 10px;
        margin-top:5px;
        display: flex;
        padding-top: 40px;
        flex-direction: column;
    }

    .main-rights{
        border: 1px solid #E9E7E7;
        width: 320px;
        height: 550px;
        margin-right: 60px;
        margin-top:5px;
    }

    .feedwrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    article {
        height: 85%;
        border: 1px solid #E9E7E7; 
    }

    .contact {
        display: flex;
        justify-content: space-between;
        padding : 10px;
        width: 150px;
    }
    
    .list, ol{
        display: block;
        align-items: flex-end;
        padding-left: 0px;
    }

    #comment{
        width: 100%;
        border: 1px solid #E9E7E7;
        height: 30px;
    }