* {
  box-sizing: border-box;
}
.loginpage {
  border: 1px solid rgb(211, 211, 211, 0.5);
  margin: 15px;
  padding: 0 0 60px 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
#logo {
  font-family: "Lobster";
  font-size: 70px;
  font-weight: lighter;
  margin-bottom: 30px;
}
input {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid gray;
  opacity: 0.5;
}

.idpw {
  margin-top: 20px;
}

.loginbtn {
  width: 400px;
  height: 50px;
  border: 1px solid rgb(211, 211, 211, 0.8);
  border-radius: 8px;
  background-color: #b3dbff;

  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
}
.IDINPUT {
  margin-top: 80px;
  margin-bottom: 10px;
}

.indpassword {
  margin-left: auto;
  margin-right: auto;
}

.loginbtn:disabled {
  background-color: rgb(168, 202, 244);
}
