* {
  box-sizing: border-box;
}
.fontlightgray {
  color: rgb(207, 204, 204);
}
.menubar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.westalogo {
  height: 30px;
  margin: auto 0;
}
.logo {
  display: flex;
}
.navicon {
  height: 30px;
  display: flex;
  margin: auto 0;
}
img {
  margin-right: 15px;
}
.searchbar {
  height: 30px;
  width: 200px;
  margin: auto 0;
}
.westa {
  border-left: solid;
  padding-left: 5px;
  font-size: 20px;
  font-family: "Lobstar";
  margin-left: 20px;
}

.profile {
  border-radius: 70%;
  overflow: hidden;
  height: 50px;
  margin-right: 5px;
}

main {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.articleborder {
  border: 1px solid gainsboro;
  margin-top: 30px;
  width: 470px;
}
.articleTop {
  background-color: white;
  display: flex;
  width: 470px;
  height: 56px;
}
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
.dot {
  width: 20px;
  margin-left: 350px;
}

.feedimg {
  width: 470px;
  height: 470px;
}

.iconSize {
  height: 20px;
}

.iconSize:nth-child(4) {
  margin-left: 200px;
}

article {
  padding: 0;
}

.commentinput {
  width: 100%;
  height: 49px;
  position: relative;
}
.commentUD {
  position: absolute;
  margin-top: 15px;
  margin-left: -40px;
  color: skyblue;
}
.main-right {
  display: flex;
  flex-direction: column;
}

.feedcomentimg {
  border-radius: 70%;
  width: 25px;
  margin-bottom: 30px;
}
.feedLikeNum {
  display: flex;
}
.feedLikeNumfont {
  font-size: 14px;
  padding-bottom: 0;
}
.story {
  width: 347px;
  height: 256px;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.story_profile {
  border-radius: 70%;
  overflow: hidden;
  height: 32px;
}

.friendRecomand {
  width: 256px;
  height: 347px;
}
.main-right {
  margin-left: 50px;
}

.myprofile {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  width: 319px;
  height: 56px;
}

.IDTIME {
  display: flex;
  flex-direction: column;
}
.story_ID {
  width: 347px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 9px;
  margin-left: 5px;
}
.story-font {
  font-size: 14px;
}
.storyFontMenu {
  font-size: 14px;
}
.storyFontContainer {
  display: flex;
  flex-direction: column;
}
.storyMenu {
  display: flex;
}
.name {
  padding-left: 0px;
}
.sfMenu {
  margin-top: 10px;
  margin-left: 20px;
}
.sfMenu2 {
  margin-top: 10px;
  margin-left: 220px;
}
.imoticon {
  width: 470px;
  height: 30px;
}
.commentList {
  margin-top: -15px;
  list-style: none;
}
.recomand {
  margin-top: 200px;
  width: 347px;
  height: 180px;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 6px;
}
.reMenu {
  margin-top: 10px;
  margin-left: 10px;
}
.reMenu2 {
  margin-top: 10px;
  margin-left: 170px;
}

.explain {
  margin-top: 30px;
  font-size: 15px;
}

.WESTAGRAM {
  margin-top: 10px;
}
