* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  margin: 0;
  cursor: default;
  background-color: #fafafa;
}

.outerBox {
  width: 350px;
  height: 400px;
  margin: 130px auto;
  border: 1px solid lightgray;
  background-color: white;
}

.login__container {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

#userId {
  width: 260px;
  height: 35px;
  padding: 9px;
  margin: 5px auto;
}

#userPw {
  width: 260px;
  height: 35px;
  padding: 9px;
  margin: 5px auto;
}

#login__btn {
  width: 260px;
  height: 35px;
  padding: 9px;
  margin: 5px auto;
  border-color: #0195f7;
  box-shadow: 0px;
  background-color: #0195f7;
}

.password__reset {
  width: 300px;
  margin: 20px auto;
}

.login-logo {
  width: 300px;
  margin: 20px auto;
  font-size: 40px;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  width: 100%;
  height: 100%;
}

.password__reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
