* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lobster';
  src: url('/로그인페이지/font/Lobster/Lobster-Regular.ttf') format('truetype');
}

.totalBox-wrap{
  border: 1px solid #D3D3D3;
  border-radius: 1px;
  width: 400px;
  height: 450px;
  margin: 5px auto;
  padding: 10px 0px;
}

.logo {
  font-family:'Lobster';
  font-size: 40px;
  text-align: center;
  margin: 70px auto 30px auto;
}

.loginContent-wrap{
  
  width: 270px;
  margin: 10px auto;
}

#user-id, #user-pw {
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.login-button{
  width: 100%;
  height: 40px;

  border: 1px solid rgb(16, 159, 255);
  border-radius: 5px;
  background-color: rgb(16, 159, 255);

  color: white;
}

.button:disabled{
  border: 1px solid rgba(16, 159, 255, 50);
  background-color: rgba(16, 159, 255, 50);
}

#user-id, #user-pw, #login-button {
  padding: 5px;
  margin: 5px auto;
}

.keydown {
  width: 100%;
  height: 40px;

  border: 1px solid #4CB5F9;
  border-radius: 5px;
  background-color: #4CB5F9;

  color: white;
}



.find-pw a{
  display: block;
  margin: 80px auto 20px auto;
  text-align: center;
  font-size: 15px;
}