.container { 
  width: 30vw;
  height: 400px;
  margin: 30px auto;
  border: 1px lightgrey solid;
  position: relative;
}


h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 40px 0;
  font-size: 2.6rem;
}

.sub_container{
  width: 100%;
  
}

input{
  width: 70%;
  height: 35px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

button {
  width: 70%;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: aliceblue;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px;
}
