/* common.css */
@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,  summary, time, mark, audio, video{
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
body {
    font-family: 'Noto Sans KR', sans-serif;

}
a {
    font-size: 100%;
    vertical-align:baseline;
    text-decoration: none;
    color: #313131;
}
ul, ol,li {
    list-style:  none;
}
ul:after, ol:after, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
image {
    border: none;
}
.eng {
    font-family: 'Lobster', cursive;
}

