/* login.css */
@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fafafa;
}
div#wrapper {
    width:450px;
    height: 410px;
    margin: 0 auto;
    background-color: #fff;
    border: 1.5px solid #dcdcdc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#wrapper .logo {
    /* outline: 3px solid lime; */
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1px;
}

/* login-form */
#wrapper .loginFrm {
    padding: 20px;
}
.loginFrm input {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 10px;
    background: #fafafa;
    border: 1.5px solid #dcdcdc;
    border-radius: 5px;
}

input::placeholder {
    text-indent: 10px;
    color : #777;
}

.loginBtn {
    width: 100%;
    padding: 12px 0;
    margin: 0 auto;
    margin-top: 12px;
    border: 0;
    border-radius: 5px;
    background: #0095f6;
    color:#fff;
    font-weight: bold;
    font-size: 1.25rem;
    opacity: 0.4;
}
#wrapper p {
    color: #385185;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}