@charset "utf-8";

body {
    background-color: #fafafa;
    color: #454545;
}

header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: fixed;
    top: 0;
    z-index: 999;
}

header nav {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header nav .logo {
    width: 200px;
    line-height: 60px;
}

nav .logo .logoImg {
    display: block;
    margin-top: 17px;
    margin-left: 12px;
    float: left;
}

nav .logo .logoImg img {
    display: block;
    width: 26px;
}

nav .logo .logoTxt {
    font-size: 1.5rem;
    float: right;
    position: relative;
}

nav .logo .logoTxt a {
    display: block;
}

.logoTxt:before {
    content: "";
    display: block;
    width: 1.8px;
    height: 24px;
    background-color: #333;
    position: absolute;
    top: 18px; 
    left: -19px;
}

nav .search-box {
    /* outline:3px solid lime; */
    line-height: 60px;
}

nav .search-box input {
    padding: 4px 20px;
    background: #fafafa;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 3px;
}

.search-box input::placeholder {
    color: rgb(171, 173, 176);
    text-align: center;
    background: url(../img/ico_search.png) no-repeat 35% center/12px 12px;
}

.icon-wrap {
    width: 15%;
}

.icon-wrap a {
    display: block;
    float: left;
    width: 33.33%;
    height: 100px;
    position: relative;
}

.icon-wrap a img {
    display: block;
    width: 24px;
    margin: 17px auto;
    line-height: 100px;
}

.icon-wrap a:nth-child(2):after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(237, 73, 86);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main-feed */
main#feed {
    width: 37%;
    margin: 100px 0;
    background-color: #fff;
    border: 1.5px solid rgb(219, 219, 219);
    position: relative;
    top: 0px;
    left: 18%;
}

#feed .inner-top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.inner-top .profile {
    width: 32%;
}

.inner-top .profile a {
    display: block;
    /* outline: 3px solid; */
}

.inner-top .profile a img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
}

.inner-top .profile a p {
    float: right;
    line-height: 60px;
    font-weight: bold;
    font-size: 0.9rem;
}

.inner-top .more {
    width: 5%;
    margin-top: 20px;
    margin-right: 10px;
}

.inner-top .more img {
    width: 20px;
}

#feed .inner-feed {
    width: 100%;
}

#feed .inner-feed img {
    width: 100%;
}

#feed .inner-bottom {
    background-color: #fff;
    padding: 10px;
}

#feed .inner-bottom .inner-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-menu img {
    width: 20px;
    opacity: 0.8;
}

.inner-menu .left-img a {
    display: inline-block;
}

.left-img a~a {
    margin-left: 10px;
}

.whoLikes {
    margin-top: 15px;
    font-size: 0.9rem;
}

.whoLikes img {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.inner-text {
    width: 100%;
    font-size: 0.875rem;
}
.inner-text .msg {
    text-indent: 5px;
}
.inner-text .top-wrap {
    width: 100%;
    display: flex;
    border: 0;
}
.inner-text .moreTxt {
    text-indent: 10px;
    font-size: 0.9rem;
    color: rgb(171, 173, 176);
}

.inner-text .bottom-wrap {
    width: 100%;
    display: flex;
}

.inner-text .bottom-wrap .heartTag {
    width: 5%;
    text-align: center;
}

.inner-text .time {
    display: block;
    color: rgb(171, 173, 176);
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.inner-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: rgb(219, 219, 219);
    position: absolute;
    bottom:50px;
    left: 0;
}
.new {
    width: 100%;
    display: flex;
}
/* 댓글창 */

.chatFrm .chatBox {
    width: 90%;
    border: 0;
    outline: 0;
    /* outline: 3px solid red; */
    padding: 5px 0;
}

.chatFrm .chatBox::placeholder {
    color: rgb(171, 173, 176);
}

.chatFrm .uploadBtn {
    width: 9%;
    text-align: right;
    border: 0;
    background: none;
    color: #0095f6;
    opacity: 0.4;
    cursor: pointer;
}

aside {
    width: 23%;
    /* background-color: yellow; */
    position: fixed;
    top: 100px;
    right: 20%;
}

aside img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

aside .user_profile {
    height: 60px;
    /* outline: 2px solid red; */
}

.user_profile img {
    float: left;
    margin-right: 12px;
}

.user_profile p {
    display: block;
    float: left;
    font-size: 0.9rem;
    color: rgb(171, 173, 176);
    /* outline: 3px solid red; */
}

.user_profile .title {
    color: #454545;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.875rem;
}

/* story */
.story {
    height: 180px;
    overflow: hidden;
    /* line-height: 30px; */
    padding: 10px;
    font-size: 0.9rem;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
}

h4 {
    color: rgb(171, 173, 176);
    font-weight: normal;
    font-size: 0.9rem;
    float: left;
    margin-bottom: 5px;
}
.all {
    float: right;
    font-size: 0.9rem;
}
.story-box {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.story-box a.go-story {
    width: 20%;
    /* outline: 3px solid blue; */
}

.story-box a.go-story:before {
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1.5px solid transparent;
    background-image: linear-gradient(#fff, #f1f1f1), linear-gradient(#fdf497, #fdf497, #fd5949, #d6249f, #285AEB);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    top: 0;
}

.story-box a.go-story:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

.story-box a.go-story img {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 4px;
    left: 4px;
}

.story-box .user-name {
    padding-top: 5px;
    font-size: 0.875rem;
}

.time-stamp {
    display: block;
    width: 75%;
    color: rgb(171, 173, 176);
    font-size: 0.875rem;
    position: absolute;
    left: 25%;
    bottom: -20%;
}

/* recom-box */
.recom {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.9rem;
}
.recom-title {
    margin-bottom: 5px;
}

.recom-box {
    display: flex;
    position: relative;
    margin-bottom: 5px;
    /* outline: 3px solid red; */
}

.recom-box a.pro-img {
    width: 20%;
    text-align: center;
    margin-top: 6px;
}

.recom a.pro-img img {
    display: block;
    width: 38px;
    height: 38px;
}

.recom a.user-name {
    display: block;
    padding-top: 6px;
}

.recom .follow {
    display: block;
    width: 90px;
    text-align: right;
    line-height: 50px;
    color: #0095f6;
    font-weight: bold;
}

.recom:after {
    clear: both;
}

.recom .follower {
    width: 200px;
    color: rgb(171, 173, 176);
    font-size: 0.875rem;
    margin-top: -5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.foot-box {
    width: 300px;
    color: rgb(171, 173, 176);
    font-size: 0.75rem;
    margin-top: 5px;
}

.foot-box .foot-nav a {
    font-size: 0.875rem;
    color: rgb(171, 173, 176);
}

.foot-box .copy {
    margin-top: 10px;
    font-size: 0.75rem;
}