*{
  box-sizing: border-box;
  background-color: #FAFAFA;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
}
