@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.loginBox {
        background-color: #FFFFFF;
        border: 2px solid #E2E2E2;
        width: 50%;
        height: 90%;
        text-align: center;
        position: relative;
}

header {
        width: 100%;
        font-size: 100px;
        font-family: 'Lobster', cursive;
        margin: 50px 0px 100px 0px;
}

input {
        width: 80%;
        height: 65px;
        border-radius: 5px;
        margin: 8px 0px;
        padding: 0px 15px;
        font-size: 20px;
        border: 2px solid #EFF0EF;
        background-color: #FAFBFA;
}

input::placeholder {
        color: #979797;
}
input:focus {
        border: 0px;
        outline: 2px solid  #BEBFBE;
}

button {
        width: 80%;
        height: 60px;
        border-radius: 8px;
        border: 0px;
        color: #FDFEFF;
        font-size: 25px;
        font-weight: bold;
        background-color: #CCDFF9;
        margin: 25px 0px;
}

button:hover {
        cursor: pointer;
}
footer {
        position: absolute;
        bottom: 30px;
        font-size: 20px;
        width: 100%;
        font-weight: 600;
}

a{
        text-decoration: none;      
}
a:link { color: #2B406C }
a:visited { color:#A82A47; }
a:hover { color:#5B88E6; }