body {
        display: flex;
        justify-content: center;
        align-items: center;
}

.login-box {
        position: relative;
        width: 50%;
        height: 90%;
        text-align: center;
        border: 2px solid #E2E2E2;
        background-color: #FFFFFF;
}

.logo-text {
        width: 100%;
        margin: 50px 0px 100px 0px;
        font-size: 100px;
        font-family: 'Lobster', cursive;
}

.login-input {
        width: 80%;
        height: 65px;
        border-radius: 5px;
        margin: 8px 0px;
        padding: 0px 15px;
        font-size: 20px;
        border: 2px solid #EFF0EF;
        background-color: #FAFBFA;
}
.login-input:focus {
        border: 0px;
        outline: 2px solid  #BEBFBE;
}
.login-input::placeholder {
        color: #979797;
}

.login-btn {
        width: 80%;
        height: 60px;
        border-radius: 8px;
        border: 0px;
        color: #FDFEFF;
        font-size: 25px;
        font-weight: bold;
        background-color: #769EF6;
        cursor: pointer;
        margin: 25px 0px;
}
.login-btn:disabled {
        background-color: #CCDFF9;
        cursor: auto;
}

footer {
        position: absolute;
        bottom: 30px;
        width: 100%;        
}

a { 
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
}
a:link { color: #2B406C }
a:visited { color:#A82A47; }
a:hover { color:#5B88E6; }