@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    color: #262626;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

button {
    background-color: #fff;
    border: 0;
}

button:hover {
    cursor: pointer;
}