
.main-container{
 border: 1px solid white;
 width: 600px;
 height: 800px;
 background-color:#fafafa;
 display: flex;
 justify-content: center;
 align-items: center;
}


.inner-box{
  border: 1px solid rgb(209, 206, 206);
  width: 550px;
  height: 750px;
  background-color: #ffffff;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.box-location{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;

}

.logo-title{
  font-family:  'Lobster', cursive;
  font-size: 95px;
  margin-bottom: 100px;
}

.input-container{
  width: 450px;
  height: 60px;
  margin-bottom: 20px;
  background-color:#fafafa;
  border: 1px solid rgb(237, 232, 232);
  border-radius: 10px;
  font-size: 20px;
  padding-left: 20px;
  /* color: rgb(227, 224, 224) */
}

.login-button{
  width: 475px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #C4E1FB;
  border: 1px solid white;
  color: white;
}


.lost-password{
  position: relative;
  top: 150px;
  font-size: 25px;
  color: #184675;
  text-decoration: none;
  font-weight: bold;
}

