.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #dbdbdb;
}

.feeds {
  display: flex;
}
.ss {
  display: flex;
  justify-content: space-between;
}
.nav-search-input {
  text-align: center;
}
main article {
  border: 0.5px solid #dbdbdb;
  margin-left: 350px;
  margin-top: 100px;
}
.profile {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile img {
  width: 50px;
  height: 50px;

  object-fit: cover;

  border-radius: 50%;
}
.C9 {
  font-size: 23px;
  padding-top: 10px;
  padding-left: 10px;
}
.menuIcon {
  display: flex;
}
i {
  font-size: 30px;
  padding-top: 15px;
}
article img {
  width: 600px;
}
.imoticon {
  padding-bottom: 20px;
  padding-left: 20px;
}
.like1 {
  border: 1px solid white;

  border-radius: 50%;
  padding-left: 15px;
}
.like2 {
  border: 1px solid white;

  border-radius: 50%;
}
.like1 img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}
.like2 img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}
.love {
  font-size: 13px;
  padding-left: 20px;
}
#commentLists {
  list-style: none;
  padding-left: 20px;
}
.could {
  padding-left: 20px;
}
.five {
  padding-left: 20px;
}
.six {
  padding-left: 20px;
}
.Rona {
  font-size: 18px;
  font-weight: bold;
}
.comment {
  display: flex;
}
.comment input {
  width: 550px;

  height: 30px;
  border: 0.5px solid white;
}
button {
  font-size: 15px;
  border: 0.5px solid white;
  cursor: pointer;
  font-weight: bold;
  color: cadetblue;
  background-color: white;
}
.main-right {
  border: 1px solid white;
  margin-top: 80px;
  margin-left: 60px;
}
.img-box {
  border: 1px solid black;
}

.main-right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main-top {
  display: flex;

  padding-left: 33px;
  padding-top: 20px;
}
.C8 {
  font-size: 20px;
  padding: 10px;
}
.C7 {
  padding-top: 15px;
  padding-left: 130px;
  color: rgb(77, 131, 212);
  cursor: pointer;
  font-size: 13px;
}
p {
  padding-top: 30px;
  font-size: 15px;
  color: gray;
}
.son {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 10px;
}
.son1 {
  padding-left: 119px;
  color: rgb(77, 131, 212);
  cursor: pointer;
  font-size: 13px;
}
.son2 {
  padding-left: 81px;
  color: rgb(77, 131, 212);
  cursor: pointer;
  font-size: 13px;
}
.son3 {
  padding-left: 125px;
  color: rgb(77, 131, 212);
  cursor: pointer;
  font-size: 13px;
}
.son4 {
  color: rgb(77, 131, 212);
  padding-left: 108px;
  cursor: pointer;
  font-size: 13px;
}
.gangchu {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 30px;
}
