* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

@font-face{
  font-family: "Lobster";
  src: url(./fonts/Lobster-Regular.woff) format('woff');
}

.alpha{
  width: 847px;
  height: 60px;
  padding: 0px 20px;
  display: flex;
}

.alpha .a{
  font-family: "Lobster";
}
button{
  width: 28px;
  height: 36px;
  padding: 8px;
  border: 0px solid;
  background-color: white;
}
.check_img{
  width: 12px;
  height: 12px;
}
img{
  width: 12px;
  height: 12px;
}