* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

@font-face{
  font-family: "Lobster";
  src: url(./fonts/Lobster-Regular.woff) format('woff');
}

.a{
  width: 350px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
}
.b{
  width: 350px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-bottom: 0px;
}
.b p{
  height: 50%;
  font-family: "Lobster";
  font-size: 50px;
}
.c{
  height: 210px;
  width: 350px;
  display: flex;
  align-items: flex-start;
  border: 1px solid gray;
  border-top: 0px;
}
.id, .ps{
  width: 260px;
  height: 36px;
  margin-bottom: 5px;
  padding-left: 10px;


}
 button{
  width: 260px;
  height: 30px;
  border: 0px;
  background-color: #0095f6 ;
  color: white;
 }

 form{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
 }
.d{
  display: flex;
  margin-top: 10px;

}

.line1{
  width: 103px;
  border: 0px;
  border-top: 1px solid gray;
  margin-top: 7px;
  margin-right: 7px;
}
.line2{
  width: 103px;
  border: 0px;
  border-top: 1px solid gray;
  margin-top: 7px;
  margin-left: 7px;
}
.faceps{
  display: flex;
  flex-flow: column nowrap;
}
.faceps img{
  width: 15px;
  margin-right: 5px;
}
.fb{
  margin-top: 10px;
  margin-bottom: 10px;
}
.lps{
  color: black;
}
.e{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: solid 1px gray;
}