div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.background {
  width: 400px;
  height: 500px;
  border: 10px solid #fafafa;
}

.logo {
  margin-top: 25px;
  font-family: "Lobster", cursive;
  font-size: 70px;
}

input {
  background-color: #fafafa;
}

#loginbtn {
  width: 309px;
  background-color: #c4e1fb;
  border-color: #c4e1fb;
  border-radius: 5px;
  color: white;
}

.login {
  width: 300px;
  height: 40px;
  display: block;
  margin-bottom: 15px;
  padding: 3px;
  border: 1px solid #dcd4d4;
  border-radius: 2px;
}

.forgotpw {
  margin-top: 70px;
  text-decoration-line: none;
}
