

.wrap{
    width:500px;
    margin:auto;
    border: 1px solid rgb(199, 196, 196);
}
 .title{
     font-family: 'Lobster';
     font-size: 50px;
     text-align: center;
     margin-bottom: 50px;
     font-weight:10;
 }

 .login_box{
     width:330px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto; 
     padding-bottom: 250px;

 }

 .login_box input {
     width: 350px;
     height: 50px;
     margin-bottom: 10px;
     border-radius: 5px;
     border: 1px solid rgb(199, 196, 196);
     background-color: rgb(242, 242, 242);
 }

 .on_btn {
     margin-top: 10px;
     width: 350px;
     height: 40px;
     border-radius: 5px;
     border: 1px solid rgb(199, 196, 196);
     background-color: rgb(181, 230, 252);
 }
 
 .off_btn{
    background-color:  pink;
 }
 .forget_pw{
     text-align: center;
     margin-bottom:50px;
 }