*{
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    margin: auto;
}

/* loginPage */


.loginPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: none;
}
.mainPage{
    /* display: none; */
}

.loginContainer{
    border: 1px solid lightgray;
    text-align: center;
    padding: 20px;
}

.loginTitle{
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 80px;
}

.loginInputBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.loginInputBox input{
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.loginInputBox input:focus{
    border: 1px solid gray;
}

.loginBtn{
    width: 80%;
    margin: auto;
    height: 40px;
    margin-bottom: 80px;
    margin-top: 10px;
    border: none;
    background-color: #b2dffc;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #385185;
}
.emailCheck{
    margin-top: 0;
    font-size: 13px;
    color: #b9b9b9;

}


/* login button on/off */
.btnOn{
    background : #1995f6; 
    cursor: pointer
}
.btnOn:active{
    background: #b2dffc;
}


/* mainPage */

.mainPage{
    text-align: center;
    position: relative;
}

/* nav */

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #b9b9b9;
}

.navImgTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.navImg{
    width: 30px;
    height: 30px;
    margin: 0px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.navTitle{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    cursor: default;
}

.navInputFlex{
    flex: 6;
}

.navInputBox{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    margin: auto;
    background-color: #eee;
}
.navInput{
    width: 200px;
    border: none;
    text-align: center;
    overflow: auto;
    font-size: 15px;
    background-color: #eee;
    outline: none;

}

.fa-magnifying-glass{
    font-size: 15px;
    color: #817e7e;
    cursor: pointer;
}

.navIconFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.navIcon{
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}


/* main */

main{
    max-width: 80%;
    display: flex;
    margin: auto;
    margin-top: 70px;
}


/* section, article */

section{
    flex: 7;
    margin: 50px 0;
}

article{
    border: 1px solid rgba(180, 180, 180, 0.933);
    border-radius: 5px;
    margin-bottom: 30px;
}

.articleHeader{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articleImg{
    flex: 1;
}

.articleProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.articleProfileTitle{
    flex: 8;
    text-align: left;
    margin-left: 15px;
}

.articleNickname{
    font-weight: bold;
    cursor: pointer;
}
.articlePlace{
    font-weight: 100;
    font-size: 13px;
    margin: 0;
    cursor: default;
}

.articleIcon{
    flex: 1;
    cursor: pointer;
}




.mainImg{
    height: 70vh;
}

.articleImg{
    width: 100%;
    height: 600px;
}

.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.iconBox i{
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.iconBox .fa-heart{
 margin-left: 15px;
} 
.iconBox .fa-bookmark{
    flex: 1;
    text-align: right;
    margin-right: 15px;
}
.feedsContent{
    text-align: left;
    margin-left: 12px;
}
.comment{
    margin-bottom: 0;
}
.time{
    margin-top: 5px;
    margin-right: 5px;
    font-weight: 300;
    font-size: 12px;
}
.mainComment{
    width: 100%;
    border-radius: 5px;
    border: none;
    border-top: 1px solid rgba(180, 180, 180, 0.933);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.commentInput{
    width: 90%;
    line-height: 40px;
    border: none;
    outline: none;
}
.mainComment button{
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    color: #b2dffc;
    background-color: white;
    font-size: 14px;
}

.goodBox{
    display: flex;
}
.goodBox i{
    margin: 0 5px 0 10px;
    font-size: 12px;
    margin-top: 5px;
}
.heart:hover{
    color: red;
    cursor: pointer;
}
.fa-delete-left:hover{
    color: #1995f6;
    cursor: pointer;
}

.heartUp{
    margin-top: 5px;
    font-weight: 300;
    font-size: 12px;
    margin-right: 5px;
}



/* aside */

main .mainRight{
    margin-top: 50px;
}

.mainRight{
    margin-left: 50px;
}

.mainRightTitle{
    display: flex;
    text-align: left;
    align-items: center;
}
.mainRightImg{
    margin-right: 15px;
}

.mainRight img{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
}

.mainRightStory{
    width: 90%;
    border: 1px solid rgba(180, 180, 180, 0.933);
    border-radius: 5px;
    margin: 20px 0;
}
.storyTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.933);
}
.storyTitle p{
    color: rgb(115, 114, 114);
}
.storyProfile{
    text-align: left;
}
.storyProfiles{
    display: flex;
    margin: 10px 0 10px 10px;
    align-items: center;
}
.storyProfiles img{
    width: 40px;
    height: 40px;
    border: 2px solid #c536a4;
    cursor: pointer;
}
.storyProfiles p{
    margin-top: 5px;
    font-size: 11px;
}
.recomendImg img{
    border: 2px solid black;
    margin: 0;
}
.recomendImg{
    margin-right: 10px;
}
.recommend{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommend p{
    font-weight: 100;
    font-size: 13px;
    margin: 0;
    cursor: default;
}
.recommend span{
    font-weight: bold;
    cursor: pointer;
}

.follow{
    margin-left: 50px;
    cursor: pointer;
    color: #1995f6;
}
.storyTitle span{
    cursor: pointer;
}

.nickname{
    font-weight: bold;
}


@media screen and (max-width:1000px) {
    .mainRight{
        display: none;
    }
    
}
@media screen and (max-width:800px) {
    .navInputFlex{
        display: none;
    }
}


/* -------------------------------- */

.idFindBox{
    background-color: white;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 45px;
    border-radius: 5px;
    border: 1px solid #eee;
    text-align: left;
    overflow: auto;
}

.idFindBox::-webkit-scrollbar {
    width: 5px;
}
  .idFindBox::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 5px;
}
  .idFindBox::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
}

.idFindContent{
    margin: 20px 10px;
    display: flex;
    align-items: center;
}

.searchImg{
    width: 40px;
    height: 40px;
}
.searchText{
    font-size: 20px;
}

.idFindBox{
    display: none;
}