*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  ul,li{
    list-style: none;
  }
  a{
    color:#333;
    text-decoration: none;
  }
  /* input,button{
    outline: none;
  } */
  body,html{
    height: 100%;
  }

  body {
    background: rgb(246, 246, 246);
}