.top {
  width: 382px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #dbdbdb;
}

.logo {
  font-family: "Lobster", cursive;
  padding-top: 35px;
  font-size: 65px;
  margin-bottom: 61px;
}
.logId {
  width: 268px;
  height: 38px;
  margin-bottom: 3px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
}
.logPw {
  width: 268px;
  height: 38px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
}

.loginButton {
  width: 268px;
  height: 34px;
  margin-top: 20px;
  border: none;
  background-color: #c4e1fb;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.forget {
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 180px;
  color: #00376b;
}
