@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*font*/
.font-gray{
    color:#8e8e8e;
    font-size: 14px;
}

.font-graysmall {
    color:rgba(var(--edc,199,199,199),1);
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
}

.font-graybold{
    color:#8e8e8e;
    font-size: 14px;
    font-weight: 600;
}

.font-blue {
color: rgba(var(--d69,0,149,246),1);
font-weight: 600;
cursor: Pointer;
}

.bold {
    color:rgba(var(--f75,38,38,38),1);
    font-weight: 600;
    cursor: Pointer;
}

.accountName {
    color:rgba(var(--f75,38,38,38),1);
    font-weight: 600;
    margin-right: 5px;
    cursor: Pointer; 
}

/*icon*/
.miniIcon {
    width: 25px;
    margin-right: 15px;
}

.comment-heart {
    align-items: center;
}

/*pic*/
.profile_pic {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

/*component*/
.story-account {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.recommend-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 15px 15px;
}


