* {
    box-sizing: border-box;
    font: inherit;
}

body {
    margin: 0;
    background-color:#FAFAFA;
}

/*--- nav ---*/

nav {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px 0 80px;
    background-color: white;
    border-bottom: lightgray solid 1px;
}

.nav-logo {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
}

.nav-logo_text {
    width: 150px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: black solid 2px;
    font-family: 'Lobster', cursive;
    font-size: 23px;
}

.nav-logo_image{
    width:23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('logo.png');
}

.nav-search {
    position: relative;
    width: 200px;
}

.nav-search input {
    width: 100%;
    padding: 3px 0;
    color: #dbdbdb;
    background-color:#FAFAFA;
    border: #dbdbdb solid 1px;
    text-align: center;
    font-size: 14px;
}

.nav-search i {
    position: absolute;
    top: 9px;
    left: 35%;
    color: #8e8e8e;
    font-size: 10px;
}

.nav-icons {
    display: flex;
    width: 180px;
    justify-content:space-around;
}

.nav-icons div {
    width:23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-icons_safari {
    background-image: url('safari.png');
    }    

.nav-icons_heart {
    background-image: url('heart.png');
    }

.nav-icons_person {
    background-image: url('person.png');
    }

/*--- main ---*/

main {
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

/*--- feeds ---*/

.feeds {
    width: 650px;
    margin-right: 30px;
}

.feeds-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

.feeds-status-icons {
    display: flex;
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}

.feeds-text {
    margin-left: 20px;
    margin-top: 5px;
}

.feeds-text_like {
    margin-bottom: 10px;
}

article {
    display: flex;
    width: 650px;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
    border: lightgray solid 1px;
}

.feeds-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.feeds-profile_account {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.feeds-profile_account_pic{
    margin-right: 15px;
    background-image: url('profile.jpg');
    background-size: cover;
}

.feeds-profile_dot{
    align-items: center;
}

.feeds-pic {
    width: 650px;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('cat.jpg');
}

.feeds-text_minutes{
    margin: 5px 0 10px 20px;
}

.feeds-comment {
    bottom: 0;
    align-items: center;
    padding-top: 10px;
    border-top: lightgray solid 1px;
}

.feeds-comment_box {
    width: 550px;
    margin-left: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 0;
    outline: 0;
    font-size: 14px;
}

.feeds-comment_btn {
    width: 60px;
    margin-left: 20px;
    color: lightskyblue;
    background-color: white;
    border: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/*--- profile ---*/

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profilename {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    margin-top: 5px;
    padding-right: 20px;
    justify-content: space-between;
    list-style:none;
    text-align: center;
}

.myProfile{
    display: flex;
    width: 400px;
    margin-top: 40px;
    align-items: center;
}

.myProfile-pic {
width: 53px;
height: 53px;
margin-right: 20px;
border-radius: 50%;
background-size: cover;
background-image: url(tweety.jpg);
}

/*--- story ---*/

.story{
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;    
    border: lightgray solid 1px;
}

.profile_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 8px 15px;
}

.story-account {
    display: flex;
    margin-left: 15px;
}

.story_pic1 {
background-image: url('wecode.jpg');
}

.story_pic2 {
background-image: url('yk.jpg');
}

.story_pic3 {
background-image: url('sk.jpg');
}

/*--- recommend ---*/

.recommend{
    width: 400px;
    background-color: white;
    border: lightgray solid 1px;
}

.recommend-wrap {
    display: flex;
    margin: 0 15px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.recommend-account {
    display: flex;
}

.recommend-pic1{
    background-image: url('byemypie.jpg');
}

.recommend-pic2{
    background-image: url('verte.jpg');
    }

.recommend-pic3{
    background-image: url('wsh.jpg');
    }

/*--- info ---*/

.info{
    width: 300px;
    height: 80px;
    margin-bottom: 50px; 
}

