body {
  height: 200vh;
  background-color: #fafafa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 130px 20px 130px;
  border-top: 3px solid black;
  border-bottom: 2px solid #e4e4e4;
  background-color: white;
}

h1 {
  display: inline;
  font-family: "Lobster", cursive;
}

.fa-instagram,
.bar {
  font-size: 30px;
}

.brandName {
  font-size: 20px;
}

.searchBar {
  position: relative;
}

.searchBarWord {
  text-align: center;
  padding: 8px;
  width: 300px;
  border: 2px solid #e4e4e4;
  background-color: #fafafa;
}

.searchBarOne {
  position: absolute;
  bottom: 5px;
  left: 120px;
  color: #c1c3c5;
}

.fa-search {
  margin-right: 10px;
}

.searchOne,
.heart,
.profile {
  width: 25px;
}

.searchOne,
.heart {
  margin-right: 20px;
}

main {
  display: flex;
  margin: 0px 80px;
}

.feeds {
  width: 750px;
  padding-top: 80px;
  padding-bottom: 30px;
}

article {
  background-color: white;
}

.feedTop {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.feedTopOne {
  display: flex;
  align-items: center;
}

.profileLogo {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 7px;
  margin-right: 10px;
  font-weight: bold;
}

.profileNameOne,
.profileNameThree {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.profileNameTwo,
.profileNameFour {
  font-size: 12px;
  color: #a3a49a;
  font-weight: bold;
}

.fa-ellipsis-h {
  position: absolute;
  right: 20px;
  top: 20px;
}

.feedImg {
  width: 100%;
  height: 500px;
}

.feedThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}

.fa-heart,
.fa-comment {
  margin-right: 5px;
}

.feedFour {
  display: flex;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.man {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.feedFourWord,
.feedFourWordTwo {
  font-weight: bold;
}

.feedFive {
  padding: 0px 10px 3px 10px;
}

.feedFiveWord {
  font-weight: bold;
}

.postTime {
  padding: 0px 10px 3px 10px;
  color: #9c9c9c;
}

.commentSection {
  position: relative;
}

.comment {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #f3f3f3;
}

.postButton {
  position: absolute;
  bottom: 13px;
  right: 20px;
  color: #c5e1fc;
  background-color: white;
  border: 1px solid white;
  font-size: 15px;
}

.mainRight {
  width: 400px;
  padding: 80px 0px 100px 20px;
}

.profileLogoTwo {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.sideOne {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sideTwo,
.sideThree {
  padding: 15px;
  background-color: white;
  border: 2px solid #ececec;
}

.sideTwo {
  margin-bottom: 10px;
}

.friendStoryNumber,
.friendrecommendNumber {
  height: 150px;
  overflow: scroll;
}

.friendStoryNumber::-webkit-scrollbar {
  display: none;
}

.friendrecommendNumber::-webkit-scrollbar {
  display: none;
}

.friendStory,
.recommendStory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
}

.story,
.recommend {
  color: #a3a49a;
  font-weight: bold;
}

.viewAll {
  font-weight: bold;
}

.friendOne,
.friendFive {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.friendTwo,
.friendSix {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.friendThree,
.friendSeven {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.friendFour {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.friendStoryOne,
.friendStoryTwo,
.friendStoryThree,
.friendStoryFour,
.friendRecommendOne,
.friendRecommendTwo,
.friendRecommendThree {
  display: flex;
  margin-bottom: 7px;
}

.friendNameOne,
.friendNameTwo,
.friendNameThree,
.friendNameFour,
.friendNameFive,
.friendNameSix,
.friendNameSeven {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.uploadTimeOne,
.uploadTimeTwo,
.uploadTimeThree,
.uploadTimeFour {
  font-size: 12px;
  color: #a3a49a;
  font-weight: bold;
}

.companyInformation {
  padding: 10px 10px 10px 0px;
}

.companyInformationOne,
.companyInformationTwo,
.companyInformationThree,
.companyInformationFour {
  color: #a3a49a;
}

.companyInformationOne,
.companyInformationTwo,
.companyInformationThree {
  font-size: 15px;
}

.companyInformationThree {
  margin-bottom: 10px;
}
