

:root {
    --gray: #fafafa;
    --border: 1px solid rgba(0,0,0,0.09);
    --white : #ffffff;
    --normalsize : 15px;
    --replysize: 13px;
    --blue :#0095f6;
  }
  
.hidden {
    opacity: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Lobster', cursive;
  font-family: 'Nanum Gothic', sans-serif;
}

.horizontal__line {
  margin: auto;
  border-bottom: var(--border);
  width: 90%;
  max-width: 900px;
}