@import "reset.css";
@import "common.css";



body {
  background-color: #fafafa;
  font-family: 'Lobster', cursive;
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}


.main__section {
  display: flex;
  margin: 70px 0px 90px 0px;
}

.left__section,
.right__seciton {
  width: 350px;
  height: 570px;
  margin: 0px 20px;
}

/* left section */


.imgs__back {
  background: center/cover no-repeat url(".././imgs/cellphone__insta.png");
  width: 250px;
  height: 520px;
  position: relative;
}

.imgs {
  background: center/cover no-repeat url(".././imgs/cellphone.png");
  width: 400px;
  height: 630px;
  position:absolute;
  top:40px;
}

.img__copy1{
  width: 240px;
  height: 480px;
  background: center/cover no-repeat url(".././imgs/copy1.png");
  position:relative;
top:-470px;
left: 80px;
transition: all ease-in-out 2500ms;

}

.img__copy2{
  width: 240px;
  height: 505px;
  background: center/cover no-repeat url(".././imgs/copy2.png");
  position:relative;
  top:-967px;
  left: 80px;
  border-radius: 10px;
  transition: all ease-in-out 2500ms;
}


/* right section */

.login__container {
  width: 350px;
  height: 390px;
  border: var(--border);
  margin-bottom: 10px;
  background-color: var(--white);
}
.logo {
  font-family: "Lobster", cursive;
  font-size: 45px;
  text-align: center;
  height: 130px;
  line-height: 130px;
}

.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form input {
  width: 270px;
  height: 32px;
  margin-bottom: 5px;
  background-color: var(--gray);
  border: var(--border);
  border-radius: 5px;
}

.login_form button {
  width: 275px;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  opacity: 0.5;
}

.login_btn {
  background-color: var(--blue);
  cursor: pointer;
}

.bar {
  display: flex;
  margin: 20px 0;
  color: gray;
}

hr {
  width: 100px;
}

.login__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.facebook__login {
  margin-bottom: 20px;
  color: navy;
  font-size : var(--normalsize);
  cursor: pointer;
  

}

.forget__password {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}



/* sign box */
.signin__box {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: var(--border);
  background-color: var(--white);
  text-align: center;
  line-height: 60px;
  font-size: 13px;
  
}


.download__box {
  text-align: center;
  font-size: var(--normalsize);
}

.download__box span {
  display: inline-block;
  margin-bottom: 20px;
}

.download__twoboxes {
  display: flex;
  justify-content: center;
}

.apple__download, .android__download {
  background-color: black;
  width: 140px;
  height: 40px;
  margin: 0 10px;
  border-radius: 5px;
  color : white;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  cursor: pointer;
}

 

/*  footer  */

footer {
text-align: center;
  font-size: 12px;
  color: gray;
}

footer span{
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
}

.line__last {
  margin-top: 20px;
}