

/* main */

main {

    background-color: var(--gray);
    margin: 20px 20px;
}


.menu {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.menu span {
    margin: 0 50px;
    font-size: var(--normalsize);
    color: gray;
    cursor: pointer;
}

.menu span:hover {
    color : black;
} 

.postings {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    max-width: 950px;


}

.post {
    width: 30%;
    height: 30%;
    max-width: 290px;
    max-height: 285px;
    object-fit: contain;
    margin: 10px 10px;
    cursor: pointer;

}

.user__capacity--query {
    display: none;
}