
.profile__img--border {
    width: 168px;
    height: 168px;
    margin-right: 50px;
    background: linear-gradient(45deg, Violet, Orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile__img--borderinside {
    width: 158px;
    height: 158px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: center/cover no-repeat url("../imgs/profile.jpeg");
    cursor: pointer;
}
