

@import 'reset.css';
@import 'profile_img.css';
@import "common.css";



html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}

.container {
    width: 1190px;
    height: 920px;
    display: flex;
    margin: auto;
    padding-top: 50px;
}

.section__left {
    width: 70%;
    height: 90%;
    background: url('../imgs/1.jpg');
    background-position: center;
    background-size: cover;
}

.section__right {
    width: 40%;
    height: 90%;
    background-color: white;
}

.user__bar {
    padding: 20px;
}

.user__id {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user__id span {
    margin-right: 8px;
}

.user__id i {
    color: var(--blue);
    margin-right: 10px;
}

.user__id span:last-child {
    font-size: 13px;
}

.user__content {
    margin-top: 10px;
}

.reply__window {

    height: 65%;
}

/* for adding reply  */

.reply__list {
    padding: 10px 30px 20px;
    display: flex;
    justify-content: space-between;

}

.my__img {
    border-radius: 50%;
    background: center/cover no-repeat url("../imgs/user.jpeg");
    cursor: pointer;
    margin-right: 15px;
}

.my__content {
    width: 80%;
}

.my__info {
    display: flex;
    margin-bottom: 20px;
    font-size: var(--normalsize);
}

.my__id {
    font-weight: bold;
    margin-right: 20px;
}

.my__status {
    display: flex;
    font-size: var(--replysize);
    color: gray;
}

.my__likes {
    margin-right: 20px;
}

.heart__likes {
    font-size: 13px;
    height: 100%;
    transform: translateY(10px);
}

.heart__likes--active {
    font-size: 13px;
    height: 100%;
    transform: translateY(10px);
    color: red;
    
}




/*  */

.functions {
    display: flex;
    justify-content: space-between;
}

.functions i {
    font-size: 20px;
    margin: 10px 7px;
    cursor: pointer;
}

.likes__count {
    font-size : var(--replysize);
    font-weight: bold;
    margin : 5px 10px;
}

.date {
    font-size: 10px;
    margin : 10px;
    color: gray;
}

.reply__form {
    display: flex;
    justify-content: space-between;

    font-size: 25px;
    height: 53px;
    align-items: center;
}
.reply__form i {
    margin: 10px;
    color: #696969;
    cursor: pointer;
}

.reply__form input {
    width: 80%;
    border: none;
}

.reply__form input:focus {
    outline: none;
}


.reply__form button {
    width: 40px;
    border: none;
    background-color: transparent;
    color: #696969;
    cursor: pointer;
}