body {
  background-color: #fafafa;
}

/* nav header styling */
nav {
  height: 55px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  display: flex;
  justify-content: center;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  width: 935px;
}

.logoAndName {
  display: flex;
  justify-content: baseline;
  width: 200px;
}

nav .logoAndName .logo {
  height: 30px;
  padding-right: 14px;
  border-right: 2px solid #171717;
  color: #171717;
}

.logoAndName .name {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 26px;
  color: #171717;
  padding-left: 14px;
}

nav input {
  width: 200px;
  height: 30px;
  padding: 7px;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

nav .icons li img {
  height: 25px;
}

/* main styling */
main {
  position: relative;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0 auto;
  width: 935px;
  padding: 30px 0px 0px;
}

.feeds article {
  background-color: white;
  width: 616px;
  /* height: 931px; */
  border: 1px solid lightgrey;
}

/* feedUpper styling */
.feeds article .feedUpper {
  width: 100%;
  height: 60px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feeds article .feedUpper .imageAndID {
  display: flex;
  justify-content: flex-start;
}

.feeds article .feedUpper .imageAndID .profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.feeds article .feedUpper .imageAndID .profileId {
  margin: auto 0;
  margin-left: 15px;
  padding: 2px;
  font-weight: 600;
}

.feeds article .feedUpper i {
  font-size: 15px;
}

/* feedImage styling */
.feeds article .feedImage {
  height: 614px;
}

.feeds article .feedImage img {
  width: 100%;
  height: 100%;
}

/* feedInfo styling */
.feeds article .feedInfo {
  position: relative;
}

/* feedIcons styling */
.feeds article .feedInfo .feedIcons {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 6px 16px 8px;
}

.feeds article .feedInfo .feedIcons .iconsLeft img {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.feeds article .feedInfo .feedIcons .iconsRight {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.feeds article .feedInfo .feedIcons .iconsLeft img:first-child {
  padding-left: 0px;
}

/* feedLike styling */
.feeds article .feedInfo .feedLike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  padding: 0px 16px;
  margin-bottom: 8px;
}

.feeds article .feedInfo .feedLike .profileImage {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
}

.feeds article .feedInfo .feedLike .liketext {
  font-size: 14px;
  margin-left: 10px;
}

.feeds article .feedInfo .feedLike .liketext span {
  font-weight: 600;
}

/* feedText styling */
.feeds article .feedInfo .feedText {
  padding: 0px 16px;
}

.feeds article .feedInfo .feedText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.feeds article .feedInfo .feedText .profileId {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.feeds article .feedInfo .feedText .feedDescription {
  font-size: 14px;
  font-weight: 400;
}

.feeds article .feedInfo .feedText .showMoreBtn {
  background-color: transparent;
  border: none;
  color: #8e8e8e;
}

/* reply styling */
.feeds article .feedInfo .reply .replyChunk {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0px 16px;
}

.feeds article .feedInfo .reply .replyItSelf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feeds article .feedInfo .reply .replyItSelf .shownReplyId {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.feeds article .feedInfo .reply .replyItSelf .shownReplyText {
  font-size: 14px;
  font-weight: 400;
}

.feeds article .feedInfo .reply img {
  box-sizing: content-box;
  width: 14px;
  height: 14px;
}

/* hoursAgo styling */
.feeds article .feedInfo .hoursAgo {
  height: 19px;
  padding: 0px 16px;
  margin: 0 0 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

/* reply and button styling */
.feeds article .replyAndBtn {
  height: 48px;
  padding: 6px 16px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.feeds article .replyAndBtn .reply {
  width: 90%;
  font-size: 14px;
  color: #262626;
}

.feeds article .replyAndBtn .replyBtn {
  /* border: none; */
  background-color: transparent;
  color: #cce6fd;
  font-size: 14px;
}

.main-right {
  width: 293px;
  height: 785px;
  position: fixed;
  top: 85px;
  right: 220px;
}

.main-right .rightMyProfile {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-start;
}

.main-right .rightMyProfile .rightMyProfileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-self: center;
}

.main-right .rightMyProfile .rightMyProfileIdAndText {
  align-self: center;
  padding-left: 20px;
}

.main-right .rightMyProfile .rightMyProfileIdAndText * {
  height: 18px;
  font-size: 14px;
}

.main-right .rightMyProfile .rightMyProfileIdAndText .rightMyProfileId {
  font-weight: 600;
}

.main-right .rightMyProfile .rightMyProfileIdAndText .rightMyProfileText {
  color: #8e8e8e;
}

.main-right .rightStory {
  width: 100%;
  height: 200px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 15px;
  overflow-y: scroll;
}

.main-right .rightStory .rightStoryUpper {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-right .rightStory .rightStoryUpper * {
  margin: 0 10px;
}

.main-right .rightStory .rightStoryUpper .rightStoryUpperTitle {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

.main-right .rightStory .rightStoryUpper button {
  background-color: transparent;
  border: none;
  color: #262626;
  font-size: 12px;
  font-weight: 600;
}

.rightOthersWrapper {
  margin: 0 10px;
}

.rightOthersWrapper .rightOthers {
  width: 100%;
  height: 48px;
  padding: 8px 0px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.rightOthersWrapper .rightOthers .rightOthersProfileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-self: center;
}

.rightOthersWrapper .rightOthers .rightOthersProfile {
  align-self: center;
  margin: auto 0px;
  padding-left: 10px;
}

.rightOthersWrapper .rightOthers .rightOthersProfile * {
  align-self: center;
}

.rightOthersWrapper .rightOthers .rightOthersProfile .rightOthersProfileId {
  height: 17px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 2px;
}

.rightOthersWrapper .rightOthers .rightOthersProfile .rightOthersProfileText {
  height: 16px;
  font-size: 12px;
  font-weight: 600;
  padding-top: 2px;
  color: #8e8e8e;
}

.main-right .rightRecommend {
  width: 100%;
  height: 175px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 15px;
  overflow-y: scroll;
}

.main-right .rightRecommend .rightRecommendUpper {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-right .rightRecommend .rightRecommendUpper * {
  margin: 0 10px;
}

.main-right .rightRecommend .rightRecommendUpper .rightRecommendUpperTitle {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

.main-right .rightRecommend .rightRecommendUpper button {
  background-color: transparent;
  border: none;
  color: #262626;
  font-size: 12px;
  font-weight: 600;
}

.main-right .rightOthers .followOther {
  background-color: transparent;
  color: #0095f6;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  border: none;
  position: absolute;
  right: 0px;
  top: 16px;
}

.main-right .rightInfo {
  margin-top: 20px;
  color: #c7c7c7;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

.rightOthers img {
  border: 1px solid black;
  background-color: #0095f6;
}
@media screen and (max-width: 1330px) {
  .main-right {
    display: none;
  }
}
