body {
  background-color: #fafafa;
}

button {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

/* nav header styling */
nav {
  display: flex;
  justify-content: center;
  height: 55px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
  padding: 0 20px;
}

.logoAndName {
  display: flex;
  justify-content: baseline;
  width: 200px;
}

nav .logoAndName .logo {
  height: 30px;
  padding-right: 14px;
  border-right: 2px solid #171717;
  color: #171717;
}

.logoAndName .name {
  text-align: center;
  padding-left: 14px;
  color: #171717;
  font-family: "Lobster", cursive;
  font-size: 26px;
}

nav input {
  width: 200px;
  height: 30px;
  padding: 7px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #fafafa;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

nav .icons li img {
  height: 25px;
}

/* main styling */
main {
  position: relative;
  width: 935px;
  margin: 0 auto;
  padding: 30px 0px 0px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

.feeds article {
  width: 616px;
  border: 1px solid lightgrey;
  background-color: white;
}

/* feedUpper styling */
.feeds article .feedUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 14px;
}

.feeds article .feedUpper .imageAndID {
  display: flex;
  justify-content: flex-start;
}

.feeds article .feedUpper .imageAndID .profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.feeds article .feedUpper .imageAndID .profileId {
  margin: auto 0;
  margin-left: 15px;
  padding: 2px;
  font-weight: 600;
}

.feeds article .feedUpper i {
  font-size: 15px;
}

/* feedImage styling */
.feeds article .feedImage {
  height: 614px;
}

.feeds article .feedImage img {
  width: 100%;
  height: 100%;
}

/* feedInfo styling */
.feeds article .feedInfo {
  position: relative;
}

/* feedIcons styling */
.feeds article .feedInfo .feedIcons {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  height: 40px;
  padding: 6px 16px 8px;
}

.feeds article .feedInfo .feedIcons .iconsLeft img {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.feeds article .feedInfo .feedIcons .iconsRight {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.feeds article .feedInfo .feedIcons .iconsLeft img:first-child {
  padding-left: 0px;
}

/* feedLike styling */
.feeds article .feedInfo .feedLike {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  margin-bottom: 8px;
  padding: 0px 16px;
}

.feeds article .feedInfo .feedLike .profileImage {
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.feeds article .feedInfo .feedLike .liketext {
  margin-left: 10px;
  font-size: 14px;
}

.feeds article .feedInfo .feedLike .liketext span {
  font-weight: 600;
}

/* feedText styling */
.feeds article .feedInfo .feedText {
  padding: 0px 16px;
}

.feeds article .feedInfo .feedText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.feeds article .feedInfo .feedText .profileId {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.feeds article .feedInfo .feedText .feedDescription {
  font-size: 14px;
  font-weight: 400;
}

.feeds article .feedInfo .feedText .showMoreBtn {
  border: none;
  background-color: transparent;
  color: #8e8e8e;
}

/* reply styling */
.feeds article .feedInfo .reply .replyChunk {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0px 16px;
}

.feeds article .feedInfo .reply .replyItSelf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feeds article .feedInfo .reply .replyItSelf .shownReplyId {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.feeds article .feedInfo .reply .replyItSelf .shownReplyText {
  font-size: 14px;
  font-weight: 400;
}

.feeds article .feedInfo .reply img {
  box-sizing: content-box;
  width: 14px;
  height: 14px;
}

/* hoursAgo styling */
.feeds article .feedInfo .hoursAgo {
  display: flex;
  align-items: center;
  height: 19px;
  margin: 0 0 16px;
  padding: 0px 16px;
  font-size: 10px;
}

/* reply and button styling */
.feeds article .replyAndBtn {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 6px 16px;
  border-top: 1px solid lightgrey;
}

.feeds article .replyAndBtn .reply {
  border: none;
  width: 90%;
  font-size: 14px;
  color: #262626;
}

.feeds article .replyAndBtn .replyBtn {
  border: none;
  background-color: transparent;
  color: #cce6fd;
  font-size: 14px;
}

.main-right {
  position: fixed;
  top: 85px;
  right: 220px;
  width: 293px;
}

.main-right .rightMyProfile {
  display: flex;
  justify-content: flex-start;
  height: 56px;
}

.main-right .rightMyProfile .image {
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.main-right .rightMyProfile .profileIdAndText {
  align-self: center;
  padding-left: 20px;
}

.main-right .rightMyProfile .profileIdAndText * {
  height: 18px;
  font-size: 14px;
}

.main-right .rightMyProfile .profileIdAndText .profileId {
  font-weight: 600;
}

.main-right .rightMyProfile .profileIdAndText .profileText {
  color: #8e8e8e;
}

.upper button {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.main-right .rightStory {
  height: 200px;
  margin-top: 15px;
  border: 1px solid lightgrey;
  background-color: white;
  overflow-y: scroll;
}

.main-right .rightStory .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 10px;
}

.main-right .rightStory .upper .title {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

/* othersWrapper styling */
.othersWrapper {
  margin: 0 10px;
}

.othersWrapper .othersProfile {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 48px;
  padding: 8px 0px;
}

.othersWrapper .othersProfile img {
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.othersWrapper .othersProfile .others {
  align-self: center;
  margin: auto 0px;
  padding-left: 10px;
  font-weight: 600;
}

.othersWrapper .othersProfile .others .profileId {
  height: 17px;
  padding-top: 2px;
  font-size: 14px;
}

.othersWrapper .othersProfile .others .ago {
  height: 16px;
  padding-top: 2px;
  font-size: 12px;
  color: #8e8e8e;
}

.main-right .recommend {
  height: 175px;
  margin-top: 15px;
  border: 1px solid lightgrey;
  background-color: white;
  overflow-y: scroll;
}

.main-right .recommend .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin: 0 10px;
  font-weight: 600;
}

.main-right .recommend .upper .title {
  font-size: 14px;
  color: #8e8e8e;
}

.main-right .othersProfile button {
  position: absolute;
  right: 0px;
  top: 16px;
  color: #0095f6;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
}

.main-right .rightInfo {
  margin-top: 20px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #c7c7c7;
}

@media screen and (max-width: 1300px) {
  .main-right {
    display: none;
  }
}
