.login-wrap{position:relative;margin:auto;padding:50px 50px 150px;width:500px;text-align:center;border:1px solid #ccc;}
.login-wrap h1{color:#000;font-size:80px;font-family:'Lobster', cursive;}
.login-wrap .form-wrap{margin-top:50px;}
.login-wrap .form-wrap > *:first-child{margin-top:0;}
.login-wrap .form-wrap .form-input{margin-top:10px;}
.login-wrap .form-wrap .form-input input{display:block;padding:0 10px;width:100%;height:50px;font-size:14px;border:1px solid #ddd;border-radius:4px;}
.login-wrap .form-wrap .btn-login{margin-top:20px;width:100%;line-height:40px;color:#fff;font-size:14px;font-weight:700;border:none;border-radius:4px;background:#296dea;cursor:pointer;}
.login-wrap .form-wrap .btn-login:disabled{opacity:0.5;cursor:default;}
.login-wrap .info{position:absolute;bottom:50px;left:50%;transform:translateX(-50%);}
.login-wrap .info a{color:navy;text-decoration:none;}Dr