.westaIntro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 20px auto;
}

/* mainBorder */

.mainBorder {
    padding: 2rem;
    border: 1px solid #EBEBEB;
    width: 37.5rem;
    margin: 1rem auto;
}

.mainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster';
    font-size: 80px;
}

.mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainLogin input {
    width: 25rem;
    height: 50px;
    margin: 0.5rem;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-indent: 1em;
}

.mainLogin input::placeholder {
    color: #9E9E9E;
}


.facebookLogin {
    margin: 0.5rem;
    font-size: 18px;
    color: #1C4877;
    cursor: pointer;
}

.loginBtn {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0095f6;
    cursor: pointer;
}

.loginBtn:disabled {
    background-color: #c4e1fb;
    cursor: default;
}

.askPwd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.forgetPwd {
    padding-top: 15px;
    text-decoration-line: none;
    text-decoration-color: rgba(var(--fe0,0,55,107),1);;
}

/* signBorder */

.signBorder {
    padding: 20px;
    border: 1px solid #EBEBEB;
    width: 37.5rem;
    margin: 0.5rem auto;
}

.signUplink{
    text-decoration-line: none;
    color: #289DF7;
    font-weight: bold;
    cursor: pointer;
}

