.login_box{ 
    font-family:cursive;
    border: 1px solid #dbdbdb;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    background-color: #fff;
}

.login_box_logo{
    font-size: 5rem;
}

.login_box_form{
    height: 30rem;
}

.login_box_input{
    background-color: #FAFAFA;
    border: 1px solid rgb(219, 219, 219, 0.7);
    width: 26rem;
    height: 3.6rem;
    border-radius: 0.3rem;
    text-indent: 1rem;
    font-size: 1.4rem;
}

.login_box_input:focus{
    outline: 0.8px solid rgba(219, 219, 219, 1.0);
}

.login_box_input::placeholder{
    color: #8e8e8e;
    font-size: 1.2rem;
}

.login_box_btn{
    cursor: pointer;
    background-color: #0095f6;
    width: 26rem;
    height: 3.6rem;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    border-radius: 0.3rem;
}

.login_box_hr{
    width: 12rem;
    background-color: #dbdbdb;
    border: none;
    height: 0.1rem;
}
.login_box_or{
    color: #8e8e8e;
    margin: 0 1rem;
}


.forgot_passwd{
    font-size: 1.4rem;
    color: #00376b;
    text-decoration: none;
}

.facebook_text{
    font-size: 1.4rem;
}

.login_input_wrapper{
    height: 13rem;
}

.login_box_input_bottom{
    height: 8rem;
}

.login_box_bottom{
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219, 0.7);
    width: 35rem;
    height: 8rem;
}
.login_box_bottom_text{
    font-weight: 650;
    color: #0095f6;
    text-decoration: none;
    font-size: 1.4rem;
}

.disabled{
    background-color: #0095f6;
    opacity: 0.5;
}
