@charset "utf-8";

.nav{
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.inner{
max-width: 800px;
min-width: 650px;
margin: 0 auto;
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
align-items: center;
width: 100%;
}

.logo{
  font-family: 'lobster';
  text-decoration: none;
}

.logo img{
  width: 25px;
}

.logo a{
  position: relative;
  margin-left: 28px;
  font-size: 30px;  
}

.logo a::before{
  content: '';
  position: absolute;
  top: 12px;
  left: -15px;
  width: 1px;
  height: 24px;
  background-color: #000;
}

.search{
    position: relative;
    width: 300px;   
}

.search input {
  width: 100%;
  border: 1px solid rgb(143, 139, 139);
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 14px;
}

.search input::placeholder{
  color: #999;
}

.search img{
  position: absolute;
  width: 20px;
  top: 10px; 
  margin-left: 12px;
  margin: 0;
  margin-left: 10px;
}

.utilityicon{
  margin-right: 8px;
}

.utilityicon  img{
  width: 30px;
}

.main {
  padding: 20px;
  background: rgb(250, 250, 250);
}

.wrap{
  margin: 0 auto;
  width: 800px;
}

.wrap::after{
  content: '';
  display: block;
  clear: both;
}

.feeds{
  float: left;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* profileBox */
.profileBox {
  float: left;
  padding: 10px 10px;
}

.profileBox > img{
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.info{
  float: left;
  padding-left: 10px;
}

.title{
  font-weight: bold;
}

.text{
  font-weight: normal;
}

.contentTop {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.rightButton{
  position: absolute;
  top: 20px;
  right: 10px;
  text-align: center;
  background: none;
  border: none;
  width: 50px;
  height: 30px;
}

.rightButton > span{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ccc;
}

.article{
  background: #fff;
}

.article > img{
  width: 100%;
}

.contentBottom {
  margin-top: 10px;

}

.contentIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

 .iconBox {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.contentIcon button {
  width: 30px;
  border: none;
  background: none;
}

.contentIcon button img {
  width: 100%;
}

 .userBox {
  margin-top: 20px;
  padding: 0 10px;
}

 .userBox img{
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

 .text {
  padding-left: 10px;
}

 .link {
  margin-right: 8px;
  padding: 3px;
}

.commentBox {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.commentInput {
  width: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  height: 50px; 
}

 .commnetButton {
  border: none;
  width: 50px;
  height: 50px;
  background: none;
  color: royalblue;
}

.main-right{
  float: right;
  width: 270px;
  height: 600px;
}

.myProfile {
  overflow: hidden;
}

.storyCommand,
.followCommand {
  overflow: hidden;
  padding: 10px 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
}

.moreTitle{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.text{
  font-weight: bold;
}

 .moreTitle button{
  color: #999;
  background: none;
  border: none;
}

.addUl {
  margin-top: 10px;
}
.item {
  padding: 7px 5px 0;
}
