@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #FAFAFA;
}

.container {
    text-align: center;
    border: 1px solid #E6E6E6;
    background-color: white;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    font-weight: 1px;
    padding: 30px;
}

.loginForm {
    width: 425px;
    margin: 0 auto;
}

#id, #password, #loginButton {
    display: block;
    width: 100%;
    margin: 20px 0px auto;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #EFEFEF;
    background-color: #FAFAFA;
    border-radius: 5px;
}

#loginButton {
    color: white;
    background-color: #C5E1FC;
    border: 0px;
    width: 459px;
}

.findPassword {
    text-decoration: none;
    margin-top: 180px;
    height: 50px;
    display: block;
    font-size: 18px;
}
