* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #fafafa;
}

body {
  background-color: #fafafa;

}
.section, .main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "westagram";
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
}

.logo, #westagram {
  font-family: "westagram";
}
