* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
}

.section,
.main {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "westagram";
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
}

.logo,
#westagram {
  font-family: "westagram";
}

button {
  border: none;
}

.spriteImg {
  background-image: url("../img/1075ddfe0f68.png");
  display: inline-block;
  width: 47px;
  height: 47px;
  zoom: 0.5;
}

img {
  width: 25px;
}

li {
  list-style: none;
}
