:root {
  /* color */
  --color-box-border: #e6e6e6;
  --color-border: #dbdbdb;
  --color-logo: #262626;
  --color-font-inbox: #ffffff;
  --color-font: #8e8e8e;
  --color-background: #fafafa;
  --color-heart: #ed4956;
  --color-activation: #0095f6;
  --color-unactivation: #a8a8a8;
}

/* navigation */

.nav {
  display: fixed;
  top: 0;
  border-bottom: 1px solid;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  height: 50px;
  align-items: center;
  margin: auto;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.logoImg {
  margin-right: 10px;
  background-position: -467px -601px;
}

.logoText {
  font-size: 24px;
  border-left: 1px solid black;
  border-radius: 0px;
  padding-left: 10px;
}

.iconWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}

.exploreImg {
  background-image: url(../img/explore.png);
  background-position: -2px -3px;
  width: 50px;
  height: 50px;
}

.likeImg {
  background-position: -1040px -103px;
}

.personImg {
  background-position: -902px -995px;
}

.search {
  position: relative;
  height: 30px;
  width: 200px;
  border: 1px solid var(--color-box-border);
  outline: none;
}

.searchImg {
  position: absolute;
  right: 10px;
  top: 10px;
  background-position: -350px -994px;
  zoom: 0.4;
}

/* main */

.section {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: auto;
}
.feed {
  width: 600px;
  border: 1px solid var(--color-box-border);
  margin: 50px 0;
}

.article,
.top {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--color-box-border);
}

.topProfile {
  display: flex;
  align-items: center;
}

.personImg {
  background-position: -902px -995px;
}

.profileImg {
  border-radius: 50%;
  margin-right: 10px;
}

.seemore {
  width: 15px;
  margin: 0 10px;
  border: none;
}

.photos img {
  width: 100%;
  margin: 0;
}
.icons {
  display: flex;
  width: 100%;
  position: relative;
}

.icon {
  display: flex;
  justify-content: space-around;
  width: 120px;
  margin: 10px;
}

.heartImg {
  background-position: -1040px -101px;
}

.commentImg {
  background-position: -52px -946px;
}

.shareImg {
  background-position: -250px -945px;
}

.bookmarkImg {
  position: absolute;
  top: 17px;
  right: 22px;
  background-position: -302px -994px;
}

.info {
  margin: 10px;
}

.commentWrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--color-box-border);
}

.removeComment {
  margin-left: 20px;
}

.writeComment {
  width: 90%;
  border: none;
  outline: none;
}

.comment {
  font-size: 15px;
  padding: 2px 0;
  position: relative;
}

li .heartImg {
  position: absolute;
  right: 60px;
  margin-right: 20px;
  zoom: 0.2;
}

li .removeComment {
  position: absolute;
  right: 0;
  zoom: 0.2;
  background-position: -1096px -155px;
}

.post {
  color: var(--color-activation);
  opacity: 0.4;
}

/* mainRight */

.mainRight {
  margin: 50px 0;
  width: 220px;
}

.profileRight {
  display: flex;
}

.myImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.myId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 12px;
}

.myInfo {
  color: var(--color-font);
}

.suggestion {
  border: 1px solid var(--color-border);
  margin-top: 10px;
}
.push {
  border: 1px solid var(--color-border);
  margin-top: 10px;
}

.topofBox {
  display: inline-block;
  width: 154px;
  padding: 6px;
  color: var(--color-font);
  font-size: 14px;
}

.personStory {
  width: 100%;
  display: flex;
  align-items: center;
}

.personStoryImg {
  border-radius: 50%;
  margin: 2px 7px;
}
