@font-face {
    font-family: 'lobster';
    src: url(./font/Lobster-Regular.ttf);
}

.logo-container {
    text-align: center;
    margin: 40px auto;
}

.westa-logo {
    font-family: 'lobster';
    font-size: 50px;
    margin: 30px auto;
    width: 350px;
}

.wrapper {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    border: 1px solid #dddddd;
    border-radius: 2px;
}

.bar-wrapper {
    margin: 5px;
}

.login-container {
    width: 300px;
    margin: 40px auto;
}

.id-bar {
    border: 1px solid #dddddd;
    height: 30px;
    border-radius: 3px;
    
}

.password-bar {
    border: 1px solid #dddddd;
    height: 30px;
    border-radius: 3px;

}

input {
    width: 280px;
    font-size: 13px;
    margin-bottom: 10px;
    border: none;
    margin-left: 3px;
    height: 28px;
    outline: 0;
}

input::placeholder{
    color: #DBDBDB
}

button {
    width: 290px;
    background-color: #0095F6;
    border: solid transparent;
    color: white;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:disabled {
    background-color: #b2dffc;

}

.password-wrap {
    text-align: center;
    margin: 100px;

}

.password {
    font-size: 12px;
    color: #055377;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;

}

button:hover {
    cursor: pointer;
}
