* {
        box-sizing: border-box;
}

nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: 15px 0px;
}

.search {
        padding-top: 10px;
}

.search input {
        width: 200px;
        height: 25px;
        background-color: #f8f8f8;
        border: 1px solid #D7DCE3;
}

.search input::placeholder {
        text-align: center;
}

.icons {
       margin-right: 50px;
}

.bt {
        margin: 5px;
        width: 30px;
}

.fa-instagram  {
        font-size: 30px;
        margin-left: 120px;
}

.logo span {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        margin-left: 10px;
        border-left: 2px solid;
        padding-left: 10px;
}

main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(245, 245, 245);
}

.feeds {
        width: 600px;
        height: 900px;
        background-color: rgb(245, 245, 245);
        margin-right: 5px;
        
}

article {
        width: 100%;
        background-color: rgb(255, 255, 255) ;
        margin-top: 50px;
        border: 1px solid rgb(212, 212, 212);
}

.main-right {
        width: 350px;
        height: 500px;
        background-color: rgb(245, 245, 245);
        padding-left: 20px;
}

.travel {
        width: 100%;
}

.art-me {
        display: flex;
        padding: 10px;
        height: 60px;
}

.art-me span img {
        border-radius: 100%;
        width: 40px;
}

.art-me p {
        margin: 10px 10px;
}

.likes {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
}
.likes div{
        margin: 10px 20px;
}

.likes div i {
        margin-right: 10px;
}


.who-likes  {
        padding: 0px 20px;
        margin: 20px 0px;
}

.name-delete {
        display: flex;    
        justify-content: space-between;  
}



.commentLists {
        width: 100%;
        margin-left: -40px;
        
}

.name {

        margin-left: 20px;
        font-weight: bold;
        margin-right: 5px;
}

ul {
        list-style-type: none;
}


.thread  {
        
        padding: 0px 20px;
        margin: 0px 0px;
        
}

.fa-heart {
        color: red;
}

.reply {
        display: flex;
        margin-top: 20px;
}

.reply input {
        width: 100%;
        height: 50px;
        border: none;
        border-top: 1px solid rgb(235, 235, 235);
        padding-left: 10px;
}

.reply button {
        width: 50px;
        border: none;
        background-color: white;
        color: lightblue;
}

.info {
        display: flex;
        justify-content: space-between;
        margin: 60px 20px;
}

.right-me {
        display: flex;
}

.right-img img {
        border-radius: 100%;
        width: 60px;
}
.right-name {
        margin: 10px;
}
.right-id1 {
        font-size: 18px;
        font-weight: bold;
}

.right-button button {
        width : 50px;
        height : 50px;
        border: none;
        background-color: rgb(245, 245, 245);
        color: rgb(0, 132, 255);
}
.story-title button {
        background-color: white;
        border: none;
}

.story {
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
}

.story-title {
        display: flex;
        justify-content: space-between;
        padding: 20px;
}

.story-friend {
        padding: 0px 20px;
}

.friend {
        display: flex;
        margin: 10px 0px;
        
}

.friend2 {
        display: flex;
        justify-content:space-between;
        margin: 10px 0px;
}

.friend-div {
        display: flex;
        
}

.friend-img img {
        border-radius: 100%;
        width: 50px;
        border: 2px solid red;
}

.friend-name {
        margin: 7px 10px;
}


.friend-id {
        font-size: 15px;
        font-weight: bold;
}
.friend-ago {
        font-size: 15px;
}

.space {
        height: 50px;
        background-color: rgb(245, 245, 245);
}

.follow {
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
}

.follow-title {
        display: flex;
        justify-content: space-between;
        padding: 20px;
}

.follow-title button {
        border: none;
        background-color: white;
}

.follow-friend {
        padding: 0px 20px;
}

.friend2 button {
        background-color: white;
        border: none;
        color: rgb(0, 119, 255);
        cursor: pointer;
}