@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.login-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 350px;

  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  padding: 10px 10px;
}

.login-wrapper h1 {
  margin: 22px auto 28px;

  font-family: "Lobster", cursive;
  font-size: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 24px;
}

.input-wrapper {
  margin: 0 40px 6px;
}

.input-wrapper input {
  position: relative;

  width: 250px;
  padding: 10px 10px;

  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  font-size: 14px;
}

.input-wrapper button {
  position: relative;

  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 20px;

  background-color: rgb(0, 140, 244);

  color: white;
  font-size: 14px;
}

.input-wrapper button:disabled {
  background-color: rgb(182, 223, 255);
}

.pw-remind {
  text-align: center;

  margin-top: 30px;
}

.input-wrapper a {
  position: relative;

  width: 100%;

  color: rgb(0, 140, 244);
  text-decoration-line: none;
  font-size: 14px;
}
