@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  position: sticky;
  top: 0;

  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  z-index: 3;

  padding: 5px 50px;
}

nav h1 {
  font-family: "Lobster", cursive;
  font-size: 25px;

  margin-top: 3px;
  padding-left: 45px;
}

nav span {
  position: absolute;

  font-size: 25px;
  padding-right: 10px;
  border-right: 1px solid rgb(139, 139, 139);
  top: 6px;
  left: 0;
}

nav .nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 4px auto;
  max-width: 935px;
}

nav .nav-logo {
  display: flex;
  justify-content: center;
  margin-top: -3px;
}

nav .nav-container .nav-input {
  position: relative;

  height: 100%;
}

nav .nav-container .nav-input input {
  background-color: rgb(249, 249, 249);
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  height: 100%;
}

nav .nav-container .nav-input .nav-icon {
  position: absolute;
  top: 5px;
  left: 7px;

  color: #dbdbdb;
}

nav .nav-container .nav-input input:focus ~ .nav-icon {
  display: none;
}

/* css 플레이스홀더 */
nav .nav-container input::-webkit-input-placeholder {
  text-align: center;
}

nav .nav-container .menu-icon-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

nav .nav-container .menu-icon-wrapper img {
  width: 45px;

  padding-left: 22px;
}

main {
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


.main-section .feeds-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:960px){
  .main-section .feeds-wrapper {
    display: flex;
    flex-direction: column;
  
    margin-right: 28px;
  }
}

.main-section .feeds-wrapper .feed {
  margin-bottom: 24px;
  width: 616px;

  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 1px;
}

.main-section .feeds-wrapper .feed .feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 20px;

  max-height: 69px;
}

.main-section .feeds-wrapper .feed .feed-header .feed-writer {
  display: flex;
}

.main-section .feeds-wrapper .feed .feed-header .writer-info {
  margin-left: 10px;
}

.main-section .feeds-wrapper .feed .feed-header .writer-info .location-info {
  display: block;
  text-decoration-line: none;
  color: #262626;
  font-size: 12px;
}

.feed-image img {
  width: 614px;
  max-height: 614px;
}

.main-section .feeds-wrapper .feed .feed-body {
  display: flex;
  flex-direction: column;
}

.main-section .feeds-wrapper .feed .feed-body .button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-section .feeds-wrapper .feed .feed-body .button-wrapper .button-container {
  display: flex;
  margin: 10px;
}

.button-like {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.button-like.liked {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  color: red;
  font-size: 24px;
}

.button-comment {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}

.button-share {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}

.button-bookmark {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  float: right;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  font-size: 14px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content a,
span {
  display: inline;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments {
  margin-top: 8px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .comment .comment-like-button {
  border: none;
  background-color: transparent;
  height: 12px;
  font-size: 12px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .comment .comment-like-button.liked {
  border: none;
  background-color: transparent;

  height: 12px;
  font-size: 12px;
  color: red;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .comment .comment-like-button {
  border: none;
  background-color: transparent;
  height: 12px;
  font-size: 12px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .comment .comment-delete-button {
  border: none;
  background-color: transparent;
  height: 12px;
  font-size: 12px;
}

.main-section .feeds-wrapper .feed .feed-body .feed-content .feed-comments .feed-time-ago {
  font-size: 10px;
  color: #8e8e8e;

  margin-top: 5px;
  margin-bottom: 16px;
}

.main-section .feeds-wrapper .feed .comment-input-container {
  display: flex;

  height: 40px;
  border-top: 1px solid rgb(214, 214, 214);
  padding: 8px 16px;
}

.main-section .feeds-wrapper .feed .comment-input-container .comment-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px !important;
  font-size: 14px;
  border: none;
  resize: none;
}

.main-section .feeds-wrapper .feed .comment-input-container .comment-input-button {
  border: none;
  background-color: transparent;
  width: 30px;

  font-size: 14px;
  color: #0095f6;

  padding: 0;
  margin-left: 6px;
}

.main-section .feeds-wrapper .feed .comment-input-container .comment-input-button:disabled {
  border: none;
  background-color: transparent;

  color: rgba(var(--d69, 0, 149, 246), 1);
}

.main-section .people-section {
  width: 293px;
  background-color: transparent;
}

@media screen and (max-width:960px){
  .main-section .people-section {
    display: none;
  }
}

.main-section .people-section .people-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 292px;
}

.main-section .people-section .people-container .user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 10px;
  margin-top: 18px;
}

.main-section .people-section .people-container .user-container .user-profile-img {
  margin-right: 12px;
}

.main-section .people-section .people-container .user-container .user-info {
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  width: 100%;
}

.main-section .people-section .people-container .user-container .user-info .user-id {
  font-size: 14px;
  text-decoration-line: none;
  font-weight: bold;
  color: #262626;
}

.main-section .people-section .people-container .user-container .user-info .user-name {
  font-size: 14px;
  color: #8e8e8e;
}

.main-section .people-section .people-container .user-container .user-conversion {
  border: none;
  background-color: transparent;
  width: 35px;

  font-size: 12px;
  color: #0095f6;

  padding: 0;
  margin-left: 6px;
}

.main-section .people-section .people-container .recommended-people {
  display: flex;
  flex-direction: column;
}

.main-section .people-section .people-container .recommended-people .recommend-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 12px 0 0;
}

.main-section .people-section .people-container .recommended-people .recommend-header h5 {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: bold;
}

.main-section .people-section .people-container .recommended-people .recommend-header a {
  font-size: 12px;
  color: #262626;
  text-decoration-line: none;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list {
  padding: 8px 0;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list li {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 8px 0;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list .follow-info {
  color: #8e8e8e;
  font-size: 12px;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list .recommended-profile-img {
  margin-right: 12px;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list li .recommended-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.main-section .people-section .people-container .recommended-people ul.recommended-people-list li .follow-button {
  border: none;
  background-color: transparent;
  width: 50px;

  font-size: 12px;
  color: #0095f6;

  padding: 0;
  margin-left: 6px;
}

.main-section .people-section .people-container .corp-etc {
  display: flex;
  flex-direction: column;
  color: #c7c7c7;
  font-size: 11px;
  text-decoration: none;
}

.main-section .people-section .people-container .corp-etc ul.link-list {
  list-style: none;

  padding-bottom: 16px;
}

.main-section .people-section .people-container .corp-etc ul.link-list li {
  float: left;
}

.main-section .people-section .people-container .corp-etc ul.link-list li a {
  color: #c7c7c7;
  text-decoration: none;
}

.main-section .people-section .people-container .corp-etc .link-list li::after {
  content: "•";
}

.main-section .people-section .people-container .corp-etc .link-list li:last-child::after {
  content: none;
}
