* {
    box-shadow: border-box;
    margin:0;
    /* box-sizing: border-box; */
}

/*구글 폰트 적용*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.lobster{ font-family: 'Lobster', cursive;}

.chat {
    list-style-type: none;
    padding-left: 0;
}