
a{
  text-decoration: none;
}

.contain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webstalogin{
  width: 400px;
  height: 450px;
  background-color: white;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }

  .logo p{
    font-size: 45px;
    font-family: 'Berkshire Swash', cursive;
    font-style: italic;
    margin: 30px auto;
  }

input{
  width: 300px;
  height: 40px;
  font-size: 12px;
  color: gray;
  border: 1px solid gray;
}

.id{
  margin-bottom: 10px;
}
.pw{
  margin-bottom: 15px;
}

#btn{
  width: 300px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border-style: none;
}

p{ 
  margin-top: 120px;
  font-size: 15px;
} 


  