* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    outline: none;
}

body, main, .topContainer, #userInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #04386c;
    text-decoration: none;
}

main {
    justify-content: space-between;
    width: 320px;
    height: 350px;
    margin: 30px;
    border: 1px solid lightgrey;
}

.topContainer {
    justify-content: flex-start;
}

.logo {
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
    margin: 30px;
}

.forgotPassword {
    margin: 15px;
}

#loginBtn {
    width: 220px;
    height: 28px;
    margin: 10px;
    color: white;
    background-color: #c4e3fb;
    border-style: none;
    border-radius: 4px;
}

#loginBtn:hover, #loginBtn:focus {
    background-color: #5eacd6;
}

#loginBtn:disabled {
    background-color: #c4e3fb;
}

#userInput input {
    width: 220px;
    height: 36px;
    margin: 2.5px;
    padding: 10px;
    color: #a2a2a2;
    background-color: #FAFAFA;
    border: 1px solid #efefef;
    border-radius: 3px;
    outline: none;
}

::placeholder {
    text-align: left;
}
