* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #efefef;
  position: relative;
}

.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 0;
}

.navContainer {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagramIcon {
  height: 100%;
}

.searchBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: rgba (0, 0, 0, 0.5);
  text-align: center;
}

.icon {
  height: 100%;
  max-height: 25px;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}
