a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 42px;
    transform: scale(0.8, 1);
}

input {
  border: 1px solid rgba(219, 219, 219);
  border-radius: 3px;
}

.setRaw {
    display: flex;
    align-items: center;
}

button {
    width: 24px;
    height: 24px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;

}

button:hover {
    cursor: pointer;
}

