body {
  background-color: #f2f3f4;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: solid #d2d1d1 1px;
  border-radius: 5px;
  background-color: white;

  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 80px;
}

.inputandbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input {
  color: #afbbcc;
  background-color: #f2f3f4;
  border: solid #d2d1d1 1px;
  border-radius: 3px;
  padding-left: 7px;

  width: 400px;
  height: 40px;
}

::placeholder {
  color: #afbbcc;
}

button {
  background-color: #cae0f9;
  color: white;
  font-size: 18px;

  border: 0px;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 90px;

  width: 411px;
  height: 40px;
}

p {
  color: #7389a5;
  margin-bottom: 15px;
}
