
/* || main_header : header 전체 */
.main_header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 10;
}

/* max-width 구간 */
.header_content {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 975px;
    padding: 0 20px;
    transition: height .2s ease-in-out;
    width: 100%;
    margin: 0 auto;
}

/* 로고 */
.main_header h1 {
    font-size: 35px;
    height: 100%;
    line-height: 50px;
    flex: 1 9999 0%;
}

/* search space */
.main_header .search_wrap {
    flex: 0 1 auto;
    height: 28px;
    min-width: 125px;
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    background: rgba(var(--b3f,250,250,250),1);
    padding: 3px 12px;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
}

.search_wrap input {
    width: 100%;
    height: 100%;
    color: rgba(var(--f52,142,142,142),1);
    border: 0;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
}

.search_wrap input::placeholder {
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 100;
}

.search_wrap i {
    color: rgba(var(--f52,142,142,142),.9);
    margin-right: 6px;
    padding-top: 2px;
}

/* navigation */
.main_header nav {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main_header nav ul {
    display: flex;
    padding-left: 14px;
    white-space: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

/* navigation : my profile (right) */
.header_my_profile {
    border-radius: 50%;
    overflow: hidden;
    width: 21px;
    height: 21px;
}

.header_my_profile a,
.header_my_profile a img {
    width: 100%;
    height: 100%;
}