header {
  font-size: 70px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  height: 100vh;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 700px;
  padding: 35px 75px;
  border: 2px solid #e6e6e6;
}
.login {
  display: flex;
  flex-direction: column;
  width: 485px;
  height: 230px;
  margin-top: 95px;
  margin-bottom: 185px;
}
.login > * {
  height: 65px;
  border-radius: 8px;
  font-size: 20px;
}
.login input {
  padding: 25px 15px;
  border: 3px solid #efefef;
  background-color: #fafafa;
  font-weight: bold;
}
.login input::placeholder {
  color: #9b9b9b;
}
.login__id {
  margin-bottom: 10px;
}
.login__password {
  margin-bottom: 25px;
}
.login__button {
  border: none;
  background-color: #c4e1fb;
  color: white;
  font-size: 25px;
}
.find-password {
  text-align: center;
  color: #376088;
  font-size: 20px;
  font-weight: bold;
}
