.box {
  margin: 60px auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  border: solid 2px lightgray;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin-top: 40px;
}

.logo {
  margin-top: 40px;
  font-family: "Lobster", cursive;
  font-size: 60px;
}

.id {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

.pw {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

button {
  padding: 1px 2px;
  height: 36px;
  width: 308px;
  background-color: rgb(197, 225, 251);
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

.btn_change {
  padding: 1px 2px;
  height: 36px;
  width: 308px;
  background-color: rgb(0, 149, 246);
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

.forgot-password {
  margin-top: 150px;
  font-size: 15px;
  color: rgb(56, 80, 133);
}
