body {
  background-color: rgb(250, 250, 250);
  margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border: solid 1px rgb(0, 0, 0, 0.2);
  background-color: white;
}

.nav-box {
  width: 990px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 30px;
  /*margin-top: 10px;*/
}

.logo {
  /*margin-top: 3px;*/
  font-size: 30px;
  font-family: "Lobster", cursive;
  margin-left: 10px;
  margin-bottom: 5px;
}

.search-box {
  /*margin-top: 10px;*/
  width: 270px;
  height: 36px;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
}

.search {
  width: 236px;
  height: 26px;
  border-style: none;
  background-color: rgb(239, 239, 239);
  margin: 5px 17px;
  outline: none;
}

.nav-img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

main {
  width: 990px;
  display: flex;
  justify-content: space-between;
  margin: auto auto 50px auto;
}

.feeds {
  width: 614px;
  background-color: white;
  border: solid 1px rgb(0, 0, 0, 0.2);
  border-top: none;
}

.feed-profile {
  display: flex;
  align-items: center;
  width: 614px;
  padding: 10px;
}

.profile-id {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.more {
  width: 50px;
  height: 50px;
  margin-left: 400px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feed-img {
  width: 614px;
  height: 700px;
}

.feed-icon {
  display: flex;
  align-items: center;
  height: 50px;
}

.img-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.img-icon.upload {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

.img-icon.save {
  height: 30px;
  margin-left: 385px;
}

.feed-like {
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
  width: 585px;
  height: 30px;
  display: flex;
  align-items: center;
}

.feed-content {
  width: 600px;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.content {
  padding-left: 15px;
}

.feed-comment {
  width: 600px;
}

.reply {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: solid 1px rgb(0, 0, 0, 0.2);
}

.btn-change {
  color: rgb(0, 149, 246);
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 15px;
}

.reply-btn {
  color: rgb(197, 225, 251);
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 15px;
}

.reply-input::placeholder {
  font-size: 15px;
}

.reply-input {
  outline: none;
  margin-left: 10px;
  width: 500px;
  height: 35px;
  padding-left: 10px;
  border: none;
}

.main-right {
  padding: 20px;
  width: 332px;
}

.my-profile {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.my-box {
  display: flex;
}

.my-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.my-info {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 400px;
}

.my-id {
  font-weight: 700;
}

.my-name {
  color: rgb(0, 0, 0, 0.5);
}

.change-id {
  color: rgb(0, 149, 246);
  font-weight: 600;
}

.recommand {
  border: solid 1px rgb(0, 0, 0, 0.2);
  background-color: white;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.reco-top {
  display: flex;
  justify-content: space-between;
}

.top-one {
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
}

.top-two {
  font-weight: 500;
}

.recommand-box {
  display: flex;
  flex-direction: column;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.reco-info {
  height: 60px;
  display: flex;
  align-items: center;
}

.friend-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friend-info {
  margin-left: 8px;
}

.friend-id {
  font-size: 13px;
  font-weight: 700;
}

.how-many {
  font-size: 13px;
  color: rgb(0, 0, 0, 0.5);
}

.follow {
  font-size: 15px;
  color: rgb(0, 149, 246);
}

.friend-img.ring {
  border: 3px solid palevioletred;
}

.comment-box {
  list-style: none;
  padding: 0px 0px 0px 20px;
}

.comment-heart {
  width: 15px;
  height: 15px;
}

.comment-list {
  display: flex;
  justify-content: space-between;
}
