nav {
  display: flex;
  justify-content: space-between;
  width: 970px;
  height: 60px;
  margin: auto;
}

.nav-box {
  display: flex;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.logo {
  margin-top: 3px;
  font-size: 30px;
  font-family: "Lobster", cursive;
  margin-left: 20px;
}

.search-box {
  margin-top: 10px;
  width: 270px;
  height: 36px;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
}

.search {
  width: 236px;
  height: 26px;
  border-style: none;
  background-color: rgb(239, 239, 239);
  margin: 5px 17px;
}

.nav-icon {
  margin-top: 10px;
}

.nav-img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

main {
  width: 935px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.feeds {
  width: 614px;
  height: 900px;
}

article {
  margin-right: 14px;
}

.feed-profile {
  display: flex;
  align-items: center;
  width: 614px;
}

.profile-id {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.more {
  width: 50px;
  height: 50px;
  margin-left: 400px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feed-img {
  padding-top: 5px;
  width: 600px;
  height: 700px;
}

.feed-icon {
  display: flex;
  align-items: center;
  height: 50px;
}

.img-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.img-icon.upload {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

.img-icon.save {
  height: 30px;
  margin-left: 385px;
}

.feed-like {
  font-size: 15px;
  font-weight: 700;
  padding-left: 15px;
  width: 585px;
  height: 30px;
  display: flex;
  align-items: center;
}

.feed-comment {
  width: 600px;
  height: 70px;
}

.main-right {
  padding: 20px;
  width: 300px;
}

.my-profile {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.my-box {
  display: flex;
}

.my-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.my-info {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 400px;
}

.my-id {
  font-weight: 700;
}

.my-name {
  color: rgb(0, 0, 0, 0.5);
}

.change-id {
  color: rgb(0, 149, 246);
  font-weight: 600;
}
