*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.font{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 100px;
}

button:hover{
    cursor: pointer;
}