*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

.font{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 100px;
}

button:hover{
    cursor: pointer;
}

@media screen and (min-width:1200px) {
    main{
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media screen and (max-width:968px){
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:800px) {
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
    .main-right{
        display: none;
    }
    .main-left{
        width: 100%;
    }
    .flex-nav input{
        position: unset;
    }
}

