body{
    padding: 20px;
}

.login-box{
    border: 2px solid #EBEBEB;
    background-color: white;
    padding: 60px;
}

input{
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    background-color: #F8F8F8;
    border: 2px solid #EBEBEB;
}

button{
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    background-color: #C4E1FB;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 30px;
}

.repassword{
    text-align: center;
    margin-top: 300px;
}

.repassword a{
    text-decoration: none;
    color: #0A3C6E;
    font-size: 25px;
}

.login-on{
    background-color: blue;
}