* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}

.center {
  margin: 20px auto;
}
.profile-img-gradient {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 5px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}
