body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 20px;
  right: 0;
}

img {
  padding-right: 20px;
}

#subject {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

img {
  width: 30px;
}

main {
  background-color: black;
  margin-top: 100px;
  height: 100vh;
}

#searchBox {
  position: relative;
}

input {
  width: 200px;
  height: 25px;
  right: 0;
  text-align: center;
}

.fa-magnifying-glass {
  position: absolute;
  width: 20px;
  right: 120px;
  top: 7px;
}
