.overall-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  height: 92vh;
}

/* log in */

.login-section {
  padding: 0px 40px;
  height: 395px;
}

.login-btn {
}

section {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px 0;
  margin: 5px 0;
  width: 350px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}

.logo-container {
  margin: 1em auto;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.logo-container img {
  width: 175px;
  margin: 22px auto 12px;
}

.loginForm {
  display: flex;
  flex-flow: column;
  height: 348px;
}

.loginForm input {
  height: 36px;
  margin-bottom: 5px;
  padding: 0 10px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #8e8e8e;
}

.loginForm input:focus {
  outline: none;
  border: 1px solid #a8a8a8;
}

.loginForm .user-id-warning,
.loginForm .user-pw-warning {
  font-size: 12px;
  color: #751717;
}

.warning-invisible {
  display: none;
}

.btn-light-blue {
  background-color: #c0e0fe;
}

.btn-blue {
  background-color: #0095f6;
}

.loginForm button {
  height: 33px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  color: white;
  font-weight: bold;
}

.loginForm button:hover {
  cursor: pointer;
}

.loginForm button:focus {
  outline: none;
}

.loginForm p {
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
}

.loginForm p span {
  background-color: white;
  color: #8f8f8f;
  font-size: 13px;
  padding: 0 20px;
}

.forgotpw-container {
  margin: 5px auto;
  color: #01376a;
  font-size: 12px;
}

.register-section {
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.register-section p {
  color: #a6a6a6;
}

.visible {
  background-color: #0095f6;
}
