nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: space-around; */
  padding: 13px;
  margin-bottom: 35px;
  border-bottom: 0.5px solid #dbdbdb;
}

nav .left {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.icon-logo {
  /* border: 1px solid; */
}

img {
  display: block;
  margin: auto 10px;
  text-emphasis: filled red;
}

.height-20px {
  height: 22px;
}

.text-logo {
  border-left: 1px solid;
  padding-left: 10px;
  font-family: "Lobster", cursive;
}

nav .center {
  /* border: 1px solid black; */
  flex-grow: 1;
  text-align: center;
}

.search {
  margin: auto 10px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
}

nav .right {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

main {
  background-color: aqua;
  /* flex-flow: row nowrap; */
  display: flex;
  justify-content: center;
  /* width: 1000px; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
  /* position: relative; */
}

.feeds {
  width: 550px;
}

article {
  height: 300px;
  background-color: brown;
  /* border: 1px solid black; */
  margin-bottom: 12px;
  border-radius: 6px;
}

.main-right-wrap {
  width: 300px;
  margin-left: 32px;
  background-color: yellow;
  /* position: relative; */
}

.main-right {
  background-color: blueviolet;
  width: 300px;
  /* margin-left: 32px; */
  /* max-width: 300px; */
  /* width: 100%; */
  /* position: relative; */
  position: fixed;
  /* top: 0; */
  /* border: 1px solid black; */
  /* position: absolute; */
}

.profile-wrap {
  display: flex;
  border: 0.1px solid black;
}

.profile-img {
  border: 0.1px solid black;
}

.font-size-18 {
  font-size: 18px;
}

.below-text {
}

.profile-img > img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

footer {
  border: 0.1px solid black;
}

.container-wrap {
  background-color: red;
  border: 0.1px solid black;
  margin: 18px auto;
}

.story-container {
  border: 0.1px solid black;
  height: 200px;
  margin-bottom: 10px;
}

.recommended-container {
  border: 0.1px solid black;
  height: 170px;
}
