/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: space-around; */
  padding: 13px;
  /* margin-bottom: 35px; */
  border-bottom: 0.5px solid #dbdbdb;
  z-index: 1;
}

nav .left {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.icon-logo {
  /* border: 1px solid; */
}

img {
  /* display: block;
  margin: auto 10px; */
  /* text-emphasis: filled red; */
}

.nav-icon {
  display: block;
  margin: auto 10px;
}

.height-20px {
  height: 22px;
}

.text-logo {
  border-left: 1px solid;
  padding-left: 10px;
  font-family: "Lobster", cursive;
}

nav .center {
  /* border: 1px solid black; */
  flex-grow: 1;
  text-align: center;
}

.search {
  margin: auto 10px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
}

nav .right {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

main {
  padding-top: 35px;
  background-color: #fafafa;
  /* flex-flow: row nowrap; */
  display: flex;
  justify-content: center;
  /* width: 1000px; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
  /* position: relative; */
}

.feed-container {
  width: 550px;
}

article {
  /* height: 300px; */
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  margin-bottom: 12px;
  border-radius: 5px;
}

.main-right-wrap {
  /* width: 300px; */
  margin-left: 32px;
  /* background-color: ; */
  /* position: relative; */
}

.main-right {
  /* background-color: blueviolet; */
  width: 300px;
  /* margin-left: 32px; */
  /* max-width: 300px; */
  /* width: 100%; */
  /* position: relative; */
  /* position: fixed; */
  position: sticky;
  top: 83.5px;
  /* border: 1px solid black; */
  /* position: absolute; */
}

.name-wrap {
  padding-left: 12px;
  padding-top: 8px;
}

.aacy {
  color: rgb(168, 168, 168);
}

.profile-wrap {
  display: flex;
  /* border: 0.1px solid black; */
}

.profile-box {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #dbdbdb;
}

#profile-img {
  /* border: 2px solid #dbdbdb; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-size-18 {
  font-size: 18px;
}

footer {
  /* border: 0.1px solid black; */
}

.container-wrap {
  background-color: #fafafa;
  /* border: 0.1px solid black; */
  margin: 18px auto;
}

.story-container {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  height: 230px;
  padding: 10px 15px 0px 15px;
  background-color: #ffffff;
  /* margin-bottom: 10px; */
}

.recommended-container {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  height: 170px;
  margin-top: 10px;
  padding: 10px 15px 0px 15px;
}

.story-list {
  /* top: 0; */
  height: calc(100% - 29.5px);
  overflow: auto;
  /* background-color: darkgreen; */
  margin-top: 10px;
}

.recommended-list {
  margin-top: 10px;
  overflow: auto;
  height: calc(100% - 29.5px);
}

.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#toggleDark {
  margin: auto 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.font-weight-600 {
  /* font-weight: bold; */
  font-weight: 600;
}

.txt-line {
  /* width: calc(100%-100px); */
  /* height: calc(100% - 29.5px); */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-blue {
  color: #0095f6;
}

.new-story-list-wrap {
  display: flex;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  /* border: 0.1px solid black; */
  width: 226px;
}

.new-story-img-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2.5px solid #dbdbdb; */
  margin-right: 12px;
  background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 62%, transparent 0),
    linear-gradient(to top right, orange, deeppink);
}

.new-recommended-img-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2.5px solid #dbdbdb; */
  margin-right: 12px;
  /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 62%, transparent 0),
    linear-gradient(to top right, orange, deeppink); */
}

.nickname-time {
  /* padding-left: 20px; */
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  justify-content: end;
  width: calc(100% - 130px);
}

#new-story-img {
  /* border: 2px solid #dbdbdb; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(42%);
}

.new-story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* default */
  clip-path: circle(42%);
  /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, orange, deeppink); */
}

.txt-line:hover {
  overflow-x: hidden;
}

.new-story-list-wrap:hover {
  transform: scale(1.1);
  transform-origin: 0 0;
  /* background-color: black; */
}

footer ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 0px;
}

a {
  text-decoration-line: none;
  color: rgb(168, 168, 168);
}

footer {
  color: rgb(168, 168, 168);
  margin-bottom: 18px;
}

/* feed */
.feed-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.feed-container .left {
  display: flex;
  align-items: center;
}

.feed-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed-container article {
  /* padding: 16px; */
}

.feed-img {
  overflow: hidden;
}

.feed-img img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
}

.feed-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.feed-body .left {
  /* background-color: #0095f6; */
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.feed-body .right {
  /* background-color: darkgray; */
}

.feed-body i {
  font-size: larger;
}

.like-poeple-img-box {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2.5px solid #dbdbdb; */
  margin-right: 5px;
  /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
    radial-gradient(white 62%, transparent 0),
    linear-gradient(to top right, orange, deeppink); */
}

.section-wrap {
  padding: 5px 16px 16px 16px;
}

.like-wrap {
  display: flex;
  align-items: center;
  padding: 0px 0px 5px 0px;
}

.font-size-14 {
  font-size: 15px;
}

.new-comment {
  border-top: 1px solid #dbdbdb;
  padding: 10px 0px 0px 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-comment i {
  font-size: 19px;
}

form input {
  width: 440px;
  border: 0px;
}

.posting {
  border: 0px;
  background-color: #ffffff;
}

.postingDeactivity {
  opacity: 0.4;
  cursor: default;
}

.postingActivity {
  opacity: 1;
  cursor: pointer;
}

.comment {
  /* height: calc(100% - 29.5px); */
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  margin-bottom: 5px;
}

.my {
  display: flex;
  justify-content: space-between;
}

.my i {
  font-size: 13px;
  display: none;
}
