/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  /* justify-content: space-around; */
  padding: 13px;
  /* margin-bottom: 35px; */
  border-bottom: 0.5px solid #dbdbdb;
  /* z-index: 1; */
}

nav .left {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.icon-logo {
  /* border: 1px solid; */
}

img {
  /* display: block;
  margin: auto 10px; */
  text-emphasis: filled red;
}

.nav-icon {
  display: block;
  margin: auto 10px;
}

.height-20px {
  height: 22px;
}

.text-logo {
  border-left: 1px solid;
  padding-left: 10px;
  font-family: "Lobster", cursive;
}

nav .center {
  /* border: 1px solid black; */
  flex-grow: 1;
  text-align: center;
}

.search {
  margin: auto 10px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
}

nav .right {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

main {
  padding-top: 35px;
  background-color: #fafafa;
  /* flex-flow: row nowrap; */
  display: flex;
  justify-content: center;
  /* width: 1000px; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
  /* position: relative; */
}

.feeds {
  width: 550px;
}

article {
  height: 300px;
  background-color: brown;
  /* border: 1px solid black; */
  margin-bottom: 12px;
  border-radius: 6px;
}

.main-right-wrap {
  /* width: 300px; */
  margin-left: 32px;
  background-color: ;
  /* position: relative; */
}

.main-right {
  /* background-color: blueviolet; */
  width: 300px;
  /* margin-left: 32px; */
  /* max-width: 300px; */
  /* width: 100%; */
  /* position: relative; */
  /* position: fixed; */
  position: sticky;
  top: 83.5px;
  /* border: 1px solid black; */
  /* position: absolute; */
}

.name-wrap {
  padding-left: 12px;
  padding-top: 8px;
}

.aacy {
  color: rgb(168, 168, 168);
}

.profile-wrap {
  display: flex;
  /* border: 0.1px solid black; */
}

.profile-box {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

#profile-img {
  border: 0.1px solid black;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-size-18 {
  font-size: 18px;
}

footer {
  border: 0.1px solid black;
}

.container-wrap {
  background-color: red;
  border: 0.1px solid black;
  margin: 18px auto;
}

.story-container {
  border: 0.1px solid black;
  height: 200px;
  margin-bottom: 10px;
}

.recommended-container {
  border: 0.1px solid black;
  height: 170px;
}

.story-list {
  height: 100%;
  overflow: auto;
  background-color: darkgreen;
}

.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#toggleDark {
  margin: auto 10px;
  padding-bottom: 2px;
  cursor: pointer;
}
