* {
    box-sizing: border-box;
}

html, body, .loginOuterBox {
    height: 100%;
}

.loginOuterBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loginInnerBox {
    padding: 35px;
    border: 1px solid rgb(230,230,230);
}

.loginInnerBox h1 {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.loginForm input {
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 7px;
    padding-left: 10px;
    border: 1px solid rgb(239,239,239);
    border-radius: 3px;
    background-color: rgb(250,250,250);
}

.loginForm input:focus {
    outline: 1px solid rgb(220,219,219);
}

#loginBtn {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(198,222,250);
    color: white;
    font-weight: bold;
}

.loginInnerBox a {
    text-decoration: none;
    color: rgb(18,51,101);
    font-size: 12px;
}