.profile-pic-1{
    width: 40px;
    height:40px;
    border-radius:50%;
    margin-right:5px;
}
.feeds-profile{
    display:flex;
    flex:1;
    margin:30px;
    flex-direction: column;
}
.feeds-pic{
    display: flex;
    flex:1;
}
#picture{
    width:60%;
    height:400px;
}
 .main-profile-box{
     display: flex;
     flex:0.5;
 }
 .comment-icon{
     width:80%;
 }
 
 .comment-left-icon{
    margin: 5px 10px 0px 5px;;
 }
 .icon{
     margin-right:10px;
 }

 .comment-profile-pic{
     width:30px;
     height:30px;
     border-radius:50%;
     margin:5px;
 }

 .likes-profile{
     display:flex;
     align-items:center;
 }


.comment-icon{
    display:flex;
    justify-content: space-between;
    
}
.comment-left-icon{
    display:flex;
}

.comment-icon{
    width:480px;
}
.submit-form{
    display:flex;

}
.comment-box{
    display:flex;
    flex:1;
    width:400px;
}
.input-comment{
    display:flex;
    flex:1;

}

.font{
    font-family: 'Jua', sans-serif;
    font-size:20px;
}