body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    border:1px solid black;
    height: 400px;
    width: 500px;
    background-color: white;
}
.content_head{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Lobster', cursive;

}
.content_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.center_body{
    display: flex;
    flex-direction: column;
}
.center_id{
        width: 339px;
        height: 40px;
        margin-top: 20px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        border: 1px solid black;
    }
.center_pw{
    width: 339px;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}
.center_login{
    width: 339px;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: blue;
    background-color: rgba(0, 162, 255, 0.3);
    border: none;
    border-radius: 5px;  
}
.content_foot{
    color: blue;
    margin-top: 100px;
    text-align: center;
}