* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: "billabong";
	src: url(../font/billabong.otf);
}

body {
    background-color: #FAFAFA;
}