section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh
}
.loginpage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #DBDBDB;
	width: 350px;
	height: 410px;
	padding: 27px 35px 7px 35px;
	background-color: white;
}

h1 {
	display: block;
	color: #262626;
	font-family:"billabong";
	font-size: 45px;
	margin: auto; 
}

.logininput {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 5px;
	padding: 5px;
	height: 100px;
	margin: 0;	
}

input {
	height:40px;
	border: 1px solid #DBDBDB;
	border-radius: 2px;
	padding: 10px;
	background-color: #FAFAFA;
}

.loginBtn {
	background-color: #C0DFFD;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	height: 35px;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 40px;
	border-radius: 5px;
  }

  #loginAlert {
	  cursor: pointer;
	  display: block;
	  margin:auto;
	  padding-top: 30px;
	  font-size: 12px;
	  color:#385085	  
  }

  #loginAlert:hover {
	  color:#6e86bb;
  }