.wrap {
  padding-top: 20px;
}

nav {
  position: relative;
}

.nav_left {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.search_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_right {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}