body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
}
.container {
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -175px;
    margin-top: 34px;
    width: 350px;
    height: 650px;
    text-align: center;
}

.mainContainer {
    height: 605px;
}

.mainBox {
    height: 605px;
    margin-bottom: 44px;
}

.mainBox1 {
    height: 561px;
}

.mainBox2 {
    width: 354px;
    height: 358px;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid rgb(216, 216, 216);
    background-color: #FFFFFF;
}

.mainBox2 h1 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    font-weight: 600;
    margin: auto 12px;
    padding: 18px;
}

.loginBox {
    margin-top: 24px;
    height: 263px;
    width: 350px;
    margin-bottom: 10px;
    justify-content: center;
}

.loginForm {
    height: 263px;
}

.loginBox2 {
    height: 213px;
    margin-top: 24px;

}

.boxLogin {
    height: 38px;
    margin: 0 40px 6px 40px;
}

.boxProperty {
    align-items: center;
    font-size: 16px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    box-sizing: border-box;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 12px;
    width: 100%;
    height: 38px;
    padding: 9px 0 7px 8px;
    background-color: rgba(var(--b3f,250,250,250),1);
    overflow: hidden;
}

.boxPw {
    height: 38px;
    margin: 0 40px 6px 40px;
}

.btnLogin {
    height: 46px;
    margin: 8px 40px;
    margin-top: 16px;
}

.btnProperty {
    width: 100%;
    background-color: rgba(var(--d69,0,149,246),.3);
    opacity: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(var(--eca,255,255,255),1);
    padding: 5px 9px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.lineOr {
    height: 43px;
}

.lineText {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    color: #8e8e8e;
}

.faceBookLogin {
    width: 270px;
    height: 20px;  
    margin: 0 40px 15px 40px; 
}

.faceBookLogin > h6 {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.rememberPw {
    color: #385185;
    margin-top: 12px;
    font-size: 12px;
    line-height: 14px;
}


.signUp {
    width: 354px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1px;
    padding: 10px 0 0 0;
    background-color: #FFFFFF;
}

.signUpContent {
    height: 48px;
}

.signUpContent > p {
    font-size: 14px;
    margin: 15px;
    text-align: center;
    line-height: 18px;
}

.footerContainer { 
    display: block;
    height: 20px;
    margin-top: -60px;
}

.footerBox {
    height: 20px;
    justify-content: center;
    width: 500px;
    margin-left: -70px;
}

.footerBoxTop li {
    display: inline-block;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px;
}

.footerBoxBtm {
    margin-top: 15px;
}
.footerBoxBtm li {
    display: inline-block;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px;
}
