.navMain {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    width: 100%;
    height: 54px;
}

.navLogo h1 {
    font-family: 'Lobster', cursive;
    font-size: 26px;
}

