* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.wrap {
  min-width: 800px;
}

.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
<<<<<<< HEAD
  height: 70px;
=======
  min-width: 800px;
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
  background-color: white;
}
.innerWrap {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0px 50px;
}

.fa-instagram {
  font-size: 30px;
  border-right: 2px solid black;
  padding-right: 18px;
  margin-right: 15px;
}

.logoName {
  font-family: "Lobster", cursive;
  font-weight: 700;
  font-size: 30px;
}

.search {
  position: relative;
}

.textbox {
  height: 35px;
  width: 250px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
}

.textbox::placeholder {
  color: rgb(189, 189, 189);
  font-size: 115%;
  text-align: center;
}

.fa-search {
  position: absolute;
  top: 9px;
  left: 88px;
  color: lightgrey;
  pointer-events: none;
  visibility: visible;
}

.img {
  width: 30px;
  margin-left: 10px;
}

.main {
  margin-top: 70px;
<<<<<<< HEAD
=======
  height: 100%;
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feeds {
  margin: 5px 12px 0px 15px;
  min-width: 666px;
  width: 666px;
  max-height: 666px;
}

.article {
  border: 1px solid gainsboro;
  border-radius: 4px;
  margin: 50px 5px 5px 5px;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: column;
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
}

.article-top {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
}

.account {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.name > span {
  font-weight: bold;
  padding-left: 14px;
  font-size: 14px;
}

.profile {
  margin-top: 5px;
  width: 45px;
  border-radius: 100px;
}

.fa-ellipsis-h {
  margin-right: 15px;
  font-size: 20px;
  color: gray;
}

.art-img {
  width: 100%;
}

.icons-wrap {
  display: flex;
  justify-content: space-between;
}

.icons {
  padding: 15px 15px 0px 15px;
}

.heart,
.fa-comment,
.fa-file-upload,
.fa-bookmark {
  font-size: 30px;
  margin: 3px 10px 0px 3px;
  color: gray;
  border: none;
  background-color: transparent;
}

.heart:hover {
  cursor: pointer;
}

.fa-bookmark {
  padding: 15px;
  color: rgb(63, 63, 63);
}

.main-right {
  margin: 5px 15px 0px 12px;
  padding-top: 50px;
  width: 250px;
  min-width: 250px;
}

.right-1 {
  align-items: center;
  margin-bottom: 10px;
}

.profiles {
  border-radius: 100px;
  width: 45px;
}

.another-info {
  padding-left: 12px;
}

.another-info > p {
  font-weight: bold;
  margin-bottom: 2px;
}

.another-info > span {
  color: gray;
}
#en-name {
  border-right: 1px solid gray;
  padding-right: 5px;
  margin-right: 5px;
}
.names {
  font-size: 14px;
}

.right-2 {
  border: 1px solid gainsboro;
  border-radius: 4px;
  background-color: white;
  height: 230px;
  overflow: scroll;
}

.story-top {
  display: flex;
  justify-content: space-between;
}

.top-1 {
  padding: 15px;
  color: lightslategrey;
  font-size: 14px;
}

.top-2 {
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
}

.stories,
.recomment {
  align-items: center;
  margin-bottom: 7px;
}

.another-img {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  padding: 2px;
  border-radius: 150px;
  margin-left: 15px;
}

.another-img2 {
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 150px;
  margin-left: 15px;
}
.times {
  font-size: 12px;
}

.flowing {
  font-size: 12px;
  width: 120px;
  height: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.another-recomment {
  margin: 0px 5px 0px 12px;
}

.another-recomment > p {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 14px;
}

.another-recomment > span {
  color: gray;
}

.recomment > a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 139, 204);
}

.right-3 {
  border: 1px solid gainsboro;
  border-radius: 4px;
  background-color: white;
  height: 190px;
  overflow: hidden;
  margin-top: 10px;
}

.footer > p {
  font-size: 14px;
  color: rgb(184, 184, 184);
  margin: 10px 0px 15px 0px;
}

.footer > span {
  font-size: 14px;
  color: rgb(184, 184, 184);
}

.alert {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.loveProfile {
  border: 1px solid gainsboro;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  margin: 0px 10px 0px 15px;
}
.good {
  font-size: 14px;
}

.comments {
  margin-top: 10px;
}
.mentsWrap {
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 4px;
}

<<<<<<< HEAD
.mentsMoreWrap {
  margin: 2px 0;
  font-size: 14px;
}
=======
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
.commentId {
  font-weight: bold;
  margin-right: 5px;
}
.mentTime {
  padding-left: 20px;
  font-weight: bold;
  color: rgb(197, 197, 197);
  font-size: 15px;
}

.input {
  display: flex;
  direction: row;
  justify-content: end;
<<<<<<< HEAD
  border-top: 1px solid gainsboro;
=======
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
}

.commentInput {
  width: 100%;
  height: 35px;
  border: none;
  background: none;
  padding-left: 14px;
  outline: none;
  font-size: 16px;
}

.commentInput:focus {
  outline: none;
}

.send {
  width: 70px;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 138, 202);
  opacity: 0.5;
}

<<<<<<< HEAD
.more {
  color: grey;
}
.send:hover {
  cursor: pointer;
}

.newMent {
  width: 100%;
  height: 50px;
}
=======
.send:hover {
  cursor: pointer;
}
>>>>>>> 1898555e0107f98e18ae5c97a0016a4371c384d4
