.fullScreen {
    text-align: center;
    width: 360px;
    height: 380px;
    border: 1px solid black;
    margin: auto auto;
}

header {
    font-family: 'Lobster', cursive;
    font-size: 40px;    
    text-align: center;
    margin-top: 30px;
}

.container {
    border: 1px solid black;
    width: 348px;
    height: 360px;
    margin: 8px auto;
}

.loginBox {
    text-align: center;
    margin-top: 30px;
    
}

.idBox, .pwBox{
    text-align: left;
    width: 250px;
    height: 30px;
    background-color:whitesmoke ;
    border: 1px solid gainsboro;
}

.password {
    margin-top: 10px;
    
}

.loginButton {
    margin-top: 20px;
}

button {
    background-color: #b2e1fc;
    text-align: center;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 30px;
}

.forget {
    margin-top: 90px;
    color: rgba(var(--fe0,0,55,107),1);
}