body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    background-color: white;
    width:550px;
    /* height: 650px; */
    padding:10px;
}

.inline {
    border: 0.5px solid gray;
    opacity:0.8;
    /* width:500px;
    height:600px; */
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Lobster', cursive;
    font-size:60px;
    margin:20px;
    margin-bottom: 50px;
}

.id_input {
    width:380px;
    height:40px;
    margin:5px;
    color: black;
    background-color: #FAFAFA;
    opacity: 0.9;
    border: 0.5px solid grey;
    font-weight:bold;
    border-radius: 5px;
}

.pw_input {
    width:380px;
    height:40px;
    margin: 5px;
    color: black;
    background-color: #FAFAFA;
    opacity: 0.9;
    border: 0.5px solid grey;
    font-weight:bold;
    border-radius: 5px;
}

.login_btn {
    width:380px;
    height:40px;
    margin:15px;
    border-style: none;
    border-radius: 5px;
    background-color: skyblue;
    color:white;
    font-weight: bold;
    opacity: 0.8;
}

a {
    margin:50px;
    margin-top:150px;
    text-decoration: none;
    font-size:13px;
}