/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding:20px;
}

.header_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:120px;
}

.header_input {
    background-color: #FAFAFA;
    color:black;
    font-family: bold;
    width:200px;
    height:20px;
    margin:auto;
    text-align: center;
    border:0.5px solid gray;
    border-radius: 3px;
}

.profile_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_instagram {
    border-right: 1px solid black;
    padding-right: 20px;
    margin-right: 20px;
    width:20px;
    height:20px;
}

.logo_header {
    width:25px;
    height:25px;
}

/* Section */

section {
    display:flex;
    flex-direction: row;
    border-top: 1px solid #E2E2E2;
    opacity: 0.8;
    background-color: #FAFAFA;
}


.title {
    font-family: 'Lobster', cursive;
    font-size:25px;
}

.feed_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_feed {
    width:30px;
    height:30px;
    margin:2px;
}

.logo_left {
    margin:5px 15px;
}

.logo_right {
    margin:5px 15px;
}


.comment_example {
    margin:3px 8px;
}

.comment_personal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:3px 8px;
}

.left_div {
    border: 1px solid #E2E2E2;
    margin-left:180px;
    margin-top:30px;
    margin-right:10px;
    width:75%;
}

.right_div {
    margin-right:180px;
    margin-top:30px;
    margin-left:10px;
}

.profile_normal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:8px;
}

.profile_activate {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:8px;
}

.profile_small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:8px;
}

.right_first_box {
    display: flex;
    flex-direction: column;
    border: 1px solid #E2E2E2;
    margin:15px;
    padding:13px;
}

.right_second_box {
    display: flex;
    flex-direction: column;
    border: 1px solid #E2E2E2;
    margin:15px;
    padding:13px;
}

.feed_image{
    width:100%;
    height: 100%;
}

span {
    display: inline;
}

.input_comment {
    border-top: 1px solid #E2E2E2;
    padding:10px;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

button {
    border:none;
    background: none;
    color:blue;
}

.comment_box {
    border:none;
    height:40px;
    width:500px;
    background-color: #FAFAFA;
}

.profile_text {
    display: inline-flex;
    flex-direction: column;
}

.profile_collect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_like {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.profile_name{
    font-weight: bold;
}

.profile_desc{
    color:gray;
}

p {
    margin:0px;
}

.p_tag {
    margin:10px;
    color:#E2E2E2;
}

.box_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5px;
}

.follow_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.follow_btn {
    color:deepskyblue;
    font-weight: bold;
    margin:5px;
}

.img_box {
    height:800px;
}

.comment_size {
    width:15px;
    height:15px;
}