body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 55px;
  font-family: 'Dancing Script', cursive;
}

#loginForm {
  display: flex;
  justify-content: space-around;
  border: 0.5px solid;
  border-color: #dbdbdb;
  width: 350px;
  height: 400px;
}

#loginInput input {
  font-size: 14px;
  margin-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  width: 250px;
  height: 20px;
}

#loginInput button {
  color: white;
  font-weight: bolder;
  font-size: 14px;
  margin: 10px, 40px, 8px, 40px;
  width: 260px;
  height: 30px;
  border: 0px;
  border-radius: 4px;
  background-color: #c4e1fb;
}

#forgetPassword {
  color: #00376b;
  font-size: 12px;
}
