div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
main {
  display: flex;
  flex-direction: row;
}

.name-etc {
  display: flex;
  flex-direction: row;
}

#feeds {
  border: 2px solid black;
  width: 470px;
}
#feedImg {
  width: 470px;
  height: 470px;
}
#feedBtn {
  height: 40px;
}

#navLeft {
  display: flex;
  flex-direction: row;
}

#articleTop {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  width: 470px;
  height: 56px;
}

#articleCenter {
  background-color: aqua;
  width: 470px;
}

#articleBottom {
  background-color: green;
  width: 470px;
  height: 225px;
}

#main-right {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#story {
  border: 1px solid black;
}
#recommendation {
  border: 1px solid black;
}
