* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 100px;
    margin: 70px 0px 75px 0px;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 760px;
    border: 2px solid lightgray;
    border-radius: 2px;
}

.login {
    display: flex;
    flex-direction: column;
}

input {
    width: 538px;
    height: 76px;
    background-color: #f7f7f7;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 5px;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

input::placeholder {
    color: rgb(145, 145, 145);
}

#login-btn {
    width: 538px;
    height: 60px;
    background-color: #C4E0FB;
    border-style: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.forgetpw {
    font-size: 24px;
    margin-top: 150px;
    color: rgb(11, 29, 131);
}