.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  height: 60px;
  border-width: thin;
  background-color: white;
}
.westagram-logo {
  margin-left: 25px;
}
.westagram {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 27px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  background-color: var(--background);
  margin-left: 100px;
}
.search-bar-message {
  color: var(--message-gray);
  font-size: 13px;
}
.search-bar-message i {
  margin-right: 5px;
}
.nav-list {
  display: flex;
  margin-right: 25px;
}
.nav-list i {
  margin-right: 23px;
  font-size: 23px;
  cursor: pointer;
}
.nav-list img {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  cursor: pointer;
}
