* {
  box-sizing: border-box;
}
nav {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.instaIcon {
  width: 50px;
  border-right: 1px solid gray;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.instaLogo {
  font-family: "Lobster", cursive;
  font-size: 35px;
  margin-top: 10px;
}
.navBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}
.logoIcon {
  display: flex;
}

.search {
  width: 250px;
  height: 30px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
  margin-top: 20px;
}
.img {
  width: 30px;
  height: 30px;
}
.searchBox {
  display: relative;
}

.imgBox {
  width: 150px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.main {
  width: 100%;
  height: 120vh;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
}

.feeds {
  display: flex;
  justify-content: center;
}

article {
  width: 600px;
  height: 800px;
  border: 2px solid #e2e3e7;
  border-radius: 5px;
  margin-top: 50px;
  background-color: white;
}

.smile {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50%;
  margin-top: 5px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  height: 7%;
}

#name {
  margin: 15px 20px;
  width: 450px;
  font-weight: bold;
}
.userInfo {
  display: flex;
}
.moreIcon {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
}

button {
  border: none;
  background-color: white;
}
.feedImgBox {
  width: 100%;
  height: 63%;
}
.feedImg {
  width: 100%;
  height: 100%;
}
.feedButton {
  padding: 3px;
}

.feedButton > img {
  width: 24px;
  height: 24px;
}

.feedButtonBox {
  margin: 10px;
}

.feedLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  padding-top: 15px;
}

.bookMark {
  width: 32px;
  height: 25px;
  margin-right: 20px;
}
.bookMark > img {
  width: 24px;
  height: 24px;
}

#commentList {
  width: 100%;
  height: 16%;
}

.comment {
  width: 90%;
  height: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
}
.commentBox {
  width: 100%;
  height: 60px;
  border-top: 2px solid #e2e3e7;
}

.upload {
  width: 50px;
  font-size: 20px;
  color: rgb(104, 162, 238);
}
.main-right {
  width: 300px;
  height: 530px;
  margin-top: 50px;
  margin-left: 40px;
}

.profileBox {
  width: 100%;
  height: 56px;
  display: flex;
  margin-top: 10px;
}

.storyBox {
  width: 100%;
  height: 43%;
  border: 2px solid #e2e3e7;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
}

.suggestion {
  width: 100%;
  height: 37%;
  border: 2px solid #e2e3e7;
  border-radius: 5px;
  margin-top: 25px;
  background-color: white;
}

.userId {
  font-weight: bold;
  margin: 5px 20px;
}

.userName {
  font-weight: normal;
  color: gray;
  font-size: 15px;
}

.storyHead,
.suggestionHead {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.storyHead > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.storyHead > div,
.suggestionHead > div {
  color: #abacb0;
  font-weight: bold;
  font-size: 15px;
}

.suggestionHead > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.storyList1,
.storyList2,
.storyList3,
.storyList4,
.storyList5 {
  display: flex;
  margin: 5px 10px;
}
.userTime {
  font-weight: normal;
  color: gray;
  font-size: 15px;
}
.sg1,
.sg2,
.sg3 {
  display: flex;
  margin: 5px 10px;
}

.list, .addComment {
  font-weight: bold;
  margin: 5px;
}
