main {  
    width: 100vw;
    height: 100vh;
    background: #fafafa;    
}

.wrap {
    height: 600px;
    min-width: 450px;
    max-width: 550px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border: 1px solid #ccc;
}

.logo {
    margin: 22px auto 22px;
    text-align: center;
    line-height: 100px;   
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}

.loginForm,
.loginBtn {
    width: 70%;
    margin:0 auto;
}

.loginForm input {
    width: 100%;  
    height: 56px;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 56px;
    text-overflow: ellipsis;
    background: #f2f2f2;
    border: 1px solid #c5c1c1;
    border-radius: 4px;
}

.loginForm input:first-child {  margin-top: 40px; }

.loginBtn button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0095F6;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.loginBtn button:disabled { 
    background-color: #0094f656;
}

.loginForm input,
.pwFind {
    font-size: 14px;
}

.pwFind {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 40px; 
    text-align: center; 
    color: #00376B;
}