header {
    width: 100%; 
    height: 54px;
    position: fixed;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #c7c7c7;
}

.wrap {
    display: flex;
    width: 90%; 
    height: 100%;
    max-width: 1000px;
    margin: auto;
}

.wrap div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {  
    flex-grow: 2;  
    justify-content: flex-start;
}
.logo a {  font-size: 24px;  }

.search { 
    flex-grow: 1;
    width: 500px; 
}

.search input {
    position: relative;
    width: 100%; 
    height: 30px;
    padding: 7px;
    font-size: 14px;
    font-weight: 300;
    cursor: text;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fafafa;
}

.search span {
    position: absolute;
    color: #c7c7c7;
}

.user {  
    flex-grow: 2;  
    display: flex;
    justify-content: flex-end;
}

.user a {
    margin-left: 10px;
    text-align: center;
}

.user a img {  width: 50%;  }

main {
    width: 100vw;
    height: 100vh;
    background: #fafafa;
}

section {
    display: flex;
    justify-content: space-between; 
    width: 90%; 
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
    top: 54px; left: 0;
}

.contents {
    display: flex;
    justify-content: space-between;
    height: 750px;
    background: #fafafa;
}

.card{
    width: 600px; 
    background: #fff;
    border: 1px solid #c7c7c7;
}

.profile {
    width: 100%;
    display: flex;
}

.profile div:first-child{  margin-left: 20px;  }

.profile-img {   
    width: 60px;    
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.name { 
    font-weight: bold; 
    line-height: 80px;
    text-align: center;
}

.card .card-img {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}
    
.click-line {
    display: flex;
    position: relative;
    width: 100%;
}

.click-inner {
    width:50%;
    display: flex;
    
}
.click-inner div {
    width: 9%;
    margin: 10px;
    cursor: pointer;
}

.click-inner div:nth-child(2) {  width: 8%; margin-left: 15px;  }

.click-line .save { width:50%; }

.click-line .save img{
    position: absolute;
    top: 0; 
    right: 0;
    margin: 10px 20px;
    width: 5%;
    cursor: pointer;
}

.comment-view {  width: 100%;  }

.comment-view p {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.comment-view span {
    padding: 10px;
    font-size: 14px;
    color: #8e8e8e;;
}

.comment {
    width: 100%;
    padding-top: 10px ;
}
.comment input {
    width: 100%;
    height: 56px;
    padding-left: 10px;
    font-size: 16px;
    text-overflow: ellipsis;
    border: 1px solid #8e8e8e;
}

/* ---------------------------- */

aside {
    width: 350px;
    height: 100%;
}

.toMyPage {  width: 100%;}

.my-home {
    width: 100%;
    height: 100px;
    display: flex;
}

.myhome-img {
    width: 80px; height: 80px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
}

.story {
    width: 100%;
    height: 300px;
    background: #fff;
    border: 1px solid #c7c7c7;
    overflow: hidden;
}
.story-txt {
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.story-txt p {  padding: 15px;  }

.story-txt:first-child {  color: #c5c5c5;  }

.people {
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.people-img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin: 8px;
    overflow: hidden;
}

.people-name {
    width: 20%;
    text-align: left;
}

.people-name p {
    padding: 2px;
}
.people-name p:first-child{
    margin-top: 20px;
}

.recommend {
    width: 100%; 
    height: 300px;
    border: 1px solid #c5c5c5;
    overflow: hidden;
    margin-top: 20px;
    background: #fff;
}
.recommend-txt {
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.recommend-txt p {  padding: 15px;  }

.recommend-txt :first-child {  color: #c5c5c5;  }


blockquote {
    margin-top: 20px;
    color: #c5c5c5;
}


@media screen and (max-width: 700px){   
    .wrap .search {   display: none;  }
}
@media screen and (max-width: 1040px){   
    .card{  width: 70%; margin: auto; min-width: 700px; }
    aside {  display: none;  }
}