.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.insta {
  display: flex;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 10px 20px;
}

.title {
  font-size: 30px;
  font-family: "Jua", sans-serif;
  padding-top: 3px;
  padding-left: 20px;
  margin: 5px;
  border-left: solid 2px;
}

#search {
  width: 200px;
  height: 30px;
  background-image: url(search.png);
  background-position: 45px center;
  background-repeat: no-repeat;
  background-size: 12px;
  background-color: rgba(128, 128, 128, 0.1);
  box-sizing: border-box;
  margin-right: 50px;
  padding-left: 20px;
  border-radius: 2px;
  border: solid 2px rgba(128, 128, 128, 0.2);
  text-align: center;
  margin-top: 10px;
}

.link {
  margin-right: 20px;
}

.navImg {
  width: 40px;
  margin: 5px;
}

.main {
  display: flex;
}

.feeds {
  margin: 0;
  padding: 10px;
  background-color: #eee;
  border-top: solid rgba(128, 128, 128, 0.1);
}
.RNC {
  width: 30px;
  height: 30px;
  border: 1px solid #fafafa;
  border-radius: 100%;
}
.userId {
  text-align: center;
}

.profile {
  margin: 100px 250px 0 100px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  background-color: white;
}

.mainRight {
  margin: 0;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: ;
}
