
.loginBox{
    background: #fff;
    border: solid 1px #E6E6E6;
    width: 350px;
    margin: 100px auto;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    margin: 35px 0 50px 0;
}

.logo a {
    text-decoration: none;
    color: black;
}

.loginInput form{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.loginInput input{
    background: #fafafa;
    border: solid 1px #E6E6E6;
    margin-bottom: 5px;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
}

.loginInput input::placeholder{
    color: #999;
}

.loginInput input:focus {outline: 1px solid #999;}

#loginBtn {
    background: #C4E0FB;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

.findPassword{
    display: block;
    text-align: center;
    margin: 180px 0 30px 0;
}

.findPassword a{
    text-decoration: none;
    color: #033568;
    font-size: 14px;
}