@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  width: 100vw;
  height: 100vh;
}
.navigation {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.navLogo {
  margin: 0.4em 0.5em 0.5em 0;
  font-family: "Lobster", cursive;
  font-size: 1.7em;
}

.icon {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.userProfile {
  width: 1.6em;
  height: 1.6em;
  margin: 1em;
  border: 2px solid;
  padding: 0.2em;
  border-radius: 50%;
}

.searchBar {
  justify-content: center;
  margin: 1.3em 5em 0 7em;
  width: 15vw;
}

.searchBox {
  width: 15em;
  text-align: center;
  background-color: rgb(242, 244, 246);
  border: 1px solid rgb(212, 209, 209);
}

main {
  display: flex;
  justify-content: center;

  background-color: rgb(242, 244, 246);
  padding: 2.5em;
}

.feeds {
  width: 33vw;
  height: 100vh;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.3em;
  background-color: white;
}

.posting-box {
  display: flex;
  margin: 0.6em 0 0 0.5em;
}

.posting {
  width: 100%;
}

.post-owner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.owner-name {
  margin: 0.7em 0 1em 0.7em;
}

.sub-name {
  font-size: 13px;
}

.posting-icons {
  display: flex;
  justify-content: flex-end;
  margin: 0.2em 0.8em;
}

.posting-icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0.3em;
}

.bookmark-icon {
  margin-left: auto;
}

.posting-text {
  margin: 0 1.3em 0 1.3em;
}

.main-right {
  margin-left: 10px;
  width: 20vw;
}

.small-font {
  font-size: 13px;
  margin-left: 1.5em;
}

.comment-list {
  padding: 0 1.2em;
}

.comment-content {
  padding-bottom: 1em;
}

li {
  list-style: none;
  margin-left: 0;
}

.date {
  font-size: 13px;
}

.write-commments {
  height: 60px;
  border-top: 1px solid grey;
}

.comment-input {
  width: 87%;
  padding: 1em 0 1em 1em;
  border: transparent;
}

.write-btn {
  padding: 0.8em;
  border: 0px;
  float: right;
  color: rgb(40, 185, 242);
  background-color: transparent;
}

.login-user {
  display: flex;
  margin-bottom: 3%;
}

.login-user-image {
  width: 60px;
  border-radius: 50%;
}

.login-user-name {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0.8em;
}

.story {
  border: 1px solid rgb(208, 204, 204);
  border-radius: 0.3em;
  padding: 1em;
}

.small-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.users {
  display: flex;
  margin-top: 0.5em;
}

.user-avatars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid red;
}

.user-name {
  margin: 0.3em 0.8em;
}

.after-date {
  font-size: 14px;
  color: rgb(166, 165, 165);
  margin-top: 2px;
}

.recommend {
  margin-top: 1em;
  border: 1px solid rgb(208, 204, 204);
  border-radius: 0.3em;
  padding: 1em;
}

.recommend-like {
  font-size: 13px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.follow-btn {
  margin-left: auto;
  border: 0px;
  background-color: transparent;
  color: rgb(40, 185, 242);
}

.foot {
  font-size: 13px;
  color: rgb(196, 196, 196);
}
