@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 239, 239);
}

.content-wrap {
  width: 700px;
  height: 700px;
  text-align: center;
  background-color: white;
  border: 2px solid rgb(190, 178, 178);
}

h1 {
  font-size: 5em;
  font-weight: 400;
  font-family: "Lobster", cursive;
}

input {
  width: 20rem;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-color: rgb(246, 245, 245);
  background-color: rgb(247, 240, 240);
}

button {
  color: white;
  border-radius: 0.5rem;
  border-style: none;
  width: 20.5rem;
  height: 3.1rem;
  margin-bottom: 10rem;
  transition: all 0.5s;
}

.onBtn {
  background: rgb(30, 158, 209);
}
