* {
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    display : flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.total {
    width : 362px;
    height: 394px;
    display : flex;
    flex-direction: column; 
    align-items: center;
    font-size : 14px;
    line-height : 40px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    padding : 10px 0; 
    left : 50%;
    
} 


.westagram{
    padding-top : 45px;
}

.westagram img {
    width : 175px;
    height: 51px;
}



.box {
    width : 350px;
    height: 265px;
    display : flex;
    flex-direction: column;
    align-items : center;
    padding-top : 24px;
    
}


.put{
    display : flex;
    flex-direction: column;
}


.put input {
    width : 268px;
    height : 36px;
    background : #fafafa;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 2px;
    padding : 9px 0 7px 8px;
}




.putPw pw {
    width : 268px;
    height : 38px;
    padding : 9px 0 7px 8px;
}




.login {
    width : 270px;
    height : 30px;
}


button {
    width : 268px;
    height : 30px;
    border: 0;
    border-radius: 4px;
    background-color: rgba(var(--d69,0,149,246),.3);
    opacity: 1;
    color:#fafafa;
    font-weight: bold;
}


.line {
    width: 104.76px;
    height: 1px;
    background : #bdbdbd;
}


.orThree {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #8e8e8e;
}

.forget{
    text-align: center;
    margin : 12px 0 0;
    font-size: 12px;
    color: #00376b;;
}


