*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* login */
.logWrap{
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(237, 237,237);
    flex-direction: column;
    margin-top: 10px;
}
.westagram_title{
    width:200px;
    height: 80px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
.input{
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
}
.id,.password{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(237, 237,237);
    border-radius: 5px;
    color: rgb(142, 142, 142);
    background-color: rgb(249, 249, 249);
    padding-left: 10px;
    outline: none;
}

.btn_wrap{
    width: 260px;
    height: 35px;
    margin-top: 8px;
}
.btn{
    width: 100%;
    height: 100%;
    background-color: rgb(201, 224, 249);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
}


.active{
    color: rgb(237, 237,237);
}
footer{
    height: 120px;
}
.forgot{
    margin-top: 90px;
    display: inline-block;
}



/* main */


/* nqvbar */
.topnav{
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(214,214,214);
    height: 54px;
    margin-top: 3px;
    display: flex;
}

.westa{
    font-family: 'Lobster', cursive;
    margin-top: 13px;
}

.searchbox{
    border: 1.5px solid rgb(214,214,214);
    border-radius: 3px;
    margin-top: 13px;
    width: 180px;
    height: 28px;
    position: relative;
}
.fa-search{
    font-size: 13px;
    position: absolute;
    top: 6px;
    left: 35%;
    color: rgb(175,175,175);
}

.input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(250, 250, 250);
    
}

.navleft{
    margin-top: 14px;
}

.navtopleft>ul>li{
    display: inline-block;
    margin-left: 7px;
}

.navleft{
    width: 20px;
    height: 20px;
}

/* main */

.main{
    display: flex;
    background-color: rgb(250, 250, 250);
}

.feeds{
    border: 1px solid red;
    width: 330px;
    height: 500px;
    margin-top: 10px;
    margin-right: 3px;
    
}
.article{
    border: 1px solid rgb(175,175,175);
    width: 95%;
    height: 85%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
}
.useId{
    border: 1px solid coral;
    width: 100%;
    height: 35px;
    display: flex;
    margin-left: 0;
}
.my{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;

}
.my_name{
    margin-left: 0;
    margin-top: 7px;
}

.feedImg{
    border: 1px solid cyan;
    width: 100%;
    height: 300px;
}
.pics{
    width: 100%;
    height: 100%;
}

.main-right{
    border: 1px solid blue;
    width: 180px;
    float: right;
    margin-top: 10px;
    margin-left: 0;
    padding-right: 10px;
    height: 330px;

}