*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* login */
.logWrap{
    font-family: 'Lobster', cursive;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(237, 237,237);
    flex-direction: column;
    margin-top: 10px;
}
.westagram_title{
    width:200px;
    height: 80px;
    font-size: 40px;
}
.input{
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(237, 237,237);
    border-radius: 5px;
    color: rgb(142, 142, 142);
    background-color: rgb(249, 249, 249);
    padding-left: 10px;
    outline: none;
}
.btn_wrap{
    width: 260px;
    height: 35px;
    margin-top: 8px;
}
.btn{
    width: 100%;
    height: 100%;
    background-color: rgb(201, 224, 249);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
}


.active{
    color: rgb(237, 237,237);
}
footer{
    height: 120px;
}
span{
    margin-top: 90px;
    display: inline-block;
}