#nav_bar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(218, 216, 216, 0.828)
}

#insta_logo {
  width : 3%;
  height : 3%;
}

#section {
  height : 20px;
}

#insta_text {
  width : 11%;
  height : 11%;
}

#main_img {
  width : 30%;
  height : 30%;
}

#nav_bar {
  text-align : center;
}

#container_top {
  display: flex;
  justify-content: center;
}

#search {
  border : 1px solid rgb(186, 186, 186);
  background-color: rgba(239, 239, 239, 0.361);
  width : 20%;
  padding : 0.25%;
}

#search_img {
  width : 4.5%;
  /* height : 4.5%; */
}

#search_text {
  border: none;
  background-color: transparent;
}

#container_middle {
  width : 3%;
  height : 3%;
  display: flex;
  justify-content: center;
}

#like_icon_middle {
  width : 90%;
  height : 90%;
}

#comment_icon {
  width : 100%;
  height : 100%;
}

#send {
  width : 100%;
  height : 100%;
}

#upload_time {
  color :rgb(102, 100, 100)
}

#comment_box {
  padding-top : 10px;
  border-top : 1px solid rgba(218, 216, 216, 0.828)
}

#comment {
  color :rgb(156, 155, 155)
}