nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
}

.titleLeft {
    position: relative;
    margin-left: 100px;
}

.instaIcon {
    width: 30px;
    height: 30px;
    padding-top: 1px;
}

.title {
    display: inline-block;
    font-size: 30px;
    width: 200px;
    border-left: 2px solid black;
    margin-left: 20px;
    padding-left: 20px;
}

.searchBar input {
    background-image: url(/image/search.png);
    background-repeat: no-repeat;
    background-position: 40% center;
    background-color: #e6e5e5;
    padding-left: 45%;
    width: 250px;
    height: 30px;
    border: 1px solid #d8d8d8;
}

.titleRight img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#main {
    display: flex;
    background-color: #fafafa;
}

article {
    /* width: 35%; */
    width: 500px;
    margin-left: 20%;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    margin-top: 60px;
}

.wrapFeed {
    position: relative;
}

.feedNav {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}

.profileImg {
    background-image: url(/image/pong2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 15px;
}

.feedNav span {
    font-weight: bolder;
}

.feedNav img {
    position: absolute;
    right: 20px;
}

.mainImage img {
    width: 100%;
}

.articleBottom {
    position: relative;
    padding-left: 10px;
    border-bottom: 1px solid #bdbaba;
    padding-bottom: 10px;
}

.icons {
    position: relative;
}

.icons img {
    width: 25px;
    margin-left: 10px;
    margin-right: 7px;
}

.icons img:last-child {
    position: absolute;
    right: 0;
}

.like {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.like img {
    background-image: url(/image/puppy3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

span a {
    font-weight: bolder;
}

.commentList {
    list-style: none;
    text-indent: -40px;
    margin: 20px 0;
}

.commentIcons {
    display: inline;
    position: absolute;
    right: 5px;
}

.far:before {
    margin-left: 40px;
}

.fa-solid:before {
    margin-left: 40px;
}

.fa-trash-can:before {
    margin-left: 45px;
}

.commentBtn {
    border: none;
    height: 20px;
    display: inline;
}

.commentBtn button {
    width: 40px;
    height: 23px;
}

.addComment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.addComment input {
    width: 88%;
    height: 40px;
    border: none;
}

.addComment input:focus {
    outline: none;
}

.submitBtn {
    width: 10%;
    height: 40px;
    border: none;
    color: #0995f6;
    background-color: white;
}

aside {
    display: inline-block;
    /* width: 27%; */
    width: 380px;
}

.asideRight {
    margin: 60px 10px 0 20px;
}

.myProfile {
    display: flex;
    align-items: center;
}

.myProfile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.introduce {
    margin-left: 20px;
}

.introduce p:first-child {
    font-size: 20px;
    font-weight: bolder;
}

.introduce p:last-child {
    color: #bdbaba;
}

.storyTab {
    background-color: #ffffff;
    border: 1px solid #bdbaba;
    border-radius: 8px;
    height: 280px;
    margin-top: 30px;
    overflow: hidden;
}

.storyTop {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.storyIcon {
    display: flex;
    align-items: center;
    margin : 15px
}

.storyIcon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to-right, red 0%, orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
/* 테두리 css 하나 | img css 하나 두개를 겹쳐봐 */

.storyBottom {
    height: 250px;
}

.recommend {
    background-color: #ffffff;
    border: 1px solid #bdbaba;
    border-radius: 8px;
    height: 250px;
    margin-top: 20px;
}

.recommendTop {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0 15px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.recommendBottom {
    width: 100%;
    height: 200px;
}

.recommendIcon  {
    display: flex;
    align-items: center;
    margin : 12px;
}

.recommendIcon img {
    width: 15%;
    height: 50px;
    border-radius: 50%;
}

.recommendIcon span {
    color: #4ba0f2;
    font-weight: bolder;
    margin-left: 14%;
    font-size: 15px;
}

.otherUser {
    margin-left: 20px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otherUser p:first-child {
    font-size: 20px;
    font-weight: bolder;
}

.otherUser p:last-child {
    color: #bdbaba;
}

@media screen and (max-width : 1000px) {

    #main {
        justify-content: center;
    }
    
    aside {
        display: none;
    }

}