html{
    display:flex;
    height:100%;
    flex:1;
}

body{
    display:flex;
    flex:1;
}

.logo{
    display: flex;
    margin:80px;

}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-box{
    display: flex;
    flex:1;
    justify-content: center;
    height: 100%;
    background:rgb(245, 245, 245);
    align-items: center;
    flex-direction: column;
}
.out-box{
    display: flex;
    flex:1;
    flex-direction: column;
    background-color:#f1f3f5;
    width: 50%;
}#f1f3f5;

.inputbox{
    display: flex;
    flex:1;

}


p {
    font-family: 'Lobster Two', cursive;
    font-size:60px;
}

.wrap{
    display: flex;
    flex:1;
    flex-direction: column; 
}

.name-box{
    height: 50px;
    display: flex;
    justify-content: center;
}

.password-box{
    height: 50px;
    display: flex;
    justify-content: center;
}

.login-button{
    height: 40px;
    display: flex;
    justify-content: center;
}



#id-input{
    display:flex;
    flex:1;
    align-items: center;
    margin:7px;
    border:0;
}

#password-input{
    display:flex;
    flex:1;
    margin: 7px;
    border:0;
}
#login{
    height: 40px;
    display: flex;
    flex:1;
    justify-content: center;
    background-color: #0095f6;
    margin:10px;
    align-items: center;
}


.login-alphabet{
    color:white;
    font-size:15px;
}

.find-password{
   position: absolute;
   right:43%;
   bottom:100px;
}
.find-password{
    color:rgb(51, 51, 129);
}