* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage {
  position: relative;
  border: 3px solid lightgray;
  padding: 10%;
}

.idBox {
  padding-bottom: 10px;
  width: 250px;
}

.passwordBox {
  padding-bottom: 10px;
  width: 250px;
}

button {
  background-size: 50px;
  background-color: #c4e0fc;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 250px;
}
.button_on {
  background-size: 50px;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 250px;
}

.button_off {
  background-size: 50px;
  background-color: #c4e0fc;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 250px;
}
