a {
    text-decoration: none;
    color: #385898;

}

.Westagram {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    text-align: center;
font-size: 48px;
margin-top: 36px;
margin-bottom: 36px;
cursor: pointer;
color: black;
}