a {
    text-decoration: none;
    color: #385898;

}


body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%
}

p, span {
    font-size: 14px;
}


.mainFeed {
    margin: 0 70px;
    display: flex;
    flex-wrap: column-wrap;

}


.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    height: 35px;
    align-items: center;
    width: 100%;

}

.boldPoint {
    font-weight: bold;
}

li {
    font-size: 14px;
}