*{
  box-sizing: border-box;
  margin: 0;
  padding:0;

}

body{display: flex;
  justify-content: center;
  align-items: center;
 
}

.outBox{
  width: 350px;
  height: 380px;
  border: 1px solid #dbdbdb;
  
}

h1{
 
  color: #262626;
  
  font-family: 'Lobster', cursive;
  position: relative;
  top: 20px;
  left: 95px;
}



input{
  display: block;
  position: relative;
  top: 80px;
  left :90px;
}



#btnLogin{
display: block;
background-color: rgb(178,223,252);
color: rgb(255,255,255);
border-radius: 5px;
position: relative;
  top: 80px;
  left :90px;
}





.btnForgot{
color: rgb(43,86,130);
font-weight: bold;
position: relative;
  top: 80px;
  left :90px;
}



