* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.westagram {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.westaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px 200px 80px;
  border: 1px solid rgb(233, 230, 230);
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.login {
  margin-top: 50px;
  width: 295px;
}

input {
  background-color: whitesmoke;
  border-radius: 2px;
  border: 1px solid rgb(236, 234, 234);
  width: 100%;
  padding: 10px;
  margin-top: 3px;
}

button {
  margin-top: 10px;
  background-color: rgba(119, 178, 233, 0, 5);
  color: white;
  border: none;
  padding: 10px 130px;
  border-radius: 3px;
  cursor: pointer;
}
