#wrap{width: 100%; height: auto;}
#main{display: flex; flex-direction: row; justify-content: center; margin: 90px auto 0; max-width: 935px; padding-bottom: 32px; width: 100%; align-items: center; font-size: 12px;}

/* 좌측 phone */
#aside{flex-basis: 454px; height: 618px; background: url(../img/login_mockup.png) no-repeat; background-size: cover; margin-left: -51px; margin-right: -17px; margin-top: -60px;}
#phone-wrap{margin: 100px 0 0 152px; position: relative;}
#img-wrap{width: 240px; height: 427px; position: relative;}
.phone-img{width: 100%; height: 100%; position: absolute; top: 0; right: 0; visibility: hidden;}
.phone-img-root{visibility: visible; z-index: 2;}

/* 우측 login */
#section{width: 350px; height: 618px;}
#login-wrap{width: 100%; background: #fff; border: 1px solid rgba(var(--b6a,219,219,219),1); padding: 10px 0; margin-bottom: 10px;}
#login-box{display: flex; flex-flow: column; align-items: center;}
#logo{height: 51px; width: 175px; background-position: 0 -129px; margin: 22px auto 12px;}
.img-sprite{background: url(../img/imgstripe.png) no-repeat; background-size: 440px 411px; background-position: 0 -129px;}

#input-wrap{display: flex; flex-direction: column; position: relative;}
.user-loing-txt{width: 268px; height: 36px; padding: auto;}
.user-loing-txt:first-child{margin-top: 24px; margin-bottom: 6px;}
.user-loing-txt:last-child{margin-top: 14px;}
.write-box, #login-btn{width: 100%; height: 100%; overflow: hidden; font-size: 12px; border: 1px solid rgba(var(--b6a,219,219,219),1); padding: 0 10px; color: rgba(var(--i1d,38,38,38),1); border-radius: 4px; background: #fafafa;}
.action-txt{position: absolute; display: block; height: 36px; line-height: 36px; padding-left: 10px; font-size: 12px; color: rgba(var(--f52,142,142,142),1);}
#login-btn{display: inline-block; height: 30px; opacity: 0.5; text-align: center; background: #0095F6; border: none; color: #fff; font-size: 14px; line-height: 30px; font-weight: 600; pointer-events: none; cursor: default;}
#login-btn:hover{opacity: 0.5; background: #0095F6; border: none;}

#boundary-wrap{display: flex; flex-direction: row; position: relative; margin: 10px 40px 18px;}
#or{font-size: 13px; margin: 0 18px; color: rgba(var(--f52,142,142,142),1); font-weight: 600; flex-shrink: 0; flex-grow: 0;}
#boundary-line{background: rgba(var(--b38,219,219,219),1); height: 1px; margin-top: 0.5em; flex-shrink: 1; flex-grow: 1;}

#find{display: flex; flex-direction: column; padding: 8px 40px; text-align: center;}
#find-facebook{cursor: pointer; margin-bottom: 8px;}
.facebook-icon{display: inline-block; width: 16px; height: 16px; background-position: -347px -329px; margin-right: 8px; position: relative; top: 3px;}
.login-txt{color: #385185; font-family: inherit; font-size: 14px; line-height: 18px; font-weight: 600;}
#find-password{color: rgba(var(--fe0,0,55,107),1); margin-top: 12px;}

#join-wrap{border: 1px solid rgba(var(--b6a,219,219,219),1); background: #fff; padding: 25px; text-align: center; margin-bottom: 10px;}
#join-wrap span{font-size: 14px; color: rgba(var(--i1d,38,38,38),1);}
#join-wrap a{font-size: 14px; color: rgba(var(--d69,0,149,246),1); font-weight: 600;}

#download-wrap{display: flex; flex-direction: column; text-align: center;}
#download-wrap p{margin: 10px 0; color: rgba(var(--i1d,38,38,38),1); font-size: 14px; line-height: 18px;}

#btn-wrap{margin: 10px 0;}
#btn-wrap a{display: inline-block; width: 136px; height: 40px;}
#btn-wrap a img{width: 100%; height: 100%;}

#footer{margin-bottom: 52px; max-width: 935px; margin: 0 auto; padding: 24px 120px 0; font-size: 12px;}
#footer ul{display: flex; flex-wrap: wrap; justify-content: center;}
#footer ul li{margin: 0 8px 12px; color: rgba(var(--f52,142,142,142),1);}

#copyright{text-align: center; margin: 12px 0;}
#copyright span{color: rgba(var(--f52,142,142,142),1); margin-left: 15px;}
#languege{background: transparent; border: none; font-size: 12px; color: rgba(var(--f52,142,142,142),1);}