* {
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
.login_wrapper {
    width: 600px;
    height: 800px;
    border: 2px solid #E6E6E6;
    text-align: center;
}
.login_wrapper p {
    font-family: 'Lobster', cursive;
    font-size: 90px;
    margin-top: 7%;
}
.login_wrapper input {
    width: 400px;
    height: 55px;
    display: block;
    margin-left: 16%;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #E6E6E6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Nanum Gothic', sans-serif;
}
.login_button {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    background-color: #0095F6;
    border: 1px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.4;
    cursor: pointer;
}
.login_button_active {
    opacity: 1;
}
.login_wrapper a {
    display: block;
    margin-top: 50%;
    text-decoration: none;
    color: #365F89;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

