@media screen and (max-width: 800px) {
    aside {
      display: none;
    }
  }

*{
    font-weight: 100;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}
.space-around{
    justify-content: space-evenly;
    align-items: center;
}
.flex-start{
    justify-content: flex-start;
    align-items: center;
}

.space-between{
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

.new_story_user{
    width: 58px;
    height: 58px;
}

.flex-end{
    justify-content: flex-end;
}

.position-relative{
    position: relative;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap li{
    font-size: 11px;
}


#footer li{
    color :rgb(187, 187, 187);
    padding: 0 1px;
}

#footer li{
    white-space: pre;
}

.space-evenly{
    justify-content: space-around;
    align-items: center;
}

.padding{
    padding: 10px;
}