body {
  background-color: #fafafa;
}

.login-box {
  height: 400px;
  width: 345px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin: 45px auto;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 35px;
  font-size: 40px;
  font-family: "Lobster", cursive;
}

.login-box-child {
  text-align: center;
}

.login-box-child-id {
  margin-top: 36px;
  margin-bottom: 6px;
}

.login-box-child-id-input {
  border: 0.5px solid rgb(216, 216, 216);
  border-radius: 3px;
  text-indent: 10px;
  background-color: #fafafa;
  width: 270px;
  height: 36px;
  text-align: left;
  font-weight: 600;
}

.login-box-child-id-input::placeholder {
  color: #c6c6c6;
}

.login-box-child-passsword-input {
  border: 0.5px solid rgb(216, 216, 216);
  border-radius: 3px;
  text-indent: 10px;
  background-color: #fafafa;
  width: 270px;
  height: 36px;
  text-align: left;
  font-weight: 600;
}

.login-box-child-passsword-input::placeholder {
  color: #c6c6c6;
}

.login-box-child-btn {
  margin-top: 15px;
}

.login-box-child-btn button {
  background-color: #c4e1fb;
  width: 270px;
  height: 36px;
  border: 0 solid;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.login-box-child-btn span {
  color: white;
}

.login-box-forgot {
  text-align: center;
  margin-top: 115px;
  font-size: 15px;
}
.login-box-forgot a {
  color: #345e87;
  text-decoration-line: none;
  font-size: 13px;
  font-weight: 700;
}
