main {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  min-width: 930px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  min-width: 690px;
  border-bottom: 1px solid rgb(218, 217, 217);
}

.navbar-logo h1 {
  margin-left: 20px;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.navbar-search input {
  height: 25px;
  width: 215px;
  background-color: #fafafa;
  border: 0.5px solid rgb(216, 216, 216);
  text-align: center;
}

.navbar-search input::placeholder {
  opacity: 0.5;
}

.navbar-search-icon {
  position: relative;
  right: 150px;
  opacity: 0.3;
}

.navbar-icons {
  margin-right: 50px;
}

.navbar-icons i {
  margin-left: 20px;
}

/*    위에는 네비게이션바 & main 레이아웃    */

.feed {
  width: 600px;
  margin-top: 35px;
}
.feed-article {
  background-color: white;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.feed-article-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.feed-article-user-profile {
  display: flex;
  align-items: center;
  font-weight: 650;
}

.feed-article-user-profile img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 50%;
}

/*    위에는 feed 첫 줄    */

.feed-article-img img {
  width: 100%;
  height: 500px;
}

.feed-article-icons {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}

.feed-article-icons-left i {
  margin-right: 15px;
}

/*    위에는 feed img밑에 icons    */

.feed-article-like-bold-font {
  font-weight: 650;
}

.feed-article-like img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  border-radius: 50%;
}

.feed-article-like {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

/*    위에는 feed icons밑에 좋아요 개수    */

.feed-article-posting {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}

.feed-article-posting-username {
  font-weight: 650;
  margin-right: 5px;
}

.feed-article-posting-more {
  margin-left: 7px;
  color: rgba(139, 138, 138, 0.8);
}

/*    위에는 feed posting    */

.feed-article-comment {
  display: flex;
  justify-content: space-between;
}

.feed-article-comment-leftbox {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}
.feed-article-comment-leftbox-username {
  margin-right: 5px;
  font-weight: 650;
}

.feed-article-comment-icon {
  margin-right: 15px;
  color: rgba(139, 138, 138, 0.9);
}

.newcomment {
  margin-left: 15px;
  margin-top: 5px;
}

/*    위에는 feed comment & newcomment    */

.feed-article-time {
  margin-left: 15px;
  margin-top: 5px;
  color: rgba(139, 138, 138, 0.8);
  font-size: 14px;
}

.feed-comment-add {
  padding: 5px;
  margin-top: 5px;
  border-top: 1px solid rgb(218, 217, 217);
}

.feed-comment-add-input {
  width: 91%;
  height: 30px;
  border: 0px;
  text-indent: 10px;
}

.feed-article-comment-add-input::placeholder {
  font-weight: 550;
  opacity: 0.8;
}

.feed-comment-add-btn {
  position: relative;
  border: 0px solid white;
  color: #b9dcfa;
  background-color: white;
  font-weight: 600;
}

.feed-comment-add-btn:hover {
  color: #0095f6;
}

/*    위에는 feed newcomment input   */

.main-right {
  width: 300px;
  margin-top: 35px;
  margin-left: 30px;
}

.main-right-channel-img img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.main-right-channel {
  display: flex;
  align-items: center;
}

.main-right-channel-title h4 {
  font-weight: 650;
}

.main-right-channel-title h3 {
  color: rgba(139, 138, 138, 0.8);
  font-size: 14px;
}

.main-right-story-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main-right-story-nav-left {
  margin-left: 10px;
  color: rgba(139, 138, 138, 0.8);
  font-size: 14px;
}

.main-right-story-nav-right {
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
}

.main-right-story {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgb(218, 217, 217);
}

.main-right-story-channel-icons {
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-right-story-channel-icons-img img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.main-right-story-channel-icons-title h4 {
  font-size: 13px;
  font-weight: 650;
}

.main-right-story-channel-icons-title h3 {
  font-size: 12px;
  color: rgba(139, 138, 138, 0.8);
}

/*    위에는 메인 오른쪽, 스토리    */

.main-right-recommend-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main-right-recommend-nav-left {
  margin-left: 10px;
  color: rgba(139, 138, 138, 0.8);
  font-size: 14px;
}

.main-right-recommend-nav-right {
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
}

.main-right-recommend {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgb(218, 217, 217);
}

.main-right-recommend-channel-icons {
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-right-recommend-channel-icons-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-right-recommend-channel-icons-title {
  display: flex;
}

.main-right-recommend-channel-icons-title h4 {
  font-size: 13px;
  font-weight: 650;
}

.main-right-recommend-channel-icons-title h3 {
  color: rgba(139, 138, 138, 0.8);
  font-size: 12px;
}

.main-right-recommend-channel-icons-title div:last-child {
  font-weight: 650;
  font-size: 13px;
  color: #0095f6;
}
/*    위 메인 오른쪽, 추천채널    */

.main-right-footer {
  margin-top: 20px;
}

.main-right-footer h5 {
  margin-bottom: 3px;
  font-size: 12px;
  color: rgba(139, 138, 138, 0.8);
}

.margin-right-footer-copyright {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(139, 138, 138, 0.8);
}

@media screen and (max-width: 930px) {
  .main-right {
    display: none;
  }
  .feed {
    margin-right: auto;
    margin-left: 50px;
  }

  body {
    min-width: 700px;
  }
}
