main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
  background-color: var(--main-color);
  background-attachment: scroll;
}

.login-header {
  margin: 40px;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 670px;
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 20px 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.login-form input {
  height: 60px;
  background-color: #fafafa;
  border-style: none;
  border: 1.5px solid #dbdbdb;
  border-radius: 5px;
  font-size: 20px;

  margin-bottom: 15px;
  padding-left: 10px;
}

.login-form__btn {
  height: 55px;
  border-style: none;
  background-color: #c4e0fb;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 20px;
}
.login-header h1 {
  text-align: center;
  font-size: 70px;
}

.login-text h3 {
  text-align: center;
  margin-top: 180px;
  color: #1d4b7a;
  font-size: 25px;
}

.login-form__btn a {
  text-decoration: none;
  color: white;
}
