@import "reset.css";
a {
  text-decoration: none;
  color: black;
}
a:focus,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
  width: 100%;
}

#mainNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
  height: 50px;
  border-bottom: 0.5px solid rgb(128, 128, 128);
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
  background-color: #fafafa;
  width: 100%;
  top: 0;
}

#logos {
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
}
.westarLogo {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384031.png");
  background-size: cover;
  background-position: center;
}
.westarLogo2 {
  font-family: "Lobster";
  font-size: 20px;
  padding-left: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  border-left: 1px solid rgb(128, 128, 128);
}

#mainProfileThings {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.profileThings {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
}
#mainCompass {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}
#mainNavHeart {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

#mainMyPage {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  z-index: 0;
  margin-top: 50px;
}
.feeds {
  display: flex;
  flex-direction: column;
}
.article {
  width: 400px;
  border: 0.5px solid rgb(128, 128, 128);
}
.imgArticleProfile {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../pic/wecode_logo.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: 10px;
}
.articleProfiles {
  width: 390px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.articleP {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.txtArticleProfile {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.articleViewMore {
  margin-right: 10px;
}
.txtArticleProfileS {
  font-size: 11px;
}

.articleImg {
  width: 400px;
  height: auto;
}

.reacting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}
.reacting i {
  font-size: 20px;
}

.reactingS {
  display: flex;
  gap: 0px;
}
.heart {
  color: red;
}
.reactingPeople {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reactingImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
.whoLike {
  font-size: 13px;
}
.who {
  font-weight: bold;
}
.details {
  font-size: 13px;
  margin: 15px;
}
.viewMore {
  color: rgb(108, 108, 108);
}
form {
  display: flex;
  flex-direction: row;
}
.comment {
  width: 395px;
  height: 50px;
  margin: 0px;
  border: 0px;
  flex: 1;
  margin-right: 5px;
}
.commentSubmit {
  flex: none;
}
.newCommentThings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newCommentTime {
  font-size: 10px;
  margin-bottom: 7px;
}
.main-right {
  display: flex;
  flex-direction: column;
  width: 250px;
  z-index: 0;
}
.whosPage {
  display: flex;
  flex-direction: row;
}
.myImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 0px;
}
.myDetail {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.story {
  border: 0.5px solid rgb(138, 138, 138);
}
.storyTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 10px;
}
.storyTitles,
.recomendTitles {
  font-size: 13px;
}
.storyTitle1m .recomendTitle1 {
  color: rgb(98, 98, 98);
}

.storyTitle2,
.recomendTitle2 {
  font-weight: bold;
}

.storyPeo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px 10px;
}
.storyMembers {
  display: flex;
  flex-direction: column;
}
.LineStory {
  display: flex;
  flex-direction: row;
}
.LineBeforeT {
  font-size: 10px;
}
.recomend {
  border: 0.5px solid rgb(138, 138, 138);
  margin-top: 10px;
}
.recomendTitles {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
}

.LineRecomend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(128, 128, 128);
  padding-right: 10px;
}
.recomendPC {
  display: flex;
  flex-direction: row;
}
.LineRecomend {
  font-size: 13px;
}

.follow {
  color: blue;
}
.companyD {
  color: rgb(138, 138, 138);
  font-size: 10px;
  margin: 10px auto;
}
