
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

body {     
    width: 821px;
    margin:0 auto;
    background: white;
    font-size: 15px;
}

