p{
    margin: 0;
}
/* right */
.main_right {
    width: 319px;
    margin-top: 37px;
    margin-right: 5px;
    justify-content: space-around;
}
.right_profile {
    display: flex;
}
.right_profile_pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 0px 5px 5px;
}
.right_profile_text {
    font-family: sans-serif;
    font-size: 13px;
    margin: 15px 0px 0px 15px;
    
}

/* right stories */
.right_stories {
    font-family: sans-serif;
    font-size: 13px;
    border: 1px solid rgb(214, 214, 214);
}

.right_stories_head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: grey;
}
.right_stories_entry {
    display: flex;
}
.round_img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0px 5px 5px;
}
.right_stories_text {
    margin: 5px 0px 0px 10px;
}



/* right recommendations */
.right_recommendations {
    /* display: flex; */
    font-family: sans-serif;
    font-size: 13px;
    border: 1px solid rgb(214, 214, 214);
    padding-bottom: 30px;
}
.right_recommendations_head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: grey;
}
.right_recommendations_single {
    display: flex;
    justify-content: space-between;
}
.right_recommendations_left {
    display: flex;
    /* justify-content: space-between; */
}
.right_recommendations_text {
    margin: 5px 0px 0px 15px;
}
.right_recommendations_text p:nth-child(1) {
    font-weight: 600;
}
/* .buttons_whole {
    border: 2px dotted firebrick;
} */

.footer {
    font-family: sans-serif;
    font-size: 13px;
    color: grey;
    
}
.right_recommendations_single button {
    background-color: white;
    border: none;
    color: skyblue;
}