@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* menu bar */
.menu {   
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
}
.logo-box {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
.navigate {
    display: flex;
    justify-content: space-around;
    margin: 10px 50px 15px 0px;
    width: 180px;
    size: 20px;
}
.icons {
    opacity: 50%;
    width: 30px;
}
.mainbody {
    display: flex;
    border: 2px dotted black;
    margin-top: 25px;
}
.feeds {
    margin-top: 5px;
    display: flex;
    margin-left: 30px;
    width: 470px;
    border: 2px solid black;
}
.article {
    margin: 30px 5px 15px 5px;
    width: 450px;
    border: 1px solid silver;
}
.user_whole {
    display: flex;
}
.circle_maintop {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user_info {
    
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    
}
.dropdown {
    margin-left: 330px;
    margin-top: 15px;

}

/* buttons below image */
.buttons_whole {
    display: flex;
}
.buttons_left {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0px 120px 15px 0px;
    width: 180px;

    size: 50px;
}
.buttons_right {
    margin-left: 240px;
}


/* likes info */
.likes {
    display: flex;
}

.circle_mainbottom {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0px 5px 5px;
}
.like_counts {
    margin: 10px 20px 0px 10px;
    align-content: center;
    font-family: sans-serif;
    font-size: 13px;
}
.descriptions {
    display: flex;
    margin: 0px 200px 0px 5px;
    width: 420px;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
}
.caption {
    margin-left: 10px;
}

/* friend comment */
.friendComment_whole {
    display: flex;
    width: 440px;
    margin: 0px 200px 0px 5px;
}
.friendComment_user {
    display: flex;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0px 200px 0px 0px;
}
.friendComment_redHeart {
    margin-left: 5px;

}
.friendComment_heart {
    margin: 13px 0px 0px 100px;
}

/* comments window */
.comments_whole {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 450px;
}
.comments_box {
    margin: 0px 15px 5px 5px;
    width: 80%;
    align-self: center;
}

#comments-box {
    border: 1px solid white;
    width: 350px;
    height: 22px;
    
}
.comment-box:focus {
    outline: none;
}

.comments_button {
    margin: 0px 25px 5px 5px;
    width: 5%;

    
}
#postButton {
    width: 45px;
    height: 25px;
    border-radius: 5px;
    border: 5px;
    color: white;
    font-family: sans-serif;
    background-color: rgb(20, 161, 255);
}

