body {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.container {
  position: relative;
  width : 350px;
  height : 380px;
  padding: 10px 0;
  border: 1px solid #DBDBDB;
  text-align: center;
}

.instagram_logo {
  display: inline-block;
  width: 175px;
  height: 51px;
  margin: 22px 0 12px 0;
  font-family: 'Lobster', cursive;
  font-size : 35px;
}

.textfield_wrapper {
  margin-top: 24px;
}

.textfield {
  width: 258px;
  height: 36px;
  padding: 9px 0px 7px 8px;
  margin-bottom: 7px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
}
.textfield:focus {
  outline: none;
  border-color: #A8A8A8;
}

.submitButton {
  width: 260px;
  height: 30px;
  margin: 8px 40px;
  border: none;
  border-radius: 3px;
  background-color: #B2DFFC;
  font-size: 14px;
  font-weight:700;
  color: white;
}

.forgetpw {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 348px;
  font-size:12px;
  color: rgb(50,94,106);
  text-decoration: none;
}

.forgetpw:visited, .forgetpw:link {
  color: rgb(50,94,106);
}