.main-container nav {
  height: 120px;
}

.main-container nav {
  display: flex;
  padding: 20px 100px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}

.main-container nav .main-logo {
  font-family: 'Lobster', cursive;
  border-left: 2px solid #333;
  padding-left: 20px;
}

.main-container nav .camera-icon {
  margin-top: 15px;
  margin-right: 15px;
  font-size: inherit;
}


.main-container nav .search-box {
  position: relative;
}

.main-container nav .search-box .search-icon {
  position: absolute;
  left: 95px;
  font-size: 15px;
  top: 15px;
  opacity: 0.6;
}

.main-container nav .search-box input {
  text-align: center;
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.main-container nav .menu-logos .menu-logo img {
  width: 30px;
  margin: 0 15px;
}

.main-container main .feeds {
  margin: 0 15px 0 100px;
  padding: 60px 8px 20px 8px; 
  background-color: coral;
  width: 800px;
  height: 1000px;
}

.main-container main .feeds article {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 1000px;
}
.main-container main .feeds article .feed-titlebox {
  display: flex;
}

.main-container main .feeds article .feed-titlebox .feed-titlelogo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #222;
  color: #FFF;
  text-align: center;
  padding-top: 15px;
  margin: 0 20px;
}

.main-container main .feeds article .feed-titlebox .feed-title .feed-title-name {
  font-size: 22px;
}

.main-container main .feeds article .feed-titlebox .feed-title .feed-title-author {
  font-size: 17px;
  margin-left: 2px;
  margin-top: 2px;
}

.main-container main .feeds article .feed-titlebox .feed-menus{
  position: absolute;
  right: 25px;
}

.main-container main .feeds article .feed-img {
  width: 600px;
  height: 480px;
}