.main-container nav {
  display: flex;
  padding: 20px 150px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
  height: 120px;
}

.main-container nav .main-logo {
  font-family: 'Lobster', cursive;
  border-left: 2px solid #333;
  padding-left: 20px;
}

.main-container nav .camera-icon {
  margin-top: 15px;
  margin-right: 15px;
  font-size: inherit;
}


.main-container nav .searchbox {
  position: relative;
}

.main-container nav .searchbox .search-icon {
  position: absolute;
  left: 95px;
  font-size: 15px;
  top: 15px;
}

.main-container nav .searchbox input {
  text-align: center;
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.main-container nav .menu-logos .menu-logo img {
  width: 30px;
  margin: 0 15px;
}

.main-container main {
  display: flex;
  justify-content: center;
}

.main-container main .feeds {
  margin: 0 15px 0 150px;
  padding: 60px 8px 20px 8px;
  width: 900px;
  height: 1000px;
}

.main-container main .feeds article {
  position: relative;
  justify-content: space-between;
  height: 1000px;
  border: 3px solid #DDD;
}
.main-container main .feeds article .feed-titlebox {
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.main-container main .feeds article .feed-titlebox .feed-titleboxleft {
  display: flex;
}

.main-container main .feeds article .feed-titlebox .feed-titlelogo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #222;
  color: #FFF;
  text-align: center;
  padding-top: 17px;
  font-size: 12px;
}

.main-container main .feeds article .feed-titlebox .feed-title {
  margin-left: 15px;
}

.main-container main .feeds article .feed-img img{
  width: 100%;
  margin-bottom: 10px;
}

.main-container main .feeds article .feed-menus {
  position: relative;
}

.main-container main .feeds article .feed-menus .feed-menus-left {
  display: inline;
}

.main-container main .feeds article .feed-menus .feed-menus-left span {
  margin-left: 12px;
}

.main-container main .feeds article .feed-menus .material-icons {
  font-size: 35px;
}

.main-container main .feeds article .feed-menus .feed-menus-right {
  display: inline;
}

.main-container main .feeds article .feed-menus .feed-menus-right .material-icons {
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.main-container main .feeds article .feed-menus .liker-profile {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #9595e1;
  color: white;
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 7px;
}

.main-container main .feeds article .feed-menus .like-counter {
  display: inline;
  margin-left: 4px;
  font-size: 18px;
}

.main-container main .feeds article .feed-descripton {
  margin-top: 20px;
  margin-left: 12px;
}

.main-container main .feeds article .feed-descripton span.blur {
  margin-left: 7px;
}

.main-container main .feeds article .feed-descripton span.blur:hover {
  cursor: pointer;
}

.main-container main .feeds article .feed-descripton .timestamp {
  margin-top: 5px;
  font-size: 14px;
}

.main-container main .feeds article .feed-commentbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.main-container main .feeds article .feed-commentbox .feed-comment {
  display: flex;
  margin-left: 12px;
  justify-content: space-between;
  border: 3px solid #DDD;
}

.main-container main .feeds article .feed-commentbox .feed-comment textarea {
  width: 700px;
  height: 50px;
  font-size: 14px;
  overflow: auto;
  resize: none;
  border: none;
  width: 90%;
  padding-top: 15px;
}

.main-container main .feeds article .feed-commentbox .feed-comment button {
  box-shadow: none;
  width: 10%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #518fd6;
  font-size: 14px;
  height: 50px;
  text-align: center;
}

.main-container main .main-right {
  padding-top: 50px;
  width: 400px;
  margin-right: 100px;
}
.main-container main .main-right .side-titlebox {
  display: flex;
}

.main-container main .main-right .side-titlebox .side-titlelogo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #222;
  color: #FFF;
  text-align: center;
  padding-top: 25px;
  margin-right: 15px;
}

.main-container main .main-right .side-titlebox .side-title {
  margin: auto 0;
}

.main-container main .main-right .side-storiesbox {
  margin-top: 15px;
  height: 300px;
  width: 300px;
  border: 3px solid #DDD;
}

.main-container main .main-right .side-storiesbox .side-storiestitle {
  background-color: white;
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container main .main-right .side-storiesbox .side-storieslist {
  height: 255px;
}

.main-container main .main-right .side-storiesbox .side-storieslist .side-story:nth-child(1) .story-profile {
  background-image: url('../img/woman-g64add116e_640.jpg');
}

.main-container main .main-right .side-storiesbox .side-storieslist .side-story:nth-child(2) .story-profile {
  background-image: url('../img/alexander-shatov-DHl49oyrn7Y-unsplash.jpg');
}

.main-container main .main-right .side-storiesbox .side-storieslist .side-story:nth-child(3) .story-profile {
  background-image: url('../img/amr-taha-RdRMWpfUChU-unsplash.jpg');
}

.main-container main .main-right .side-storiesbox .side-storieslist .side-story:nth-child(4) .story-profile {
  background-image: url('../img/lobacheva-ina-bK1EFdOZMlY-unsplash.jpg');
}

.main-container main .main-right .side-storiesbox .side-storieslist .side-story:nth-child(5) .story-profile {
  background-image: url('../img/rupixen-com-pzPcfPVhHl8-unsplash.jpg');
}

.main-container main .main-right .side-recommandsbox {
  margin-top: 15px;
  height: 300px;
  width: 300px;
  border: 3px solid #DDD;
}

.main-container main .main-right .side-recommandsbox .side-recommandstitle {
  background-color: white;
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container main .main-right .side-recommandsbox .side-recommandslist {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 10px;
  overflow: auto;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 255px;
}

.main-container main .main-right .side-recommandsbox .side-recommandslist .side-recommand:nth-child(1) .recommand-profile {
  background-image: url('../img/lorenzo-hamers-kf2IdYphPBU-unsplash.jpg');
}

.main-container main .main-right .side-recommandsbox .side-recommandslist .side-recommand:nth-child(2) .recommand-profile {
  background-image: url('../img/medhat-dawoud-f-3mUXFLY2o-unsplash.jpg');
}

.main-container main .main-right .side-recommandsbox .side-recommandslist .side-recommand:nth-child(3) .recommand-profile {
  background-image: url('../img/daniel-bernard-Ts2KSN2jHoA-unsplash.jpg');
}

.main-container main .main-right .side-recommandsbox .side-recommandslist .side-recommand:nth-child(4) .recommand-profile {
  background-image: url('../img/lute-KhxJTb7XRVw-unsplash.jpg');
}

.main-container main .main-right .side-recommandsbox .side-recommandslist .side-recommand:nth-child(5) .recommand-profile {
  background-image: url('../img/rupixen-com-pzPcfPVhHl8-unsplash.jpg');
}