.main-container nav {
  height: 120px;
}

.main-container nav {
  display: flex;
  padding: 20px 100px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}

.main-container nav .main-logo {
  font-family: 'Lobster', cursive;
  border-left: 2px solid #333;
  padding-left: 20px;
}

.main-container nav .camera-icon {
  margin-top: 15px;
  margin-right: 15px;
  font-size: inherit;
}


.main-container nav .search-box {
  position: relative;
}

.main-container nav .search-box .search-icon {
  position: absolute;
  left: 95px;
  font-size: 15px;
  top: 15px;
}

.main-container nav .search-box input {
  text-align: center;
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.main-container nav .menu-logos .menu-logo img {
  width: 30px;
  margin: 0 15px;
}

.main-container main {
  display: flex;
}

.main-container main .feeds {
  margin: 0 15px 0 100px;
  padding: 60px 8px 20px 8px;
  width: 800px;
  height: 1000px;
}

.main-container main .feeds article {
  position: relative;
  justify-content: space-between;
  height: 1000px'
}
.main-container main .feeds article .feed-titlebox {
  display: flex;
  margin-bottom: 15px;
}

.main-container main .feeds article .feed-titlebox .feed-titlelogo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #222;
  color: #FFF;
  text-align: center;
  padding-top: 15px;
  margin: 0 20px;
}

.main-container main .feeds article .feed-titlebox .feed-title .feed-title-name {
  font-size: 22px;
}

.main-container main .feeds article .feed-titlebox .feed-title .feed-title-author {
  font-size: 17px;
  margin-left: 2px;
  margin-top: 2px;
}

.main-container main .feeds article .feed-titlebox .feed-config{
  position: absolute;
  right: 25px;
}

.main-container main .feeds article .feed-img img{
  width: 100%;
  margin-bottom: 10px;
}

.main-container main .feeds article .feed-menus {
  position: relative;
}

.main-container main .feeds article .feed-menus .feed-menus-left {
  display: inline;
}

.main-container main .feeds article .feed-menus .feed-menus-left span {
  margin-left: 12px;
}

.main-container main .feeds article .feed-menus .material-icons {
  font-size: 35px;
}

.main-container main .feeds article .feed-menus .feed-menus-right {
  display: inline;
}

.main-container main .feeds article .feed-menus .feed-menus-right .material-icons {
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.main-container main .feeds article .feed-menus .liker-profile {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #9595e1;
  color: white;
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 7px;
}

.main-container main .feeds article .feed-menus .like-counter {
  display: inline;
  margin-left: 4px;
  font-size: 18px;
}

.main-container main .feeds article .feed-descripton {
  margin-top: 20px;
  margin-left: 12px;
}

.main-container main .feeds article .feed-descripton span.blur {
  margin-left: 7px;
}

.main-container main .feeds article .feed-descripton span.blur:hover {
  cursor: pointer;
}

.main-container main .feeds article .feed-descripton .timestamp {
  margin-top: 5px;
  font-size: 14px;
}

.main-container main .feeds article .feed-comment-box {
  position: relative;
  margin-top: 20px;
  margin-left: 12px;
}

.main-container main .feeds article .feed-comment-box input {
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.main-container main .feeds article .feed-comment-box button {
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #518fd6;
  font-size: 14px;
}

.main-container main .main-right {
  padding-top: 50px;
  background-color: #9595e1;
  width: 400px;
}