#wrapperLogin {
  padding: 70px;
  margin: 150px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 70%;
  border: 1px solid #ccc;
}

.westagramTitle {
  font-size: 50px;
}

#loginForm {
  margin-top: 60px;

  display: flex;
  flex-direction: column;

  width: 60%;
}

#loginId,
#loginPw,
#loginBtn {
  font-size: 16px;
  background-color: #fafafa;
  padding: 12px 0px 10px 12px;
  margin-bottom: 10px;
}
#loginId,
#loginPw {
  border: 1px solid #ccc;
  border-radius: 3px;
}

#loginBtn {
  background-color: #c0dffd;
  border-style: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

.forgetLink {
  margin-top: 80px;
  font-size: 16px;
  cursor: pointer;
  color: navy;
}
