#wrapperMain,
#wrapperNav,
#main,
#wrapperState,
#commentBox,
#story,
#recommend,
#comments,
#wrapperCommentsInput,
.profileBox,
.contents {
  width: 100%;
}

#innerNav,
#wrapperState,
.feeds,
.stateIcons,
.profileBoxRight,
.rightHeader {
  display: flex;
  justify-content: space-between;
}

#wrapperMain,
.logoBox,
.iconBox,
.profileBox,
.likeMsg,
.rightBox {
  display: flex;
}

#innerNav,
.feeds,
.feedsLeft,
.main-right {
  height: 100%;
}

#wrapperMain {
  flex-direction: column;
  justify-content: center;
}

#wrapperNav {
  height: 70px;
  border-bottom: 1px solid #ccc;
}

#innerNav {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  line-height: 70px;
  width: 60%;
}

.logoDivSlash,
.westaTitle {
  font-size: 22px;
  margin-left: 30px;
}

.logoBox {
  align-items: center;
}

.westaLogo {
  width: 25px;
  height: 25px;
}

.iconBox {
  justify-content: space-around;
  width: 200px;
}

.iconBox img {
  width: 25px;
}

.search {
  padding: 5px 0 5px 5px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  font-size: 12px;
  text-align: center;
  width: 190px;
}

#main {
  background-color: #fafafa;
  height: 100%;
}

.feeds {
  margin: 40px auto;
  padding: 0px 30px;
  justify-content: space-between;
  width: 60%;
}

.feedsLeft {
  background-color: white;
  width: 60%;
  border: 1px solid #ccc;
}

.contents {
  height: 400px;
  background: url(/images/camping1.jpg) no-repeat 50%;
  background-size: cover;
}

.profileBox {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.profileBoxRight {
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.wrapperProfile {
  display: flex;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.more {
  width: 25px;
  height: 25px;
}

#stateBox {
  padding: 10px 15px;
}

#wrapperState {
  justify-content: space-between;
  padding: 15px 0px;
}

.stateIcons {
  width: 120px;
  justify-content: space-between;
}

#wrapperState img {
  width: 25px;
  height: 25px;
}

.likeMsg {
  justify-content: flex-start;
  align-items: center;
}

.profileImg_s {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

#commentWrite {
  padding: 15px 3px;
  display: flex;
  justify-content: space-between;
}

#commentWrite span {
  width: 90%;
  line-height: 20px;
}

#commentWrite img {
  width: 20px;
  height: 20px;
}

#wrapperCommentsInput {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

#comments {
  width: 90%;
  font-size: 12px;
  padding: 15px 15px;
  border-style: none;
}

#commentsBtn {
  width: 10%;
  font-size: 12px;
  border-style: none;
  background-color: transparent;
  color: #666;
}

#commentsBtn:hover {
  cursor: pointer;
  color: #0995f6;
}

.main-right {
  width: 36%;
}

#story,
#recommend {
  background-color: white;
  height: 35%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
}

.rightBox {
  margin-top: 15px;
  justify-content: flex-start;
}

.profileImg_m {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.short {
  color: #ccc;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
