@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
  color: #111;
}

a {
  text-decoration: none;
  color: #111;
}

img {
  width: 50px;
}

button {
  width: 120px;
  height: 40px;
  background: rgb(66, 106, 214);
  cursor: pointer;
}

input {
  outline: none;
}

button,
input {
  font-family: "Lato", sans-serif;
}

ul li {
  list-style: none;
}
