*{
box-sizing: border-box;
margin:0;
padding:0;
}
html,body{
    height: 100%;
}
header{
    margin-bottom: 30px;
}
nav{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    height: 54px;
    padding-right: 30px;
}

.fab.fa-instagram {
    font-size: 22px;
    border-right: 1px solid black;
    padding-right: 15px;
    padding-left: 50px;
    margin-top: 16px;
}
.logo_title {
    text-align: center;
    font-weight: lighter;
    padding-left: 10px;
    font-size: 23px;
    font-family:'Lobster', cursive;
}
.search{
    display: flex;
    position: relative;
    
    align-items: center;
    height: 50px;
}
input::placeholder{
    text-align: center;
    color: #c1c1c4;
}
.searchInput{
    /* display: flex; */
   padding: 3px 0px;
    /*높이 키우기*/
}
.search .searchxx{
    color: #c1c1c4;
    font-size: 13px;
    position:absolute;
    top: 20px;
    left:40px;
    
}
.topIcon{
    display: flex;
    margin-right: 15px;
    margin-top: 13px;
}
.fa-heart{
    padding: 0 10px;
}
.icon{
    color: black;
    font-size: 20px;
}
/* -----section-------- */
section{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
  
}
.feeds{
    border: 1px solid gray;
}
.article{
    border: 1px solid gray;
}
.feeds_top{
    
    border: 1px solid gray;
}
.id_img1{
    border: 1px solid gray;
    width: 40px;
    border-radius: 50%;
}
.leftId{
    text-align: center;
    border: 1px solid gray;
}
.mainRight{
    border: 1px solid gray;
}
.rightTopId{
    display: flex;

    border: 1px solid gray;
 
}
.idImg2{
    width: 50px;
    border-radius: 50%;
    border: 1px solid gray;
}
.rigntSpan1{
    border: 1px solid gray;
    text-align: center;
}
.rigntSpan2{
    border: 1px solid gray;
    text-align: center;
}