* {
  box-sizing: border-box;
  margin: 0;

  body {
    background-color: #fafafa;
    min-width: 500px;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
    border: transparent;
  }

  a {
    text-decoration: none;
  }
}
