* {
  box-sizing: border-box;
}

.mainBox {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  position: relative;
  border: solid black 2px;
  border: solid rgb(241 241 241) 4px;
}
h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 50px;
}
input,
button {
  top: 20px;
  display: block;
  width: 380px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  border: solid rgb(241 241 241) 1px;
  border-radius: 3px;
  background-color: rgb(250 250 250);
  color: rgb(166 166 166);
  padding-left: 10px;
}
button {
  background-color: rgb(202, 224, 249);
  border: solid rgb(202, 224, 249) 1px;
  color: white;
  font-size: 20px;
  border-radius: 7px;
}
p {
  position: relative;
  top: 150px;
  text-align: center;
  color: rgb(71, 98, 136);
  font-weight: 700;
}
