* {
  box-sizing: border-box;
}

.nav {
  position: fixed;
  display: flex;
  z-index: 1;
  justify-content: space-around;
  align-items: flex-start;
  top: 0;
  left: 8.3px;
  right: 8.5px;
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
}

.navRight {
  margin-top: 10px;
}

.navSearch {
  margin-top: 24px;
  border: solid 1px rgb(220, 220, 200);
  background-color: rgb(250, 250, 250);
  color: rgb(199, 199, 199);
  border-radius: 1px;
}

.person,
.heart,
.compass {
  margin: 12px;
  width: 20px;
  height: 20px;
}

.fab.fa-instagram {
  margin-top: 18px;
  border-right: solid black 2px;
  padding-right: 10px;
  font-size: 25px;
}

.westagramLogo {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Lobster", cursive;
}

input {
  text-align: center;
}

.main {
  position: relative;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 65px;
  height: 2000px;
  border-top: solid 1px rgb(222, 222, 222);
  background-color: rgb(250, 250, 250);
}

form {
  position: relative;
  display: flex;
  justify-content: center;
}

.feeds {
  margin-top: 40px;
  margin-left: 3%;
  width: 400px;
  border: rgb(220, 220, 220) solid 1px;
  border-radius: 3px;
  background-color: white;
}

.main-right {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 10px;
  width: 230px;
  height: 60px;
}

.mainRightCenter {
  overflow: hidden;
  margin-right: 0px;
  margin-left: 10px;
  width: 230px;
  height: 200px;
  border-radius: 3px;
  border: rgb(220, 220, 220) solid 1px;
  background-color: white;
}

.main-right3 {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 10px;
  width: 230px;
  height: 180px;
  border-radius: 3px;
  border: rgb(220, 220, 220) solid 1px;
  background-color: white;
}

.article {
  position: relative;
  margin: 10px -1px 0px -1px;
  height: 498px;
  border: rgb(220, 220, 220) solid 1px;
}

.bottomIcons {
  display: flex;
}

.fas.fa-heart {
  color: #d14246;
  font-size: 20px;
}

.fas.fa-upload,
.far.fa-comment,
.far.fa-bookmark {
  color: rgb(140, 140, 140);
  font-size: 20px;
}

.bottomIcons {
  display: flex;
  justify-content: space-between;
}

.bottomLeft i {
  margin: 3px;
}

.bottomLeft {
  margin-left: 8px;
}

.bottomRight {
  margin-right: 13px;
  margin-top: 4px;
}

.comment {
  margin-top: 40px;
}

.topProfileCat {
  margin-top: 15px;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cat {
  width: 398px;
  height: 498px;
}

.topProfile {
  display: flex;
}

.qtcat {
  margin-top: 20px;
  margin-left: 11px;
}

.dots {
  position: absolute;
  margin-left: 365px;
  top: 27px;
  font-size: 25px;
}

.rightCenterProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rightTop {
  display: flex;
}

.rightWordCenter {
  display: flex;
  margin-left: 15px;
}

.explain {
  font-size: 12px;
  margin-left: 13px;
  margin-top: -2px;
}

.explainUp {
  margin-bottom: 0px;
}

.explainDw {
  margin-top: 0px;
  color: rgb(164, 164, 164);
}

.ex2 {
  display: flex;
  justify-content: space-between;
}

.ex2 p {
  margin: 10px;
}

.story {
  color: rgb(140, 140, 140);
  font-size: 13px;
}

.seeAll {
  font-size: 14px;
}

.follow {
  position: absolute;
  margin-left: 170px;
  margin-top: -14px;
  width: 100px;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(89, 153, 234);
}

.follow p {
  padding: 11px;
}

.bottomProfileCat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.comment {
  display: block;
  margin: 40px 0px 0px 10px;
}

.bord {
  font-weight: bolder;
}

.likeComment {
  display: block;
  margin: -22px 0px 0px 23px;
  margin-top: -10px;
  font-size: 12px;
}

.commentIn {
  text-align: left;
  padding-left: 10px;
  width: 340px;
  outline: none;
  border: none;
}

.commentButton {
  border: none;
  background-color: white;
  color: rgb(158, 208, 236);
  margin-right: 6px;
}

.commentBox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 50px;
  border-top: solid 1px rgb(222, 222, 222);
}

.commentOut {
  margin: 3px 0px 3px 10px;
  font-size: 12px;
}
