input:focus {
    outline: none;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.login-frame {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50x;
  border-color: #e6e6e6;
}
.logo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 90px;
  padding: 80px 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

input {
  height: 80px;
  width: 540px;
  margin: 7px;
  border: 1px solid #efefef;
  background-color: #fafafa;
  border-radius: 8px;
  font-size: 25px;
  padding-left: 15px;
}

input::placeholder {
    color: #d4d4d4;
}

button {
  width: 540px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #0088ff;
  color: white;
  font-size: 20px;
  border: 1px solid #0088ff;
  border-radius: 8px;
  font-weight: 550;
  font-size: 25px;
  opacity: 1;
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

footer {
  padding: 20px;
  color: #003569;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 550;
  font-size: 20px;
  width: 540px;
  text-align: center;
  margin-top: 100px;
}

.content button a {
  text-decoration: none;
  color: #fff;
  display: block;
}
