input:focus {
    outline: none;
}
.all-wrapper {
    display: flex;
    width: 100vw;
    height: 100vw;
    flex-direction: column;
    align-items: center;
}

.navi-wrapper {
    display: flex;
    width: 100vw;
    padding: 15px;
    justify-content: space-evenly;
    border-bottom: 1px solid #E6E6E6;
}

.navi-logo {
    display:flex;
}

.navi-logo div {
    padding: 0px 15px;
}

.navi-input input {
    height: 25px;
    width: 200px;
    background-color: #FAFAFA;
    border:  1px solid #EAEAEA;
}
.navi-logo-text {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #403D3D;
    border-left: 1px solid #403D3D;
}

.navi-icon img{
    padding: 0px 10px;
}

.content-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 60px;
    background-color: #FAFAFA;
}

.feed {
    width: 615px;
    border: 2px solid #E6E6E6;
    background-color: white;
}
.feed-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 10px 15px;
}
.feed-profile-left {
    display: flex;
    align-items: center;
}

.feed-profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    overflow: hidden;
}

.feed-profile-account {
    padding-left: 10px;
}
.feed-profile-photo img {
    object-fit: cover;
}
.feed-photo img{
    object-fit: cover;
}
.feed-under-photo-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.feed-icons {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.feed-icons-left img {
    padding: 0px 10px 0px 0px
}
.sidebar-story-tright, .sidebar-story-account1-tright, .sidebar-story-account2-tright, .sidebar-story-account3-tright, .sidebar-account-profile-top, .feed-like, .feed-account, .feed-reply-account, .feed-profile-account {
    font-weight: 500;
}
.comment-wrapper {
    display: flex;

}

.feed-comment {
    padding-left: 10px;
}

#feed-reply-wrapper {
    border-bottom: 1px solid gray;
    padding: 5px 0px;
    list-style: none;
}

#feed-reply-wrapper li :first-child {
    font-weight: 700;
}

.feed-reply-comment {
    padding-left: 10px;
    padding-bottom: 10px;
}

.feed-reply-input {
    display: flex;
    padding: 0px 0px 15px 0px;
}
.feed-reply-input input{
    border: none;
    width: 520px;
    font-size: 15px;
    padding: 5px 5px 5px 15px;
}

button {
    border: none;
    background-color: white;
    color: blue;
    opacity: 1;
}

button:disabled {
    opacity: 0.3;
}


.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 280px;
}

.sidebar-account {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.sidebar-account-profile-wrapper {
    padding-left: 10px;
}

.sidebar-account-profile-bwrapper {
    display: flex;
    color: #A2A2A2;
}
.sidebar-account-profile-bleft {
    padding-right: 10px;
}

.sidebar-account-profile-bright {
    padding-left: 10px;
    border-left: 1px solid #A2A2A2;
}

.sidebar-account-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-story {
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    background-color: white;
    padding: 10px 15px;
}

.sidebar-story-twrapper {
    display: flex;
    justify-content: space-between;
}
.sidebar-story-tleft, .sidebar-story-account1-bright, .sidebar-story-account2-bright,  .sidebar-story-account3-bright{
    color: #A2A2A2;
}

.sidebar-story-bwrapper {
    display: flex;
    flex-direction: column;
}

.sidebar-story-account1, .sidebar-story-account2, .sidebar-story-account3 {
    display: flex;
    align-items: center;
    padding: 5px;
}
.sidebar-story-account1-image, .sidebar-story-account2-image, .sidebar-story-account3-image {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
}
.sidebar-story-account1-image image, .sidebar-story-account2-image image, .sidebar-story-account3-image image { 
    object-fit: cover;
}
.sidebar-story-account1-right, .sidebar-story-account2-right, .sidebar-story-account3-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
