* {
    box-sizing: border-box;
    
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    width: 100%;
    height: 80px;
    border-bottom-style: solid; 
    border-bottom-color: silver;
    background-color: #F8F7F4;
    margin: auto;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  .logo{
    width: 25px;
    height: 25px;
    margin-left: 30px;
 }
 
 .navTitle {
     font-family: 'Lobster', cursive;
     font-size: 1.5rem;
     margin-left: -700px;
 }
 
 
 .inputBox {
     position: relative;
     margin-left: -500px;
     background-color: #EEEEEE;
 }
 
 .find {
     width: 15px;
    height: 15px;;
    position: absolute;
    left: 60px;
    top: 5px;
    margin: auto;
 }
 
 .searchInput {
     width: 200px;
     height: 25px;;
     text-align: center;
     border-color: 2px solid silver;
  }
 
 
 .explore {
     width: 25px;
    height: 25px;
    margin-left: -500px;
 }
 
 .heart {
     width: 25px;
    height: 25px;
    margin-left: 100px;
 }
 
 .human {
     width: 25px;
     height: 25px;
     margin-left: 100px; 
 } 


 
 .mainBox {
    width: 100%;
    /* height: 100vh; */
    margin: auto; 
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upRightBox {
    position: absolute;
    top: 180px;
    right: 370px;
    display: flex;
    align-items: center;
}
.circleorange {
    width: 50px;
    height: 50px; 
}

.orangeIds {
 font-style: italic;
}

.mainBox {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding-left: 50px;
}

.mainBox .feedsBox {
    border : 2px solid silver;
    border-radius: 10px;
    width: 700px;
    margin: 100px 0;  
    background-color: orange;
}

.mainBox .unvisiableBox {
    width: 200px;
   
}

.pencilAndName {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

}

.circlePencils {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.myName {
    font-style: italic;
    margin-top: ;
}

.dot {
    margin-left:500px;
    color : grey;
}

.gallery {
    width: 100%;
    height: 600px;
    margin: auto;
}

.commentBox {
    width: 600px;
}

ul {
 padding-left: 0;
}

.commentList {
    list-style-type : none;
}

.readyForPosting {
    background-color: green;
}

.mainBox .main-rightBox {
    border : 2px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin-top: 160px;
    position: fixed;
    right : 230px;
}

.story {
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

.innerRightBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 10px;
  }
  
  .circleBallon {
      width: 50px;
      height: 50px;
  }
  
  .ballonIds {
      font-family: 'Ubuntu', sans-serif;
      font-style: italic;
      margin-top: 10px;
  }

  .innerRightBox2 {
    display: flex;
    flex-direction: row;
    align-items: center;  
    position: absolute;
    top: 75px;
    
}

.innerRightBox3 {
    display: flex;
    flex-direction: row;
    align-items: center;   
    position: absolute;
    top: 75px;
}

.innerRightBox4 {
    display: flex;
  flex-direction: row;
  align-items: center; 
  position: absolute;
  top: 150px;
   
}
      
 