* {
  box-sizing: border-box;
}

:root {
  /*border*/
  --border-gray: 1px solid #aaa8a8;
  --border-input: 1px solid #f5e3e3;
  --border-radius: 5px;
  --border-radius-img: 50px;
  /*color*/
  --color-gray: #aaa8a8;
  --color-blue: #2099f1;
  --color-light-blue: #c5e1fb;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
