.content {
  position: relative;
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  padding: 15px;
}

h1 {
  all: unset;
  font-family: "Lobster", cursive;
  font-size: 90px;
  margin: 30px 0;
}

.inputs {
  width: 630px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.inputs input {
  all: unset;
  height: 70px;
  background-color: #fafafa;
  border: var(--border-input);
  border-radius: var(--border-radius);
  padding: 8px 15px;
}

.inputs input::placeholder {
  font-size: 24px;
}

.loginBtn {
  width: 610px;
  height: 65px;
  background-color: var(--color-light-blue);
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
}

a {
  position: absolute;
  bottom: 30px;
  font-size: 24px;
  text-decoration: none;
  color: var(--color-blue);
}
