* {
  font-size: 15px;
}

body {
  flex-direction: column;
}

.hide {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
  border-bottom: var(--border-gray);
}

.icons {
  width: 24px;
}

.nav-left {
  display: flex;
  align-items: center;
}

#toMainPage {
  padding: 5px 10px;
  margin-left: 20px;
  border-left: 2px solid black;
  text-decoration: none;
  font-family: "Lobster", cursive;
  color: black;
}

.nav-center {
  position: relative;
}

.nav-center input {
  height: 24px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  text-align: center;
  outline: none;
}

.nav-center input::placeholder {
  background-image: url("/img/magnify.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 45px center;
}

.z-index-input {
  position: absolute;
  top: 45px;
  left: 40px;
  z-index: 3;
}

.nav-right {
  position: relative;
  display: flex;
  gap: 15px;
}

.z-index-profile {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 3;
}

.bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 5px 5px 5px lightgray;
  width: 200px;
  height: 140px;
  padding: 15px;
  background: rgb(239, 239, 234);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 12px 21px;
  border-color: rgb(239, 239, 234) transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 29px;
}

.bubble-inside {
  display: flex;
  align-items: top;
  gap: 10px;
}

.logout {
  margin: 0;
  padding-top: 10px;
  border-top: var(--border-gray);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.feed {
  position: relative;
  width: 95%;
  margin: 20px 10px;
  padding: 10px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
}

.feed-top {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  width: 98%;
  font-weight: 600;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius-img);
}

.feed-top img:last-child {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 15px;
}

.feed-img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.like-emojis {
  display: flex;
  position: relative;
  align-items: center;
}

.like-emojis img:first-child {
  width: 30px;
}

.small-image {
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-img);
}

.small-emojis {
  width: 25px;
  margin-left: 10px;
}

.like-emojis img:last-child {
  position: absolute;
  right: 10px;
}

.txt-likes {
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.comments {
  height: 100px;
  overflow: hidden;
}

.comments p {
  margin-top: 0;
  margin-bottom: 2px;
}

.comment-lists {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.comment-lists li img {
  position: absolute;
  right: 40px;
  width: 15px;
}

.none {
  display: none;
}

.delete {
  position: absolute;
  right: 10px;
  font-size: 13px;
  cursor: pointer;
}

.comment-lists li img:hover {
  cursor: pointer;
}

#comment {
  position: relative;
  bottom: -50px;
}

#commentInput {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: var(--border-input);
  outline: none;
}

.space {
  margin: 0 5px;
}

#comment button {
  position: absolute;
  right: 5px;
  bottom: 60px;
  border: none;
  background-color: white;
  color: var(--color-light-blue);
}

.mainRight {
  display: flex;
  flex-direction: column;
  width: 300px;
  aspect-ratio: 3 / 8;
  padding: 20px 10px;
}

.profile {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-img);
}

.profile div p {
  margin: 0 10px;
}

.gray {
  color: var(--color-gray);
}

.stories,
.recommend {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
}

.scroll {
  margin-top: 10px;
  overflow: scroll;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.story-top,
.recommend-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.active {
  border: 2px solid #d02f96;
  padding: 2px;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 13px;
  padding-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
}

.marginZero {
  margin: 0 10px;
}

.blue {
  position: absolute;
  right: 10px;
  color: var(--color-blue);
}

.hidden {
  width: 120px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 815px) {
  .mainRight {
    display: none;
  }
}
