* {
  font-size: 15px;
}

body {
  flex-direction: column;
}

nav {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--border-gray);
}

.icons {
  width: 24px;
}

.nav-left {
  display: flex;
  align-items: center;
}

#toMainPage {
  font-family: "Lobster", cursive;
  text-decoration: none;
  color: black;
  border-left: 2px solid black;
  padding: 5px 10px;
  margin-left: 20px;
}

.nav-center input {
  height: 24px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  text-align: center;
}

.nav-center input::placeholder {
  background-image: url("/img/magnify.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 45px center;
}

.nav-right {
  display: flex;
  gap: 15px;
}

main {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
}

.content {
  width: 540px;
  aspect-ratio: 5 / 8;
  display: flex;
  flex-direction: column;
}

.feed {
  width: 95%;
  height: 90%;
  margin: 20px 10px;
  padding: 10px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  position: relative;
}

.feed-top {
  width: 98%;
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius-img);
}

.feed-top img:last-child {
  width: 20px;
  height: 15px;
  position: absolute;
  right: 10px;
}

.feed-img {
  width: 100%;
  height: 65%;
}

.like-emojis {
  display: flex;
  position: relative;
  align-items: center;
}

.like-emojis img:first-child {
  width: 30px;
}

.small-image {
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-img);
}

.small-emojis {
  width: 25px;
  margin-left: 10px;
}

.like-emojis img:last-child {
  position: absolute;
  right: 10px;
}

.txt-likes {
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.comments {
  height: 100px;
  overflow: hidden;
}

.comments p {
  margin-top: 0;
  margin-bottom: 2px;
}

.comment-lists {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.comment-lists li img {
  position: absolute;
  right: 10px;
}

#comment {
  position: relative;
  bottom: -50px;
}

#commentInput {
  width: 95%;
  height: 40px;
  position: absolute;
  bottom: 10px;
  border-radius: var(--border-radius);
  border: var(--border-input);
  padding: 10px;
}

.space {
  margin: 0 5px;
}

#comment button {
  border: none;
  position: absolute;
  right: 35px;
  bottom: 18px;
  background-color: white;
  color: var(--color-light-blue);
}

.mainRight {
  width: 300px;
  aspect-ratio: 3 / 8;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.profile {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-img);
}

.profile div p {
  margin: 0 10px;
}

.gray {
  color: var(--color-gray);
}

.stories {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.story-top,
.recommend-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.active {
  border: 2px solid #d02f96;
  padding: 2px;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 13px;
  padding-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
}

.marginZero {
  margin: 0 10px;
}

.recommend {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
}

.blue {
  color: var(--color-blue);
  position: absolute;
  right: 10px;
}

.hidden {
  width: 120px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
