@import url("./common.css");

header#navbar {
  --padding: 15vw;
  padding: 0 var(--padding);
  min-height: 4rem;
  position: fixed;
  inset: 0 0 91vh;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 3px gray;
}

header nav {
  min-height: 100%;
  justify-content: space-between;
}

.search {
  position: relative;
}

.search .filtered-user {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: -1px 1px 10px lightgray, 1px 1px 10px lightgray;
}

.search .filtered-user li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.search .filtered-user li:hover {
  background-color: lightgray;
}

nav input {
  padding: 0.65rem 2.5rem;
  padding-left: 1.75rem;
  font-size: 0.75rem;
  border: 1px solid var(--border-primary);
  border-radius: 0.3em;
}

.search .fa-search {
  font-size: 0.65em;
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
  color: gray;
  display: flex;
  align-items: center;
}

header nav .nav__icons {
  font-size: 1.5rem;
  --gap: 0.75em;
  cursor: pointer;
  position: relative;
}

/* Badge */
.nav__icons::after {
  content: "1";
  width: 0.975em;
  height: 0.975em;
  position: absolute;
  top: 0;
  left: 25%;
  text-align: center;
  font-size: 0.75rem;
  background-color: red;
  color: #fff;
  border-radius: 50%;
}

.nav__icons .profile-img {
  position: relative;
}

.nav__icons .profile-img img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* ************************************************** */
/* SECTION:  profile dropdown box */
.profile-dropbox {
  position: absolute;
  top: 150%;
  left: 20%;
  right: -10%;
  z-index: 90;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 2px 2px lightgray, -1px 2px 2px lightgray,
    0 -1px 2px var(--gray-200);
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.5s ease-out;
}

.profile-dropbox.open {
  transform: scale(1, 1);
}

.profile-dropbox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 17%;
  width: 1.5em;
  height: 1.5em;
  transform: rotate(45deg) translateY(-50%);
  background-color: #fff;
  box-shadow: -3px -3px 4px var(--gray-200);
}

.profile-dropbox li {
  padding: 0.75rem 1rem;
  transition: all 0.2s ease-in;
}

.profile-dropbox li *:first-child {
  display: inline-block;
  margin-right: 1em;
}

.profile-dropbox li:last-child {
  border-top: 1px solid lightgray;
}

.profile-dropbox li:hover {
  background-color: var(--bg-hover-primary);
}

.profile-dropbox li img {
  width: 1rem;
}

/* ************************************************** */
/* SECTION: main grid part */
main {
  min-height: 100vh;
  margin: 0 15vw;
  margin-top: calc(9vh + 2rem);
  display: grid;
  grid-template-columns: 35rem auto;
  grid-template-rows: 7rem auto;
  gap: 1.75rem;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* ************************************************** */
/* SECTION:   stories for others */
.stories__wrapper {
  padding: 0.5rem 1rem;
  --gap: 1.5em;
  border: 1px solid var(--border-primary);
  overflow: hidden;
  position: relative;
}

ul.stories {
  transition: transform 0.5s linear;
}

.story {
  min-height: var(--fs-story-img);
  height: var(--fs-story-img);
  transform: translateY(-11%);
  position: relative;
}

.story::before {
  content: "";
  position: absolute;
  inset: -4.5px;
  border-radius: 50%;
  background: var(--bg-story-circle);
}

.story::after {
  content: "";
  position: absolute;
  inset: -2.5px;
  border-radius: 50%;
  background-color: #fff;
}

.story img {
  min-width: var(--fs-story-img);
  height: var(--fs-story-img);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: var(--z-index-img);
}

.story p {
  position: absolute;
  top: 115%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.75rem;
}

.stories__wrapper i {
  position: absolute;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
  z-index: var(--z-index-arrow);
}

.stories__wrapper i:hover {
  opacity: 0.7;
}

.stories__wrapper .fa-chevron-circle-left {
  left: 3%;
}

.stories__wrapper .fa-chevron-circle-right {
  right: 3%;
}

/* ************************************************** */
/* SECTION:  recommendations */
.recommends__wrapper {
  grid-row: span 2;
}

.recommends__fixed {
  position: fixed;
}

.profile {
  height: 6.75rem;
}

.profile img {
  width: var(--fs-story-img);
  height: var(--fs-story-img);
  border-radius: 50%;
}

.profile p {
  font-size: 0.875rem;
}

.recommendation h3 {
  display: inline-block;
  color: var(--gray-400);
}

.recommendation .title p {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--gray-500);
}

.recommendation p + a {
  color: inherit;
}
.other-profile h4 {
  font-size: 0.875rem;
  font-weight: 500;
}
.other-profile p {
  line-height: 1.7;
  font-size: 0.75rem;
  color: var(--gray-400);
  font-family: sans-serif;
}

.other-profile {
  margin-top: 1rem;
}

.other-profile img {
  width: var(--fs-img);
  height: var(--fs-img);
  border-radius: 50%;
}

.recommends__wrapper a,
.other-profile a {
  display: inline-block;
  margin-left: auto;
  color: rgb(0, 153, 243);
  font-size: 0.8rem;
}

/* ************************************************** */
/* SECTION:  feed */
.feed__wrapper {
  box-shadow: 0 0 10px lightgray;
  font-size: 0.8rem;
}
.feed__wrapper:last-child {
  margin-bottom: 5rem;
}
.feed {
  display: grid;
  grid-template-rows: min-content minmax(auto, 80vh) max-content 2fr;
  /* heaer, carousel, icon-container, comments */
}

/* 1) Header */
.feed__header {
  padding: 1rem;
}
.feed__header img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}
.feed__header p {
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.feed__header p:hover {
  color: var(--gray-400);
}

.feed__header .fa-ellipsis-h {
  margin-left: auto;
  cursor: pointer;
}

/* 2) main image Carousel */
.feed__carousel {
  overflow: hidden;
  position: relative;
}
.img__container {
  --gap: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.img__container img {
  min-width: 100%;
}

.feed__carousel .fas {
  position: absolute;
  top: 50%;
  opacity: 0.45;
  font-size: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.feed__carousel .fas:hover {
  opacity: 0.8;
}

.feed__carousel .fa-chevron-circle-left {
  left: 1em;
}

.feed__carousel .fa-chevron-circle-right {
  right: 1em;
}

/* 3) icon buttons */
.feed__icons {
  padding: 1rem 1.5rem 0 1rem;
  --gap: 1.25rem;
}

.feed__icons i {
  cursor: pointer;
  font-size: 1.25rem;
  transition: color 0.4s ease-out;
}

.feed__icons i:hover {
  color: var(--border-primary);
}

.feed__icons .fa-bookmark {
  margin-left: auto;
}

.feed__icons p {
  margin: 0.5em 0 1em;
  width: fit-content;
  font-weight: bold;
}

/* 4) comments */
.comments__wrapper {
  --gap: 0;
  overflow: hidden;
}

.comments {
  flex: 1;
  min-height: 15vh;
  border-bottom: 1px double lightgray;
}

.comments .comment-front .heart {
  margin-left: auto;
}

.comment {
  position: relative;
}

.comment-delete {
  padding: 0.2em 0;
  padding-right: 1em;
  justify-content: flex-end;
  --gap: 1em;
  border-radius: 1em;
  background-color: var(--bg-delete);
}

.comment-delete .fas {
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
  color: var(--gray-200);
  cursor: pointer;
}

.comment-delete .fas:hover {
  color: rgb(230, 230, 230, 0.4);
  transform: scale(1.1);
}

.comment-front {
  padding: 0 1rem;
  background-color: #fff;
  transition: transform 0.4s ease-in;
  position: absolute;
  inset: 0;
}

.comment a.see-more {
  color: lightgray;
  cursor: pointer;
  transition: color 0.4s ease-out;
}

.comments .comment-front a.see-more:hover {
  color: gray;
}

.comment__input {
  position: relative;
  padding-top: 1rem;
}

.comment__input .fa-smile {
  position: absolute;
  left: 4%;
}

.comment__input textarea {
  padding: 0 10%;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
}

.comment__input .add__comment {
  position: absolute;
  right: 4%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--bg-btn-inactive);
  font-weight: bold;
}

.comment__input .add__comment.active {
  color: var(--bg-btn-active);
}

/* ******************************************* */
/* TODO: Media queries */
@media screen and (max-width: 968px) {
  #navbar {
    --padding: 5vw;
  }
  main {
    grid-template-columns: auto;
  }
  .recommends__wrapper {
    display: none;
  }
}
