* {
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  .search_bar_contaner {
    width: 100%;
  }
  
  .search_bar {
    position: relative;
    width: 80%;
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 40px;
  }
  
  .logo_left {
    position: absolute;
    left: 10%;
  }
  
  .logo_right {
    position: absolute;
    right: 10%;
  }
  
  i {
    font-size: 30px;
    position: relative;
    text-align: center;
    top: -45px;
    margin: 0 10px;
  }
  
  .search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 20px 30px;
    margin: 20px 10px;
    border-radius: 5px;
    color: rgb(123, 123, 123);
    font-size: 20px;
    font-weight: 500;
  }
  
  .footer {
    font-weight: 600;
  }