
#comment {
    display: flex;
}

ul {
    border-bottom: 1px solid rgba(224, 219, 219, 0.548);
}

button {
    width: 40px;
    border:0;
    outline: 0;
    background-color: transparent;
    color: rgba(43, 142, 235, 0.363);
}

#comment input {
    width: 100%;
}

input::placeholder {
    color: rgba(20, 20, 20, 0.281);
}