@import url(nav.css);
@import url(main.css);
@import url(main-right.css);
@import url(comment.css);


@media screen and (max-width: 805px) {

    .nav-center input {
        display: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.test-border{
    border: 1px solid red;
}

.strong {
    font-weight: bold;
}


