html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 450px;
    height: 500px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
}

.loginForm h1 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin-top: 30px;

}

.idForm {
    /*margin: 50px 0 5px 0;*/
    text-decoration: none;
}

.passForm {
    margin: 10px 0;
}

#id {
    outline-color: #ccc;
    /*outline: none;*/
    width: 350px;
    height: 50px;
    background: #FAFAFA;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 450;
}

#pw {
    outline-color: #ccc;
    /*outline: none;*/
    width: 350px;
    height: 50px;
    background: #FAFAFA;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 16px;
}

#btn {
    width: 350px;
    height: 40px;
    background: #C4E0FC;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;

}


.bottomText {
    margin-top: 80px;
    color: #043667;
}

.idForm input {
    padding: 0 10px;
    box-sizing: border-box;
}

.passForm input {
    padding: 0 10px;
    box-sizing: border-box;
}
