html {
    background-color: #fafafa;
}


button {
    cursor: pointer;
}

/* nav_bar */
.nav_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav_bar {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav_bar - logo */
.logo {
    width: 278px;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

/* nav_bar - search_form */
.search_form input {
    width: 215px;
    height: 20px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    color: #8e8e8e;
    padding: 3px 10px 3px 26px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    /* search icon */
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 85px center;
    outline: none;
}

.search-bar {
    width: 220px;
    height: 27px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search-bar_input {
    width: 50px;
    border: none;
    -webkit-appearance: none;
    text-align: center;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
}


.search-bar_input:focus {
    outline: none;
    width: 215px;
    text-align: left;
    background-image: none;
}

/* nav_bar - content_icons */
.content_icons ul {
    display: flex;
}

.content_icons li {
    list-style: none;
    padding-left: 24px;
}

.content_icons li img {
    width: 22px;
}

/* profile radius */
.profile_box {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 70%;
    overflow: hidden;
}

.icon_profile img {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.mainTitle{
    width:100vw;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 60px;

}

.divFeeds{
    width:614px;
    background-color: #FFFFFF;
    margin-top:60px;
    border:1px solid rgba(219,219,219,1);
    border-radius:3px;
}

.kimelLogo{
    background:
            linear-gradient(#fff,#fff) padding-box,
            linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #313149;
    width: 40px;
    height: 40px;
    padding:2px;
    border: 2px solid transparent;
    border-radius:50%;
    margin: 10px;
}

.kimelText{
    margin-left:10px;
    margin-top:20px;
    color: #262626;
    font-size:18px;
    font-weight:bold;
}

.dot{
    margin-top:16px;
    margin-right:15px;
    width:23px;
    height:23px;
}

.kimelLogoText{
    display:flex;
}

.nav2{
    width:614px;
    height:60px;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid rgba(219,219,219,1);
}

.article {
    width: 614px;
}

.mainPicture{
    width:614px;
    height:614px;

}

.mainPicture0{
    width:614px;
    height:614px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mainPicture1{
    width:614px;
    height:614px;
    margin-top:-2px;
    margin-left: -2px;
    width:100%;
}

.status{
    display:flex;
    flex-direction:row;
    justify-content:space-between
}

.status1{
    margin-left:10px;
}

.status1 img{
    margin:6px;
    width:25px;
    height:25px;
}

.status3 {
    width:25px;
    height:25px;
    margin-right:10px;
    margin-top: 5px;
}

.like1{
    margin-left:15px;
    font-weight: 500;
    font-size:14px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.text0{
    margin-top:5px;
}

.text1{
    margin-left:15px;
    font-weight: 500;
    font-size:14px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.text2{
    margin-left:8px;
    font-weight: 300;
    font-size:15px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.text3{
    margin-top:3px;
    margin-left:15px;
    font-weight: 400;
    font-size:14px;
    color: #999999;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.text4{
    margin:15px;
    /*margin-left:15px;*/
    font-weight: 400;
    font-size:9px;
    color: #999999;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.button1{
    display:flex;
    justify-content:space-between;
    width:614px;
    height:56px;
    border-top: 1px solid rgba(219,219,219,1);
    border-bottom: 1px solid rgba(219,219,219,1);
}

.button2{
    width:500px;
    height:35px;
    border:0 solid black;
    margin-top:10px;
    margin-left:13px;
    outline: none;
    border: none;
}

.button2::placeholder{
    font-size:14px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.button3{
    margin-right:20px;
    border: 0;
    outline: 0;
    color: #c4e0fc;
    font-size:14px;
    background: none;
    font-weight: 700;
}

.divMainRight{
    width:293px;
}

.profile1{
    margin-top:5px; /*지울것*/
    width:293px;
    height:50px;
    display:flex;
}

.profile2 {
    width:50px;
    height:50px;
    border-radius: 50%;
}
.profileName{
    margin-left:15px;
    margin-top:5px;
}
.profileText1{
    margin-top:3px;
    font-weight: 500;
    font-size:14px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.profileText2{
    font-weight: 400;
    font-size:14px;
    color: #999999;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.story1{
    margin-top:20px;
    width:293px;
    height:223px;
    /*background-color: rgb(0, 255, 170);*/
    background-color: #FFFFFF;
    border:1px solid rgba(219,219,219,1);
    border-radius:3px;
    overflow: hidden;
}
.story1-story{
    margin-top: 10px;
    margin-left:5px;
    margin-right:5px;
    display:flex;

    justify-content:space-between;
}
.story1Text1{
    margin-left:5px;
    color: #999999;

}
.story1Text2{
    color: #262626;
    margin-right:15px;
    margin-top: 3px;
    font-size: 13px;
    outline: none;
    border: none;
    background: none;
}

.pf0 {
    display: flex;
    flex-direction: column;
}

.pfx {
    display: flex;
    margin: -5px 0;
}


.pfStory0{
    margin:0;
    margin-top:14px;
    margin-left:6px;
}

.kimelText1{
    font-weight: 500;
    font-size:14px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.texthour{
    margin-top:3px;
    font-weight: 400;
    font-size:9px;
    color: #999999;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


.recommend1{
    margin-top:13px;
    background-color: #FFFFFF;
    width:293px;
    height:197px;
    border:1px solid rgba(219,219,219,1);
    border-radius:3px;
}

.re1{
    margin:10px 5px 0px 5px;
    display:flex;
    justify-content:space-between;
}

.re2{
    color: #999999;
    margin-left:5px;
}

.re3{
    margin-right:15px;
    color: #262626;
    font-size: 13px;
}

.people{
    display:flex;
    margin-top:10px;
    margin-left:10px;

}

.people0{
    width:40px;
    background:
            linear-gradient(#fff,#fff) padding-box,
            linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #313149;
    width: 40px;
    height: 40px;
    padding:2px;
    border: 2px solid transparent;
    border-radius:50%;
}

.people1{
    margin-top:5px;
    margin-left:12px;
    font-weight: 500;
    font-size:14px;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.people2{font-weight: 400;
    font-size:11px;
    color: #999999;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.people3{
    color:#3897f0;
    font-size: 12px;
    font-weight: bold;
    margin-left:25px;
    outline: none;
    background: none;
    border: none;
}


.follow0 {
    margin-left: 20px;
    color:#3897f0;
    font-size: 12px;
    font-weight: bold;

    background: none;
    border: none;
}

.follow1 {
    margin-left: 25px;
    color:#3897f0;
    font-size: 12px;
    font-weight: bold;

    background: none;
    border: none;
}

.follow2 {
    margin-left: 75px;
    color:#3897f0;
    font-size: 12px;
    font-weight: bold;

    background: none;
    border: none;
}


.right{
    width:293px;
    margin-top:75px;
    margin-left:30px;
}

.info0 {
    font-size: 11px;
    letter-spacing: 3px;
    margin-top: 30px;
    color: #8e8e8e;
}

.info {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 10px;
    color: #8e8e8e;
}

.info1 {
    margin-top: 20px;
    color: #8e8e8e;
}

.info .i{
    text-decoration: none;
    color: #8e8e8e;

}

.info p {
    margin-bottom: 5px;
    color: #8e8e8e;
    font-size: 2px;
}

.info span a:active{
    color: #8e8e8e;
}

.paper {
    height: 35px;
    margin-left: 5px;
}

.please {

}

.newDiv {
    margin-bottom: 5px;
}


.name {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
}

.newComment {
    margin-left: 8px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    font-size: 15.3px;
}