* {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  height: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  width: 630px;
  height: 700px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: auto;
  border: 2px solid #E5E6E6;
}

.logo {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 60px;
}

input.id,
input.password {
  border: 1px solid #E5E6E6;
  border-radius: 7px;
  background-color: #FAFAFA;
  width: 75%;
  height: 9.5%;
  margin: 5px;
  font-size: 20px;
}

button {
  border: 1px solid #BEE2FD;
  background-color: #BEE2FD;
  border-radius: 7px;
  width: 75%;
  height: 8%;
  margin: 20px;
  color: #FEFFFF;
  font-size: 20px;
  font-weight: bold;

}

.notice {
  position: absolute;
  bottom: 40px;
  text-align: center;
  color: #00376B;
  font-size: 20px;
  
}



