h1 {
    font-family: 'Lobster', cursive;
    font-weight: 50;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

span {

}
input {
    background-color: #FAFAFA;
    border: 1px solid #EBEBEB;
    margin-bottom: 15px;
    padding: 10px 5px;
    width: 250px;
    
}

button {
    width: 250px;
    border: none;
    background-color: #C4E1FB;
    color: #FFF;
    padding: 10px 5px;
    margin-bottom: 70px;
    transition: .3s ease background-color;
}

input, button {
    font-family:'Quicksand', sans-serif;
}

a {
    font-size: .8rem;
    color: #144474;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF;
}





