html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

button{
    border: none;
    outline: none;
}

input{
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}
