* {
  box-sizing: border-box;
}

#main {
  border: 1.8px solid rgb(220, 219, 219);
  width: 350px;
  height: 429.98px;
  margin: auto;
}

#main-name {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 40px;
}

#email,
#password {
  display: block;
  width: 268px;
  height: 38px;
  margin: auto;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 3px;
  padding-left: 7px;
}

#mybtn {
  display: block;
  background-color: #47afff;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 268px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
}

#pw-lost {
  color: #00376b;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 100px;
}

.idpw-login {
  background-color: blue;
}
