.nav-main {
  width: 975px;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid gray;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-icon {
  width: 30px;
  border-right: 1px solid gray;
  padding-right: 10px;
  margin-right: 5px;
}

.title-name {
  font-family: "Lobster", cursive;
  font-size: 25px;
  position: absolute;
  margin-left: 50px;
}

.sub-icon1 {
  width: 30px;
  padding: 7px;
}

.my-img {
  width: 32px;
  height: 32px;
  border-radius: 70%;
  float: left;
  margin-right: 10px;
}

.id-name {
  font-size: 14px;
  font-weight: bold;
}

.profile {
  border: 1px solid gray;
  width: 470px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

article {
  margin-top: 40px;
}

.side-bar {
  background-color: aquamarine;
  width: 319px;
  height: 821px;
  float: right;
}

.wecode-img {
  width: 56px;
  height: 56px;
  border-radius: 70%;
}

.main-img {
  width: 482px;
  height: 587.5px;
}
