* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
}

img {
    width: 23px;
    height: 23px;
    margin: 10px;
}

.instagram {
    border-left: 1.5px solid black;
    padding-left: 10px;
    font-family: 'Lobster', cursive;
    height: 30px;
    font-size: 20px;
    margin-right: 270px;
    margin-top: 13px;
    color: black;
}

.left-img {
    margin-top: 17px;
    margin-right: 10px;
}

.right-img {
    margin-left: 270px;
    margin-top: 7px;
}

input {
    width: 250px;
    height: 28px;
    margin-top: 15px;
    background-color: #efefef;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
}

input::placeholder {
    text-align: center;
    color: #8e8e8e;
}

.fa-solid {
    position: relative;
    right: 158px;
    bottom: 2px;
    font-size: 8px;
    color: #8e8e8e;
}

.main-backgroundcolr {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

main {
    width: 1440px;
    margin: 0 auto;
}

.main2 {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    height: 100%;
}

.feeds {
    background-color: white;
    width: 642px;
    height: 915px;
    margin-top: 35px;
    margin-left: 220px;
    border: 1px solid #dbdbdb;
}

img[src="feeds.jpg"] {
    position: relative;
    width: 640px;
    height: 640px;
    right: 10px;
    bottom: 13px;
}

img[src="profile3.png"] {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 3px;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    object-fit: cover;
}

span {
    position: relative;
    bottom: 25px;
    right: 0px;
}

i {
    font-size: 25px;
}

.main-right {
    position: fixed;
    margin-left: 860px;
}

.story-table {
    width: 350px;
    position: relative;
    top: 7px;
}

img[src="profile.png"] {
    width: 75px;
    height: 70px;
    border-radius: 75%;
    overflow: hidden;
    object-fit: cover;
    display: inline-block;
}

.profile {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}

.myprofile {
    margin-top: 32px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.myname {
    position: relative;
    top: 51px;
    right: 81px;
    color: #9b9b9b;
    font-size: 14px;
}

.recommend, .story{
    width: 330px;
    height: 270px;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    overflow: scroll;
}

img[src="profile2.png"] {
    width: 40px;
    height: 40px;
    border-radius: 40%;
    object-fit: cover;
    margin: 0px;
    margin-right: 10px;
}

td {
    font-size: 15px;
    font-weight: bold;
}

p {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    color: #9b9b9b;
}

.everyone {
    color: black;
    font-weight: 600;
}

.follow {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #349ff7;
}
.member, .story-text{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.recommend-table {
    width: 350px;
    position: relative;
    top: 7px;
}

.input {
    border-top: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-top: 60px;
    background-color: white;
}

.submit {
    width: 40px;
    background-color: white;
    color: #c1e2ff;
}

.comment {
    width: 530px;
    margin-left: 25px;
    background-color: white;
}

.comment::placeholder {
    text-align: left;
}

.fa-face-smile {
    position: relative;
    left: 15px;
    top: 4px;
}

.fa-thumbs-up {
    margin: 10px;
    position: relative;
    bottom: 25px;
    left: 5px;
}

.fa-comment {
    position: relative;
    bottom: 25px;
    margin-left: 5px;
}

.fa-arrow-up-from-bracket {
    position: relative;
    bottom: 25px;
    font-size: 25px;
    left: 10px;
    color: black;
}

.fa-bookmark {
    position: relative;
    left: 500px;
    bottom: 25px;
}

.like {
    color: black;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    left: 13px;
    bottom: 20px;
}