.firstLine{
  display: flex;
  justify-content: space-around;
}
.logo{
  display: flex;

}
.letter{
  font-family: 'Amiri', serif;
  font-family: 'Lobster', cursive;
}
.innerLogo{
  margin: 3px;
}
.search{
  display: flex;
  border:1px solid grey;
  padding-left:30px;
}
.searhLogo{

  padding : 4x;
}
.search input{
  border:0;
  margin-left:3px;
}
input[type="text"]{
  /* margin-right: 5px; */
}
.profile{
  display: flex;
}
.far{
  margin : 8px;
}