* {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin: 0px;
  padding-bottom: 4%;
}

.wrapper {
  width: 450px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: lightgray 1px solid;
}
header {
  font-family: "Lobster", cursive;
  font-size: 28px;
}

main {
  height: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
input {
  height: 40px;
  width: 320px;
  margin-bottom: 10px;
  border: solid 1px lightgray;
  border-radius: 3px;
  padding-left: 14px;
  color: black;
  background-color: #fafafa;
  font-size: 15px;
}
button {
  background-color: #c4e1fb;
  border: #c4e1fb;
  color: white;
  height: 40px;
  width: 320px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 7px;
}
a {
  position: relative;
  height: 100%;
  top: 65%;
  font-size: 14px;
}

.user-location {
  height: 10px;
}
