body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
}

.westarBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: solid gray 1px;
  opacity: 0.3;
}

.loginBox {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#text {
  position: absolute;
  top: 10%;
  font-size: 80px;
  font-family: "Lobster", cursive;
}

.ID {
  width: 350px;
  height: 50px;
  border: solid gray 1px;
  border-radius: 5px;
  font-size: 18px;
}

.PW {
  width: 350px;
  height: 50px;
  margin-top: 15px;
  border: solid gray 1px;
  border-radius: 5px;
  font-size: 18px;
}

button {
  position: absolute;
  bottom: 30%;
  width: 350px;
  height: 50px;
  color: white;
  background-color: skyblue;
  border: 0;
  opacity: 0.3;
}

/* opacity => 백그라운드 rgba 로 변경. */

#forget {
  position: absolute;
  bottom: 15%;
  font-size: 18px;
  text-decoration: none;
  opacity: 1;
}
