html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fafafa;
  margin-bottom: 50px;
}

.text {
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 10 15px;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  height: 100px;
  width: 1200px;
  border-bottom: 2px solid rgb(235, 242, 244);
  background-color: white;
  z-index: 1;
}

.navLeft {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 60px;
}

#navLogoImg {
  position: absolute;
}

.text {
  position: absolute;
  bottom: -33;
  right: 0;
}

.navRight {
  display: flex;
}

.search {
  display: flex;
  position: relative;
  text-align: center;
  margin-top: 0;
  opacity: 0.1;
}

#searchImg {
  position: absolute;
  top: 8px;
  left: 50px;
  width: 15px;
  height: 15px;
}

.searchInput {
  text-align: center;
  width: 200px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}

section {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 100px;
  width: 100%;
  min-height: 100%;
  margin-bottom: 5%;
}

content {
  width: 600px;
  height: auto;
  min-height: 600px;
  margin-top: 3%;
  border: solid 2px rgb(235, 242, 244);
  background-color: white;
}

.contentBox {
  position: relative;
  min-height: 650px;
  height: auto;
  width: 600px;
}

#cake {
  position: absolute;
  top: 50px;
  width: 600px;
  height: 700px;
}

.userContent {
  display: flex;
  align-items: center;
  height: 50px;
}

#itsMeImg {
  position: absolute;
  top: 5;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#more {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.userName {
  position: absolute;
  left: 50px;
  font-size: 20px;
}

.commentContent {
  position: absolute;
  top: 760px;
  width: 600px;
  background-color: white;
}

.commentContent p {
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
}

.howManyLike {
  display: flex;
  align-items: center;
}

.likecontent img {
  width: 30px;
  height: 30px;
}

.likecontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

p img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.commentInputBox {
  position: relative;
  width: 600px;
  margin-bottom: 50px;
}

.commentInput {
  width: 600px;
  border: none;
  outline: none;
}

.postingButton {
  position: absolute;
  right: 10px;
  border: none;
  background-color: white;
}

sidebar {
  width: 300px;
  height: 600px;
  margin-top: 3%;
  margin-left: 20px;
}

.wecodeImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.nameBundleBox {
  display: flex;
  align-items: center;
  margin: 10px;
}

.nameBundle p {
  margin: 0;
  font-size: 15px;
}

span {
  opacity: 0.3;
}

.storyBox {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: solid 2px rgb(235, 242, 244);
  background-color: white;
}
.sideBarNav .textRightSide {
  color: black;
  opacity: 1;
}

.textRightSide {
  text-align: right;
  color: blue;
}
.sideBarNav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}

.recommendBox {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin: 10px;
  border: solid 2px rgb(235, 242, 244);
  background-color: white;
}
.needFollow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.smallImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.source {
  width: 300px;
  margin: 10px;
}
.source p {
  margin: 0 20;
  font-size: 15px;
  opacity: 0.2;
}
.source div {
  padding-top: 20px;
  margin-left: 30px;
  font-size: 15px;
  opacity: 0.2;
}

.commentLike {
  vertical-align: middle;
  float: right;
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}
#commentBox p {
  padding-right: 20px;
}
/*
footer {
  height: 50px;
  background-color: red;
  width: auto;
  position: absolute;
  bottom: 0;
}
*/
