* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}
body {
  background-color: #fafafa;
  /* text-align: center; */
}
.logo {
  font-family: "Lobster", cursive;
  color: #262626;
}
input {
  background: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  width: 100%;
  /* max-width: 100px; */
  text-overflow: ellipsis;
}
input::placeholder {
  color: #ced4da;
}
input:focus {
  outline: none;
}
figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
