.body-container {
  width: 100%;
}
.main-nav {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  justify-content: space-around;
  height: 60px;
}
.main-nav-left {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-logo {
  width: 20px;
  height: 20px;
}
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 30px;
  position: absolute;
  left: 40px;
  margin-left: -3px;
  top: 14px;
}
.logo-main {
  padding-left: 30px;
  font-size: 18px;
}
.main-nav-center {
  position: relative;
  display: flex;
  align-items: center;
}
.main-input {
  text-align: center;
  padding: 4px 20px;
}
.fa-search {
  position: absolute;
  color: #adb5bd;
  font-size: 10px;
  left: 67px;
}
.main-nav-right {
  display: flex;
  align-items: center;
}
.nav-btn {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.main-container {
  width: 75%;
  margin: 50px auto;
  display: flex;
}
.feeds {
  width: 60%;
  background: #fff;
}
.feed {
  border: 1px solid #adb5bd;
  height: 600px;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 15px 0;
}
.profile-left {
  display: flex;
  align-items: center;
}
.profile-item-photo {
  width: 35px;
  height: 35px;
}
.feed-profile-name {
  margin-left: 13px;
}
.fa-ellipsis-h {
  font-size: 15px;
  color: #495057;
}
.feed-img {
  width: 100%;
  height: 400px;
  background-image: url(../img/IMG_1405.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.feed-func-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}
.feed-func-left {
  display: flex;
  align-items: center;
}
.feed-func-btn {
  font-size: 24px;
  padding-left: 10px;
}
.feed-bottom-container {
  margin-top: 6px;
}
.like-container {
  display: flex;
  align-items: center;
  padding-left: 22px;
}
.like-item {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.like-container p {
  font-size: 14px;
}
.comment-container {
  display: flex;
  padding-left: 25px;
  margin-top: 10px;
  height: fit-content;
}
.comment-item {
  display: flex;
  width: 535px;
  justify-content: space-between;
  align-items: center;
}
.feed-bottom-account {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.comment-content {
  font-size: 14px;
}
.comment-heart {
  width: 10px;
  height: 10px;
}
