* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  max-width: max-content;
  margin: auto;
  text-align: center;
  background-color: #FAFAFA; 
  display: table-cell;
  vertical-align: middle;
}

a {
  text-decoration: none;
}