*{
    box-sizing: border-box;
}

html, body{
 height : 100%;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container{
 border : 1px solid rgba(var(--b6a,219,219,219),1);;
 display : flex;
 flex-direction: column;
 align-items: center;
 height : 480px;
 width : 450px;
 background-color : rgba(var(--d87,255,255,255),1);
 padding : 30px;
}

h1{
    margin : 30px;
    font-size : 45px;
    font-family : "Lobster", cursive;
    
}

.userInformation{
    display : flex;
    flex-direction: column;
    align-content: center;
    margin-bottom : 20px;
    width 
}

.loginId{
    width : 280px;
    margin : 20px 20px 10px 20px;
    padding : 10px 10px 10px 5px;
    font-size : 14px;
    border-radius : 3px;
    border : 1px solid #dbdbdb;
}

.loginPassword{
    width : 280px;
    margin-left : 20px;
    padding : 10px 10px 10px 5px;
    color : gary;
    font-size : 14px;
    border-radius : 3px;
    border : 1px solid #dbdbdb;
}

.loginButton{
    padding : 10px 112px;
    border-radius : 3px;
    border : none;
    font-weight: bold;
    background-color : #E0F7FF;
    color : white;
    font-size : 20px;
}

.forgetPassword{
    padding-top : 100px;
}

a{
    font-weight: bold;
    color : #2E5D89;
    text-decoration: none;
}
