.headerBorder{
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom : 1px solid rgba(var(--b6a,219,219,219),1);
    height : 54px;
    align-items : center;
}

.headerContents{
    display : flex;
    justify-content: space-between;
    width : 100%
}
.WestagramTag{
    margin-left : 10px;
}
.WestagramTag a{
    text-decoration: none;
    font-size : 30px;
    color : black
    
}