* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: normal;
}

p {
  margin: 2px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
