.westaIntro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.mainBorder {
    padding: 20px;
    border: 1px solid #EBEBEB;
    width: 600px;
    margin: 10px auto;
}

.mainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster';
    font-size: 80px;
}

.mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainLogin input {
    width: 400px;
    height: 50px;
    margin: 5px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-indent: 1em;
}

.mainLogin input::placeholder {
    color: #9E9E9E;
}


.facebookLogin {
    margin: 15px;
    font-size: 18px;
    color: #1C4877;
    cursor: pointer;
}

.loginBtn {
    width: 400px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0095f6;
    cursor: pointer;
}

.loginBtn:disabled {
    background-color: #c4e1fb;
    cursor: default;
}

.askPwd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.askPwd a{
    text-decoration-line: none;
    color: #1C4877;
    font-weight: bold;
}

.signBorder {
    padding: 20px;
    border: 1px solid #EBEBEB;
    width: 600px;
    margin: 10px auto;
}

.signBorder a {
    color: #289DF7;
    cursor: pointer;
}

.comment_delete {
    opacity: 0;
}

.comment_delete:hover {
    opacity: 1;
}