* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 100px;
}
button {
  height: 50px;
}
a {
  all: unset;
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.fab {
  font-size: 25px;
}
.fas {
  font-size: 10px;
}

.far {
  font-size: 25px;
}

input {
  outline: none;
}
