.main-right {
  flex: 4;
  margin-top: 30px;
}
.main-right-userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 5px;
}

.main-right-userinfo_img {
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
.main-right-userinfo-box {
  font-size: 15px;
}
.main-right-userinfo-box :first-child {
  font-weight: bold;
}
.main-right-userinfo-box :last-child {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.wecode_text {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.main_right_story {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.main_right_story_text {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 100%;
}
.main_right_story_text_story {
  color: rgba(0, 0, 0, 0.4);
}
.main_right_story_text_storytwo {
  font-size: 13px;
}
.main_right_story_contents {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.main_right_story_contents img {
  margin-right: 10px;
}
.main_right_story_contents_texts {
  font-size: 15px;
}
.main_right_story_contents_subtexts {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.main_right_story_contents img {
  width: 40px;
  border-radius: 20px;
  border: 1px solid red;
  padding: 2px;
}
.for_user_recommand {
  margin: 13px 0px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.for_user_recommand_textbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
}
.for_user_recommand_textbox_textone {
  color: rgba(0, 0, 0, 0.4);
}
.for_user_recommand_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.for_user_recommand_contents_box {
  display: flex;
  align-items: center;
}
.for_user_recommand_contents img {
  width: 40px;
  border-radius: 20px;
  border: 1px solid red;
  padding: 2px;
  margin-right: 10px;
}
.for_user_recommand_contents_texts {
  font-size: 15px;
}
.for_user_recommand_contents_subtexts {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.for_user_recommand_contents_follow_btn {
  font-size: 13px;
}
.for_user_recommand_textbox_texttwo {
  font-size: 13px;
}
