* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: #f5f6f7;
}

#loginContainerBox {
  background-color: #ffff;

  border: 1px solid rgba(23, 23, 23, 0.2);
  width: 350px;
  height: 400px;

  margin: 100px auto 5px auto;
}

#title {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 48px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #f5f6f7;

  padding: 9px 0 7px 8px;
  width: 258px;
  height: 36px;
  margin-bottom: 5px;
  border: 1px solid rgba(23, 23, 23, 0.2);
}

button {
  background-color: #b3dbff;
  color: white;
  font-size: 13px;

  width: 258px;
  height: 30px;

  margin-top: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #59a4e7;
}

.lineWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 258px;
  margin: 0 auto 35px auto;
}

#line {
  width: 104px;
  height: 1px;
  display: inline-block;
  background-color: #dbdbdb;
  opacity: 0.7;
  margin: 10px 0;
}

#lineLetter {
  margin: 0px 15px;
  font-size: 12px;
  font-weight: bold;
  color: #aba8a8;
}

.aWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aWrap p {
  margin: 20px auto 0 auto;
}

.aWrap img {
  width: 17px;
  margin-top: -2px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #ffff;
}

#a1 {
  /* display: inline-block; */
  font-size: 14px;
  font-weight: bold;
  color: #385185;
}

#a2 {
  font-size: 12px;
  color: #00376b;
}

#a3 {
  font-size: 14px;
  font-weight: bold;
  color: #0096f6;
}

#loginContainerBox-2 {
  background-color: #ffff;

  border: 1px solid rgba(23, 23, 23, 0.2);

  width: 350px;
  height: 64px;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-align: center;
}

#loingContainerBox-2 p {
  font-size: 14px;
  font-weight: 400;
}
