@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --line-color: #908b88;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 0.5px solid var(--line-color);
}
.titleDiv {
  text-align: center;
  height: 119px;
}
h1 {
  margin: 20px;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.formDiv {
  width: 350px;
  height: 337px;
  text-align: center;
}

input {
  margin: 5px;
  height: 35px;
  width: 60%;
}

.forgot {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

button {
  margin-top: 10px;
  height: 35px;
  width: 60%;
  border: none;
  border-radius: 5px;
  background-color: #405de6;
  color: white;
}

.join > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 350px;
  height: 65px;
  border: 0.5px solid var(--line-color);
  background-color: #ffff;
}

p {
  margin-right: 5px;
}

a {
  color: #405de6;
  text-decoration: none;
}
