* {
    box-sizing: border-box;
}

.outerBox {
    width : 350px;
    height : 374px;
    display :flex;
    flex-direction: column;
    align-items: center;
    border : 1px solid #DBDBDB;
    border-radius: 2px;
}

.titleBox {
    font-family: 'Dokdo', cursive;
    font-size : 44px;
    font-weight : 550;
    margin : 17px;
}

.inputBox {
    width :268px;
    height : 85px;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

.inputBox input {
    width : 100%;
    height :37px;
    padding-left: 7px;
    border: 1px solid #DBDBDB;
    border-radius : 4px;
    font-size: 12px;
    background-color: #FAFAFA
}

.buttonBox {
    margin-top: 10px;
}


button {
    width: 268px;
    height: 32px;
    border: 1px solid white;
    border-radius : 5px;
    background-color: #C0DFFD;
    color: white;
    font-weight : 700;
}

.forgetBox {
    margin-top: 90px;
    font-size: 12px;
    color: #01376A;
}

#btn:hover {
    cursor: pointer;
}