body {
    margin: 0;
    padding: 0;
}

.nav{
    border-bottom : rgb(187, 187, 187) 0.5px solid;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width:100%;
    background-color: white;
    z-index:1;
}

.navLeft{
    display: flex;
    align-items: center;
}

.navCenter{
    
    border: none;
}

.navRight{
    width:250px;
    display:flex;
}


.logoimg{
    height:30px;
}

.logoRightBar{
    font-size: 30px;
    margin-left:10px;
    margin-right:10px;
}

.logoText{
    font-size:30px;
    font-family: 'Satisfy', cursive;
}


.navInput{
    width:200px;
    height:40px;
    border:gray 0.5px solid;
    border-radius: 4px;
    background-color: ghostwhite;
    padding-left : 100px;
    font-size: 20px;
}

.compass{
    height:30px;
    margin-right:20px;
}

.heart{
    height:30px;
    margin-right:20px;
}

.person{
    height:30px;
}

.maincontainer{
    padding-top:60px;
    background-color: rgba(243, 243, 243, 0.968);
    display:flex;
    justify-content: center;
}

.maincontainer2{
    width:860px;
    display:flex;
    justify-content: space-around;
}

.mainRight{
    width:347px;
    height:500px;
}

.feed{
    width:470px;
    border:rgb(212, 212, 212) 1px solid;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 8px;
    background-color: white;
}

.articleArea1{
    height:56px;
    display: flex;
    align-items: center;
    position:relative;
}

.articleArea2{
    height:470px;
    
}


.articleArea3{
    height:46px;
    display:flex;
    justify-content: center;
}


.articleArea4{
    height:25px;
}


.articleArea5{
    padding-left: 10px;
    padding-top:10px;
}

.articleArea6{
    height:25px;
    padding-left:10px;
    
}


.articleArea7{
    height:50px;
    border-top:rgb(208, 208, 208) 1px solid;
    display: flex;
    justify-content: space-between;
}

.profile{
    width:37px;
    height:37px;
    margin-left:10px;
    margin-right:10px;
}

.feedid{
    text-decoration: none;
    font-size:16px;
    font-weight: 700;
}

.feedid:visited {
    color:black; }

.dot3{
    width:20px;
    position:absolute;
    right:15px;
}

.cat{
    width:470px;
    height:470px;
}

.iconcontainer{
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedicon{
    height:25px;
}

.saveicon{
    height:25px;
}

.likement{
    height:23px;
    margin-left:5px;
}

.postingtime{
    font-size:13px;
    color:gray;
    padding-bottom:7px;
}

.commentinput{
    padding-left: 10px;
    width: 400px;
    font-size:17px;
    border:none;
}

.commentinput:focus{
   outline:none;
}


.commentbutton{
    margin-right: 13px;
    color:#0095F6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border:none;
    font-weight: 700;
    font-size:15px;
    cursor: pointer;

}

.commentbutton:disabled {
    color:rgb(178, 218, 236);
    cursor:default;
  }






  .mainRight{
    margin-top:35px;
  }

  .info{
    height:56px;
    display:flex;
    align-items: center;
  }

  .rightProfile{
    width:56px;
    margin-right:20px;
  }

  .rightinfo1{
    font-weight: 800;
  }

  .rifgrinfo2{
    color:#8E8E8E;
  }

  .story{
    margin-top:15px;
    background-color: white;
    border:rgb(218, 218, 218) 1px solid;
    height:213px;
    border-radius: 7px;
  }

  .storyTitle2{
    width:340px;
    display:flex;
    justify-content: center;
}


.storyTitle{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin-top:15px;
    margin-left:15px;
  }

  .storyTitleLeft{
    color:#8E8E8E;
    margin-bottom:7px;
  }


  .storylistimg{
    width:190px;
    margin-left:14px
  }

  .recommend{
    margin-top:15px;
    background-color: white;
    border:rgb(218, 218, 218) 1px solid;
    height:213px;
    border-radius: 7px;
  }

  .recomtitle{

    width:340px;
    display:flex;
    justify-content: center;
  }


.recomtitle2{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin-top:15px;
    margin-left:15px;
  }


  .recomtitleLeft{
    color:#8E8E8E;
    margin-bottom:7px;
  }

  .recomlistimg{
    margin-left:17px;
    width:300px;
  }


  .comheart {
    width:20px;
    position:absolute;
    right:50px;
  }

  .xxx{
    width:20px;
    position:absolute;
    right:20px;
  }

  #commentbox{
    position:relative;
  }


  .settingboximg{
    display:absolute;
    position:fixed;
    width:230px;
    right:15%;
    top:50px;
    z-index: 1;
    border:rgb(201, 201, 201) 1px solid;
    border-radius: 8px;
    display: none;
  }

  @media screen and (max-width: 900px) {
    .mainRight {
      display: none;
    }
  } 
      