* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* 헤더 */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border: 1px solid rgb(219, 219, 219);
  line-height: 70px;
  position: relative;
}

header #search input {
  width: 400px;
  height: 30px;
  padding-left: 20px;
  border: 1px solid rgb(219, 219, 219);
}

header .navBox {
  background-color: white;
  position: relative;
}

header .navBox .navId {
  width: 400px;
  height: 30px;
  position: absolute;

  top: 60px;
  background-color: white;
  border: 1px solid black;
}

header .navbox .navId li {
  width: 300px;
  padding-left: 20px;
  line-height: 40px;
  border: 1px solid black;
  height: 40px;
}

header #leftHead {
  display: flex;
  flex-direction: row;
}

header .logoImg {
  padding-right: 15px;
  width: 30px;
  margin-top: 30px;
}
header .markImg {
  margin-top: 30px;
  width: 120px;
}
header #rightHead {
  display: flex;
  align-items: center;
  flex-direction: row;
}

header #rightHead li {
  margin-right: 15px;
}
header #rightHead li img {
  width: 30px;
  margin-top: 30px;
}

.rightHead li img {
  height: 10px;
  width: 20px;
}
/* 메인 */

#main {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #fafafa;
}

#feeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#article {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

#article div {
  background-color: white;
}

/* feed */

.info {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 30px;
  margin-right: 15px;
}

.more img {
  width: 25px;
}

.img {
  background-image: url(./img/IMG_8575.JPG);
  background-size: cover;
  width: 660px;
  height: 800px;
}

.likes {
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.likes ul {
  display: flex;
}

.likes ul li:nth-child(4) {
  margin-left: 500px;
}

.likesPeople {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.likesPeople img {
  width: 20px;
  margin-right: 7px;
}
.likes ul li button {
  background-color: white;
  border: none;
}

.likes ul li button img {
  width: 25px;
  margin-right: 10px;
}

.comentBox {
  margin-left: 15px;
}

.comentsList {
  position: relative;
  display: flex;
  flex-direction: column;
}
.comentsList li {
  display: flex;
}

.comentsList .imgBox {
  position: absolute;
  right: 20px;
  display: flex;
}

.comentsList li span {
  margin-right: 10px;
}
.comentsList li img {
  width: 10px;
  margin-right: 5px;
}

.comentsList li img .fst {
  width: 10px;
  margin-right: 10px;
}

.comentsList img.red {
  background-image: url(./img/redheart.png);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;

  background-color: red;
}

.comentsList button {
  width: 10px;
  height: 10px;
  border: none;
  background-color: white;
  background-image: url(./img/delete.png);
  background-repeat: no-repeat;
}

.comen .feedTime {
  font-size: 13px;
}

.plzComents {
  display: flex;
  justify-content: space-around;
  height: 40px;
}

.plzComents input {
  width: 580px;
  border: 1px solid rgb(219, 219, 219);
  border-right: none;
  padding: 15px;
}

.comentBtn {
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-left: none;
  width: 80px;
  height: 40px;
  cursor: pointer;
  color: rgba(96, 96, 240, 0.495);
}

.uploadComents:hover {
  color: gray;
}
.uploadComents:active {
  background-color: aliceblue;
}

/* main right */
#mainRight {
  position: fixed;
  right: 30px;
  margin: 50px 0 0 10px;
  width: 20vw;
  height: 80vh;
}

#myInfo {
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
}
#myInfo img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#story {
  margin-top: 20px;
  height: 250px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  overflow: scroll;
  background-color: white;
}
#story::-webkit-scrollbar {
  display: none;
}

#story .storyHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.storyHead div:nth-child(1) {
  color: rgb(219, 219, 219);
}

.storyPeople {
  height: 50px;
  display: flex;
  align-items: center;
}
.storyPeople img {
  height: 40px;
  margin-right: 10px;
}

#morePeople {
  position: relative;
  margin-top: 20px;
  height: 220px;
  border: 1px solid rgb(219, 219, 219);
  padding: 12px;
  background-color: white;
}

.morePhead {
  display: flex;
  justify-content: space-between;
}

.mPeopleList {
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.mPeopleList img {
  margin-right: 10px;
}

.mPeopleList button {
  position: absolute;
  right: 10px;
  width: 50px;
  background-color: white;
  border: none;
  color: blue;
}

.comentsList div {
  width: 10px;
  height: 10px;
  background-image: url(./img/heart.png);
}
