* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 600px;
  background-color: #fafafa;
  margin: 0 auto;
}

.wrappingInstaPage {
  width: 1200px;
  margin: 0, auto;
}
