/* instagram h1 font */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:  #fafafa;
}

.catstaLogo1 {
    font-family: 'Style Script', cursive;
    font-size: 38pt;
}

.catstaLogo2 {
    font-family: 'Style Script', cursive;
    font-weight: lighter;
    display: inline-block;
}