body {
    display: flex;
    justify-content: center;
}

.loginBox {
    position: relative;
    top: 250px;
    width: 348px;
    height: 368px;
    margin:0 auto;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: white;
}

#idInput, #pwInput {
    width: 268px;
    height: 38px;
    border: 1px solid ;
    margin-bottom: 6px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
}

#idInput, #pwInput:focus {
    outline: none;
}

::placeholder {
    font-size: 10pt;
}

.loginGo {
    width: 268px;
    height: 38px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 8px;
    color: white;
    background-color: #b9def7;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.pwForgot {
    display: inline-block;
    position: relative;
    top: 50px;
    margin-top: 12px;
    color: #00376b;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: none;
    cursor: pointer;
}
