.loginsection {
  border: 1px solid #DBDBDB;
  width: 348px;
  height: 377.992px;
  box-sizing: border-box;
  margin: auto;
}

.logo {
  font-family: Lobster, sans-serif;
  font-size: 50px;
  text-align: center;
}

.inputsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#id,
#pw,
.enterbutton {
  box-sizing: border-box;
  width: 250px;
  border-radius: 3px;
}

#id,
#pw {
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  height: 42px;
  padding-left: 12px;
}

#pw {
  margin-top: 5px;
  margin-bottom: 10px;
}

.enterbutton {
  height: 30px;
  background: #C4E1FB;
  color: white;
  border: none;
}

.lostpw {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.lostpwtxt {
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  color: #2B537F;
}