* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #ebebeb;
}

.container h1 {
    padding: 30px 0 40px 0;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.logininput {
    justify-content: space-around;
    margin:3px;
    padding: 10px;
    width: 80%;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.button {
    width: 80%;
    padding: 6px;
    margin:15px 0 100px 0;
    border-radius: 5px;
    border: 0;
    color: #fafcfe;
    font-weight: bold;
    font-size: 15px;
    background-color: #c4e1fb;
}

.container span {
    margin: 50px 0 20px 0;
    color: #55789a;
    font-size: 13px;
}

