* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.westagram {
  font-family: "Lobster", cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none; /* 스크롤바 보이지 않게 */
}
