body {
  background-color: #fafafa;
}

.totalWrap {
  width: 550px;
  height: 600px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 중앙으로 배열하는 다른 방법
     1. display: grid;
        place-items: center;
     
     2. position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) ➡️ 이렇게 하면 완전히 중앙으로! */
  position: relative;
  background-color: white;
  border: 2.5px solid #f2f2f2;
  border-radius: 3px;
}

.westagram {
  font-size: 75px;
  font-weight: 500;
  margin: 60px;
}

.id,
.password {
  width: 400px;
  height: 55px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 17px;
  background-color: #fafafa;
  border: 1.5px solid #efefef;
  border-radius: 4px;
}

input::placeholder {
  color: #b4b4b4;
  font-weight: 500;
}

.loginButton {
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  height: 48px;
  margin-top: 10px;
  background-color: #c4e1fb;
  border: none;
  border-radius: 7px;
}

.forgetText {
  position: absolute;
  bottom: 30px;
  color: #426990;
  font-size: 18px;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
