body {
    background: #fafafa;
}

h1 {
    font-family: 'Lobster', cursive;   
}

section {
    width: 100%;
    max-width: 935px;
    padding-bottom: 32px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #fafafa;                                                                                                                                                                                                                                                                                                                                   ;
}

section .loginWrapper {
    min-width: 350px;
    padding-bottom: 20px;
    background: #fff;
    border: 1px solid #dbdbdb;
}


section .loginWrapper h1 {
    width: 175px;
    height: 51px;
    margin: 22px auto 12px;
    font-size: 38px;
}

section .loginWrapper form {
    margin: 24px 40px;
}

section .loginWrapper form .inputWrap input {
    width: 100%;
    height: 36px;
    padding: 9px 0 7px 10px;
    margin-bottom: 6px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    outline: none;
}

section .loginWrapper form .inputWrap input::placeholder {
    color: #9d9d9d;
    font-size: 13px;
}


section .loginWrapper form .button {
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 10px 0 0 0;
    border: none;
    background: #0095f6;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
}

section .loginWrapper form .button:disabled {
    background: #c4e1fb;
}

section .loginWrapper .findWrapper {
    padding-top: 50px;
    text-align: center;
}

section .loginWrapper .findWrapper a {
    color: #335b85;
}

