@charset "utf-8";

*{box-sizing: border-box;}
#wrap {width: 100%; height: 100vh; background-color: #f0f0f0;}

.topcon {position: relative; top: 50px; left: 0; margin: 0 auto; width: 360px; height:470px; border: 1px solid #ddd; background-color: #fff;}
.insta {width: 100%; margin-top: 50px;}
.logo {font-family: 'Lobster', cursive; font-size: 46px; text-align: center;}

.login {margin: 40px 40px 30px;}
.userId, .userpw {display:block; width:280px; height: 40px; border:1px solid #ddd; border-radius: 3px; margin-top: 10px; padding:10px; font-size: 12px; background-color: #f8f8f8;}
.btn {display:block; width: 280px; height: 36px; border:1px solid #fff; background-color: rgba(3, 136, 252, 0.3); border-radius: 5px; margin-top: 15px; color: #fff;}
.on {background-color:#0388fc ;}

.box {text-align: center;}
.line {display: flex; flex-basis: 100%; align-items: center; color:#686868; font-size: 14px; margin: 15px 18px;}
.line::before, .line::after {content: ""; flex-grow: 1; height: 1px; background-color: #ddd; line-height: 0px; margin: 0px 15px;}

.facebook{margin-top: 30px;}
.facebook p {height: 40px;}
.facebook p:nth-child(1) {color: #385185; font-weight: 500;}
.facebook p:nth-child(1) a {display: block;}
.facebook p:nth-child(1) a span {font-weight: 800;}
.facebook p:nth-child(2) {font-size: 13px;}
.facebook p:nth-child(2) a {display: block;}

.bttomcon {position: relative; top:60px; left: 0; margin: 0 auto; width: 360px; height:60px; border: 1px solid #ddd; background-color: #fff;}
.bttomcon p {width:100%; text-align: center; line-height: 60px; font-size: 14px;}
.bttomcon p a {color:#0095f6; font-weight: 700; display: inline-block; padding: 0 5px;}
