#loginpage{
    width : 100vw;
    height : 80vh;
    display : flex;
    justify-content: center;
    align-items: center;
}
#advertise{
    width : 380px;
    height : 580px;
    background-image: url(./img/advertise.png);
    background-size: cover;
    margin-right : 20px;
}
#loginbox form{
    display : flex;
    flex-direction: column;
    align-items: center;
}
#loginbox form input{
    margin-bottom : 10px;
}
#loginbox{
    width : 350px;
    height : 396px;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    background-color: white;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items : center;
    margin-bottom: 13px;
}
#loginbox h1{
    font-family: 'Lobster', cursive;
}

.inputbox{
    width : 258px;
    height : 36px;
    background: rgba(var(--b3f,250,250,250),1);
    padding : 9px 0px 7px 8px;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
}

.loginbtn{
    width : 268px;
    height : 36px;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color : white;
    background-color:  #BBE0FC;
}
.loginbtnallow{
    background-color:  #0095F6;
}
#signInBox{
    width : 350px;
    height : 63px;
    background-color: white;
    border-radius: 1px;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 13px;
}
#downloadBox{
    width :350px;
    height: 102px;
    display : flex;
    flex-direction: column;
    align-items: center;
}
#downloadBtn{
    display: flex;
    
}
.downloadbox{
    width : 136px;
    height : 40px;
    border-radius: 3px;
    display : flex;
}
