* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    font-family: 'Lobster', cursive;
  }

.mainpage{
    position: relative;
}
  
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    background-color: rgba(45,45,45,0.95);
  }

header h1 {
    font-size: 50px;
    /* width: 200px; */
    background-color: blue;
}

img {
    position: absolute;
    left: 50%;
    /* margin-left: -10px; */
  }


