/* Uiversal tags*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* blind 처리 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.guide-list > a:after,
.guide-list > a::after {
  content: "•";
}

.guide-list > a:after:last-child,
.guide-list > a::afte:last-child {
  content: " ";
}

/* input:focus {
  outline: none;
} */

nav {
  background-color: pink;
}

.mainRightRecommand {
  background-color: coral;
}
.mainRightRecommand > b {
  /* padding-left: 10px; */
  padding-left: 1000px;
}
