.container {
  text-align: center;
  margin: auto;
  width: 700px;
  height: 750px;
  transform: translateY(25%);
  border: 2px solid gray;
  /* background-color: yellowgreen; */
}

.logoSection {
  text-align: center;
  height: 230px;
  width: auto;
  /* top: 40px; */
  display: inline-block;

  /* background-color: violet; */
}

.westagramLogo {
  font-family: "Lobster", cursive;
  text-align: center;
  line-height: 200px;
  /* font-weight: 50px; */
  font-size: 90px;
  font-weight: lighter;
  /* background-color: blue; */
}

input {
  color: rgb(206, 206, 206);
  height: 80px;
  width: 535px;
  margin-bottom: 10px;
  padding-left: 25px;
  background-color: hsla(0, 0%, 96%, 0.8);
  /* border: 1px solid gray; */
  border: 2px solid;
  border-radius: 8px;
  border-color: rgba(172, 172, 172, 0.8);
  font-size: 25px;
}

#logIn {
  width: 535px;
  height: 60px;
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0 190px 0;
  color: white;
  background-color: #c4e1fb;
  border-radius: 6px;
  border-style: none;
  /* border: white; */
}

.forgetId > a {
  text-decoration: none;
  font-size: 25px;
  color: #1b4776;
}
