* {
  box-sizing: border-box;
  background-color: #fafafa;
  }

.logoContainer {
  margin: 0 0 50px 0;
}

.westagramLogo {
  color: #262626;
  font-weight: lighter;
  background-color: white;
  font-family: 'Lobster', cursive;
}


.contentsWrap{
  width: 350px;
  height: 450px;
  margin: 100px auto;
  padding: 10px 0;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
}

input {
  display: block;
  width: 268px;
  height: 36px;
  margin: 10px auto;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding-left: 14px;
  font-size: 14px;
}

form {
  background-color: white;
}

.loginSubmitBtn {
  display: block;
  width: 268px;
  height: 36px;
  margin: 20px auto;
  background-color: #5a86cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}


.pwForget{
  margin: 130px auto 22px;
  background-color: white;
  color: #00376b;
  font-size: 12px;
  text-align: center;
}
