@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 490px;
  width: 350px;
  background-color: white;
  border: 1px solid gray;
}

.logo {
  font-size: 50px;
  font-family: "Lobster", cursive;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.inputUserInfo {
  width: 266px;
  height: 36px;
  margin-bottom: 12px;
  background-color: #fafafa;
  border: 1px solid gray;
  border-radius: 4px;
}

.loginBtn {
  width: 266px;
  height: 36px;
  margin-top: 10px;
  color: white;
  background-color: #b2dffc;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.loginBtn:hover {
  cursor: pointer;
}

.forgotPassword {
  margin-top: 20px;
  font-size: 12px;
  text-decoration-line: none;
  color: #0095f6;
}
