* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lobster';
  src: url('/로그인페이지/font/Lobster/Lobster-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #F5F8FA;
}

.menu-bar-wrap, .feeds-contents-wrap, .main-right-top, .main-right-bottom {
  background-color: white;
}

.menu-bar-wrap {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding: 10px;
  
}

.logo-box {
  position: relative;
}

.logo {
  font-family: 'Lobster';
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: 30px;
  margin: 0px 0px 0px 40px;
  border-left: 2px solid gray;
}

.fa-instagram{
  position: absolute;
  top: 5px;
  left: 10px;
}

.search-box{
  position: relative;
}

.fa-magnifying-glass{
  /* width: 15px;
  height: 15px; */
  font-size: 10px;
  color: gray;
  position: absolute;
  top: 10px;
  left: 71px;
}

.search-input {
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.inner-menu {
  position: relative;

  width: 100px;
  height: 30px;

  display: flex;
  justify-content: space-around;
}

.inner-menu img {
  width: 20px;
  height: 20px;

  margin: auto;
}

.main{
  /* width: 50vw;
  height: 50vh;
  background-color: rgb(98%, 98%, 98%); */
  display: flex;
  justify-content: center;
}

.feeds {
  display: flex;
  justify-content: space-between;
}

.feeds-contents-wrap{
  border: 1px solid gray;
  border-radius: 5px;
  width: 500px;
  height: auto;
  margin: 40px 10px 0 0;
}

.dot{  margin: 5px 10px;
}

.feeds-top {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: flex-start;

  padding-top: 3px;
  /* margin: 10px auto 10px 10px; */
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  margin: 5px;
}

.user-name {
  width: 150px;
  height: 18px;
  font-size: 13px;
  margin: auto auto auto 5px;
}

.user-using-time {
  width: 150px;
  height: 18px;
  font-size: 13px;
  color: gray;
  margin: 0 5px;
}

.main-right-profile .user-img {
  margin: 5px;
}
.main-right-profile .user-name, .profile .user-name {
  margin: auto auto auto 5px;
}


.feeds-contents {
  width: 100%;
  height: 480px;
  margin: 5px auto;
}

.contents-btn button{
  border: none;
  background-color: rgba(1, 1, 1, 0);
}

.contents-btn button i {
  font-size: 20px;
  margin: 5px;
}

.contents-btn {
  display: flex;
  justify-content: space-between;
}

.contents-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main-right {
  width: 250px;
  height: 550px;

  margin: 40px 0 0 10px;
}

.main-right-profile{
  /* border: 1px solid gray;
  border-radius: 5px; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 5px 0;
}

.profile{
  width: 100%;
  height:40px;
  margin: 7px auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.profile .user-img {
  margin: 5px;
}

.pro-user-mini-wrap {
  width: 130px;
  position: relative;
}

.pro-user-mini-wrap .user-name, .pro-user-mini-wrap .user-using-time {
  width: 100%;
}

.text-color-gray{
  color: gray;
}

.text-color-blue{
  color:rgb(9, 104, 218);
  font-size: 13px;
  margin: 0;
  position: absolute;
  right: 11px;
  top: 10px;
}

.main-right-top{
  border: 1px solid gray;
  border-radius: 5px;

  width: 100%;
  height: 215px;
  margin: 5px 0;
  padding: 10px;

  overflow: hidden;
}

.main-right-top-menu{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 10px;
}

.main-right-bottom{
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  height: 180px;
  margin: 5px 0;
  padding: 10px;
  overflow: hidden;
}

.main-right-bottom-menu{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 10px;
}

.main-right-footer{
  /* border: 1px solid gray; */
  width: 100%;
  height: 100px;
  margin: 5px 0;
}

.main-right-footer P{
  color: gray;
  font-size: 13px;
}

.like-count-box {
  display: flex;
  justify-content: start;
  margin: 10px 0;
}

.like-count{
  font-size: 15px;
  margin: 0 10px;
  padding-top: 6px;
}
.user-img-small {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  margin-left: 10px;
}

.comment-ul {
  width: 100%;
  height: auto;
  padding-left: 80px;
  margin: 0;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.write-comment-box {
  position: relative;
  /* border-bottom: 1px solid gray; */
}

#upload-btn {
  position: absolute;
  width: 10%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: rgba(9, 104, 218, .3);
  background-color: white;
  font-size: 13px;
}
#upload-btn:hover {
  color: rgba(9, 104, 218, 1);
}

.input-text {
  width: 90%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.input-text::placeholder{
  font-size: 13px;
}

.comment-ul li {
  list-style-type: none;
  font-size: 13px;
  margin: 5px 0;
}

.comment-ul li span{
  position: absolute;
  left: 10px;
  font-weight: bold;
}

.comment-ul li i {
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.remove-button {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-left: 10px;

  font-size: 10px;
  color: gray;

  background-color: rgb(1, 1, 1, 0);
  border: none;
}

.remove-button:hover {
  color: red;
  font-size: 15px;
}