.main-container {
  display: flex;
  justify-content: center;
}
.main-right-box {
  width: 580px;
  height: 865px;
  border: 1px solid var(--gray);
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
}
.main-right-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 579px;
  height: 54px;
  border-radius: 5px;
}
.main-right-box-id {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.main-right-box-top img {
  width: 34px;
  height: 34px;
  border-radius: 17px;
}
.main-right-box-top span {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}
.main-right-box-top-imo {
  margin-right: 20px;
  font-size: 12px;
}
.main-right-image {
  width: 580px;
  height: 600px;
  border: 1px solid var(--gray);
}
.main-right-image img {
  width: 580px;
  height: 600px;
}
.main-right-box-comment-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-right-box-comment-bar-left {
  font-size: 26px;
  margin-left: 17px;
}
.main-right-box-comment-bar-left i {
  margin-right: 13px;
}
.red-heart {
  color: #EC4956;
}
.main-right-box-comment-bar-center {
  display: flex;
  margin: -10px 110px 0px 0px;
}
.main-right-box-comment-bar-center div {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  margin: 0px 3px 0px 3px;
  background-color: var(--message-gray);
}
.main-right-box-comment-bar-right {
  margin-right: 18px;
  font-size: 26px;
}
.main-right-box-like-bar {
  display: flex;
  align-items: center;
  margin-left: 13px;
}
.main-right-box-like-bar img {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid black;
  margin-right: 10px;
}
.bold {
  font-weight: 500;
}
.main-right-box-posting-bar {
  width: 580px;
  height: 70px;
  margin-top: 10px;
  margin-left: 15px;
}
.my-id {
  font-weight: 550;
  margin-right: 5px;
}
.letter {
  font-size: 15px;
}
.time {
  font-size: 11px;
  color: var(--message-gray);
  margin: 12px 0px 0px 0px;
}
.comment-input-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 23px;
  width: 580px;
  height: 30px;
  border-top: 1px solid var(--gray);
}
.smile-message {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.smile-message i {
  font-size: 22px;
}
.smile-message input {
  width: 400px;
  height: 30px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
 color: gray;
}
.posting {
  margin-right: 20px;
}
.posting span {
  font-size: 15px;
  font-weight: 500;
  color: var(--inaction);
}