.main-left-box {
  display: flex;
  width: 350px;
  height: 400px;
  margin-left: 40px;
  flex-direction: column;
  margin-top: 70px;
}
.main-left-box-myAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.id-and-nickname {
  display: flex;
}
.main-left-box-myAccount img{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.id-and-nickname {
  margin-left: 10px;
}
.id {
  margin: 17px 0px 0px 20px;
  font-weight: 550;
}
.nickname {
  margin: 43px 0px 0px -78px;
  font-size: 14px;
  color: var(--message-gray);
}
.changing-account {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 550;
  color: var(--blue);
}
.recommendation {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0 10px;
}
.recommendation-message {
  font-size: 15px;
  font-weight: 600;
  color: var(--message-gray);
}
.more {
  font-size: 14px;
}
.recommendation-list {
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 20px;
}
.recommendation-list-compact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.recommendation-list-compact img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--gray);
}
.recommendation-id-and-nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recommendation-id-one {
  margin-right: 110px;
  font-size: 13px;
  font-weight: 600;
}
.recommendation-id-two {
  margin-right: 156px;
  font-size: 13px;
  font-weight: 600;
}
.recommendation-id-three {
  margin-right: 158px;
  font-size: 13px;
  font-weight: 600;
}
.recommendation-id-four {
  margin-right: 158px;
  font-size: 13px;
  font-weight: 600;
}
.recommendation-id-five {
  margin-right: 158px;
  font-size: 13px;
  font-weight: 600;
}
.recommendation-id-message {
  margin-top: 4px;
  font-size: 13px;
  color: var(--message-gray);
}
.follow-id {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 550;
  color: var(--blue);
}
.main-left-bottom-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 380px;
}
.first-line {
  display: flex;
  font-size: 12px;
  color: rgb(179, 177, 177);
}
.first-line div {
  margin-right: 10px;
}
.second-line {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  color: rgb(179, 177, 177);
}
.second-line div {
  margin-right: 10px;
}
.westagram-co {
  margin-top: 30px;
  font-size: 12px;
  color: rgb(179, 177, 177);
}