.body {
  justify-content: center;
  align-items: center;
  display: flex;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-top: 20px;
}

.container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  margin: 20% auto;
}

.loginone {
  position: relative;
  width: 350px;
  height: 370px;
  background-color: #fff;
  margin: 10px auto;
  padding: 0 10px;
  border: 1px solid #e6e6e6;
}

.loginone h2 {
  text-align: center;
}

.inputbox {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.id,
.password {
  height: 18px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.btn {
  height: 40px;
  background-color: #c4e0fc;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.loginone p {
  position: absolute;
  bottom: 13px;
  left: 26%;
}

.loginone a {
  text-decoration: none;
  color: #2a5682;
}
