* {
  box-sizing: border-box;
  margin: 0;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: 1px solid black;
  background-color: beige;
}

.logoone {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#main {
  width: 700px;
  height: 800px;
  background-color: #e6e6e6;
}

.logoEng {
  margin-left: 20px;
  font-size: 40px;
  font-family: "Lobster", cursive;
}

.navBox {
  height: 40px;
  margin-top: 5px;
}

.navIcon {
  width: 40px;
  height: 40px;
}
.sky {
  width: 350px;
  height: 350px;
  justify-content: center;
}

.feed_Icon {
  width: 500px;
  height: 100px;
  background-color: ghostwhite;
}
