@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 550px;
    height: 600px;
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -150px;
    margin-left: -150px;
    border: 1px solid gray;
    padding: 15px;
    border-color:#E6E6E6;

}
.logo{
    margin-top: 35px;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}
.login_id{
    margin-top: 70px;
    width: 380px;
    height: 50px;
    padding: 10px;
}

.login_password{
    width: 380px;
    height: 50px;
    margin: 10px;
    padding: 10px;
}
.button_login{
    width: 380px;
    height: 40px;
    margin: 10px;
    background-color: #C5E1FB;
    color:white;
    border-style: none;
    border-radius: 5px;
}

.forget_password{
    position : absolute;
    bottom : 5%;
    color: #6A87A6;
}