.main-div{
  border: 0.03em solid lightgray;
  width: 60%;
  height:100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.title {
  height:20%;
  width:100%;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 100%;
  margin-top: 13px;
}

.personalInfo{
  position:absolute;
  margin-top: 48px;
  ;
}
input{
  background-color: #FAFAFA; 
  border: 0.03em solid grey;
  border-radius: 1px;
  font-size: 4px;
  width: 70%;
  height: 10%;
  padding: 5px;
  margin: 0;  
}

.login{
  text-align: center;
  border: 0.03em solid grey;
  background-color: #C4E1FB;
  font-size: 4px;
  border-radius: 1px;
  color: white;
}

.reminder{
  position: absolute;
  bottom: 8px;
  font-size: 5px;
  color: #003568;
}

body{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}