* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  border-bottom: 0.1px solid lightgray;
}

.nav-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.nav-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box{
  width: 55px;
}

.nav-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.icon-two{
  margin-left: 4px;
}

.icon-three{
  margin-left: 4px;
}

.instalogo {
  height: 6px;
}

.search-box {
  height: 7px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 2px;
  font-size: 3px;
  text-align: center;
  position: relative;
}

.searchlogo{
  position: absolute;
  left: 0;
  margin-left: 131px;
  height: 2.4%;
  width: 1.5%;
  z-index: 3;
}

.icon {
  height: 5px;
}

main {
  min-height: 100%;
  padding-left:
  padding-right:
}
/* 
.feeds{

}

.article{

}

.main-right{
  
}

.profile{
} */