/* public */
body {
  font-family: 'Lobster', cursive;
  background-color: #FAFAFA;
}

main {
  position: relative;

  width: 450px;
  height: 500px;
  margin: 200px auto;

  border: 2px solid #E6E6E6;
  border-radius: 1px;

  text-align: center;

  background-color: #FFFFFF;
}

/* logo */
main #logoDiv {
  margin: 50px;
}

main .coNameDiv {
  font-size: 50px;
}

/* form */
main form {
  width: 80%;

  margin: 0 auto;
}

main form input {
  width: 100%;

  margin: 3px;
  padding: 15px 10px;

  border: 2px solid #EFEFEF;
  border-radius: 5px;

  background-color: #FAFAFA;
  color: #999999;
}

main form #loginButton {
  width: 100%;

  margin: 3px;
  margin-top: 15px;
  padding: 10px;

  border: none;
  border-radius: 5px;

  background-color: #C4E1FB;
  color: white;
}

/* forgotPw */
main #forgotPw {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  margin: 0 auto;

  color: #003569;
}