body {
    display: flex;
    align-items: center;
    height: 100vh;
}

input {
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 16px;
}

.wrapper {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin: auto;
    padding: 56px 44px 16px;
    width: 350px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.westa-logo {
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: -48px;
}

#id {
    margin-bottom: 8px;
}

#pw {
    margin-bottom: 16px;
}

.login-btn {
    width: 100%;
    height: 36px;
    color: #FAFAFA;
    background-color: #0586FA;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.forgot-pw {
    color: #043667;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}