

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: "Roboto", sans-serif;

}
`
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;  
}*/

.login{
    width: 600px;
    height: 800px;
    border: 1px solid #DCDCDC;
    margin: 50px auto;
}

.title{
    text-align: center;
    margin-top : 30px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.loginbox{
    display: flex ; 
    flex-direction: column;
    
    top: 20%;
    
    
    
    width: 400px;
    height: 200px;   
}
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginbox input{
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #DCDCDC
}
/* .loginSection{
    display: block;
    border: 1px solid red;
    height: 800px;
} */

.loginbox button{
    background-color: #57a3d9;
    border-radius: 5px;
    height: 40px;
    border: none;
    

}
.font{
    text-align: center;
    display: block;
    top: 50px;
    margin-top: +350px;
    color: #DCDCDC;


}