/* nav */
.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 22px;
  cursor: pointer;
}

.profileImg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/*? 이렇게 클래스로 따로 주는게 더 좋은가 */
.focus {
  background-color: #000;
}

/* profile image medium size */

/* profile image large size */
.profileWrapper.large {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #f58529 20%, #c42d91);
  margin: 0;
  margin-bottom: 8px;
}

.profileImg.large {
  width: 66px;
  height: 66px;
}

/* profile image medium size */
.profileWrapper.medium {
  width: 36px;
  height: 36px;
  background-image: linear-gradient(to bottom right, #f58529 20%, #c42d91);
  margin: 0;
}

.profileImg.medium {
  width: 32px;
  height: 32px;
}
