* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.login_form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border:1px solid #EDEDED;
    background-color: white;
    text-align: center;
    padding: 40px 40px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 50px;
}

form input {
    display: block;
    width: 100%;
    border:1px solid #EDEDED;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 5px;
    background-color: #FAFAFA;
}

form button {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* background-color: #0095F6; */
    background-color: rgba(0, 147, 245,0.5);
    border: none;
    border-radius: 5px;
}

form button.active{
    background-color: rgba(0, 147, 245);
}

.and {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 15px 0;
}

.and span {
    font-size: 13px;
}

.and hr {
    width: 100px;
}

.and hr:first-child {
    margin-left: 0;
}

.and hr:last-child {
    margin-right: 0;
}

.login_container p{
    color: rgba(0,55,107);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
}

.facebook_login a {
    font-weight: bold;
    color: #385185;
}

