@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  text-align: center;
  font-family: "Lobster", cursive;
}
#instaWrap {
  width: 500px;
  margin: 0 auto;
  padding: 50px 80px;
}
.userButton {
  margin-top: 50px;
}

.userButton input {
  padding: 20px 0;
}
.userButton button {
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #27c4f5;
  opacity: 0.5;
  color: #fff;
  font-weight: 500;
}
.lostPwText {
  text-align: center;
  margin-top: 50px;
}
.lostPwText a {
  display: inline-block;
  color: #000;
}
