@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  text-align: center;
  font-family: "Lobster", cursive;
}
.insta_gnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.insta_logo {
  display: flex;
  justify-content: left;
}
.nav_leftSide {
  width: 30px;
  margin-right: 20px;
}

.inputValue {
  text-align: center;
}

.userProfile {
  display: flex;
  justify-content: center;
}
.userProfile li {
  width: 30px;
  margin-right: 20px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
main .feeds {
  width: 500px;
  border: 1px solid #ddd;
  margin-right: 20px;
}
main .main-right {
  width: 320px;
}

.feeds .feedTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 12px;
}
.feedTopLeft {
  display: flex;
}

.feedTopImg {
  width: 30px;
  margin-right: 20px;
}
.feedTopImg img {
  width: 100%;
  border-radius: 20px;
}
.feedTopUser p {
  line-height: 30px;
}

.feedMore {
  width: 24px;
}

.feedBottom {
  padding: 20px;
}
.feedBottom .BottomImg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.feedBottom .BottomImg:last-child {
  margin-right: 0;
}
.userClickSection {
  display: flex;
  justify-content: space-between;
}
.userClickSection div {
  display: flex;
}

.userProfileLike {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.userWriting {
  display: flex;
  margin-top: 10px;
}
.userWrite p {
  line-height: 30px;
  margin-right: 10px;
}
.followersWrite {
  display: flex;
}

.insta_profileImg {
  width: 30px;
  margin-right: 8px;
}
.insta_profileImg img {
  width: 100%;
  border-radius: 20px;
}
.userComment {
  display: flex;
  margin-top: 40px;
}
.userComment input,
button {
  border: none;
  background: none;
}
.userComment .commentPush {
  width: 90%;
}
.userComment .submitPush {
  width: 10%;
}
.sideUserSection {
  display: flex;
  padding: 8px;
}
.sideUserImg {
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  margin-right: 10px;
}

.storySection {
  border: 1px solid #ddd;
}
.storySection li {
  display: flex;
  padding: 10px 15px;
}
.storySection li:first-child {
  justify-content: space-between;
}

.suggestionSection {
  border: 1px solid #ddd;
  margin-top: 20px;
}
.suggestionSection li {
  display: flex;
  padding: 10px 15px;
}
.suggestionSection li:first-child {
  justify-content: space-between;
}
