* {
  box-sizing: border-box;
}

body,
section,
main,
div,
span,
h1,
h2,
h3,
form,
button,
input,
label,
img,
ul,
ol,
li,
i,
nav,
a,
figure,
p,
em {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: scroll;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

h1,
h2,
h3,
b,
i,
em {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #111;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.ir_pm {
  display: block;
  line-height: 0;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.ir_wa {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.ir_su {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
