nav {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}

#logo {
  display: flex;
  padding-left: 20px;
}

#logo i {
  margin: 5px 5px;
}

#logo h1 {
  padding: 0 10px;
  border-left: 2px solid #000;
  font-family: "Lobster", cursive;
}

i.westgram.icon {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/icon.png) center/cover;
}

nav .search-form {
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: rgba(240, 239, 239, 0.377);
}

nav .search-form div {
  display: flex;
}

#searchInput {
  margin-left: 3px;
  text-align: left;
  color: #8e8e8e;
}

i.icon {
  display: block;
  width: 22px;
  height: 22px;
}

.search-icon.icon {
  width: 15px;
  height: 15px;
  margin: 6px 0 5px 91px;
  line-height: 15px;
  background: url(../img/search.png) center/cover;
}

nav ul.right-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.explore-icon {
  background: url(../img/explore.png) center/cover;
}

.heart-icon {
  background: url(../img/heart.svg) center/cover;
}

.profile-icon {
  background: url(../img/profile.png) center/cover;
}

.wrapper main {
  display: flex;
  justify-content: center;
  background: rgb(250, 250, 250);
}

div.feeds {
  width: calc(100% - 46%);
  height: 80%;
  margin: 30px 50px 0 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #fff;
}

.user-feeds__profile {
  display: flex;
  justify-content: space-between;
  height: 44px;
  margin-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.user-feeds__profile li .user-feeds__profile--me {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;  
  border-radius: 50%;
  line-height: 38px;
  background: url(../img/profile_img.jpg) center/cover;
}

.option-icon {
  margin: 5px 12px 0 0;
  background: url(../img/option.svg) center/cover;
}

.user-feeds__profile--name {
  display: block;
  margin: 0 45px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 700;
}

.feeds-icons {
  display: flex;
}

.feeds-icons li:first-child {
  margin-left: 10px;
}

.feeds-icons li {
  margin-right: 5px;
}

/* feeds right bookmark-icon */
.feeds-icons li:last-child {
  margin-left: auto;
}

.comment-icon {
  background: url(../img/comment.svg) center/cover;
}

.share-icon {
  background: url(../img/share.svg) center/cover;
}

.bookmark-icon {
  background: url(../img/bookmark.svg) center/cover;
}

.feeds-comment li {
  display: flex;
}

.feeds-comment li strong {
  margin-right: 5px;
}

.feeds-comment li strong + em {
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feeds-comment li:first-child {
    margin: 5px 0 -5px 4px;
  line-height: 22px;
  font-size: 12px;
}

.feeds-comment li:nth-child(2) {
  margin: 7px -2px 5px 15px;
  font-size: 12px;
}

.feeds-comment--new {
  margin: -2px 18px 0 16px;
  font-size: 12px;
}

.feeds-comment li:nth-child(2) span,
.feeds-comment--new span {
  margin-left: 5px;
  font-size: 12px;
  font-style: normal;
  color: #959191;
}

.feeds-contentImg figure img {
  width: 100%;
}

.friend-icon {
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  background: url(../img/people.jpg) center/cover;
}

form.add-comment div {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-top: 1px solid #e0e0e0;
  font-size: 12px;
}

form.add-comment div button {
  margin-right: 7px;
  font-size: 12px;
  font-weight: 600;
  color: #b4dffc;
}

#addInput {
  margin-left: 18px;
}

.main-right {
  margin-top: 30px;
}

.main-right__myProfile {
  display: flex;
  margin: 0 8px;
}

.main-right__myProfile__info {
  display: flex;
  flex-direction: column;
  margin: 7px 8px;
}

.main-right__myProfile__info--name {
  font-size: 14px;
  font-weight: 600;
}

.main-right__myProfile__info--place {
  font-size: 12px;
  color: #8e8e8e;
}

.profile-img.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: url(../img/profile_img.jpg) center/cover;
}

.main-right__story,
.main-right__forYou {
  margin: 10px 10px;
  border: 1px solid#dbdbdb;
  border-radius: 5px;
  background: #fff;
}

.main-right__story__title,
.main-right__forYou__title {
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  margin: 5px 10px -5px 10px;
}

.main-right__story__title h2,
.main-right__forYou__title h2 {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

.main-right__story__title h2 + a,
.main-right__forYou__title h2 + a {
  font-size: 14px;
  font-weight: 600;
}

.main-right__story__list li,
.main-right__forYou__list li {
  display: flex;
}

.main-right__story__list li a figure img,
.main-right__forYou__list a figure img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main-right__story__list li a figure,
.main-right__forYou__list li a figure {
  display: flex;
  margin: 5px 17px;
}

.main-right__story__list li figure figcaption strong,
.main-right__forYou__list li figure figcaption strong {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  font-size: 14px;
  color: #000;
}

.main-right__story__list li figure figcaption strong + span,
.main-right__forYou__list li figure figcaption strong + em + span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
}
.main-right__forYou__list li figure figcaption strong + em + span {
  color: #0095f6;
}

.main-right__forYou__list li a figure figcaption strong + em {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}