.nav_container{
    display: flex;
    justify-content: space-between; 
    background-color: white;
}
h2{
    
}
.left{
    margin-left: 20px;
}
i{
    font-size: 1.5rem;
    margin : 1rem;
}
#insta_icon{
    padding-right: 1rem;
    border-right: 1px solid  lightgrey;
    
}
h2{display: inline;
    font-family: 'Lobster Two', cursive;
}
.searching{
    display: flex;
align-items: center;
}
.mainBox1{
    
    border-top: 1px solid  lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Box1section{
    
    border-top: 1px solid  lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Box1{
    margin-left: 250px;
    width :550px;
    margin-top: 20px;
    border: 1px solid  lightgrey;
    background-color: white;
}
.name{
    margin-top: 0%;
    display: flex;
    align-items: center;

}
.name img{
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #efefef;
}
.username{
    margin-left: 10px;
}
.picture{
    width: 550px;
}
.picture img{
    width : 100%;

}
.followingBox{
    display: flex;
    border-top: 1px solid  lightgrey;
    justify-content: space-between;
}
.left{
    overflow: auto;
    
}
.left i{
    margin-left: 1px;
}
.right{
    
    display: flex;
justify-content: end;
}
.commentViewBox{
    padding-left: 20px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 1rem;
    padding-top: 5px;
    border-top: 1px solid  lightgrey
}
.commentBox{
    background-color: white;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.coMment{
    width : 400px ;
    
}
.Box2{
    margin-left: 0px;
    margin-right: 300px;
    width : 300px;
    height : 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightBox{
    background-color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width : 300px;
    height : 40px;
    
}
.rightBox1{
    background-color: white;
    display: border;
    margin: 20px;
    width : 300px;
    height : 140px;
    border: 1px solid  lightgrey;
    
}
.a{ 
    display: flex;
    justify-content:start;
    width : 300px;
    height : 40px;
    
}
.a1{
    display: block;
    align-items: center;
    flex-direction: center;
    justify-content: space-between;
}
.rightBox2{
    background-color: white;
    display: border;
    margin-top: 10px;
    width : 300px;
    height : 2000px;
    border: 1px solid lightgrey;
    
}
.b{
    width : 300px;
    height : 40px;
    
}
.pid{
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
}
.plus{
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
}
.why{
    height: 40px;
}
.why1{
    justify-content: space-between;
}