body{
border-width: 5px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.bigbox{
    position: relative;
    width: 600px;
    height: 700px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
   justify-content: space-between; 
}
.logo{
    font-weight: 100;
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
margin-top:  20px;
}
.login{
margin-top: -80px;
display: flex;
flex-direction: column;
}
.forget{
    
    font-size: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.id{
    color : #9e9e9e;
    width: 500px;
    height: 50px;
    margin-bottom:10px ;
    font-size: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}
.pwd{
    color : #9e9e9e;
    width: 500px;
    height: 50px;
    margin-bottom:20px;
    font-size : 20px;
    background-color: #fafafa;
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}
.btn{width: 507px;
    height: 50px;
    background-color: #90a0af;
    color : #fdfeff;
    align-items: center;
    flex-direction: center;
    font-size : 20px;
    justify-content: center;
    border-radius: 5px;
    border-color: none;
    border-style: none;
}