

.wrap{
 background-color:#FFD9EC; 
 width: 100%;
 min-height: 100vh;
 
}
.box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.wrap .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    background: #FFD9EC;
    margin: 0 auto;
}
   
    /* box-sizing:border-box; */

.wrap .box .inner {
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    width: 350px;
    height: 480px;
    padding: 30px 90px;
    box-sizing: border-box;
    background: #fff;
    border: 1x solid sandybrown;
    margin: 0 auto;
}
.id{
    position: relative;
    top: 30px;
  }
.passWord{
    position: relative;
    top: 30px;
}

.touch{
    position: relative;
    top: 90px;
    width: 150px;
}
#login_button{
    background-color: rgb(178, 229, 240);
    border-radius: 10px;
    width: 150px;
    height: 50px;

}
.check{
    position: relative;
    top: 120px;
    color:blue;
}




/*.xxx {
    background-color: #96c2eb7c;
    cursor: not-allowed;  
 }*/  
