/**************************
LOGIN PAGE - LAYOUT
**************************/
html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    background: #fff;
    border: 1px solid #e8e8e8;
    text-align: center;
}

h1{
    margin-bottom: 40px;
    font-size: 3.5em;
}

/**************************
LOGIN FORM
**************************/
form.login_wrap{
    display: flex;
    flex-direction: column;
}

.login_wrap input{
    height: 45px;
    padding: 0 20px;
    margin-bottom: 10px;
    color: #000;
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    font-size: 1em;
}

.login_wrap input:focus{
    border:1px solid #d6d6d6;
}

.login_wrap button{
    height: 40px;
    margin: 23px 0;
    color: #fff;
    background: #c4e1fb;
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1;
    text-align: center;
    transition: all 0.3s;
    cursor: default;
}

.login_wrap button.active{
    background: #52adff;
    cursor: pointer;
}

.lost_pw{
    margin-top: 70px;
    color: #3c5588;
}