
h1 {
    font-family: 'Lobster', cursive;
    font-size : 40px;
    margin: 20px;
    padding: 20px;
    font-weight: 500;

}

body{
     background-color: #fafafa
}

html,
body,
.container{
    height: 100%;
   }

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}



.inner{
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius:3px;
    text-align: center;
    width: 370px;
    height: 450px;
    }

.loginForm{
    margin: 40px;
    display:flex;
    flex-direction: column;
    font-size: 15px;
    }

.loginForm input {
    margin-bottom: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FAFAFA;
    outline: none;
    padding: 10px 0 10px 10px;
}

.loginForm button{
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color:#0095F6;
    cursor: default;
    opacity: 0.3;
}

a{
    text-decoration: none;
    color: #005CAB;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top:80px;
}
