
    @charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

i:hover {
    cursor: pointer;
}
.ml5 {
    margin-left: 10px;
 }
.ml10 {
    margin-left: 10px;
 }
 .ml15 {
    margin-left: 15px;
 }
 .ml20 {
    margin-left: 20px;
 }
 .mr10 {
    margin-right: 10px;
 }
 .mr15 {
    margin-right: 15px;
 }
 .mr20 {
    margin-right: 20px;
 }


.pl10 {
    padding-left: 10px;
 }
 .pl15 {
    padding-left: 15px;
 }
 .pl20 {
    padding-left: 20px;
 }


