/* -----btn----- */
.blue_btn {
  border: 0px solid black;
  background-color: #fff;
  cursor: pointer;
  color: rgb(0, 149, 246);
}
.blue_btn.blur {
  color: rgba(0, 149, 246, 0.3);
}

.blue_btn.right {
  position: absolute;
  right: 10px;
  top: 15px;
}

/* -----nav----- */
nav {
  border-bottom: 1px solid gray;
  height: 70px;
  background-color: #fff;
}

nav #nav_wrap {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#search > input {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  text-align: center;
  width: 200px;
}
#logo_wrap,
#search,
#info_wrap {
  display: flex;
  padding: 20px;
}
#logo_wrap #logo_1_wrap {
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}
#logo_wrap .logo_1 {
  width: 30px;
  height: 30px;
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/logo.png);
  background-size: cover;
}

#logo_wrap .logo_2 {
  width: 100px;
  height: 30px;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

#info_wrap > div {
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 25px;
}

#info_wrap > div:last-child {
  margin-right: 0px;
}
#info_wrap .icon_1 {
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png);
}
#info_wrap .icon_2 {
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png);
}
#info_wrap .icon_3 {
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png);
}

/* -----main----- */
main {
  background-color: rgb(250, 250, 250);
  display: flex;
  position: relative;
}

/* -----feeds----- */
main #feeds {
  width: 45%;
  height: 100vh;
  padding: 40px 10px 0px;
  position: absolute;
  left: 17%;
}

/* -----article----- */
main #article {
  background-color: #fff;
  border: 1px solid rgb(235, 235, 235);
}
/* -----user----- */
main #user_wrap {
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
main #user_info {
  display: flex;
  padding: 10px;
}

main #user_info .user_img {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/user_img.jpg);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

main #user_info .user_name {
  width: 70%;
  line-height: 30px;
}

main #more {
  height: 50px;
  padding: 17px 10px 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

main #more > img {
  width: 15px;
  height: 15px;
}

/* -----content img----- */
main #content_img {
  aspect-ratio: 1/1;
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/main_img.jpg);
  background-size: cover;
}

/* -----react----- */
main #react_wrap {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

main #react_left {
  display: flex;
  box-sizing: border-box;
  padding: 8px 10px;
}
main #react_left > div,
.bookmark {
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
main #react_left .icon_1 {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/heart.png);
}
main #react_left .icon_2 {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/chat-balloon.png);
}
main #react_left .icon_3 {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/upload.png);
}

main #bookmark_wrap {
  box-sizing: border-box;
  padding: 8px 11px;
  width: 50px;
  height: 100%;
}

main #bookmark_wrap .bookmark {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/ribbon.png);
}

/* -----react user----- */
main #react_user_wrap {
  height: 40px;
  display: flex;
  box-sizing: border-box;
  padding: 12px;
}

main .react_user_img {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/comment_user_img.jpg);
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

main .react_user_count {
  font-size: 15px;
  line-height: 22px;
}

/* ------comment----- */
main #comment_wrap {
  padding: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
/* main #comment_wrap #comment {
  display: flex;
  padding: 5px 15px 0px;
  font-size: 15px;
}

main #comment_wrap .comment_user_id {
  margin-right: 5px;
*/
main #comment_wrap #time_stamp {
  font-size: 15px;
  color: rgb(161, 161, 161);
}

/* -----add comment----- */
main #add_comment {
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

main #add_comment > input {
  width: 80%;
  height: 30px;
  outline: none;
  border: 0px solid black;
}

.nickName {
  margin-right: 10px;
}

/* -----main right----- */
#main_right {
  width: 20%;
  margin-top: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  position: absolute;
  right: 17%;
}

/* -----wecode----- */
#main_right #wecode_wrap {
  height: 60px;
  display: flex;
}

#main_right #wecode_wrap .wecode_img {
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/wecode_logo.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#main_right #wecode_info_wrap {
  padding: 10px;
}

#main_right #wecode_info_wrap .wecode_name {
  font-size: 15px;
  font-weight: bold;
}

#main_right #wecode_info_wrap .wecode_sub {
  font-size: 15px;
  color: rgb(161, 161, 161);
}

/* -----side box----- */
#side_box {
  aspect-ratio: 1/0.8;
  border: 1px solid rgb(235, 235, 235);
  margin-bottom: 10px;
  overflow: scroll;
}

#side_box.side_small {
  aspect-ratio: 1/0.6;
}

#side_box #side_info_wrap {
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
#side_box #side_info_wrap .title {
  color: rgb(161, 161, 161);
}

#side_box #side_user_wrap {
  box-sizing: border-box;
  padding: 5px 10px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

#side_box .side_user_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(/westagram-frontend/students/41th/jinkyung/images/person_img.jpg);
  background-size: cover;
  margin-right: 10px;
}

#side_box #side_user_info .side_sub {
  font-weight: normal;
  color: rgb(161, 161, 161);
}
