@import "common.css";

body {
   background-color: #FAFAFA;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loginPage {
    width: 698px;
    height: 755px;
    border: 2px solid #E6E6E6;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 90px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 255px;
}

.loginInformation {
    width: 500px;
    height: 75px;
    background-color: #FAFAFA;
    font-size: 23px;
    border: 2px solid #F3F3F3;
    border-radius: 5px;
    padding-left: 15px;
}

.loginInformation::placeholder{
    color: #A2A2A2;
    font-weight: 500;
}

.loginBtn {
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: #0385f7;
    opacity: 0.2;
    margin-top: 15px;
}

.findPassword {
    font-size: 23px;
    font-weight: 500;
    color: #043A6C;
}