* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  width: 698px;
  height: 758px;
  border: 2px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 70px;
  font-family: "Lobster", cursive;
  margin-bottom: 70px;
}

.login-info {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 10px;
}

.login-input input {
  display: block;
  width: 100%;
  margin: 0;
  height: 75px;
  font-size: 25px;
  color: #efefef;
  border: 2px solid #efefef;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fafafa;
  opacity: 0.7;
}

.login-btn {
  width: 535px;
  height: 60px;
  background-color: #c5e0fb;
  border: none;
  border-radius: 3px;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 200px;
}

.finding-password {
  color: #365c85;
  font-size: 25px;
  /* font-weight: bold; */
}

.onBtn {
  background-color: #4da5fd;
}
