
body {
  background-color: whitesmoke;
  font-family: 'Lobster', cursive;
}

.container {
  width: 600px;
  height: 80vh;
  margin: 50px auto;
  background-color: white;
}

.logo {
  font-size: 80px;
  display: block;
  text-align: center;
  padding: 40px 0;
}

.loginTable > * {
  display: block;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #efefef;
}

input {
  margin: 10px auto;
  font-size: 20px;
  line-height: 2.5;
  background-color: #fafafa;
}
input::placeholder {
  color: #d2d2d2;
}

.loginBtn { 
  margin: 20px auto;
  font-size: 25px;
  padding: 8px 15px;
  color: white;
  background-color: #c4e1fb;
}

.forgetPw {
  display: block;
  margin-top: 150px;
  text-align: center;
  color: #003569;
  font-weight: 600;
}