* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 1rem;
  font-size: 22px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.headerWrap {
  /* position: fixed; */
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo i::after {
  content: '|';
  margin: 0 1rem;
  position: relative;
  top: -1.5px;
}

.header__logo p {
  font-family: lobster;
}

.header__search {
  outline: none;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.header__search::placeholder {
  text-align: center;
  font-size: 10px;
}

.header__myinfo {
  display: flex;
  position: relative;
}

.header__myinfo i {
  margin: 0 8px;
}

.heart__on {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ed4956;
  top: 26px;
  left: 54.5px;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}

.feeds {
  display: flex;
  width: 970px;
  margin-bottom: 1rem;
}

article {
  min-width: 614px;
  margin-right: 28px;
}

.post {
  margin-bottom: 1.5rem;
  border: 1px solid #dbdbdb;
}
.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem;
  border-bottom: 1px solid #dbdbdb;
}

.post__header__profile {
  display: flex;
  align-items: center;
}

.post__header__profile img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-right: 0.6rem;
  border-radius: 50%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #262626;
}

.post__content {
  height: 614px;
  overflow: hidden;
  object-fit: cover;
}

.post__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__commentWrap {
  padding: 1rem;
  font-size: 14px;
  border-bottom: 1px solid #dbdbdb;
}

.post__comment {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.post__comment__icons i {
  margin-right: 10px;
}

.on {
  color: #ed4956;
}

.fa-heart {
  cursor: pointer;
}

.post__comment__writer {
  display: flex;
  align-items: center;
  padding: 6px 0 8px;
}

.post__comment__writer img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.rmBack {
  background-color: rgba(255, 255, 255, 0);
  color: #a4a4a4;
  border: none;
  outline: none;
  cursor: pointer;
}

span a {
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

.post__comment__guest {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3px 0;
}

.post__comment__guest-info {
  display: flex;
}

.post__comment__guest-info a {
  font-weight: bold;
  margin-right: 4px;
}

.postTime {
  font-size: 10px;
  color: #a4a4a4;
}

.post__addComment {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 6px 16px;
}

.post__addComment i {
  margin-right: 16px;
}

.commentInput {
  width: 100%;
  height: 27px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 13px;
  max-height: 50px;
  border: none;
}

.commentInput:is(:focus, :valid) {
  padding: 5px;
}

.commentInput::-webkit-scrollbar {
  width: 0px;
}

.post__addComment button {
  width: 35px;
  margin-left: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: #b3dffc;
  cursor: pointer;
}

aside {
  width: 100%;
}

.aside__profile {
  display: flex;
  align-items: center;
  margin: 18px 0 10px;
}

.aside__profile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
}

.aside__profile__info {
  font-size: 14px;
}

.aside__profile__info p {
  color: #a4a4a4;
}

.aside__story {
  border: 1px solid #dbdbdb;
  padding: 1rem;
  max-height: 300px;
  overflow: scroll;
  margin-bottom: 15px;
}

.aside__story::-webkit-scrollbar {
  display: none;
}

.aside__story-title {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.aside__story-title p:first-child {
  color: #a4a4a4;
}

.aside__story-title p:last-child {
  font-weight: bold;
  color: rgb(48, 40, 40);
}

.aside__story-profileWrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.aside__story-profile__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(to right, red, orange);
}

.aside__story-profile__circle img {
  width: 100%;
  height: 100%;
  padding: 1px;
  background-color: #eee;
  border-radius: 50%;
  object-fit: cover;
}

.aside__story-profile-info {
  margin-left: 14px;
}

.aside__story-profile-name {
  font-size: 14px;
}

.aside__story-profile-name p:last-child {
  color: #a4a4a4;
}

.aside__recommendation {
  border: 1px solid #dbdbdb;
  padding: 1rem;
  max-height: 300px;
  overflow: scroll;
  margin-bottom: 15px;
  font-size: 14px;
}

.aside__recommendation::-webkit-scrollbar {
  display: none;
}

.aside__recommendation-title p:first-child {
  color: #a4a4a4;
}

.aside__recommendation-title p:last-child {
  font-weight: bold;
  color: rgb(48, 40, 40);
}

.aside__recommendation-title {
  display: flex;
  justify-content: space-between;
}

.aside__recommendation-profileWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.aside__recommendation-profileWrap div {
  display: flex;
  justify-content: space-between;
}

.aside__recommendation-profile__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.aside__recommendation-profile__circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.aside__recommendation-profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 14px;
}

.aside__recommendation-profile-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.aside__recommendation-profile-name p:last-child {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a4a4a4;
}

.aside__recommendation-profile__follow {
  margin-left: 20px;
  color: #419cf1;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
