html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

/* 버튼 공통 스타일링 */
.commonButton {
  outline: 0;
  cursor: pointer;
  border: none;
  margin-left: auto;
  background-color: #ffffff;
}

.twoDividedArea {
  display: grid;
  grid: 
    "top" 1fr
    "bottom" 9fr;
}

/* header */
.topArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: top;
  position: fixed;
  width: 100%;
  height: 10vh;
  padding: 1rem 0;
  background-color: #ffffff;
}

/* header nav(logo) */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.logo img {
  width: 3rem;
  height: 3rem;
}

.logo a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  width: 10rem;
  border-left: .2rem solid;
  margin-left: 1rem;
}

.logo a:link {
  color: #000;
}

.logo a:visited {
  color: #000;
}

.topArea [type=search] {
  text-align: center;
  opacity: .5;
  width: 20%;
  height: 70%;
}

/* header nav(icon) */
.icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.icon img {
  width: 3rem;
  height: 3rem;
}

.bottomArea {
  grid-area: bottom;
  height: 90vh;
  padding-top: 3rem;
  background-color: #f0f8ff;
  overflow: scroll;
}

/* main */
.main {
  display: grid;
  grid: 
    ". article aside ." 2fr
    ". article footer ." 1fr
    / 1fr 5fr 3fr 1fr;
  gap: 3rem;
}

/* main article */
.posting {
  grid-area: article;
}

.posting_profile {
  display: flex;
  align-items: center;
  border: .1rem solid #E9E9E9;
  padding: 1rem;
  background-color: #ffffff;
}

.posting_profile_image {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
}

.posting_profile p {
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.posting_profile_details {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
}

.posting_image {
  width: 100%;
  height: 60%;
  border-right: .1rem solid #E9E9E9;
  border-bottom: .1rem solid #E9E9E9;
  border-left: .1rem solid #E9E9E9;
  background-color: #ffffff;
}

.posting_image img {
  width: 100%;
  height: 100%;
}

.posting_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: .1rem solid #E9E9E9;
  border-bottom: .1rem solid #E9E9E9;
  border-left: .1rem solid #E9E9E9;
  padding: 1rem;
  background-color: #ffffff;
}

.posting_icon_heart {
  width: 3rem;
  height: 3rem;
}

.posting_icon_sayBallon {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.posting_icon_share {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.posting_icon_bookMark {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
}

.posting_othersComment {
  font-size: 1.3rem;
  border-right: .1rem solid #E9E9E9;
  border-left: .1rem solid #E9E9E9;
  padding: 1rem;
  background-color: #ffffff;
}

.posting_othersComment_representative {
  margin-bottom: 1rem;
}

.posting_othersComment_comment {
  margin-top: .5rem;
}

.posting_addComment {
  display: flex;
  align-items: center;
  border: .1rem solid #E9E9E9;
  border-right: .1rem solid #E9E9E9;
  border-bottom: .1rem solid #E9E9E9;
  border-left: .1rem solid #E9E9E9;
  padding: 1rem;
  background-color: #ffffff;
}

.posting_addComment_text {
  width: 50rem;
  height: 3rem;
  border: none;
}

.posting_addComment_button {
  font-size: 1.6rem;
  color: #53A5F2;
  width: 5rem;
  height: 3rem;
}

/* sidebar */
.sideBar {
  grid-area: aside;
}

.sideBar_host {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sideBar_host_image {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
}

.sideBar_host_id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.sideBar_host_id_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.sideBar_host_id_description {
  font-weight: 700;
  font-size: 1.6rem;
  opacity: .3;
  margin-top: .5rem;
}

/* user history */
.sideBar_history {
  margin-bottom: 1rem;
  border: .1rem solid #E9E9E9;
  padding: 1rem;
  background-color: #ffffff;
}

.sideBar_history_title {
  display: flex;
  margin-bottom: 1rem;
}

.sideBar_history_title h1 {
  font-size: 1.6rem;
  font-weight: 700;
  opacity: .3;
}

.sideBar_history_title .commonButton {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: auto;
}

.sideBar_history_user {
  display: flex;
  flex-direction: column;
}


.sideBar_history_user li:last-child {
  margin-bottom: 0;
}

.sideBar_history_user_list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sideBar_history_user_list_image {
  width: 3rem;
  height: 3rem;
  border: .2rem solid #ff0000;
  border-radius: 50%;
  padding: .1rem;
}

.sideBar_history_user_list_id {
  margin-left: 1rem;
}

.sideBar_history_user_list_id_name {
  font-size: 1.3rem;
  font-weight: 700;
}

.sideBar_history_user_list_id_time {
  font-size: 1.3rem;
  font-weight: 700;
  opacity: .3;
  margin-top: .5rem;
}

.sideBar_recommendation {
  border: .1rem solid #E9E9E9;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffffff;
}

.sideBar_recommendation_title {
  display: flex;
  margin-bottom: 1rem;
}

.sideBar_recommendation_title h1 {
  font-size: 1.6rem;
  font-weight: 700;
  opacity: .3;
}

.sideBar_recommendation_title .commonButton {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: auto;
}

.sideBar_recommendation_user {
  display: flex;
  flex-direction: column;
}


.sideBar_recommendation_user li:last-child {
  margin-bottom: 0;
}

.sideBar_recommendation_user_list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sideBar_recommendation_user_list_image {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  padding: .1rem;
}

.sideBar_recommendation_user_list_id {
  margin-left: 1rem;
}

.sideBar_recommendation_user_list_id_name {
  font-size: 1.3rem;
  font-weight: 700;
}

.sideBar_recommendation_user_list_id_time {
  font-size: 1.3rem;
  font-weight: 700;
  opacity: .3;
  margin-top: .5rem;
}

.sideBar_recommendation_user_list_Fallow {
  color: #53A5F2;
  font-weight: 700;
  font-size: 1.4rem;
}

/* footer */
.footer {
  grid-area: footer;
}

.footer_information {
  font-weight: 700;
  font-size: 1.3rem;
  opacity: .3;
}

.footer_makeYear {
  margin-top: 1rem;
}
