.comment_box {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
}
.comment_box p {
    margin: 0;
    padding: 0 0 0 10px;
}
.comment_box i {
    position: absolute;
    left: 95.4%;
    font-size: 13px;
    cursor: pointer;
}
