* {
  box-sizing: border-box;
}

.login-container {
  width: 580px;
  margin: 20px auto;
}

.login-container input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.login-btn {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: #c5cbf8;
  color: white;
}

.login-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

div{
  background-color: rgb(247, 249, 251);
  color:black ;
  padding: 40px;
  border: 10px solid rgb(243, 253, 243);
  width: auto;
}