


body {
    background-color: #FAFAFA;
   }


   .line { border:1px solid #DBDBDB;
    background-color:#FFFFFF;
    margin-left :auto;
    margin-right:auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content:start ;
    align-items: center;
    margin-top: 50px;
   }
   .id{
    padding: 5px;
    font-size: 17px;
    border: 1px solid #8E8E8E;
    border-radius: 2px;
    width: 250px;
    color: #8E8E8E;
   }
   .password{
    padding: 5px;
    font-size: 17px;
    border: 1px solid #8E8E8E;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: #8E8E8E;
   }
   button {
    background-color: #C0DFFD;
    color:white;
    border :none;
    width: 260px;
    padding-top: 10px;
    border-radius: 4px;
    padding-bottom: 8px;
   }
   
   .westagram {
    font-family: 'Lobster', cursive;
   font-size:50px;
   font-weight: lighter;
    padding-bottom: 40px;
    margin-top: 30px;
    
   }
   .ipb{
    /* display: flex; */
    justify-content: space-evenly;
   }
   .or{
    justify-content: center;
    font-size: 15px;
    padding-top: 10px;
    content: "또는";
    display: flex;
    padding-bottom: 10px;
    color: #8E8E8E ;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0px;
    top:-15px;

  }
  .or ::before, .or ::after{
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    color: #8E8E8E;
  }
  
  .gotopassword{
    font-size: 10px;
    padding-top: 10px;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;

  }
  input{
    width: 100%;
    border: none;
    display: flex;
  }
  .facebook{
    display: flex;
    color: #385085;
    justify-content: center;
    font-weight: bold;
    /* padding-top: 5px; */
    /* margin-bottom: 20px; */
  }
  
  .w{
    display: flex;
    color:red;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;

  }

.r{
  display: flex;
  border: 1px solid #DBDBDB;
  margin : 30px;
  justify-content: center;
  background-color: white;
  width: 352px;
  justify-content: center;
  margin-left :auto;
  margin-right:auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  text-decoration: none;
}