section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.loginPage{
    width: 350px;
    height: 396px;
    background-color: white;
    margin: auto;
    border: #efefef solid 2px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxInstagram {
    position: absolute;
    background-color: white;
}

img{
    margin: 50px;
    text-align: center;
}
h1{
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}



input{
    display: block;
    width: 256px;
    height: 36px;
    border-radius: 5px;
    border: #efefef solid 1px;
    margin-bottom: 5px;
    padding-left: 10px;
    background-color: white;
}

button{
    display: block;
    width: 256px;
    height: 30px;
    border: #efefef solid 0px;
    border-radius: 5px;
    background-color: #1897f3;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}
.btn-login:hover {
  cursor: pointer;
  opacity: 0.85;
}
a{
    text-decoration: none;
    background-color: white;
    color: #043667;

}
p{
    background-color: white;
    text-align: center;
    padding-top: 50px;
}

