/* 내비게이션 시작 */
nav{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    top:0;
}

.nav_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    align-items: center;
    background-color: white;
}

.left_logo{
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size:20px;
    color: #262626;
    margin-left: 200px;
}

.insta_logo{
    padding-right: 5px;
}

.main_logo_font{
    border-left:2px solid #262626;
    padding-left: 5px;
    background-color: white;
}

.search_wrap{
    background-color: white;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_bar{
    width: 268px;
    height: 36px;
    border: 2px solid #dbdbdb;
    background-color: #f0f0f0;
    border-radius: 2px;
    color: #a5a5a5;
    font-size: 15px;
    text-align: center;
}

input::placeholder{
    margin-left: -13px;
}

.telescope{
    position: absolute;
    background-color: #f0f0f0;
    margin-right: 60px;
}

.right_img_src{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.right_img_src img{
    background-color: white;
    margin-right: 20px;
}

.right_img_src img:last-child{ /* flex줬더니 마지막 값도 늘어나서 원상보구 시킴*/
    margin-right: 0;
}
/*여기서 부터 하단 피드 CSS*/

/*메인피드 정렬*/
.feed_aside_container{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feed{
    width: 614px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed_img{
    vertical-align: bottom;
}

.check_img{
    top:0;
    width: 614px;
    height: 54px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.check_img_left{
    background-color: white;
    margin-left:10px;
}

.check_img_left img{
    margin: 6px;
}

.feed_bookmark{
    margin: 20px;
}

.check_img img{
    width: 20px;
}

.like_feed{
    width: 614px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;   
}

.likes_who{
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 10px;
}


.small_profile{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #a5a5a5;
    margin-right: 10px;
}
.like_feed span{
    background-color: white;
}

.bold_font{
    font-weight: bold;
    background-color: white;
}

.article_text{
    margin: 10px 0px;
    background-color: white;
}
.what_text{
    margin-left: 10px;
    background-color: white;
}

.like_feed_username{
    font-weight: bold;
    background-color: white;
}

/*댓글 창*/

.comments{
    width: 614px;
    height: 30px;
    border: 1px solid #a5a5a5;
    background-color: white;
}

input{
    width: 600px;
    height: auto;
    border: none;
    background-color: white;
}

/*친구 게시글 피드 이미지랑 아이디 나오는 피드 상단 부분*/
.neighborhood_profile{
    width: 614px;
    height: 50px;
    background-color: white;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.neighbor_img{
    width: 40px;
    border-radius: 40px;
    border: 1px solid #e6e6e6;
    margin-left: 10px;
    margin-right: 10px;
}

.neighborhood_profile span{
    background-color: white;
}

.neighborhood_profile span:last-of-type{
    margin-left: 440px;
}

/*여기서부터 aisde시작*/
.main_right{
    width: 293px;
    height: auto;
    position: fixed;
    right: 100px;
}

/*스토리 위에 상단 내 아이디값 보여지는 부분*/
.my_id_img{
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

.my_profile{
    border-radius: 40px;
}

.my_story p{
    margin-left: 10px;
}

.profile_info{
    padding-left: 40px;
    color:#9b9b9b
}

/*스토리 보여지는 부분*/
.story_box{
    width: 293px;
    height: 300px;
    background-color: white;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.story_box_top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.story_box span {
    font-size: 15px;
}

.story_box_top span:first-child{
    color: #9b9b9b;
    padding-left: 20px;
    background-color: white;
}

.story_box_top span:last-child{
    padding-right: 20px;
    background-color: white;
}

.story_neighbor_info{
    background-color: white;
}

.story_neighbor_list{
    list-style: none;
    margin-left: -20px;
    background-color: white;
}

.story_id_img{
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: -10px;
}

.story_neighborhood{
    width: 30px;
    border-radius: 30px;
}

.story_id_img span{
    margin-left: 10px;
    background-color: white;
}

.ago_minute_font{
    font-size: 13px;
    color: #a5a5a5;
    padding-left: 40px;
    background-color: white;
}

/*회원님을 위한 추천 부분*/
.box_recommend{
    width: 293px;
    height: 200px;
    background-color: white;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.box_recommened_text{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.box_recommened_text span{
    font-size: 15px;
}
.box_recommened_text span:first-child{
    padding-left: 20px;
    background-color: white;
    color: #9b9b9b;
}

.box_recommened_text span:last-child{
    padding-right: 20px;
    background-color: white;
}

.recommend_people{
    background-color: white;
}

.recommend_people_info{
    background-color: white;
}

.recommend_people_list{
    list-style: none;
    margin-left: -20px;
    background-color: white;
    margin-bottom: 10px;
}

.recommned_id_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-bottom: -5px;
}

.recommend_neighbor{
    border-radius: 20px;
    background-color: white;
}

.neighbor_id{
    padding-left: 10px;
    background-color: white;
}

.recommned_id_img span{
    margin-left: 10px;
    background-color: white;
}

.blue_font{
    font-size: 13px;
    font-weight: bold;
    color: #3e99ed;
    padding-left: 40px;
    padding-bottom: 10px;
    background-color: white;
}

.little_font{
    color: #a5a5a5;
    font-size: 13px;
    background-color: white;
    padding-left: 40px;
}

/* footer시작 */
footer{
    color: #c7c7c7;
    font-size: 13px;
}

/*반응형 웹사이트*/
@media (max-width: 800px){
    .main_right{
        display: none;
    }
}