/* 
리팩토링 가이드

6. 레이아웃은 bottom-up 방식으로 구성 
- 자식요소의 높이에 따라 부모요소의 높이가 유동적으로 결정됨
- 다시 한 번 기억하자.. css 유지보수가 js보다 힘들다..
*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* 공통 스타일 */

body {
  display: flex;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

img,
button {
  cursor: pointer;
}

input {
  width: 180px;
  height: 20px;
  padding-left: 10px;
  background-color: #fafafa;
  border: none;
  border-radius: 4px;
}

input::placeholder {
  color: #bababa;
  text-align: center;
}

input:focus {
  outline: none;
}

.icon-mini {
  width: 20px;
  height: 20px;
}

.icon-medium {
  width: 25px;
  height: 25px;
}

/* nav 레이아웃 */

nav {
  position: fixed;
  left: 0;
  width: 100px;
  height: 100vh;
  padding: 40px 120px 40px 25px;
  border-right: 1px solid #e6e6e6;
}

nav img {
  width: 25px;
  height: 25px;
}

.logo-westagram {
  position: fixed;
  top: 40px;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

.nav-middle {
  margin-top: 80px;
}

.nav-middle-menu {
  display: flex;
  align-items: center;
  margin: 30px 0;
  gap: 15px;
}

.nav-profile {
  border-radius: 50%;
}

.nav-bottom {
  position: fixed;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-closed {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 10px;
  height: 100vh;
  padding: 40px 40px 40px 25px;
  border-right: 1px solid #e6e6e6;
}

.nav-closed-no-element {
  display: none;
}

.nav-open-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("./img/right-arrow.png");
  background-size: cover;
  cursor: pointer;
}

/* 중앙 레이아웃 */

main {
  display: flex;
  width: 1000px;
  margin: 50px 500px;
}

main::-webkit-scrollbar-x {
  display: none;
}

header {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
  overflow: scroll;
}

/* 스토리 그라데이션 */

header img {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
}

.story-green {
  border: 2px solid #62ce60;
}

header div {
  width: 64px;
  height: 64px;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
}

header::-webkit-scrollbar {
  display: none;
}

/* 중앙 좌측 */

.main-left {
  width: 480px;
  margin-right: 80px;
}

article {
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
}

.feeds-upside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.feeds-upside-left {
  display: flex;
  align-items: center;
}

.feeds-upside-left img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 0 0 10px #fff inset;
}

.feeds-nickname {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
}

.feeds-content-time {
  color: #bababa;
  font-size: 14px;
}

.feeds-photo {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.feeds-bottom {
  padding: 10px 10px 0 10px;
  font-size: 14px;
}

.feeds-icons {
  display: flex;
  justify-content: space-between;
}

.icon-chat {
  margin: 0 5px;
}

.feeds-like {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.feeds-content-box a:nth-child(2) {
  color: gray;
  font-weight: normal;
}

.feeds-old-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.feeds-old-comment-more {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.feeds-new-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heart-icon-mini {
  width: 10px;
  height: 10px;
}

.feeds-comment-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px 10px 0;
  color: #bababa;
  font-size: 14px;
}

.feeds-comment-input {
  width: 80%;
  background-color: white;
  border: none;
  font-size: 14px;
}

.feeds-comment-input::placeholder {
  color: gray;
  text-align: left;
}

.feeds-comment-upload {
  color: #5395e9;
  background-color: transparent;
  border: none;
}

/* 중앙 우측 */

aside {
  width: 340px;
  background-color: white;
}

@media (max-width: 1200px) {
  aside {
    display: none;
  }
}

.profile-box {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
}

.profile-box div:first-child {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid #bababa;
}

.profile-box img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-box-nickname {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  font-weight: 600;
}

.profile-box-nickname a {
  font-size: 16px;
  font-weight: 700;
}

/* 그라데이션 적용 여부 확인 필요 */

.recommend-bottom img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.recommend-box {
  height: 250px;
  margin: 25px 10px 38px 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  overflow: scroll;
}

.recommend-box::-webkit-scrollbar {
  display: none;
}

.recommend-upside {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 320px;
  color: gray;
  background-color: white;
}

.recommend-bottom {
  margin-top: 30px;
}

.recommend-bottom img {
  border: 1px solid #e6e6e6;
}

.recommend-individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.recommend-individual-left {
  display: flex;
}

.recommend-individual-left img {
  margin-right: 10px;
}

.recommend-individual-middle div:nth-child(1) {
  font-size: 14px;
}

.recommend-individual-middle div:nth-child(2) {
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.recommend-individual-right {
  color: #5395e9;
}

footer {
  color: #bababa;
  font-size: 12px;
  font-weight: 500;
}

footer div:first-child {
  margin: 20px 0;
}

/* new comment */

.added-comment {
  margin: 5px 0;
}

/* new like */

.fa-regular,
.fa-solid {
  font-size: 20px;
}

.fa-solid {
  color: red;
}
