header, .feed {
    background-color: white;
}

a, .like, .for, button {
    font-weight: bold;
}

.comment-more, .time, .for, .name, .relationship {
    color: #8e8e8e;
}

header {
    width: 100%;
    border-bottom: 1px solid #DCDBDB;
}

.gnb {
    width: 935px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.search {
    width: 242px;
    height: 34px;
    background-color: #eeefef;
    border: none;
    border-radius: 6px;
    padding: 0px 12px 0px 12px;
    margin-left: 180px;
}

.gnb-icon {
    display: flex;
}

.icon:nth-child(1) {
    width: 22px;
    height: 22px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 28px;
}

main {
    width: 935px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

a {
    color: inherit;
    text-decoration-line: none;
}

.feed-img {
    width: 614px;
    object-fit: cover;
}

.profile-img {
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.feed {
    border: 1px solid #DCDBDB;
}

.feed-header {
    width: 614px;
    height: 60px;
    padding: 14px 4px 14px 16px;
    display: flex;
    align-items: center;
}

.feed-user {
    width: 560px;
    display: flex;
    align-items: center;
}

.feed-profile-id {
    margin-left: 14px;
}

article {
    width: 614px;
    height: 614px;
    background-color: gray;
}

.feed-post-icon {
    width: 614px;
    height: 54px;
    display: flex;
    align-items: center;
}

.feed-icon, .comment-icon {
    width: 24px;
    height: 24px;
}

.feed-icon {
    margin-left: 20px;
}

.feed-icon:nth-child(4) {
    margin-left: 440px;
}

.post {
    width: 614px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 16px;
}

.content {
    margin-top: 12px;
}

.comment-more {
    font-weight: normal;
    margin-top: 8px;
}

.comment-msg, .new-comment {
    margin-top: 8px;
}

.time {
    font-size: 10px;
    margin-top: 12px;
}

.commentBox {
    border-top: 1px solid #DCDBDB;
    width: 582x;
    height: 53px;
    padding: 6px 16px 6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    color: #9A9A9A;
}

input:focus {
    outline: none;
}

#comment {
    margin-left: 12px;
    border: none;
    width: 500px;
    height: 17px;
}

button {
    border: none;
    background-color: transparent;
    color: #C0DFFD;
}

.info {
    display: flex;
}

.recommend {
    margin-top: 20px;
}

.recommend-item {
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.recommend-img {
    margin-right: 12px;
}

.right {
    margin-top: 30px;
    width: 293px;
}

.profile {
    display: flex;
    align-items: center;
}

.right-profile-img {
    margin-right: 12px;
}

.name {
    margin-top: 4px;
}

.user {
    width: 190px;
}

.item {
    width: 205px;
}

.relationship {
    font-size: 12px;
    margin-top: 6px;
}

.font-small {
    font-size: 12px;
    color: #0095f6;
}

.recommend-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.recommend-img {
    margin-right: 12px;
}