.all-wrap{
  position: relative;
  width: 800px;
  margin: 0 auto;
}

#header{
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.nav-bar{
  
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: fixed;
}
.nav-bar .nav-wrap{
  height: 54px;
  flex-grow: 1;
  display: flex;
}
.nav-wrap:nth-child(1){
  justify-content: start;
}
.nav-wrap:nth-child(2){
  justify-content: center;
}
.nav-wrap:nth-child(3){
  justify-content: flex-end;

}
.nav-wrap:nth-child(3) .menu:nth-child(3){
  margin-right: 0;
}
.nav-wrap .menu{
  display: flex;
  align-items: center;

}
.logo-text{
  font-family: 'Lobster', cursive;
  border-left: 1px solid #333;
  padding-left: 10px;
}
.logo-box{
  width: 30px;
  margin-right: 20px;
}

.search-wrap{
  width: 200px;
  position: relative;
}

.search-wrap .search-bar{
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: rgba(250, 250, 250,1);
  color: #333;
} 
.search-wrap .search-bar-img{
  width: 12px;
  height: 12px;
  position: absolute;
  left: 70px;
  background-image: url(/img/ico_search.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  border: none;
}
.wrapper{
  max-width: 800px;
  margin: 55px auto;
}
#article{
  display: flex;
  width: 100%;
}
#feed-section{
  width: 65%;
  margin-right: 20px;
  border: 1px solid #ccc;
  background-color: rgba(250, 250, 250,1);
}
#aside-section{
  width: 35%;
}
.feed-user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.feed-info{
  display: flex;
  align-items: center;
}
.feed-user-profile-name{
  padding-left: 10px;
  font-size: 1.2em;
}
.feed-user-profile-img{
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}
.profile{
  display: flex;
  align-items: center;
}
.profile .profile-img{
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}
.profile .profile-img img{
  height: 100%;
}
.profile .profile-description{
  padding-left: 15px;
}
.profile .profile-description .korean-name{
  color: rgba(100,100,100);
}
.story-feed{
  border: 1px solid #ccc;
  margin: 20px 0;
  height: 220px;
  overflow: hidden;
}
.story-wrap{
  margin: 0 auto;
  width: 85%;
}
.story-feed-head-wrap{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.story-profile{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.story-profile .story-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 70%;
  overflow: hidden;
}
.story-profile .story-profile-img img{
  height: 100%;
}
.story-profile-description{
  padding-left: 15px;
}
.story-same-followers-view{
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  width: 150px;

}
.story-feed-all-view{
}
.story-feed-recommend{
  border: 1px solid #ccc;
  margin: 20px 0;
  height: 190px;
  overflow: hidden;
}
.interaction{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.like-btn, .review-btn, .share-btn, .keep-btn {
  font-size: 1.4em;
  padding-right: 15px;
}
.keep-btn{
  padding-right: 0pc;
}
.reaction-contents-wrap{
  padding: 0 15px;
}
.check-like{
  display: flex;
  align-items: center;
  padding: 0 0 10px;
}
.check-like-id-profile-1{
  width: 20px;
  height: 20px;
  border-radius: 70%;
  overflow: hidden;
}
.check-like-id-profile-1 img{
  height: 100%;
}
.check-like-summary{
  padding-left: 15px;
}
.contents{
  margin-bottom: 10px;
}
.review-list{
  padding: 10px 0;
}
.input-review{
  position: relative;
  border-top: 1px solid #ccc;
}
.input-review input{
  border: none;
  padding: 10px 15px;
}
.review-upload-btn{
  position: absolute;
  right: 15px;
  top: 10px;
  color: rgba(0,149,246,1);
  background-color:#fff;
}