.log_wrap {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
.content {
    /* margin: 0 auto; */
    width: 700px;
    height: 760px;
    
    border: 1px solid #e6e6e6;
}

.content .title {
    padding-top: 65px;
    padding-bottom: 75px;
}
.content .title h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
}


.content .log { 
    margin-bottom: 200px;
    
}

.content .log .group_id {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.content .log .group_id input {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #fafafa;
    
    
}
.content .log .group_pwd {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.content .log .group_pwd input {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    color: #999999;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #fafafa;
}
.content .log .group_submit {
    display: flex;
    justify-content: center;
}
.content .log .group_submit input {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #c5e1fa;
    cursor: pointer;
}

.content .find {}
.content .find .pwd_forget {}
.content .find .pwd_forget p {
    text-align: center;

}
.content .find .pwd_forget p a{
    text-decoration: none;
    color: #043667;
    font-weight: bold;
    cursor: pointer;
}