.log_wrap {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
.content {
    /* margin: 0 auto; */
    width: 700px;
    height: 760px;
    
    border: 1px solid #e6e6e6;
}

.content .title {
    padding-top: 65px;
    padding-bottom: 75px;
}
.content .title h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
}

form {}
form fieldset {
    
    text-align: center;
    
    
}

form fieldset input {
    
}

form fieldset #id {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #fafafa;
    margin-bottom: 12px;
    
    
}

form fieldset #pwd {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #fafafa;
    margin-bottom: 30px;
}

button {
    width: 535px;
    height: 75px;
    font-size: 20px;
    padding-left: 20px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #c5e1fa;
    cursor: pointer;
    margin-bottom: 200px;
}
.xxx {
    background-color: #96c2eb7c;
    cursor: not-allowed; /*JS에서 이벤트 핸들러에 의해 제거되는 클래스.*/
}  

.content .find .pwd_forget p {
    text-align: center;

}
.content .find .pwd_forget p a{
    text-decoration: none;
    color: #043667;
    font-weight: bold;
    cursor: pointer;
}