.log_wrap {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items:center;
}

.content {
    width: 700px;
    height: 760px;
    border: 1px solid #e6e6e6;
}

.content .title {
    padding-top: 65px;
    padding-bottom: 75px;
}

.content .title h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
}

form fieldset {
    text-align: center;
}

form fieldset input {}

form fieldset #login_id {
    width: 535px;
    height: 75px;
    padding-left: 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 20px;
    background-color: #fafafa;
}

form fieldset #login_pwd {
    width: 535px;
    height: 75px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 20px;
    background-color: #fafafa;
}

button {
    width: 535px;
    height: 75px;
    padding-left: 20px;
    margin-bottom: 200px;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #c5e1fa;
    font-size: 20px;
    cursor: not-allowed;
}

.login_input {
    background-color: #002c52;
    cursor:pointer;
}  

.content .find .pwd_forget p {
    text-align: center;
}

.content .find .pwd_forget p a{
    text-decoration: none;
    color: #043667;
    font-weight: bold;
    cursor: pointer;
}