*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

  body{
    display: flex;
    justify-content:center;
    align-content:center;
    margin-top:50px;
    background-color:#F8F8F8; 
  }

  .big-box{
      width: 900px;
      height: 900px;
      border-radius: 9px;
      border-style: solid;
      background-color:white;
  }

  .login-bar{
   position: relative;
   text-align:center;
  }

  .westa{
    display:flex;
    justify-content:center;
    margin-bottom: 100px;
  }

  input{
    width:700px;
    padding: 10px 40px;
    border-radius:8px;
    border: 1px solid #bbb;
    font-size: 25px;
    background-color: lightgray;
  }

  .input-wrap{
      margin : 10px 0;
  }

  button{
    width:700px;
    padding: 5px 10px;
    border-radius:8px;
    padding: 10px 40px;
    font-size: 25px;
    color: white;
    background-color: #C4E1FB;
  }

  .button-change{
    width:700px;
    padding: 5px 10px;
    border-radius:8px;
    padding: 10px 40px;
    font-size: 25px;
    color: white;
    background-color: #0095F6;
  }

  .button-div{
    display:flex;
    justify-content:center;
    margin-top:30px;
  }

  p{
    text-align:center;
    margin-top: 250px;
  }

  a{
    color:blue;
  }
