@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#heading {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
  margin-bottom: 60px;
}

#box {
  border: 1px solid lightgray;
  width: 500px;
  height: 550px;
  position: relative;
  margin: auto;
}

#login1,
#login2 {
  width: 360px;
  height: 50px;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  font-size: 15px;
  background-color: #fafafa;
  padding-left: 10px;
  border-top: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
}

#btn {
  color: white;
  font-size: 17px;
  width: 360px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #c4e1fb;
  margin: 20px auto;
  display: block;
  border-bottom: none;
  border-right: none;
}

#btn:hover {
  cursor: pointer;
}
#btn:active {
  border: 2px 2px solid rgb(62, 145, 190);
  box-shadow: 0 5px 15px rgb(13, 87, 172);
}
input::placeholder {
  color: #a4a4a4;
}
a {
  color: #083b6e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 150px;
  display: block;
  text-decoration-line: none;
}
