#logo {
  width: 20px;
  height: 20px;
}

#title {
  width: 13%;
  border-left: 1px solid black;
}

.nav-right {
  float: right;
  display: flex;

  justify-content: flex-end;
}

#search {
  text-align: center;
  margin: auto;
}

.right-side {
  width: 20px;
  height: 20px;
  border-right: 10px;
}
