section{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
    
}




nav{
    font-family: 'Lobster', cursive;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
}

.main{
    display: flex;
    margin: 10px 0;
    justify-content: center;
   
}

.feed {
    background: white;
    border: 1px solid #FAFAFA;
}

.mainRight {
    margin-left: 30px;
    width: 300px;
}

.postTop {
    padding: 15px;
}

.profile {
    border-radius: 70%;
    margin-right: 20px;
}

.postText {
    padding: 15px;
}


.postTextTop i {
    padding-right: 10px;

}
.postTextTop .fa-bookmark {
   float: right;
}

.feedimg {
   display: flex;
   align-items: center;
   justify-content: center;
}

.postTextMain {
    margin-top: 10px;
}

.postTextMain img {
    border-radius: 70%;
}

.comment {
    border-top: 1px solid #FAFAFA;
    height: 20px;
}

.commentIn {
    border: none;
    width: 450px;
}

.commentBt {
    border: none;
    background-color: white;
    color: skyblue;
    margin: 10px;
}

.nickname {
    display: flex;
}

.nickname img{
    border-radius: 70%;
    margin: 10px;
}

.story {
    background-color: white;
    padding: 10px;
}

.storyTop{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.storyName{
    color: gray;
}

.storyimg {
    display: flex;
    flex-direction: column;
}

.storyimg img {
    border-radius: 70%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.storyList {
    display: flex;
}

.storyNickName {
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 20px;
}