* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    padding-top: 60px;
    
}

input:focus {
    outline: none;
}

.nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d1cece;
    background-color: white;
    position: fixed;
    top: 0;
}


.nav_container {
    width: 935px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-logo {
    font-family: 'Lobster', cursive;
}

.nav-search {
    position: relative;
    width: 250px;
    height: 30px;
}

.nav-search input {
    width: 100%;
    height: 100%;
    border: 1px solid #d1cece;
}

.nav-search .fa-search {
    position: absolute;
    left: 90px;
    top: 10px;
    font-size: 15px;
    color: #aca7a7;
}

.nav-search input::-webkit-input-placeholder {
    text-align: center;
}

.nav-icon .far {
    margin-left: 10px;
}

.main {
    width: 935px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.main .feeds {
    width: 614px;
    height: 100%;
    background-color: white;
    border: 1px solid #d1cece;
    
}

.main-right {
    width: 293px;
    margin-left: 30px;
    background-color: white;
    /*border: 1px solid #d1cece;*/
    
}

.feed-user {
    font-weight: bold;
}

.feed-user img {
    width: 28px;
    margin-right: 10px;
    border-radius: 14px;
}

.feed-top .fas {
    color: #817c7c;
    display: inline-block;
    font-size: 20px;
}

.feed-top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.feed-user {
    display: flex;
    align-items: center;
}

.feed-img img {
    width: 100%;
}

.feed-function {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    box-sizing: border-box;
}

.feed-function i{
    margin-right: 3px;
}

.feed-function .fa-heart {
    color: red;
}

.font-bold {
    font-weight: bold;
}

.feed-like {
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.feed-like img {
    width: 28px;
    margin-right: 10px;
    border-radius: 14px;
}

.feed-content {
    padding: 10px;
}

.feed-content p {
    margin-bottom: 8px;
}

.feed-content .feed-comment-list li {
    list-style: none;
    margin-bottom: 8px;
}


.feed-content .feed-comment-list .fa-heart {
    display: inline-block;
    float: right;
    line-height: 21.6px;
}

.red {
    color: red;
}

.feed-comment form {
    position: relative;
    width: 100%;
    height: 50px;
}

.feed-comment input {
    border: 1px solid #d1cece;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.feed-comment .post-comment {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #4693a4;
    border: none;
    background-color: white;
    
}

.main-right {
    
    background-color: #f3f3f3;
    
}

.main-right-profile {
    padding: 0 10px 15px 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.main-right-profile img {
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.profile {
    font-weight: bold;
    font-size: 14px;
}


.gray-color {
    color: gray;
    display: block;
    font-weight: normal;
}

.main-right-story {
    border: 1px solid #d1cece;
    padding: 10px 10px 5px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.main-right-story .story-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.main-right-story .story, .main-right-recommend .recommend {
    color: gray;
    font-weight: bold;
}

.main-right-story .all, .main-right-recommend .all {
    font-size: 13px;
    font-weight: bold;
}

.main-right-story .user-stories div, .user-profile div {
    padding: 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    
}

.main-right-story .user-stories img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    border: 2px solid red;
}

.main-right-recommend {
    background-color: white;
    border: 1px solid #d1cece;
    margin: 15px 0 0 0;
    padding: 10px 10px 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.main-right-recommend .recommend-for-you {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.main-right-recommend .user-profile-one {
    padding: 10px;
}

.main-right-recommend .user-profile-one div {
    display: flex;
    align-items: center;
}

.main-right-recommend .user-profile-one img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.main-right-recommend .user-profile-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-right-recommend .user-profile-one .follow {
    color: #37a5e8;
    font-weight: bold;
    font-size: 14px;
}

.main-right .information {
    margin-top: 15px;
    color: #ababab;
    font-size: 15px;
}