
body {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
}

span {
  margin-top: -70px;
  margin-bottom: 40px;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  font-weight: 0;
}

input {
  width: 270px;
  height: 37px;
  margin-bottom: 7px;
  padding-left: 8px;
  color: rgb(142, 142, 142);
  outline-style: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
  
}

.button {
  width: 270px;
  height: 30px;
  margin: 7px 0px;
  color: white;
  background-color: #0095f6;
  border: 0px solid;
  border-radius: 5px;
  
  
}

.button-off {
  background-color: #b9dffc;
  cursor: not-allowed;
}

a {
  position: relative;
  bottom: -80px;
  font-size: 12px;
  text-decoration: none;
}