.wrap {
    height: 100%;
}
.scroll {
    overflow: auto;
}
.link_list {
    display: flex;
    align-items: center;
}
.link_list li {
    margin-left: 20px;
}
.link_list li:first-child {
    margin: 0;
}
.state_btn {
    border: none;
    padding: 0;
    width: 25px;
}
.state_btn img {
    width: 100%;
}
.feed_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile .profile_img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%; 
}
.follow_info {
    margin-bottom: 10px;
    padding: 10px 13px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background: #fff;
}
.follow_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.follow_title span {
    font-size: 13px;
    line-height: 1.4;
}
.follow_title .text_tit {
    font-size: 15px;
    color: #828282;
}
.follow_title .sub_tit {
    font-weight: bold;
}
.follow_title a {
    display: block;
}
.follow_title a .profile_intro {
    font-size: 14px;
}
.feed_profile.follow_list_wrap {
    padding: 0;
}
.follow_list {
    display: block;
    width: 100%;
    max-height: 175px;
}
.follow_list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
