a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#mainNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 50px;
  border-bottom: 0.5px solid rgb(128, 128, 128);
}
#logos {
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
}
.westarLogo {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384031.png");
  background-size: cover;
  background-position: center;
}
.westarLogo2 {
  font-family: "Lobster";
  font-size: 20px;
  padding-left: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  border-left: 1px solid rgb(128, 128, 128);
}

#mainProfileThings {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.profileThings {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
}
#mainCompass {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}
#mainNavHeart {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

#mainMyPage {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}
.main {
}

.imgArticleProfile {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("https://dthumb-phinf.pstatic.net/?src=%22http%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbI8KS4%2FbtquzzUQpRM%2FjCKRMR8BBSVYwBIZHAeQ81%2Fimg_m.jpg%22&type=ff120");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
