@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(244, 244, 244);
    align-content: flex-start;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
   
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*.center::after { content: ‘’; display: block; clear:both; }*/
#instarPhoTo{
height: 600px;
width: 280px;
padding: 0;
padding-right: 30px;
position: relative;
}
#instarPhoTo2{
    height: 600px;
    width: 280px;
    padding: 0;
    padding-right: 10px;
    position: absolute;
    left: 30%;
    top: 10%;
    }
#login{
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    height: 420px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}
#MemberLogin{
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}
.main{
    height: 600px;
    width: 350px;
    align-content: flex-start;
    margin:0;
}
#googlePlay{
    width: 100px;
    margin: 0;
    padding: 0;
}
#AppStore{
    width: 100px;
}
.footer{
    height: 10vh;
    align-self:flex-end;
    text-align: center;
    color: rgb(156, 156, 156);
    
}
#login .loginForm input{
    border-radius: 3px;
    width: 270px;
    border: 1px solid rgb(216, 216, 216);
    height: 35px;
    background: rgb(244, 244, 244);
    margin-top: 10px;

}
#MemberLogin .loginForm input{
    border-radius: 3px;
    width: 270px;
    border: 1px solid rgb(216, 216, 216);
    height: 35px;
    background: rgb(244, 244, 244);
    margin-top: 10px;

}
.userId{
    height: 80vh;
}

.loginBtn{
    width: 270px;
    background-color: rgb(188, 226, 255);
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    height: 30px;
    color:white;
    font-size: 15px;
    
}
.memberBtn{
    width: 270px;
    background-color: rgb(188, 226, 255);
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    height: 30px;
    color:white;
    font-size: 15px;
    
}
.title{
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Lobster', cursive;
}

.idCreate{
    margin-top: 20px;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(249, 252, 255);
    
}
.AppDown{
    text-align: center;
    padding-bottom: 10px;
}
.AppImg{
    text-align: center;

}
.App{
    padding-top: 20px;
}
.idCreate a{
    color: rgb(0, 162, 255);
    font:bold;
}
.facebook{
    padding: 20px;
}
.AppImg button{
border: 0;
outline: 0;
background: rgb(244, 244, 244);
}
.facebook i{
    font-size: 18px;
}
.loginBtn:hover ,.MemberBtn:hover , .facebookLogin:hover{
    background-color: rgb(149, 209, 255);
}
.facebookLogin{
    width: 270px;
    background-color: rgb(188, 226, 255);
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    height: 30px;
    font-size: 15px;
    margin-bottom: 15px;
    
}
.facebookColor{
    color: white;
}
a{
    text-decoration: none;
}
@media screen {
    
}