html,
body,
.loginContainer {
    height: 100%;
}

  
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .loginInner {
    border: solid 3px;
    border-color: #EDEDED;
    padding: 10px 10px 10px 10px;
    width: 500px;
    text-align: center;
}

  #loginButton {
    width: 410px;
    height: 40px;
    margin-bottom: 100px;
    background-color: skyblue; opacity: 50%;
    border-style: hidden;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
}
  
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    font-weight: lighter;
    
}
  
  #id {
    border-style: none;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 400px;
    height: 50px;
    font-size: 17px;
    padding-left: 10px;
    border-color: #EFEFEF;
    border-radius: 4px;
    background-color: #FAFAFE;
    font-weight: bold;
    
}
  
  #pw {
    border-style: none;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    font-size: 17px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #FAFAFA;
    border-color: #EFEFEF;
    font-weight: bold;
}
  
  span {
    font-size: 20px;
    font-weight: bold;
}
  
  #loginForm {
    margin-left: 40px;
}
  
