.instagram {
    justify-content: space-between; 
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.temp_box {
    display: flex;
    align-items: center;
}
  

.recommend-profile-username {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
}

#my_page {
    justify-content: space-evenly;
}

section {
    padding-left: 220px;
    background-color: #FAFAFA;
    display: flex;
  }
  
#button {
    margin-left: 80px;
    border: none;
    background-color: white;
}

.fa-rectangle-portrait {
    margin-left: 300px;
}

.next_emoji_heart {
    margin-left: 100px;
}


#insta {
    border-style: none none none solid;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding-left: 20px;
}


#insta2 {
    padding-right: 20px;
}

input {
    border-style: none;
    border-style: solid;
    text-align: center;
    width: 250px;
    height: 20px;
    margin-top: 10px;
    background-color: #FAFAFA;
    border-color: #EFEFEF;
} 

#input2 {
    text-align: left;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
}



.dot {
    color: red;
    margin-right: 75px;
    font-size: 1px;
    background-color: white;
    
}

.dotdot {
    border-bottom: 1px solid;
    margin-bottom: 40px;
    background-color: #FAFAFA;
}



.box1 {
    width: 400px;
    height: 600px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}



.follow_blue {
    color : rgb(22, 123, 238);
    font-weight: bold;
}

.box1_up {
    width: 400px;
    height: 50px;
    border: solid 1px;
}

.picture {
    width: 400px;
    height: 390px;
    border: solid 1px;
}

.box1_under {
    width: 400px;
    height: 110px;
    border: solid 1px;
    font-size: smaller;
}

.box1_under1 {
    width: 400px;
    height: 50px;
    border: solid 1px;
    
}



.box_right1 {
    width: 300px;
    height: 50px;
    display: flex;
}

.box_right2 {
    width: 300px;
    height: 140px;
    border: solid 1px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.box_right3 {
    width: 300px;
    height: 150px;
    border: solid 1px;
    margin-bottom: 10px;
}

.box_right4 {
    width: 300px;
    height: 100px;
    border: none;
    font-size: x-small;
    color: #C9B784
}


  .box_right_container {
    justify-content: space-between;
    margin-left: 10px;
}

  .box_right_text {
    font-weight: bold;
    
}

  .story {
    font-weight: bold;
}

  .box_right_text1 {
    font-size: small;
    font-weight: bold;
}

  .box_right_text2 {
    font-size: small;
}

  .box_right_container2 {
    justify-content: space-between;
}

  .box_right2_text {
    font-size: small;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
}

  .box_right4_2019 {
    margin-top: 10px;
}

.name {
    margin-right: 90px;
}

.delete {
    margin-left: 90px;
}