/* nav */
body {
    box-sizing: border-box;
}

.nav {
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 45px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content:space-between;
}

.westaLogo {
    font-family: 'Lobster', cursive;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.westaLogo span {
    font-size: 100%;
}

.serch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch input {
    border: 1px solid lightgray;
    background-color: rgb(250, 250, 250);
    width: 70%;
    height: 25%;
    border-radius: 2px;
    font-size: 10px;
    color: lightgray;
}

.iconLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.iconLogo div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}

.iconLogo i {
    width: 24px;
    height:24px;
}
/* */

/* total */

.total {
    display: flex;
    justify-content: center;
}

/* main feeds */

.main {
    width: 35%;
    margin-right: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 100%;
}

.user-top {
    padding: 5px 10px 5px 10px;
    display: flex;
}

.user-top-left {
    display:flex;
    justify-content: left;
    align-items: center;
}

.user-top-left img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user-top-left span {
    font-size: 14px;
    margin-left: 4px;
}

.user-top-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.user-img {
    height:50%;
}

.user-img img {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.user-icone {
    padding: 0px 10px 0px 10px;
}

.user-icone i {
    font-size: 13px;
}

.user-like {
    padding: 1px 10px 0px 10px;
    display: flex;
    align-items: center;
}

.user-like img {
    width:16px;
    height:16px;
    border-radius: 50%;
}

.user-like span {
    font-size: 10px;
    margin-left: 3px;
}

.user-area {
    padding: 5px 10px 7px 10px;
    display:flex;
    align-items: center;
}

.user-area span {
    font-size: 10px;
}

.user-area .more {
    font-size: 11px;
    color: gray;
    margin-left:5px;
}

.user-text {
    display: flex;
    border-top: 1px solid lightgray;
}

.user-text input {
    width: 90%;
    border: none;
    font-size: 10px;
    padding: 3px 0px 3px 0px;
}

.user-text button {
    width: 15%;
    background-color: white;
    color: lightskyblue;
    border: none;
    font-size: 3px;
    padding: 3px 0px 3px 0px;
}

/* side */

.side {
    width: 20%;
    margin-top: 15px;
    margin-left: 10px;
}

.sic {
    display: flex;
    align-items: center;
    margin: 0px 0px 4px 4px;
}

.sic img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 1px;
}

.sic span {
    font-size: 10px;
    margin-left: 5px;
}

.side-top {
    display: flex;
    flex-direction: column;
    margin: 0px 5px 0px 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.side-top-story {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.side-top-story span{
    font-size: 9px;
}

.side-top-story b{
    font-size: 10px;
}

.side-top-first {
    width:100%;
    margin-top: 3px;
}

.side-top-second {
    width:100%;
}

.side-top-third {
    width:100%;
}

.side-buttom {
    display: flex;
    flex-direction: column;
    margin: 15px 5px 0px 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}