* {
  box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,label { margin: 0; padding:0 }


h1 {
  font-family: 'Lobster Two', cursive;
}

ul{
  list-style:none;
  padding-left:0px;
}
 