.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.fa-instagram, .nav_logo h1 {
  padding-right: 10px;
  font-size: 25px;
}

.nav_input {
  position: relative;
}

.nav_input input {
  width: 200px;
  padding: 5px;
  background-color: #efefef;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-align: center;
  
}

.nav_input i {
  position: absolute;
  left: 70px;
  top: 10px;
  color: #bbb;
  font-size: 10px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.nav_menu img {
  width: 25px;
  margin-right: 10px;
}

.nav_menu img:nth-last-child(1) {
  margin: 0;
}

/* main */

.main {
  /* position: relative; */
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.main_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

/* main_feeds_left */

.main_feeds_left {
  margin-top: 30px;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  overflow: hidden;
}

.left_box_title {
  display: flex;
  align-items: center;
}

/* 이거 */
.feeds_img_box { 
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 70%;
  overflow: hidden;
}

.profile_img {
  width: 100%;
  height: 100%;
}

/* 얘는 확인해봐 */
.left_box_title .profile_info {
  width: 378px;
  padding-bottom: 5px;
}

.add_btn {
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
}

.add_btn img {
  width: auto;
  height: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.box_mid img {
  width: 500px;
  height: auto;
}

.box_bottom {
  width: 100%;
}

.icons_list {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.icons_list .state_btn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: #fff;
}

.icons_list .state_btn i {
  font-size: 25px;
}

.icons_list_bookmark {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.box_comments {
  width: 100%;
}

.likes_comments {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}

.likes_user {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 70%;
  overflow: hidden;
}

.likes_user img {
  width: 100%;
  height: 100%;
}

.comments_info {
  margin-top: 15px;
  padding-left: 10px;
}

.user_id, .comments_contents {
  width: 100%;
  padding-right: 5px;
}

.comments_title .comment_btn {
  color: #b9b9b9;
  background-color: #fff;
  border: none;
}

.comments_title .comments_like_btn {
  float: right;
  margin-right: 10px;
  background-color: #fff;
  border: none;
}

.feeds_time {
  padding-left: 10px;
}

.feeds_time .time {
  margin: 3px 0;
}

.feeds_time .time {
  color: #b9b9b9;
}

.comments_div {
  display: flex;
  align-content: center;
  border-top: 1px solid #000;
}

.comments_div input {
  width: calc(100% - 40px);
  height: 40px;
  padding-left: 10px;
  color: #b9b9b9;
  background-color: #fff;
  border: none;
}

.comments_input {
  border: none;
}

.comments_div .posting_box {
  width: 40px;
  height: 40px;
  color: #0096f6;
  background-color: #fff;
  border: none;
}

/* main_feeds_right */

.main_feeds_right {
  width: 350px;
  margin-top: 30px;
}

.right_box_title, .story_box, .recommend_box {
  margin-bottom: 10px;
}

.feeds_profile {
  display: flex;
  align-items: center;
  height: 70px;
  padding-top: 5px;
}

.feeds_box {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 70%;
  overflow: hidden;
}

.feeds_profile img {
  width: 100%;
  height: 100%;
}

.profile_info {
  padding-left: 10px;
}

.profile_info .profile_introduce {
  padding-top: 0;
  color: #b9b9b9;
}

.profile_info p {
  height: 30px;
  margin: 0;
  padding-top: 10px;
}

.story_box {
  height: 250px;
}

.story_box_contents {
  border: 1px solid #ededed;
  border-radius: 4px;
}

.story_top, .recommend_top {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #fff;
}

.more_info {
  padding-right: 10px;
}

.more_info a {
  color: #000;
  text-decoration: none;
}

.story_list {
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.story_list::-webkit-scrollbar {
	display:none;
}

.story_list_li {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  padding-left: 10px;
  background-color: #fff;
}
/* 이거 */
.img_box {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  border-radius: 70%;
  overflow: hidden;
}

.img_box img {
  width: 100%;
  height: 100%;
}

.recommend_box {
  border: 1px solid #ededed;
  border-radius: 4px;
}

.recommend_contents {
  height: 230px;
}

.recommend_list {
  height: 180px;
}

.recommend_list_li {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  padding-left: 10px;
  background-color: #fff;
}

.recommend_list_li .profile_info {
  width: 190px;
}

.follow_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
}

.follow_btn .btn {
  color: #0096f6;
  background-color: #fff;
  border: none;
}

.footer {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  color: #b9b9b9;
  background-color: #fafafa;
  text-align: center;
}
