body {
    background-color: #fafafa;
}

.margin-value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin: 100px 240px;
    z-index: 2;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0; left: 0;
    width: 100vw;
    height: 67px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 4;
}

nav .search>input {

    /*
    돋보기 구현 전
    background-color: #fafafa;
    background-position: 73px 4px; 
    background-size: 15px;
    background-repeat: no-repeat;
    */

    width: 200px;
    height: 22px;
    border: 1.7px solid #dbdbdb;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

nav .search>input:focus {
    /* 
    돋보기 구현 전
    background-image: none;
    */
    width: 180px;
    padding-left: 22px;
    color: #262626;
    text-align: left;
}

.search-all {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 10;
}

.search-engine {
    position: relative;
    width :340px;
    height: 380px;
    background-color: #fff;
    z-index: 9;
    overflow: auto;
}

.search-squre {
    position: absolute;
    top: -7px;
    left: 185px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    background-color: #fff;
    z-index: 8;
}

.search-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.search-contents:first-child{
    padding-top: 10px;
}
.search-contents:not(:first-child){
    margin-top: 10px;
}

.search-contents .gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}

.search-contents img{
    width: 46px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.search-contents p {
    margin-left: 9px;
}

.search-contents .user-id {
    font-size: 16px;
    font-weight: bold;
}

.search-contents .user-name {
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 3px;
}


.instagram-logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 240px;
    font-size: 22px;
}

.instagram-icon {
    border-left: 2px solid #262626;
    padding-left: 12px;
    margin-left: 13px;
    font-family: Lobster;
}

.icons {
    margin-right: 240px;
}

.icons img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.feeds-setting {
    width: 655px;
    border: 1px solid #dbdbdb;
    margin-right: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.title-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.title-profile >img {
    width: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.title-profile .dot{
    width: 18px;
    margin-left: 490px;
}

.title-profile span {
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.title-profile span:hover{
    text-decoration:underline;
    cursor: pointer;
}

.feeds-contents {
    margin: 6px 13px;
}

.feeds-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 12px;
}

.feeds-like span {
    margin-top: 2.5px;
    margin-left: 3px;
    font-size: 14.5px;
}

.feeds-like span .like-bold{
    font-weight: bold;
}

.feeds-writing span{
    font-size: 14.5px;
}

.feeds-writing span .comment-id{
    font-weight: bold;
}

.feeds-comment {
    margin-top: 3px;
}

.feeds-commentimage {
    width: 22px;
    border: 0.5px solid #dbdbdb;
    border-radius: 50%;
}

.feeds-comment span{
    font-size: 14.5px;
}

.comment-writing {
    margin-left: 5px;
    width: 200px;
}

.comment-id{
    font-weight: bold;
}

.commentDiv {
    width: 575px;
    margin-top: 3px;
    display: inline-block;
}

.fas{
    color: #ED4956;
}

.time {
    font-size: 12.5px;
    color: #8e8e8e;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-top : 1px solid #dbdbdb;
}

.comment .typing-comment{
    width: 300px;
    margin-left: 10px;
    font-size: 14px;
}

.comment button {
    margin-right: 10px;
    color : #BFE0FD;
    font-size: 14px;
}

.comment button.active {
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}

.feeds-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0 10px;
}

.feeds-icons svg {
    cursor: pointer;
}

.feeds-icons svg:not(:first-child){
    width: 23px;
    height: 23px;
}

.heart-icon {
    width: 24.5px;
    height: 24.5px;
}

.feeds-icons svg:not(:last-child){
    margin-right: 12px;
}

.save-icon {
    margin-left: 500px;
}

.main-image {
    width: 100%;
}

.main-right {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-bottom: 30px;
    top: 100px;
    right: 240px;
    width: 280px;
    height: 500px;
    z-index: 1;
}

.main-right .story {
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: white;
    overflow: auto;
}

.main-right .recommend {
    background-color: white;
    height: 200px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    overflow: auto;
}

.main-right .information {
    font-size: 14px;
    color: #c7c7c7;
}

.main-right .information p {
    margin-top: 13px;
}


.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.user >img {
    width: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}

.user div {
    margin-left: 10px;
}

.user .user-id {
    font-size: 15px;
    font-weight: bold;
}

.user .user-name {
    font-size: 13px;
    color: #8e8e8e;
    margin-top: 3px;
}

.story-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 278px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    background-color: #fff;
    opacity: 0.9;
}

.story-title span:first-child {
    font-size: 14px;
    color: #8e8e8e;
}

.story-down {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 15px;
}

.story-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 13px 5px;
}

.story-contents .gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}

.story-contents img{
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.story-contents p {
    margin-left: 7px;
}

.story-contents .user-id {
    font-size: 15px;
    font-weight: bold;
}

.story-contents .user-name {
    font-size: 13px;
    color: #8e8e8e;
    margin-top: 3px;
}

.recommend-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 278px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    background-color: #fff;
    opacity: 0.9;
}

.recommend-title span:first-child {
    font-size: 14px;
    color: #8e8e8e;
}

.recommend-down {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 15px;
    bottom: 40px;
}

.recommend-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 13px 5px;
}
.recommend-contents >img{
    width: 37px;
    border-radius: 50%;
}

.recommend-contents p {
    margin-left: 7px;
}

.recommend-contents .user-id {
    font-size: 15px;
    font-weight: bold;
}

.recommend-contents .user-name {
    margin-top: 3px;
    font-size: 13px;
    color: #8e8e8e;
}

.recommend-contents::after{
    content: "팔로우";
    margin-left: 33px;
    color: #0095F6;
    font-size: 13px;
    font-weight: bold;
}