* {
  box-sizing: border-box;
}

h6 {
  margin: 0;
}

/* navbar */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 60px;
}

.navbar_right_menus {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  list-style: none;
}

.navbar_left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.nav_logo {
  font-family: "Lobster", sans-serif;
  font-size: 100%;
  font-weight: normal;
  border-left: 1px solid black;
  padding-left: 7px;
  margin-left: 7px;
}

/* Main section  */
.main_section {
  background-color: yellow;
  height: 100vh;
  display: flex;
  padding-left: 100px;
}
/* feeds */
.feeds {
  background-color: pink;
  /* height: fit-content; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100vh;
  width: 60%;
}
/* post */
#post {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
  height: 83%;
}
.account_name {
  background-color: gray;
  height: 8%;
}

.post_img {
  background-color: lightgreen;
  height: 70%;
}
.features_box {
  background-color: lightseagreen;
  height: 6%;
}
.who_likes {
  background-color: lightskyblue;
  height: 4%;
}
.post_context {
  background-color: mediumpurple;
  height: 8%;
}

#comment_box {
  background-color: maroon;
  height: 5%;
}

/* Main-rightside */
.main-right {
  background-color: black;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.account_box {
  background-color: mintcream;
  display: flex;
}

.texts_in_account_box {
  display: flex;
  flex-direction: column;
}

.story_box {
}

.recommend_box {
}

.copy_right {
}
