*{
    box-sizing: border-box;
}

body{
    margin:0 auto;
    
}

.container{
    
    /*background-color: gray;*/
    /* width:600px; */
    /* height:100px; */
}

.search{
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
}
.nav{
    
    width:100%;
    height:70px;
    display: flex;
    justify-content: space-around;

}

.main{
    background-color: #FAFAFA;
    width:100%;
    /* height:1000px; */
    display: flex;
    justify-content: center;
}

.feeds-wrap{
    width:100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.feeds{
    /*background-color: yellow;*/
    width: 700px;
    height: 1000px;
    
    position: relative;
  
    /* width:600px; */
    /* height:50px; */
}

.article{
    /*background-color: aqua;*/
    width: 600px;
    /* height: 950px; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border: 1px solid lightgray;
    /* width:300px; */
    /* height:100px; */
}


.nav-icon{
    display:flex;
    align-items: center;
    width: 130px;
    justify-content: space-around;
}

.nav-insta-logo{
    display: flex;
    align-items: center;
}

.nav-insta-logo span{
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-size: 25px;
}

.nav-insta-logo img{
    width:20px;
    height:20px;
}

.search img{
    width:10px;
    height:10px;
    position: absolute;
    left: 35%;
}

.search input{
    width: 100%;
    height: 27px;
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.search input::placeholder{
    padding-left: 45%;
}

.nav-icon img{
    width:25px;
    height:25px;
}

.nav-insta-logo span{
    border-left: 2px  solid rgb(90, 89, 89);
    margin-left: 20px;
    padding-left: 10px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile img{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.profile span{
    margin-left: 20px;
    font-size: 20px;
}

.article-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: red;*/
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;

}

.article-top-icon img{
    width: 30px;
    height: 30px;
    
}

.article-image img{
    
    width:100%;
    height: 600px;
    
}

.article-bottom{
    /* background-color: aqua; */
    padding: 10px;
}

.article-bottom-icons{
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.article-bottom-icons-left i{
    margin-right: 5px;
}

.article-bottom-like{
    /* background-color: blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    /* margin: 10px; */
}

.article-bottom-like-image{
    margin-right: 10px;
}

.article-bottom-like-image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.article-bottom-comments{
    /* background-color: yellow; */
    margin-bottom: 30px;
}

.article-bottom-comments-id{
    margin-right: 10px;
}

/* .article-bottom-comments-id strong{
    font-weight: 400;
} */

.article-bottom-write-commnets{
    /* background-color: orange; */
    
}

.article-bottom-comments span{
    line-height: 10px;    
}

.article-bottom-write-commnets form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.emotion{
    position: absolute;
    left: 10px;
}

.article-bottom-write-commnets textarea{
    width: 100%;
    border:none;
    padding:10px;
}
.article-bottom-write-commnets textarea::placeholder{
    text-align:left;
    padding-left: 10px;
    line-height: 30px;
}

#comments-submit{
    position: absolute;
    right: 10px;
    border:none;
    color: skyblue;
    background-color: transparent;
    

}
.main-right{
    /* background-color: green; */
    width: 350px;
    padding: 10px;
    /* height: 700px; */
    /* width:300px; */
    /* height:100px; */
}

.main-right-top{
   /* background-color: aquamarine; */
   display: flex;
   justify-content: left;
   align-items: center;
   padding: 10px;

}

.main-right-top-image{
    /* background-color: violet; */
    margin-right: 10px;
}

.main-right-top-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-right-top-user{
    /* background-color: wheat; */
}

.main-right-top-user  span{
    display: block;
}


.main-right-top-user-id{
    /* background-color: steelblue; */
}

.main-right-top-user-location{
    /* background-color: sienna; */
}
.main-rignt-middle{
    background-color:white;
    height: 200px;
    overflow: auto;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    padding: 10px;
}

.main-rignt-middle img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.main-rignt-middle-story{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}


.main-rignt-middle-view{
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: violet; */
    margin: 10px;
}

.main-rignt-middle-view-image{
    margin-right: 10px;
}
.main-rignt-middle-view span{
    display: block;
}

.main-right-bottom{
    /* background-color: yellow; */
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
}

.main-right-bottom img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.main-rignt-bottom-recommend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.main-rignt-bottom-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 10px;
}

.main-rignt-bottom-view-id span{
    display: block;
}

.main-rignt-bottom-view-id-like{
    width:160px;
      padding:1px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      /* background-color: violet; */
  }

  .main-rignt-bottom-view-follow{
    color: skyblue;
  }

