body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  height: 60px;
  border: 1px solid rgb(232 232 232);
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 1130px;
}

.title-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-evenly;
}

.insta-icon {
  width: 30px;
  height: 30px;
  padding-top: 12px;
}

.title-line {
  width: 2px;
  height: 40px;
  margin-top: 10px;
  background-color: black;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 30px;
  margin-top: 4px;
}

.icon-wrapper {
  display: flex;
  margin-top: 18px;
}

.input-wrapper {
  margin-top: 18px;
}

.input-box {
  width: 175px;
  height: 20px;
  border: 1px solid #dbdbdb;
  background: fafafa;
  background: #fafafa;
  border-radius: 3px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 616px;
  border: 1px solid rgb(232 232 232);
  background: white;
}

.main-img {
  height: 527px;
}

.main-icon {
  height: 54px;
}

.main-like {
  height: 30px;
}

.main-reply {
  display: flex;
  flex-direction: column;
}

.side-wrapper {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 500px;
}

.side-nickname {
  height: 100px;
  border: none;
}

.side-story {
  border: 1px solid rgb(232 232 232);
  margin-left: 20px;
  margin-bottom: 10px;
  background: white;
}

.side-story-wrapper {
  display: flex;
  padding: 30px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.profile-wrapper {
  padding-left: 12px;
}

.side-like {
  height: 300px;
}
.titletopprofile {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.main-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.leftTitle {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.menu-icon {
  padding: 0 25px;
}

.rightTitle {
  display: flex;
  width: 50px;
}
.mainphoto {
  width: 615px;
  height: 527px;
}
.main-icon {
  width: 615px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.heart {
  width: 40px;
  height: 40px;
}
.message {
  width: 40px;
  height: 40px;
}
.share {
  width: 50px;
  height: 50px;
}
.tag {
  width: 50px;
  height: 50px;
}
.lefticon {
  /* width: 200px; */
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.fa-heart {
  font-size: 30px;
  padding: 0 7px 0 15px;
}

.fa-comment {
  font-size: 30px;
  padding-left: 7px;
}

.fa-download {
  font-size: 30px;
  padding-left: 7px;
}

.bookmark-wrapper {
  padding: 10px 15px;
}

.fa-bookmark {
  font-size: 30px;
}

.main-like {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.reply {
  display: flex;
  padding: 3px 0 0 10px;
}

.reply-id {
  font-weight: bold;
}

.reply-info {
  font-size: 15px;
  padding: 0 5px 0 5px;
}

.see {
  font-size: 15px;
  color: rgb(153 153 153);
}
.firstMent {
  width: 230px;
  display: flex;
  justify-content: space-around;
}
.wecode {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.wecode-padding {
  padding-left: 10px;
}

.name {
  width: 98%;
  height: 50px;
  border: none;
  border-top: 1px solid rgb(232 232 232);
  padding: 0 0px 0 10px;
}

.sideprofile {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.main-reply-box {
  display: flex;
  margin-top: 10px;
}
.side-nickname {
  display: flex;
  padding-left: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  width: 154px;
}

.side-id {
  font-weight: bold;
}

.storyevery {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.leftstory {
  color: rgb(153 153 153);
}
.minute {
  color: rgb(153 153 153);
}
.side-story-wrapper {
  height: 30px;
}
.recommand {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

main {
  background-color: rgb(249 249 249);
  margin-top: 0px;
}

.totalmain {
  display: flex;
  margin-top: 80px;
}

.totalnav {
  background-color: rgb(255 255 255);
}
.graymal {
  color: rgb(153 153 153);
  margin-top: 10px;
  margin-left: 20px;
  line-height: 1.3;
  font-size: 14px;
}
.twojero {
  color: rgb(153 153 153);
  padding-top: 20px;
  margin-left: 20px;
  font-size: 14px;
}
.gray-recommand {
  color: rgb(153 153 153);
}
.threetwo {
  color: rgb(153 153 153);
}

.story-text-wrpper {
  display: flex;
  justify-content: space-between;
  padding: 16px 15px 10px 20px;
}

.story-name {
  font-size: 15px;
  color: rgb(153 153 153);
  font-weight: bold;
}

.story-all {
  font-size: 15px;
  font-weight: bold;
}

.story-info-wrpper {
  display: flex;
  margin-left: 18px;
  margin-bottom: 10px;
}

.story-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.story-profile {
  padding: 3px 10px;
}

.story-id {
  font-size: 14px;
  font-weight: bold;
}

.story-info {
  font-size: 14px;
  font-weight: bold;
  color: rgb(153 153 153);
}

.reply-button {
  width: 77px;
  height: 52px;
  border: none;
  border-top: 1px solid rgb(232 232 232);
  background: white;
}
