* {
  box-sizing: border-box;
  width: 100px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  flex-shrink: 0;
  background-color: gray; /*#fafafaf6; */
}

.wrap {
  width: 100vw;
  height: 100vh;

  background-color: green;
}

.logo {
  justify-content: center;
  vertical-align: center;
  align-items: center;
}
