* {
    box-sizing: border-box;
    font-size: 15px;
}

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.nav-left-icons {
    display: flex;
}

.westagram-icon {
    font-size: 40px;
    border-right: 1px solid black;
    padding-right: 10px;
}
.westagram-logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-left: 10px;
}

.finder {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 5px 15px 5px 15px;
}

.search {
    border: none;
}

.nav-right-icons {
    display: flex;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.feeds {
    width: 500px;
    margin-left: 200px;
    border: 1px solid black;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.user-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}

.pro-pic img {
    width: 25px;
    border-radius: 70%;
}

.user-more {
    margin-right: 15px;
    font-size: 20px;
}

.pic img {
    width: 500px;
}

.article-iconbar {
    display: flex;
}

.reply-comments {
    display: flex;
}

.reply-input {
    display: flex;
}

.main-right {
    margin-right: 200px;
}

.its-me {
    display: flex;
    align-items: center;
}

.story {
    border: 1px solid black;
}

.story-upper {
    display: flex;
}

.story-user {
    display: flex;
}

.recommend-upper {
    display: flex;
}

.recommend-contents {
    display: flex;
}