body {
  background-color: var(--light-grey);
}

.width-max {
  width: 100%;
}

.height-max {
  height: 100%;
}

.flex-box {
  display: flex;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#move-left {
  left: 30px;
  transform: translate(0, -50%);
}

.black {
  color: black;
}

.red {
  color: red;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 54px;
  top: 0px;
  background-color: white;
  z-index: 99;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--grey);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
  padding: 0 20px;
}

.header__logo a {
  color: black;
  font-family: "Lobster", cursive;
  text-decoration: none;
  font-size: 25px;
}

.header__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 28px;
}

.header__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  color: var(--grey);
}

.header__search-bar span {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__search-bar span i {
  font-size: 12px;
  margin-right: 5px;
}

.header__search-bar input {
  width: 175px;
  height: 28px;
  background-color: var(--light-grey);
  border: none;
  outline: none;
}

.header__icons img {
  width: 22px;
  height: 22px;
  margin: 0 0 0 22px;
}

main {
  display: flex;
  justify-content: center;
}

.feed-container {
  padding: 30px 0 0 0;
  margin: 55px 28px 0 0;
}

.story-wrap {
  display: flex;
  margin: 0 0 24px 0;
  padding: 12px 0;
  border: 1px solid var(--grey);
}

.story-wrap__block {
  width: 614px;
  display: flex;
}

.story__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.story__profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  margin: 4px 0 8px 0;
}

.story__profile a img {
  width: 56px;
  height: 56px;
  border: 1px solid var(--pink);
  border-radius: 50%;
  z-index: -1;
}

.story__profile span {
  font-size: 14px;
}

.photo-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  background-color: white;
}

.photo__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid var(--grey);
}

.photo__profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.photo__profile img {
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0 14px 0 0;
  border: 1px solid var(--pink);
  border-radius: 50%;
}

.photo__main {
  display: flex;
  width: 614px;
  height: 614px;
  border-bottom: 1px solid var(--grey);
}

.photo__main img {
  width: 612px;
  height: 612px;
}

.photo__icons {
  display: flex;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 0 16px;
}

.photo__icons button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: none;
  background-color: white;
  font-size: 24px;
  outline: none;
}

.photo__icons-left {
  display: flex;
  width: 50%;
}

/* .photo__icons-left button:first-child i:hover {
  color: red;
} */

.photo__icons-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.photo__desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
}

.photo__desc-like {
  display: flex;
  align-items: center;
  height: 18px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}

.photo__desc-uploader {
  height: 18px;
}

.photo__desc-id {
  font-weight: 700;
}

.photo__desc-more {
  color: var(--text-grey);
}

.photo__comments {
  display: flex;
  flex-direction: column;
}

.comments__more,
.comments__desc {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 18px;
  line-height: 1.5rem;
  font-size: 14px;
}

.comments__more a {
  text-decoration: none;
  color: var(--text-grey);
}

.comments__desc a {
  text-decoration: none;
  color: black;
}

.comments__desc div:first-child {
  font-weight: 700;
  margin-right: 5px;
}

.comments__desc-button-block {
  position: absolute;
  display: flex;
  top: 1px;
  right: 10px;
}

.comments__desc-button-block button {
  margin-left: 10px;
  padding: 0;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.comments__desc-button-block button:last-child {
  color: var(--blue);
}

.photo__date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 19px;
  margin: 0 0 4px 0;
  color: var(--text-grey);
  font-size: 10px;
}

.comments-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0 16px;
  border-top: 1px solid var(--grey);
}

.comments-form i {
  width: 40px;
  height: 40px;
  padding: 8px 16px 8px 0;
  font-size: 24px;
}

.comments-form__text {
  position: relative;
  display: flex;
  align-items: center;
}

.comments-form__text span {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translate(0, -50%);
}

.comments-form__text input {
  display: flex;
  width: 500px;
  border: none;
  outline: none;
}

.comments-form button {
  border: none;
  background-color: white;
  color: var(--light-blue);
  outline: none;
  font-size: 14px;
  line-height: 18px;
}

.recommended-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 100%;
  top: 88px;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
}

.user-profile__desc {
  display: flex;
  align-items: center;
}

.user-profile__desc img {
  width: 56px;
  height: 56px;
}

.user-profile__desc span {
  margin-left: 12px;
  font-size: 14px;
}

.user-profile__convert {
  color: var(--blue);
}

.recommend__text {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0 0;
  padding: 4px 0;
}

.recommended__user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}

.recommended__user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}

.recommended__user-profile__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recommended__user-profile__desc img {
  width: 32px;
  height: 32px;
}

.recommended__user-profile__id {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.recommended__user-profile__id span {
  font-size: 14px;
}

.recommended__user-profile__id span:first-child {
  font-weight: 700;
}

.recommended__user-profile__id span:last-child {
  color: var(--text-grey);
}

.recommended__user-profile a {
  text-decoration: none;
  color: var(--blue);
}

.footer__desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: 100%;
  font-size: 11px;
}
.footer__desc-block {
  display: flex;
  margin: 0 1px 12px 1px;
}
.footer__desc-block a {
  display: flex;
  color: var(--text-grey);
  text-decoration: none;
}

.footer__desc-block a::after {
  content: "·";
  margin: 0 2.75px;
}

.footer__desc li:last-child a::after {
  content: "";
}

.from__facebook {
  display: flex;
  margin-top: 16px;
  color: var(--text-grey);
  font-size: 11px;
}

.search-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 53px;
  left: 50%;
  padding: 12px 0 0 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0);
  z-index: 100;
}

.last-search__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
  margin: 4px 16px 0 16px;
}

.last-search__list div:first-child {
  font-size: 16px;
}

.last-search__list div:last-child {
  font-size: 14px;
  color: var(--blue);
}

.search__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.search__list img {
  width: 44px;
  height: 44px;
  margin: 10px;
}

.search__list-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 247px;
  font-size: 14px;
  line-height: 18px;
}

.search__list-profile span:first-child {
  font-weight: 600;
}

.search__list-profile span:last-child {
  color: var(--text-grey);
}

.search__list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  font-size: 20px;
  color: var(--text-grey);
}
