#mainbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 50px auto;
  border: 1px solid#E6E6E6;
  width: 400px;
  height: 500px;
}

#logo {
  font-family: "Lobster", cursive;
  font-size: 80px;
  margin-top: 10px;
}

#inputbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: -80px;
}

input {
  height: 40px;
  border: 1px solid#E6E6E6;
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.nonwork {
  width: 80%;
  height: 40px;
  background-color: rgba(0, 149, 246, 0.3);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

button {
  width: 80%;
  height: 40px;
  background-color: rgba(0, 149, 246);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

#information {
  margin-bottom: 20px;
  font-size: 15px;
}
